<div class="govuk-form-group">
  <div class="govuk-radios govuk-!-margin-top-2 govuk-radios--conditional" data-module="govuk-radios">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading" id="applications_open_from-error">
          When will applications open?
        </h1>
      </legend>
      <div class="govuk-radios__item">
        <%= form.radio_button :applications_open_from, @recruitment_cycle.application_start_date,
              class: "govuk-radios__input", data: { qa: "applications_open_from" } %>
        <%= form.label :applications_open_from, course.applications_open_from_message_for(@recruitment_cycle),
              for: "course_applications_open_from_#{@recruitment_cycle.application_start_date}",
              class: "govuk-label govuk-radios__label" %>
      </div>
      <div class="govuk-radios__item">
        <%= form.radio_button :applications_open_from, "other",
              class: "govuk-radios__input",
              checked: @course.applications_open_from.present? && @course.applications_open_from != @recruitment_cycle.application_start_date,
              aria: { controls: "other-container" }, data: { qa: "applications_open_from_other" } %>
        <%= form.label :applications_open_from,
              for: "course_applications_open_from_other",
              value: "On a specific date",
              class: "govuk-label govuk-radios__label",
              data: { qa: "applications_open_field_from_other_label" } %>
      </div>
    </fieldset>
    <div class="govuk-radios__conditional <%= "govuk-radios__conditional--hidden" unless @course.applications_open_from.present? && @course.applications_open_from != @recruitment_cycle.application_start_date %>" id="other-container">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend">
            What date will applications open?
          </legend>
          <span class="govuk-hint">
            For example, 30 9 <%= @recruitment_cycle.year %>
          </span>
          <div class="govuk-date-input">
            <div class="govuk-date-input__item">
              <%= render "publish/shared/form_field",
                form:, field: :day do |field, options| %>
                <%= form.text_field field, options.merge(autocomplete: "off", class: "govuk-input govuk-input--width-2") %>
              <% end %>
            </div>
            <div class="govuk-date-input__item">
              <%= render "publish/shared/form_field",
                form:, field: :month do |field, options| %>
                <%= form.text_field field, options.merge(autocomplete: "off", class: "govuk-input govuk-input--width-2") %>
              <% end %>
            </div>
            <div class="govuk-date-input__item">
              <%= render "publish/shared/form_field",
                form:, field: :year do |field, options| %>
                <%= form.text_field field, options.merge(autocomplete: "off", class: "govuk-input govuk-input--width-4") %>
              <% end %>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
