<%= render "publish/shared/error_wrapper", error_keys: [:study_mode], data_qa: "course__study_mode" do %>
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        <%= render CaptionText.new(text: t("course.add_course")) %>
        <%= t("publish.providers.study_mode.form.study_pattern") %>
      </h1>
    </legend>
    <div class="govuk-hint" id="study-pattern-hint">
      <%= t("publish.providers.study_mode.form.select_all_that_apply") %>
    </div>

    <%= render "publish/shared/error_messages", error_keys: [:study_mode] %>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <% @course.edit_course_options["study_modes"].each do |value| %>
        <div class="govuk-checkboxes__item">
          <%= form.govuk_check_box :study_mode,
                                   value,
                                   label: { text: t("edit_options.study_modes.#{value}.label") },
                                   checked: course.study_mode.in?([value, "full_time_or_part_time"]) %>
        </div>
      <% end %>
    </div>
  </fieldset>
<% end %>
