<% page_title = t("page_titles.study_mode.edit") %>
<% content_for :page_title, title_with_error_prefix("#{page_title} – #{course.name_and_code}", @course_study_mode_form.errors.any?) %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(study_mode_path(course)) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @course_study_mode_form,
      url: full_part_time_publish_provider_recruitment_cycle_course_path(
        course.provider_code,
        course.recruitment_cycle_year,
        course.course_code
      ),
      method: :put,
      local: true
    ) do |f| %>

      <%= f.govuk_error_summary %>

      <%= f.govuk_check_boxes_fieldset :study_mode,
                                       hint: { text: t("publish.providers.study_mode.form.select_all_that_apply") },
                                       legend: { text: "#{render CaptionText.new(text: course.name_and_code)} #{t('publish.providers.study_mode.form.study_pattern')}".html_safe,
                                                 tag: "h1",
                                                 size: "l" } do %>
        <% course.edit_course_options[:study_modes].each_with_index do |value, index| %>
          <%= f.govuk_check_box :study_mode,
                                value,
                                label: { text: t("edit_options.study_modes.#{value}.label") },
                                checked: @course_study_mode_form.study_mode_checked?(value),
                                link_errors: index.zero? %>

        <% end %>
      <% end %>

      <%= f.hidden_field :previous_tda_course, value: params[:previous_tda_course] %>

      <%= f.govuk_submit "Update #{page_title.downcase}" %>
    <% end %>

    <p class="govuk-body">
      <%= govuk_link_to(t("cancel"), details_publish_provider_recruitment_cycle_course_path(@provider.provider_code, @provider.recruitment_cycle.year, @course.course_code)) %>
    </p>
  </div>
</div>
