<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="section-international-students">International candidates</h2>
  <div data-qa="course__international_students">

    <p class="govuk-body">You’ll need the <%= right_required %> in the UK. You already have this if, for example, you:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>are an Irish citizen</li>
      <li>have settled or pre-settled status under the <%= govuk_link_to("EU Settlement Scheme", "https://www.gov.uk/settled-status-eu-citizens-families") %> (you may still be able to apply)</li>
      <li>have indefinite leave to remain in the UK</li>
    </ul>

    <p class="govuk-body"><%= visa_sponsorship_status %></p>

    <p class="govuk-body">Alternatively, check if you’re eligible for a different type of visa, such as a Graduate or Family visa, that allows you to train to be a teacher without being sponsored.</p>

    <p class="govuk-body">Find out more about <%= govuk_link_to("training to teach in England", "https://www.gov.uk/government/publications/train-to-teach-in-england-non-uk-applicants/train-to-teach-in-england-if-youre-a-non-uk-citizen") %>.</p>

    <h3 class="govuk-heading-m">International qualifications</h3>
    <p class="govuk-body">If your qualifications come from a non-UK institution, we may want to see a ‘statement of comparability’ from UK ENIC. This will show us how they compare to UK qualifications.</p>

    <p class="govuk-body">You can call <%= govuk_link_to("Get Into Teaching", t("get_into_teaching.url")) %> on <%= t("get_into_teaching.tel") %> for:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>guidance on the UK equivalents of your qualifications</li>
      <li>a free statement of comparability once you’ve submitted your application (if we ask you for this)</li>
    </ul>
  </div>
</div>
