<div class="app-advice__body" data-qa="course__bursary_details">
  <p class="govuk-body">
    You’ll get a bursary of <%= number_to_currency(course.bursary_amount) %> if you have <%= course.bursary_first_line_ending %>
  </p>

  <ul class="govuk-list govuk-list--bullet">
    <% if course.bursary_requirements.length > 1 %>
      <% course.bursary_requirements.each do |requirement| %>
        <li><%= requirement %></li>
      <% end %>
    <% end %>
  </ul>

  <p class="govuk-body">
    You do not have to apply for a bursary - if you’re eligible, you’ll automatically start receiving it once you begin your course. Find out about <%= govuk_link_to "eligibility", "https://getintoteaching.education.gov.uk/funding-your-training#bursaries-and-scholarships" %> and <%= govuk_link_to "how you’ll be paid", "https://getintoteaching.education.gov.uk/guidance/become-a-teacher-in-england#how-to-get-a-bursary" %>.
  </p>

  <p class="govuk-body">
    You may be eligible for a <%= govuk_link_to "loan while you study", "https://getintoteaching.education.gov.uk/funding-your-training#tuition-fee-and-maintenance-loans" %> – note that you’ll have to apply for <%= govuk_link_to "undergraduate student finance", "https://www.gov.uk/student-finance" %>.
  </p>

  <p class="govuk-body">
    Find out about financial support if you’re from <%= govuk_link_to "outside the UK", "https://getintoteaching.education.gov.uk/guidance/financial-support-for-international-applicants" %>.
  </p>
</div>
