<div class="app-advice__body" data-qa="course__scholarship_and_bursary_details">
  <p class="govuk-body">
    You could be eligible for either:
  </p>

  <ul class="govuk-list govuk-list--bullet">
    <li data-qa="course__scholarship_amount">a scholarship of <%= number_to_currency(course.scholarship_amount) %></li>
    <li data-qa="course__bursary_amount">a bursary of <%= number_to_currency(course.bursary_amount) %></li>
  </ul>

  <% if course.has_early_career_payments? %>
    <p class="govuk-body" data-qa="course__early_career_payment_details">
      With a scholarship or bursary, you’ll also get early career payments of £2,000 in your second, third and fourth years of teaching (£3,000 in <%= govuk_link_to "some areas of England", "https://www.gov.uk/guidance/mathematics-early-career-payments-guidance-for-teachers-and-schools" %>).
    </p>
  <% end %>

  <p class="govuk-body">
    To qualify for a scholarship you’ll need a degree of 2:1 or above in <%= course.subject_name %> or a related subject. For a bursary you’ll need a 2:2 or above in any subject.
  </p>

  <p class="govuk-body">
    You cannot claim both a bursary and a scholarship - you can only claim one.
  </p>

  <p class="govuk-body">
    Find out how to <%= govuk_link_to "apply for a scholarship", "https://getintoteaching.education.gov.uk/funding-your-training#bursaries-and-scholarships" %>. You do not need to apply for a bursary - if you’re eligible, you’ll automatically start receiving it once you begin your course. Find out <%= govuk_link_to "how you’ll be paid", "https://getintoteaching.education.gov.uk/guidance/become-a-teacher-in-england#how-to-get-a-bursary" %>.
  </p>

  <p class="govuk-body">
    You may also be eligible for a <%= govuk_link_to "loan while you study", "https://getintoteaching.education.gov.uk/funding-your-training#tuition-fee-and-maintenance-loans" %> – note that you’ll have to apply for <%= govuk_link_to "undergraduate student finance", "https://www.gov.uk/student-finance" %>.
  </p>

  <p class="govuk-body">
    Find out about financial support if you’re from <%= govuk_link_to "outside the UK", "https://getintoteaching.education.gov.uk/guidance/financial-support-for-international-applicants" %>.
  </p>
</div>
