<div class="find-search-container">
  <div class="find-search-content">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l home-title">Find teacher training courses in England</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <%= form_with(url: find_pre_filter_path, scope: :pre_filter, class: "find-input-and-search-container", method: :post) do |form| %>
          <div class="find-input-container">

            <div class="find-item">
              <%= form.label :keywords, class: "govuk-label govuk-label--s" do %>
                Subject
              <% end %>
              <%= form.text_field :keywords, class: "govuk-input", autocomplete: :off  %>
            </div>

            <div class="find-item govuk-form-group" style="position: relative;">
              <%= form.label :lq, class: "govuk-label govuk-label--s" do %>
                City, town or postcode
              <% end %>

              <%= form.text_field :lq, class: "govuk-input", autocomplete: :off %>
              <div id="location-autocomplete" class="govuk-body" style="position: absolute; width: 100%;"></div>
            </div>

            <div class="find-item govuk-!-width-full">
            <fieldset class="govuk-fieldset">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                      Only show courses that offer visa sponsorship
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>


            <div class="find-item govuk-!-width-full">
              <details class="govuk-details pre-filtering-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Advanced search
                  </span>
                </summary>

                <div class="govuk-grid-row pre-filtering-contents">
                  <div class="govuk-grid-column-full">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="event-name">
                        <strong>Search by provider name</strong>
                      </label>
                      <input class="govuk-input" id="event-name" name="eventName" type="text">
                    </div>
                  </div>
                </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Age group
              </h1>
            </legend>
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="age-group-filter-home-1" name="age-group-filter-home" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="age-group-filter-home-1">
                    Primary - 3 to 11
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="age-group-filter-home-2" name="age-group-filter-home" type="checkbox" value="employment-tribunal">
                  <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="age-group-filter-home-2">
                    Secondary - 11 to 18
                  </label>
                </div>
              </div>
            </fieldset>
            </div>

            <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h1 class="govuk-fieldset__heading">
                  Qualification awarded
                </h1>
              </legend>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="qualification-filter-home-1" name="qualification-filter-home" type="checkbox" value="employment-tribunal">
                  <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="qualification-filter-home-1">
                    QTS only
                  </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="qualification-filter-home-2" name="qualification-filter-home" type="checkbox" value="employment-tribunal">
                  <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="qualification-filter-home-2">
                  QTS with PGCE or PGDE
                  </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-form-group">
            <fieldset class="govuk-fieldset app-filter__group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h1 class="govuk-fieldset__heading">
                  Minimum degree required
                </h1>
              </legend>
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="degree-required-1" name="degree-required" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="degree-required-1">
                    2:1 or First
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="degree-required-2" name="degree-required" type="checkbox" value="employment-tribunal">
                  <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="degree-required-2">
                    2:2
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="degree-required-3" name="degree-required" type="checkbox" value="MOD">
                  <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="degree-required-3">
                    Third
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="degree-required-4" name="degree-required" type="checkbox" value="DfT">
                  <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="degree-required-4">
                    Pass
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="degree-required-5" name="degree-required" type="checkbox" value="DfT">
                  <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="degree-required-5">
                    No degree required
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

            </div><!--end col one half-->
            <div class="govuk-grid-column-one-half">


            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Study type
              </h1>
            </legend>
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="study-type-filter-home-1" name="study-type-filter-home" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="study-type-filter-home-1">
                    Full time (12 months)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="study-type-filter-home-2" name="study-type-filter-home" type="checkbox" value="employment-tribunal">
                  <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="study-type-filter-home-2">
                    Part time (18 to 24 months)
                  </label>
                </div>
              </div>
            </fieldset>
            </div>

          <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Fee or salary
              </h1>
            </legend>
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="fee-or-salary-filter-home-1" name="fee-or-salary-filter-home" type="checkbox" value="employment-tribunal">
                <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="fee-or-salary-filter-home-1">
                  Fee - no salary
                </label>
                </div>
                <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="fee-or-salary-filter-home-2" name="fee-or-salary-filter-home" type="checkbox" value="employment-tribunal">
                <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="fee-or-salary-filter-home-2">
                  Salary
                </label>
                </div>
                <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="fee-or-salary-filter-home-3" name="fee-or-salary-filter-home" type="checkbox" value="employment-tribunal">
                <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="fee-or-salary-filter-home-3">
                  Teaching apprenticeship - with salary
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Financial support
              </h1>
            </legend>
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="financial-support-filter-home-1" name="financial-support-filter-home" type="checkbox" value="employment-tribunal">
                <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="financial-support-filter-home-1">
                  Only show courses that have financial support available
                </label>
                </div>
              </div>
            </fieldset>
          </div>



            </div><!--end col one half-->
            </div><!--end grid row-->

              </details>
            </div>

          </div><!--END input container-->

          <div>
            <%= form.submit "Search", name: nil, class: "govuk-button govuk-button--start search-align", data: { qa: "find-courses" } %>
          </div>
        <% end %> <!--END input and search container-->

      </div><!--END column-->
    </div><!--END grid row-->

  </div><!--END search content-->
</div><!--END search container-->

<div class="govuk-grid-row age-group-container">
  <div class="govuk-grid-column-one-half age-group-container">
    <!--Callout start-->
    <div class="govuk-notification-banner govuk-notification-banner--grey" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__content govuk-notification-banner__content--grey">
        <h3 class="govuk-heading-m">
        Primary (ages 3 to 11)
        </h3>
        <p class="govuk-body">
          <%= link_to primary_courses_path, class:"govuk-link govuk-link--no-visited-state" do %>
            Browse primary courses
        <% end %>
        </p>
      </div>
    </div>
    <!--END Callout-->
  </div><!--END col-->
  <div class="govuk-grid-column-one-half age-group-container">
    <!--Callout start-->
    <div class="govuk-notification-banner govuk-notification-banner--grey" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__content govuk-notification-banner__content--grey">
        <h3 class="govuk-heading-m">
          Secondary (ages 11 to 18)
        </h3>
        <p class="govuk-body">
          <%= link_to secondary_courses_path, class:"govuk-link govuk-link--no-visited-state" do %>
            Browse secondary courses
          <% end %>
        </p>
      </div>
    </div>
    <!--END Callout-->
  </div><!--END col-->
</div><!--END grid row-->

  <!--accordion start-->
  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Teacher degree apprenticeships (TDA)
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content">
        <p class="govuk-body">
          Teach primary or secondary if you do not have a degree and are not studying for one.
        </p>
         <p class="govuk-body">
          <a class="govuk-link govuk-link--no-visited-state" href="#">
            Browse teacher degree apprenticeship courses.
          </a>
        </p>
        <p class="govuk-body">
        Learn about <a class="govuk-link govuk-link--no-visited-state" href="https://getintoteaching.education.gov.uk/train-to-be-a-teacher/teacher-degree-apprenticeships">
        teacher degree apprenticeships</a>.
      </p>
      </div>
    </div>
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
            Special educational needs and disabilities (SEND)
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-2" class="govuk-accordion__section-content">
        <p class="govuk-body">
        All initial teacher training courses cover teaching pupils with SEND, but some courses have a SEND specialism.
        </p>

        <p class="govuk-body">
          <%= link_to "Browse primary courses with a SEND specialism.", find_results_path({send_courses: true}), class:"govuk-link govuk-link--no-visited-state" %>
         </p>
        <p class="govuk-body">
          <%= link_to "Browse secondary courses with a SEND specialism.", find_results_path({send_courses: true}), class:"govuk-link govuk-link--no-visited-state" %>
        </p>
        <p class="govuk-body">
        Learn about <a class="govuk-link govuk-link--no-visited-state" href="https://getintoteaching.education.gov.uk/train-to-be-a-teacher/teacher-degree-apprenticeships">
        teaching pupils with special educational needs and disabilities</a>.
      </p>
      </div>
    </div>
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
            Teaching other stages
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-3" class="govuk-accordion__section-content">
        <p class="govuk-body">
          <strong>Nursery or pre-school</strong><br><br>
          Help young children under 5 years old to develop by becoming an early years teacher.<br><br>
          Learn about
          <a href="https://getintoteaching.education.gov.uk/life-as-a-teacher/age-groups-and-specialisms/early-years-teachers" class="govuk-link govuk-link--no-visited-state">
            the routes to become an early years teacher</a>.
        </p>
        <p class="govuk-body"><br>
        <strong>Further education</strong><br><br>
          Teach young people and adults over 16 who are not studying for a degree.<br><br>
          <%= link_to "Browse further education courses.", find_results_path({applications_open: true, has_vacancies: true, subjects: [41], }), class:"govuk-link govuk-link--no-visited-state" %>
        </p>
        <p class="govuk-body">
        Learn about <a class="govuk-link govuk-link--no-visited-state" href="https://getintoteaching.education.gov.uk/life-as-a-teacher/age-groups-and-specialisms/further-education-teachers">
        teaching in further education</a>.
      </p>
      </div>
    </div>
  </div>
  <!--accordion END-->

<!-- Support callouts start-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="govuk-notification-banner govuk-notification-banner--pink" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__content govuk-notification-banner__content--grey-home">
        <h3 class="govuk-heading-m">
          How to become a teacher<br>
        </h3>
        <p class="govuk-body">
        Check your qualifications, what funding is available and how to apply.
        <a class="govuk-link govuk-link--no-visited-state" href="https://getintoteaching.education.gov.uk/steps-to-become-a-teacher">
          Find out how to become a teacher.</a>
      </p>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-one-half">
    <div class="govuk-notification-banner govuk-notification-banner--pink pink-last-child" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__content govuk-notification-banner__content--grey-home">
        <h3 class="govuk-heading-m">
        Get help and support<br>
        </h3>
        <span class="govuk-body">
        If you're thinking about teaching or are ready to apply, <a class="govuk-link govuk-link--no-visited-state" href="https://getintoteaching.education.gov.uk/help-and-support">contact Get Into Teaching</a> for free support.
        </span>
      </div>
    </div>
</div>
</div>
<!-- Support callouts END-->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h3 class="govuk-heading-m">
      <a href="/landing">Courses landing page</a>
    </h3>
  </div>
</div>
