<div class="find-search-container">
  <div class="find-search-content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">Find teacher training courses in England</h1>

        <%= form_with(url: find_pre_filter_path, scope: :pre_filter, class: "find-input-and-search-container", method: :post) do |form| %>
          <div class="find-input-container">

            <div class="find-item">
              <%= form.label :keywords, class: "govuk-label govuk-label--s" do %>
                Keywords
              <% end %>
              <%= form.text_field :keywords, class: "govuk-input", autocomplete: :off  %>
            </div>

            <div class="find-item govuk-form-group" style="position: relative;">
              <%= form.label :lq, class: "govuk-label govuk-label--s" do %>
                City, town or postcode
              <% end %>

              <%= form.text_field :lq, class: "govuk-input", autocomplete: :off %>
              <div id="location-autocomplete" class="govuk-body" style="position: absolute; width: 100%;"></div>
            </div>

            <div class="find-item govuk-!-width-full">
            <fieldset class="govuk-fieldset">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <%= form.check_box :can_sponsor_visa, class: "govuk-checkboxes__input" %>
                    <%= form.label :can_sponsor_visa, class:"govuk-label govuk-checkboxes__label" do %>
                      Only show courses that offer visa sponsorship
                    <% end %>
                  </div>
                </div>
              </fieldset>
            </div>

          </div><!--END input container-->

          <div>
            <%= form.submit "Search", name: nil, class: "govuk-button govuk-button--start search-align", data: { qa: "find-courses" } %>
          </div>
        <% end %> <!--END input and search container-->

      </div><!--END column-->
    </div><!--END grid row-->

  </div><!--END search content-->
</div><!--END search container-->

<div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third age-group">
      <p class="govuk-heading-m">
        Primary
        <br>
        <span class="govuk-body-s">
          Teach ages 5 to 11
      </span>
      </p>
      <span class="govuk-body">
        <%= link_to primary_courses_path, class:"govuk-link govuk-link--no-visited-state" do %>
          Browse all primary courses
        <% end %>
      </span>
  </div><!--END three cols-->
    <div class="govuk-grid-column-one-third age-group">
      <p class="govuk-heading-m">
        Secondary
        <br>
        <span class="govuk-body-s">
          Teach ages 11 to 18
        </span>
      </p>
      <span class="govuk-body">
      <%= link_to secondary_courses_path, class:"govuk-link govuk-link--no-visited-state" do %>
        Browse courses by subject
      <% end %>
      </span>
    </div><!--END col full-->
    <div class="govuk-grid-column-one-third age-group">
      <p class="govuk-heading-m">
        Further education
        <br>
        <span class="govuk-body-s">
          Teach over 16s not studying for a degree
      </span>
      </p>
      <span class="govuk-body">
        <%= link_to further_education_courses_path, class:"govuk-link govuk-link--no-visited-state" do %>
          Browse all further education courses
        <% end %>
      </span>
  </div><!--END three cols-->
</div><!--END grid row-->

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full tda">
      <p class="govuk-heading-m">
        Teacher degree apprenticeships (TDA)
        <br>
        <span class="govuk-body">
          Teach primary or secondary if you do not have a degree and are not studying for one.
        </span>
      </p>
      <span class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Browse teacher degree apprenticeship courses
        </a>
      </span>
    </div><!--END col full-->
  </div><!--END grid row-->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <div class="govuk-notification-banner govuk-notification-banner--pink" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__content govuk-notification-banner__content--grey-home">
      <h3 class="govuk-heading-m">
        How to become a teacher<br>
      </h3>
      <p class="govuk-body">
      Check your qualifications, what funding is available and how to apply.
      <a href="https://getintoteaching.education.gov.uk/steps-to-become-a-teacher">Find out how to become a teacher</a>
    </p>
    </div>
  </div>

  </div>
  <div class="govuk-grid-column-one-half">

     <div class="govuk-notification-banner govuk-notification-banner--pink" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__content govuk-notification-banner__content--grey-home">
      <h3 class="govuk-heading-m">
       Get help and support<br>
      </h3>
      <span class="govuk-body">
      If you're thinking about teaching or are ready to apply, <a href="https://getintoteaching.education.gov.uk/help-and-support">contact Get Into Teaching</a> for free support.
    </span>
    </div>

  </div>
</div>

</div>
