<% content_for :page_title, t(".title") %>
<% content_for :before_content do %>
  <%= govuk_back_link_to(find_root_path) %>
<% end %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      <%= t(".heading") %>
    </h2>
    <%= form_with model: @feedback, url: find_feedback_path, local: true do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_collection_radio_buttons(
            :ease_of_use,
            Feedback.ease_of_uses.keys,
            ->(option) { option },
            ->(option) { t(".options.#{option}") },
            nil,
            legend: { text: t(".ease_of_use") },
          ) %>
      <%= f.govuk_text_area :experience,
            label: { text: t(".experience_label"), size: "m" },
            hint: { text: t(".experience_hint") },
            rows: 5,
            max_chars: Feedback::MAX_EXPERIENCE_LENGTH %>
      <%= f.govuk_submit t(".submit_feedback_button") %>
    <% end %>
  </div>
</div>
