<% content_for :page_title, title_with_error_prefix("What type of course?", @errors && @errors.any?) %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(
      old_publish_link_for(
        publish_provider_recruitment_cycle_path(@provider.provider_code, @provider.recruitment_cycle_year)
      )
    ) %>
<% end %>

<h1 class="govuk-heading-l">
  What type of course?
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @course_levels_form,
                  url: publish_provider_recruitment_cycle_courses_level_path,
                  method: :post,
                  local: true do |f| %>
          <%= f.govuk_error_summary %>

          <%= f.govuk_collection_radio_buttons(
            :course_level,
            %i[primary secondary further_education],
            ->(value) { value },
            ->(label) { label.to_s.humanize },
            legend: { text: "Level", tag: "h1", size: "m" },
          ) %>

        <h2 class="govuk-heading-m">
          Special educational needs and disability (SEND)
        </h2>

        <div class="govuk-form-group">
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <%= f.check_box(:is_send, checked: false, data: { qa: "is_send" }, class: "govuk-checkboxes__input") %>
              <%= f.label(:is_send, "This course has an additional SEND specialism", class: "govuk-label govuk-checkboxes__label") %>
            </div>
          </div>
        </div>

        <p class="govuk-body">
          <%= f.submit "Continue",
                        class: "govuk-button govuk-!-margin-top-3",
                        data: { qa: "course__save" } %>
        </p>
    <% end %>
  </div>
</div>
