<% content_for :page_title, "Cookies" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Cookies on <%= t("service_name.find") %></h1>

    <p class="govuk-body">Cookies are small files saved on your phone, tablet or computer when you visit a website.</p>

    <p class="govuk-body">We use cookies to make <%= t("service_name.find") %> (Find) work and collect information about how you use our service.</p>

    <h2 class="govuk-heading-m">Essential cookies</h3>

    <p class="govuk-body">Essential cookies keep your information secure while you use Find. We do not need to ask permission to use them.</p>

    <table class="govuk-table app-table--vertical-align-middle" aria-describedby="essential_cookies_desc">
      <thead class="govuk-table__header">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Name</th>
          <th class="govuk-table__header" scope="col">Purpose</th>
          <th class="govuk-table__header" scope="col">Expires</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        <tr scope="row" class="govuk-table__row">
          <td class="govuk-table__cell "><span class="break-word"><%= Settings.cookies.session.name %></span></td>
          <td class="govuk-table__cell ">Stores encrypted session data</td>
          <td class="govuk-table__cell ">When you close your browser</td>
        </tr>
        <tr scope="row" class="govuk-table__row">
          <td class="govuk-table__cell "><span class="break-word"><%= Settings.cookies.candidate_session.name %></span></td>
          <td class="govuk-table__cell ">Stores encrypted session data specifically for Candidates</td>
          <td class="govuk-table__cell ">When you close your browser</td>
        </tr>
      </tbody>
    </table>

    <p class="govuk-body">Read more about who we are, how you can contact us and how we process personal data in our <%= govuk_link_to("privacy notice", find_privacy_path) %>.</p>
  </div>
</div>
