<% content_for :page_title, title_with_error_prefix(course.subject_page_title, @errors && @errors.any?) %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(@back_link_path) %>
<% end %>

<%= render 'publish_interface/shared/errors' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: continue_publish_provider_recruitment_cycle_courses_subjects_path(
                    @provider.provider_code,
                    @provider.recruitment_cycle_year
                  ),
                  method: :get do |form| %>
      <%= render "publish_interface/courses/new_fields_holder", form: form, except_keys: [] do |fields| %>
        <%= render 'form_fields', form: fields %>

        <div data-qa="course__google_form_link" >
          <% if !current_user["admin"] && @course.level == "secondary" %>
            <h2 class="govuk-heading-m"> Adding a Physical education course?</h2>
            <p class="govuk-body">You’ll need to fill in a
              <%= govuk_link_to "separate Google Form", add_course_url(current_user.email, @provider), rel: "noopener noreferrer", target: "_blank" %>,
            as PE places are limited.</p>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
