<% page_title = "Add a location" %>
<% content_for :page_title, title_with_error_prefix(page_title, @location_form.errors.any?) %>
<%= content_for :before_content, render_breadcrumbs(:new_site) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @location_form,
      url: publish_provider_recruitment_cycle_locations_path(@location_form.provider_code, @location_form.recruitment_cycle_year),
      method: :post,
      class: "location-form"
    ) do |f| %>

      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <%= page_title %>
      </h1>

      <p class="govuk-body">Once a location is added, you can assign it to a course by going to the ‘Basic details’ tab in ‘Courses’. Candidates will see a list of locations on the course page on Find.</p>
      <%= render "form", f: f %>
      <%= f.govuk_submit "Add location", data: { qa: "location__publish-changes" } %>
    <% end %>
  </div>
</div>
