<%= render "publish/shared/error_wrapper", error_keys: [:campaign_name], data_qa: "course__engineers_teach_physics" do %>
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
      <% if course.course_code %>
          <%= render CaptionText::View.new(text: course.name_and_code) %>
        <% end %>
        Engineers Teach Physics
      </h1>
    </legend>
    <p class="govuk-body">
      Engineers Teach Physics is a new campaign to help engineers become physics teachers.
    </p>
    <p class="govuk-body">
      For more information, email <%= govuk_mail_to(Settings.campaign_email, subject: "Engineers Teach Physics") %>
    </p>
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Is this course part of the Engineers Teach Physics programme?
      </h1>
    </legend>
    <%= render "publish/shared/error_messages", error_keys: [:campaign_name] %>

    <div class="govuk-radios govuk-!-margin-top-2" data-module="govuk-radios" data-qa="course__engineers_teach_physics_radio_group">
      <% course.edit_course_options["engineers_teach_physics"].each do |value| %>
        <div class="govuk-radios__item">
          <%= form.radio_button :campaign_name,
                                value,
                                class: "govuk-radios__input",
                                data: { qa: "course__campaign_name_#{value}_radio"} %>
          <%= form.label :campaign_name,
                        t("edit_options.campaign_name.#{value}.label"),
                        value:,
                        class: "govuk-label govuk-radios__label" %>
        </div>
      <% end %>
    </div>
  </fieldset>
<% end %>
