<%= render PageTitle.new(title: "support.providers.onboardings.new") %>

<%= content_for(:breadcrumbs) do %>
    <%= render GovukComponent::BackLinkComponent.new(
      text: "Back",
      href: support_recruitment_cycle_providers_path
    ) %>
<% end %>

<%= form_with model: @provider, url: support_recruitment_cycle_providers_onboarding_path, local: true do |f| %>

  <%= f.govuk_error_summary %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <%= f.govuk_fieldset legend: { text: "Organisation details", size: "l", tag: "h1" }, caption: { text: "Add organisation", size: "l" } do %>
        <%= f.govuk_text_field :provider_name, label: { text: "Provider name", size: "s" } %>
        <%= f.govuk_text_field :provider_code, label: { text: "Provider code", size: "s" }, width: 10 %>

        <%= f.govuk_text_field :ukprn, form_group: { class: "govuk-!-margin-bottom-2" }, label: { text: "UK provider reference number (UKPRN)", size: "s" }, width: 10 %>
        <p class="govuk-body govuk-!-margin-bottom-5">
          <%= t("links.ukprn_html") %>
        </p>

        <%= f.govuk_radio_buttons_fieldset(:accredited_provider, legend: { text: "Is the organisation an accredited provider?", size: "s" }) do %>
          <%= f.govuk_radio_button :accredited_provider, :accredited_body, label: { text: "Yes" }, link_errors: true  do %>
            <%= f.govuk_text_field :accredited_provider_id,
                                  width: 10,
                                  label: { text: "Accredited provider ID" },
                                  autocomplete: :disabled %>

          <% end %>
          <%= f.govuk_radio_button :accredited_provider, :not_an_accredited_body, label: { text: "No" }, link_errors: true %>
        <% end %>

        <%= f.govuk_radio_buttons_fieldset(:provider_type, legend: { text: "Provider type", size: "s" }) do %>
          <%= f.govuk_radio_button :provider_type, :university, label: { text: "Higher education institution (HEI)" }, link_errors: true %>
          <%= f.govuk_radio_button :provider_type, :scitt, label: { text: "School centred initial teacher training (SCITT)" }, link_errors: true %>
          <%= f.govuk_radio_button :provider_type, :lead_school, label: { text: "School" }, link_errors: true  do %>
            <%= f.govuk_text_field :urn,
                                  width: 10,
                                  label: { text: "Unique reference number (URN)" },
                                  autocomplete: :disabled %>
            <p class="govuk-body govuk-!-margin-top-2">
              <%= t("links.urn_html") %>
            </p>
          <% end %>
        <% end %>
      <% end %>

      <%= f.govuk_submit %>
      <p class="govuk-body">
        <%= govuk_link_to(t("cancel"), support_recruitment_cycle_providers_path) %>
      </p>
    </div>
  </div>
<% end %>
