<h2 class="govuk-heading-m">Contents</h2>
<ul class="govuk-list app-list--dash course-contents govuk-!-margin-bottom-8">
  <li><%= govuk_link_to "Entry requirements", "#section-entry" %></li>
  <% if about_course.present? || preview? %>
    <li><%= govuk_link_to "Course summary", "#section-about" %></li>
  <% end %>
  <% if how_school_placements_work.present? || program_type == "higher_education_programme" || program_type == "scitt_programme" || preview? %>
    <li><%= govuk_link_to "Training locations", "#training-locations" %></li>
  <% end %>
  <% if salaried? %>
    <li><%= govuk_link_to "Salary", "#section-salary" %></li>
  <% end %>
  <li><%= govuk_link_to "Fees and financial support", "#section-financial-support" %></li>
  <% if interview_process.present? %>
    <li><%= govuk_link_to "Interview process", "#section-interviews" %></li>
  <% end %>
  <% if provider.train_with_disability.present? || preview? %>
    <li><%= govuk_link_to "Training with disabilities", "#section-train-with-disabilities" %></li>
  <% end %>
  <li><%= govuk_link_to "Support and advice", "#section-advice" %></li>
  <% if course.application_status_open? %> <li><%= govuk_link_to "Apply", "#section-apply" %></li> <% end %>
</ul>
