<div>
  <% if fee_uk_eu.present? %>
    <div class="body-text">

      <% if fee_international.present? %>
        <p class="govuk-body">
          Fees for <%= cycle_range %>:
        </p>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <%= t(".uk_citizens") %>
            </dt>
            <dd class="govuk-summary-list__value">
              <%= number_to_currency(fee_uk_eu) %>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t(".non_uk_citizens") %>
          </dt>
           <dd class="govuk-summary-list__value">
            <%= number_to_currency(fee_international) %>
          </dd>
        </div>
        </dl>
        <% else %>
        <p class="govuk-body">
          Fees for <%= cycle_range %>:
        </p>
         <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <%= t(".uk_citizens") %>
            </dt>
            <dd class="govuk-summary-list__value">
              <%= number_to_currency(fee_uk_eu) %>
            </dd>
          </div>
        </dl>
      <% end %>
    </div>

    <%# if course.fee_details.present? %>
      <!--<div data-qa="course__fee_details">-->
        <%#= markdown(fee_details) %>
      <!--</div>-->
    <%# end %>

  <% end %>
</div>
