<% content_for :page_title, title_with_error_prefix(
  t("publish.providers.about_course.edit.page_title", course_name_and_code: @course.name_and_code),
  @about_this_course_form.errors.any?
) %>

<% if params[:copy_from].present? && @copied_fields.any? %>
  <%= render partial: "copy_about_course_content_warning" %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
          model: @about_this_course_form,
          url: about_this_course_publish_provider_recruitment_cycle_course_path(
            @provider.provider_code,
            @course.recruitment_cycle_year,
            @course.course_code
          ),
          data: { qa: "enrichment-form", module: "form-check-leave" },
          method: :patch,
          local: true
        ) do |f| %>

      <% content_for :before_content do %>
        <%= govuk_back_link_to(
              back_link_path(param_form_key: f.object_name.to_sym,
                             params:,
                             provider_code: @provider.provider_code,
                             recruitment_cycle_year: @course.recruitment_cycle_year,
                             course_code: @course.course_code)
            ) %>
      <% end %>

      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= @course.name_and_code %></span>
        <%= t("publish.providers.about_course.edit.about_this_course") %>
      </h1>

      <%= render partial: "guidance" %>

      <%= f.govuk_text_area(:about_course,
                            value: @copied_fields_values&.dig("about_course") || @about_this_course_form.about_course,
                            label: { text: t("publish.providers.about_course.edit.about_this_course"), size: "s" },
                            max_words: 400,
                            rows: 20) %>
      <%= f.hidden_field(:goto_preview, value: params[:goto_preview]) %>
      <%= f.govuk_submit t("publish.providers.about_course.edit.submit_button") %>
    <% end %>
  </div>
  <aside class="govuk-grid-column-one-third" data-qa="course__related_sidebar">
    <%= render(
          partial: "publish/courses/related_sidebar",
          locals: {
            course: @course,
            page_path: about_this_course_publish_provider_recruitment_cycle_course_path(
              @provider.provider_code,
              @course.recruitment_cycle_year,
              @course.course_code
            )
          }
        ) %>
  </aside>
      <%= f.govuk_submit t("publish.providers.about_course.edit.submit_button") %>
    <% end %>
  </div>
  <aside class="govuk-grid-column-one-third" data-qa="course__related_sidebar">
    <%= render(
          partial: "publish/courses/related_sidebar",
          locals: {
            course: @course,
            page_path: about_this_course_publish_provider_recruitment_cycle_course_path(
              @provider.provider_code,
              @course.recruitment_cycle_year,
              @course.course_code
            )
          }
        ) %>
  </aside>
</div>

<p class="govuk-body">
  <%= govuk_link_to(t("cancel"), publish_provider_recruitment_cycle_course_path(@provider.provider_code,
                                                                                @provider.recruitment_cycle.year,
                                                                                @course.course_code)) %>
</p>
