<div class="app-filter-layout">
  <div class="app-filter-layout__filter">
    <%= form_with url: find_v2_results_path, class: "app-filter", method: :get do |form| %>
      <div class="app-filter__content">
        <div class="app-filter__header">
          <h2 class="govuk-heading-m">Filters</h2>
        </div>

        <div class="app-filter__content">
          <%= form.submit "Apply filters", name: nil, class: "govuk-button", data: { qa: "apply-filters" } %>

          <%= form.govuk_check_boxes_fieldset :can_sponsor_visa, multiple: false, legend: { text: t("helpers.legend.courses_query_filters.can_sponsor_visa_html"), size: "s" }, class: "app-filter__group govuk-checkboxes--small", hidden: false do %>
            <%= form.govuk_check_box :can_sponsor_visa, "true", multiple: false, label: { text: t("helpers.label.courses_query_filters.can_sponsor_visa"), size: "s" }, checked: params[:can_sponsor_visa].present? %>
          <% end %>

          <%= form.govuk_check_boxes_fieldset :study_types, legend: { text: t("helpers.legend.courses_query_filters.study_type_html"), size: "s" }, class: "app-filter__group govuk-checkboxes--small", hidden: false do %>
            <%= form.govuk_check_box :study_types, "full_time", label: { text: t("helpers.label.courses_query_filters.study_type_options.full_time"), size: "s" }, checked: params[:study_types].present? && params[:study_types].include?("full_time") %>
            <%= form.govuk_check_box :study_types, "part_time", label: { text: t("helpers.label.courses_query_filters.study_type_options.part_time"), size: "s" }, checked: params[:study_types].present? && params[:study_types].include?("part_time") %>
          <% end %>

          <%= form.govuk_check_boxes_fieldset :send_courses, multiple: false, legend: { text: t("helpers.legend.courses_query_filters.special_education_needs_html"), size: "s" }, class: "app-filter__group govuk-checkboxes--small", hidden: false do %>
            <%= form.govuk_check_box :send_courses, "true", multiple: false, label: { text: t("helpers.label.courses_query_filters.special_education_needs"), size: "s" }, checked: params[:send_courses].present? %>
          <% end %>

          <%= form.govuk_check_boxes_fieldset :applications_open, multiple: false, legend: { text: t("helpers.legend.courses_query_filters.applications_open_html"), size: "s" }, class: "app-filter__group govuk-checkboxes--small", hidden: false do %>
            <%= form.govuk_check_box :applications_open, "true", multiple: false, label: { text: t("helpers.label.courses_query_filters.applications_open"), size: "s" }, checked: params[:applications_open].present? %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="app-filter-layout__content">
    <ul class="app-search-results">
      <% @results.each do |course| %>
        <li class="app-search-results__item" data-qa="course">
          <%= govuk_summary_card(
            classes: ["course-summary-card"],
            title: govuk_link_to(
              find_course_path(
                provider_code: course.provider_code,
                course_code: course.course_code
              ),
              class: "govuk-link govuk-!-font-size-24",
              data: { qa: "course__link" }
            ) do
              content_tag(:span, course.provider.provider_name, class: "app-search-result__provider-name", data: { qa: "course__provider_name" }) +
              content_tag(:span, course.name_and_code, class: "app-search-result__course-name", data: { qa: "course__name" })
            end
          ) %>
        </li>
      <% end %>
    </ul>

    <%= govuk_pagination(pagy: @pagy) %>
  </div>
</div>
