<%= content_for :page_title, t(".page_title", count: @courses_count, formatted_count: number_with_delimiter(@courses_count)) %>

<h1 class="govuk-heading-xl">
  <%= t(".page_title", count: @courses_count, formatted_count: number_with_delimiter(@courses_count)) %>
</h1>

<div class="app-filter-layout">
  <div class="app-filter-layout__filter">
    <%= form_with model: @search_courses_form, scope: "", url: find_v2_results_path, class: "app-filter", method: :get do |form| %>
      <div class="app-filter__header">
        <h2 class="govuk-heading-m">Filters</h2>
      </div>

      <div class="app-filter__content">
        <%= form.govuk_submit "Apply filters" %>

        <%= form.govuk_check_boxes_fieldset :can_sponsor_visa, multiple: false, legend: { text: t("helpers.legend.courses_query_filters.can_sponsor_visa_html"), size: "s" }, class: "app-filter__group govuk-checkboxes--small", hidden: false, form_group: { class: "app-filter__group" } do %>
          <%= form.govuk_check_box :can_sponsor_visa, "true", multiple: false, label: { text: t("helpers.label.courses_query_filters.can_sponsor_visa"), size: "s" } %>
        <% end %>

        <div class="filter-search govuk-form-group app-filter__group" data-controller="filter-search">
          <%= form.govuk_check_boxes_fieldset :subjects, legend: { text: t("helpers.legend.courses_query_filters.secondary_html"), size: "s" }, hint: { text: t("helpers.hint.courses_query_filters.secondary"), class: "govuk-!-font-size-16" }, class: "app-filter__group govuk-checkboxes--small", hidden: false, multiple: false do %>
            <% form.object.secondary_subjects.each do |subject| %>
              <%= form.govuk_check_box :subjects,
              subject.subject_code,
              label: { text: subject.subject_name } %>
            <% end %>
          <% end %>
        </div>

        <%= form.govuk_check_boxes_fieldset :study_types, legend: { text: t("helpers.legend.courses_query_filters.study_type_html"), size: "s" }, class: "app-filter__group govuk-checkboxes--small", multiple: false, form_group: { class: "app-filter__group" } do %>
          <%= form.govuk_check_box :study_types, "full_time", label: { text: t("helpers.label.courses_query_filters.study_type_options.full_time"), size: "s" }, include_hidden: false %>
          <%= form.govuk_check_box :study_types, "part_time", label: { text: t("helpers.label.courses_query_filters.study_type_options.part_time"), size: "s" }, include_hidden: false %>
        <% end %>

        <%= form.govuk_check_boxes_fieldset :qualifications, legend: { text: t("helpers.legend.courses_query_filters.qualifications_html"), size: "s" }, class: "app-filter__group govuk-checkboxes--small", multiple: false, form_group: { class: "app-filter__group" } do %>
          <%= form.govuk_check_box :qualifications, "qts", label: { text: t("helpers.label.courses_query_filters.qualification_options.qts"), size: "s" }, include_hidden: false %>
          <%= form.govuk_check_box :qualifications, "qts_with_pgce_or_pgde", label: { text: t("helpers.label.courses_query_filters.qualification_options.qts_with_pgce_or_pgde"), size: "s" }, include_hidden: false %>
        <% end %>

        <%= form.govuk_check_boxes_fieldset :further_education, legend: { text: t("helpers.legend.courses_query_filters.further_education_html"), size: "s" }, hint: { text: t("helpers.hint.courses_query_filters.further_education"), class: "govuk-!-font-size-16" }, class: "app-filter__group govuk-checkboxes--small", multiple: false, form_group: { class: "app-filter__group" } do %>
          <%= form.govuk_check_box :further_education, "true", label: { text: t("helpers.label.courses_query_filters.further_education"), size: "s" }, multiple: false %>
        <% end %>

        <%= form.govuk_check_boxes_fieldset :send_courses, multiple: false, legend: { text: t("helpers.legend.courses_query_filters.special_education_needs_html"), size: "s" }, class: "app-filter__group govuk-checkboxes--small", hidden: false, form_group: { class: "app-filter__group" } do %>
          <%= form.govuk_check_box :send_courses, "true", multiple: false, label: { text: t("helpers.label.courses_query_filters.special_education_needs"), size: "s" } %>
        <% end %>

        <%= form.govuk_check_boxes_fieldset :funding, legend: { text: t("helpers.legend.courses_query_filters.funding_html"), size: "s" }, class: "app-filter__group govuk-checkboxes--small", multiple: false, form_group: { class: "app-filter__group" } do %>
          <%= form.govuk_check_box :funding, "fee", label: { text: t("helpers.label.courses_query_filters.funding_options.fee"), size: "s" }, include_hidden: false %>
          <%= form.govuk_check_box :funding, "salary", label: { text: t("helpers.label.courses_query_filters.funding_options.salary"), size: "s" }, include_hidden: false %>
          <%= form.govuk_check_box :funding, "apprenticeship", label: { text: t("helpers.label.courses_query_filters.funding_options.apprenticeship"), size: "s" }, include_hidden: false %>
        <% end %>

        <%= form.govuk_check_boxes_fieldset :applications_open, multiple: false, legend: { text: t("helpers.legend.courses_query_filters.applications_open_html"), size: "s" }, class: "app-filter__group govuk-checkboxes--small", hidden: false, form_group: { class: "app-filter__group" } do %>
          <%= form.govuk_check_box :applications_open, "true", multiple: false, label: { text: t("helpers.label.courses_query_filters.applications_open"), size: "s" } %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="app-filter-layout__content">
    <ul class="app-search-results">
      <% @results.each do |course| %>
        <li class="app-search-results__item">
          <%= govuk_summary_card(
            classes: ["course-summary-card"],
            title: govuk_link_to(
              find_course_path(
                provider_code: course.provider_code,
                course_code: course.course_code
              ),
              class: "govuk-link govuk-!-font-size-24"
            ) do
              content_tag(:span, course.provider.provider_name, class: "app-search-result__provider-name") +
              content_tag(:span, course.name_and_code, class: "app-search-result__course-name")
            end
          ) %>
        </li>
      <% end %>
    </ul>

    <%= govuk_pagination(pagy: @pagy) %>
  </div>
</div>
