<% content_for :page_title, title_with_error_prefix("Are you sure you want to withdraw #{@course.name_and_code})?", @course_withdrawal_form.errors.any?) %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(publish_provider_recruitment_cycle_course_path(
    @course.provider_code, 
    @course.recruitment_cycle_year, 
    @course.course_code)
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @course_withdrawal_form,
      url: withdraw_publish_provider_recruitment_cycle_course_path(@provider.provider_code, @course.recruitment_cycle_year, @course.course_code),
      data: { qa: "enrichment-form", module: "form-check-leave" },
      method: :patch,
      local: true,
    ) do |f| %>

      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= @course.name_and_code %></span>
        Are you sure you want to withdraw this course?
      </h1>

      <p class="govuk-body">Withdrawing this course will:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>immediately remove it from Find</li>
        <li>close applications for it</li>
      </ul>

      <p class="govuk-body">Once you’ve withdrawn a course, you cannot publish it again this cycle.</p>

      <h2 class="govuk-heading-m">Confirm withdrawal</h2>

      <%= f.govuk_text_field :confirm_course_code, label: { text: "Enter the course code to confirm" }, width: 5 %>

      <%= f.govuk_submit "Yes I’m sure – withdraw this course", class: "govuk-button govuk-button--warning" %>
    <% end %>

    <p class="govuk-body govuk-!-margin-top-5">
      <%= govuk_link_to(
        "Cancel",
        publish_provider_recruitment_cycle_course_path(@provider.provider_code, @course.recruitment_cycle_year, @course.course_code),
        no_visited_state: true,
      ) %>
    </p>
  </div>
</div>
