<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
<h3 class="govuk-heading-m" data-qa="unpublished__partial">Preview</h3>
<p class="govuk-body">See how your unpublished changes will look on Find.</p>
<p class="govuk-body">Preview to check for mistakes before publishing.</p>
<p class="govuk-body">
  <%= govuk_link_to "Preview course", preview_publish_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code), "data-qa": "course__preview-link" %>
</p>

<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

<h4 class="govuk-heading-m">Publish</h4>
<% if @recruitment_cycle.current_and_open? %>
  <p class="govuk-body">Publish your changes.</p>
  <p class="govuk-body">You can make changes to this course after publishing it.</p>
  <%= govuk_button_to("Publish", publish_publish_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code),
    class: "govuk-!-margin-bottom-0",
    data: { qa: "course__publish" }) %>
<% else %>
  <% if course.is_published? %>
    <p class="govuk-body">Publish your changes and they will appear on Find when the cycle opens in <%= Settings.next_cycle_open_date.to_s(:month) %>.</p>
  <% else %>
    <p class="govuk-body">Publish this course and it will appear on Find when the cycle opens in <%= Settings.next_cycle_open_date.to_s(:month) %>.</p>
  <% end %>
  <%= govuk_button_to("Publish in #{Settings.next_cycle_open_date.to_s(:month)}", 
    publish_publish_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code),
    class: "govuk-!-margin-bottom-0",
    data: { qa: "course__publish" }) %>
<% end %>
