<% page_title = school_label_for(course) %>
<% content_for :page_title, title_with_error_prefix("#{page_title} – #{course.name_and_code}", @course_school_form.errors.present?) %>
<% content_for :before_content do %>
  <%= govuk_back_link_to(
    details_publish_provider_recruitment_cycle_course_path(
      @provider.provider_code,
      course.recruitment_cycle_year,
      course.course_code,
    ),
  ) %>
<% end %>
<%= form_with(
  model: @course_school_form,
  url: schools_publish_provider_recruitment_cycle_course_path(
    @provider.provider_code,
    course.recruitment_cycle_year,
    course.course_code,
  ),
  method: :put,
  local: true,
) do |f| %>
  <%= f.govuk_error_summary %>
  <% if @course.recruitment_cycle_rollover_period_2026? %>
    <%= f.hidden_field :schools_validated, value: "true" %>
  <% end %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render ::Publish::Schools::NotificationBannerComponent.new(
        recruitment_cycle: @recruitment_cycle,
        provider: @provider,
      ) %>
      <%= f.govuk_check_boxes_fieldset :site_ids,
        legend: {
          text: "#{render CaptionText.new(text: course.name_and_code)} #{school_label_for(course)}".html_safe,
          tag: "h1",
          size: "l",
        },
        form_group: {
          data: {
            controller: "select-all-checkboxes school-search",
          },
        } do %>
        <!-- Number of schools currently attached to the course -->
        <p class="govuk-body">
          <%= "You currently have #{@course.sites.count} schools attached to this course" %>
        </p>
        <!-- placeholder button for downloading list of attached schools as CSV -->
        <%# <div class="govuk-button-group">
          <button type="button" class="govuk-button govuk-button--secondary">
            Download list of attached schools (CSV)
          </button>
        </div> %>
        <!-- ✅ Search box -->
        <div class="school-search-container">
          <div class="school-search-content">
            <div class="govuk-form-group govuk-!-margin-bottom-0">
              <p class="govuk-heading-m">
                Search for a school
              </p>
              <label class="govuk-label" for="school-search">
                Enter the name of a school, university or college. You can also enter a postcode or URN.
              </label>
              <div class="school-search-form-container">
                <input
              class="govuk-input"
              id="school-search"
              type="search"
              placeholder="Enter school name, postcode or URN"
              autoComplete="off"
              data-school-search-target="input"
              data-action="keydown.enter->school-search#search">
                  <button
              class="govuk-button govuk-button--primary govuk-!-margin-bottom-3"
              type="button"
              data-action="school-search#search">
                    Search
                  </button>
                </div>
                <div class="govuk-!-margin-top-0 govuk-body">
                  <a
  href="#"
  class="app-button-link govuk-link"
  data-action="school-search#clear"
  data-show-more-target="button">
                    Clear search
                  </a>
                </div>
              </div>
              <!-- Placeholder: Checkbox for filtering to show only attached schools - DOESN"T WORK -->
              <%# <div class="govuk-checkboxes__item govuk-!-margin-bottom-3 govuk-checkboxes--small">
                <input
                  type="checkbox"
                  class="govuk-checkboxes__input"
                  id="show-attached-only"
                  data-action="attached-schools#toggle">
                  <label
                  class="govuk-label govuk-checkboxes__label"
                  for="show-attached-only">
                    Only show schools attached to this course
                  </label>
                </div> %>
            </div>
          </div>
          <!-- Select all -->
          <div class="govuk-checkboxes__item">
            <input
            type="checkbox"
            class="govuk-checkboxes__input"
            id="select-all-schools"
            data-select-all-checkboxes-target="selectAll"
            data-action="select-all-checkboxes#toggleAll">
              <label
            class="govuk-label govuk-checkboxes__label"
            for="select-all-schools">
                <%= t("publish.courses.schools.select_all") %>
              </label>
            </div>
            <div class="govuk-body govuk-!-margin-left-2">or</div>
            <div class="govuk-hint">
              <%= t("publish.courses.schools.new.selection") %>
            </div>
            <!-- Schools list (single loop, searchable) -->
            <!-- Schools list (single loop, searchable) -->
            <div data-controller="show-more" data-show-more-page-size-value="20">
              <% @provider.sites.sort_by(&:location_name).each_with_index do |site, index| %>
                <div
      data-show-more-target="item"
      data-school-search-target="school"
      data-search-text="<%= [
        site.location_name,
        site.postcode,
        site.urn,
      ].compact.join(" ").downcase %>">
                  <%= f.govuk_check_box :site_ids,
        site.id,
        label: {
          text: [
            site.location_name,
            render(Publish::Schools::NewlyAddedTagComponent.new(school: site)),
          ].compact_blank.join(" ").html_safe,
        },
        hint: { text: site.full_address },
        link_errors: index.zero?,
        data: {
          select_all_checkboxes_target: "checkbox",
          action: "select-all-checkboxes#updateSelectAll",
        } %>
                </div>
              <% end %>
              <div class="govuk-!-margin-top-4 govuk-body">
                <a
  href="#"
  class="app-button-link govuk-link"
  data-show-more-target="button"
  data-action="show-more#showMore">
                  Show 20 more schools
                </a>
              </div>
            </div>
          <% end %>
          <%# <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Have you finished updating placement schools?
                </h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                    Yes, I have finished updating placement schools
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                    No, I want to add more placement schools
                  </label>
                </div>
              </div>
            </fieldset>
          </div> %>
          <%= f.govuk_radio_buttons_fieldset :finished_updating_schools,
  legend: { text: "Have you finished updating placement schools?", size: "m" } do %>
            <%= f.govuk_radio_button :finished_updating_schools, "yes",
    label: { text: "Yes, I have finished updating placement schools" } %>
            <%= f.govuk_radio_button :finished_updating_schools, "no",
    label: { text: "No, I want to add more placement schools" } %>
          <% end %>
          <div class="govuk-button-group">
            <%= f.govuk_submit "Continue" %>
            <!-- <%= f.govuk_submit "Update #{page_title.downcase}" %> -->
            <!-- <%= f.govuk_submit "Update and add another placement school", class: "govuk-button--secondary" %> -->
          </div>
          <p class="govuk-body">
            <%= govuk_link_to(
          t("cancel"),
          details_publish_provider_recruitment_cycle_course_path(
            @provider.provider_code,
            @provider.recruitment_cycle.year,
            @course.course_code,
          ),
        ) %>
          </p>
        </div>
      </div>
    <% end %>
