<% page_title = school_label_for(course) %>
<% content_for :page_title, title_with_error_prefix("#{page_title} – #{course.name_and_code}", @course_school_form.errors.present?) %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(details_publish_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code)) %>
<% end %>

<%= form_with(
  model: @course_school_form,
  url: schools_publish_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code),
  method: :put,
  local: true,
) do |f| %>
  <%= f.govuk_error_summary %>

  <% if @course.recruitment_cycle_rollover_period_2026? %>
    <%= f.hidden_field :schools_validated, value: "true" %>
  <% end %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render ::Publish::Schools::NotificationBannerComponent.new(
        recruitment_cycle: @recruitment_cycle,
        provider: @provider,
      ) %>

    <%= f.govuk_check_boxes_fieldset :site_ids,
        legend:
        {
          text: "#{render CaptionText.new(text: course.name_and_code)} #{school_label_for(course)}".html_safe,
          tag: "h1",
          size: "l",
        },
        form_group: { data: { controller: "select-all-checkboxes" } } do %>

          <div class="govuk-checkboxes__item">
            <input type="checkbox"
                   class="govuk-checkboxes__input"
                   id="select-all-schools"
                   data-select-all-checkboxes-target="selectAll"
                   data-action="select-all-checkboxes#toggleAll">

            <label class="govuk-label govuk-checkboxes__label" for="select-all-schools">
              <%= t("publish.courses.schools.select_all") %>
            </label>
          </div>

          <div class="govuk-body govuk-!-margin-left-2">or</div>
          <div class="govuk-hint"><%= t("publish.courses.schools.new.selection") %></div>

          <% @provider.sites.sort_by(&:location_name).each_with_index do |site, index| %>
            <%= f.govuk_check_box :site_ids,
                site.id,
                label: { text: [site.location_name, render(Publish::Schools::NewlyAddedTagComponent.new(school: site))].compact_blank.join(" ").html_safe },
                hint: { text: site.full_address },
                link_errors: index.zero?,
                data: {
                  select_all_checkboxes_target: "checkbox",
                  action: "select-all-checkboxes#updateSelectAll",
                } %>
         <% end %>
      <% end %>

      <%= f.govuk_submit "Update #{page_title.downcase}" %>
    <% end %>

    <p class="govuk-body">
      <%= govuk_link_to(t("cancel"), details_publish_provider_recruitment_cycle_course_path(@provider.provider_code, @provider.recruitment_cycle.year, @course.course_code)) %>
    </p>
  </div>
</div>
