<% page_title = "Schools" %>
<% content_for :page_title, title_with_error_prefix("#{page_title} – #{course.name_and_code}", @course_school_form.errors.present?) %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(details_publish_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code)) %>
<% end %>

<%= form_with(
  model: @course_school_form,
  url: schools_publish_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code),
  method: :put,
  local: true,
) do |f| %>

  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-body">
      The way schools are added to your account has changed.<br>
      <%= govuk_link_to 'Find out more about how schools are added to your account.',  publish_provider_recruitment_cycle_schools_path(@provider.provider_code, @provider.recruitment_cycle.year), class: "govuk-notification-banner__link" %>
    </p>
  </div>
</div>

<span class="govuk-caption-l"><%= @course.name_and_code %></span>
<h1 class="govuk-heading-l">Schools</h1>
<h2 class="govuk-heading-s">We have added some schools</h2>
<p class="govuk-body">We have automatically uploaded all schools you are working with. These are schools that are on <a class="govuk-link" target="_blank" href="https://www.register-trainee-teachers.service.gov.uk/">Register trainee teachers</a>.</p>

<h2 class="govuk-heading-s">We have removed some schools</h2>
<p class="govuk-body">These are schools that are not on <a class="govuk-link" target="_blank" href="https://get-information-schools.service.gov.uk/Search?SelectedTab=Establishments">Get Information About Schools (GIAS)</a>.</p>
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Schools that have been removed from this course
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body"><strong>Abbey Park Academy</strong><br>
    Keighley Close, Illingworth, Halifax, West Yorkshire, HX2 9DG
    </p>
    <p class="govuk-body"><strong>Beacon Academy</strong><br>
    Woodthorpe Road, Loughborough, Leicestershire, LE11 2NF
    </p>
    <p class="govuk-body"><strong>Charfield Primary School</strong><br>
    Wotton Road, Charfield, Wotton-Under-Edge, Gloucestershire, GL12 8TG
    </p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <p class="govuk-body"><strong>If a school name or address is incorrect</strong><br>
    You can <%= govuk_link_to 'add the correct school details to your account',  search_publish_provider_recruitment_cycle_schools_path(@provider.provider_code, @provider.recruitment_cycle.year), class: "govuk-link", target: "_blank" %>.
    </p>
    <p class="govuk-body"><strong>If the school is not on GIAS</strong><br>
    If the school you would like to add is not on GIAS, or the information on GIAS is not correct, contact the school and ask them to update their information on GIAS.
    </p>
  </div>
</details>

<div>
  <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
    <div id="countries-hint" class="govuk-hint">
      Select all that apply
    </div>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="countries" name="countries" type="checkbox" value="france">
        <label class="govuk-label govuk-checkboxes__label" for="countries">
          Select all schools
        </label>
      </div>
      <div class="govuk-checkboxes__divider">or</div>
    </div>
  </fieldset>
</div>

      <%= f.govuk_check_boxes_fieldset :site_ids, legend:
      { text: "<p hidden>.</p>".html_safe, tag: "h1", size: "s" } do %>
       <% @provider.sites.sort_by(&:location_name).each_with_index do |site, index| %>
         <%# VERY DIRTY, do not push the label with code and .html safe to prod!!!!!!!!!!! %>
          <%= f.govuk_check_box :site_ids,
              site.id,
              label: { text: "#{site.location_name} #{if [2,4,6,7].include?(index) then "<strong class=\"govuk-tag govuk-tag--green\">Newly Added</strong>" end }".html_safe },
              hint: { text: site.full_address },
              link_errors: index.zero? %>
       <% end %>
      <% end %>

      <%= f.govuk_submit "Update #{page_title.downcase}" %>
    <% end %>

    <p class="govuk-body">
      <%= govuk_link_to(t("cancel"), details_publish_provider_recruitment_cycle_course_path(@provider.provider_code, @provider.recruitment_cycle.year, @course.course_code)) %>
    </p>
  </div>
</div>
