<% page_title = "Schools" %>
<% content_for :page_title, title_with_error_prefix("#{page_title} – #{course.name_and_code}", @course_school_form.errors.present?) %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(details_publish_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code)) %>
<% end %>

<%= form_with(
  model: @course_school_form,
  url: schools_publish_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code),
  method: :put,
  local: true
) do |f| %>

  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_check_boxes_fieldset :site_ids, legend:
      { text: "#{render CaptionText.new(text: course.name_and_code)} Schools".html_safe, tag: "h1", size: "l" }, hint: { text: "Select all that apply" } do %>
       <% @provider.sites.sort_by(&:location_name).each_with_index do |site, index| %>
          <%= f.govuk_check_box :site_ids,
              site.id,
              label: { text: site.location_name },
              hint: { text: site.full_address },
              link_errors: index.zero? %>
       <% end %>
      <% end %>

      <%= f.govuk_submit "Update #{page_title.downcase}" %>
    <% end %>

    <p class="govuk-body">
      <%= govuk_link_to(t("cancel"), details_publish_provider_recruitment_cycle_course_path(@provider.provider_code, @provider.recruitment_cycle.year, @course.course_code)) %>
    </p>
  </div>
</div>
