<%= content_for :page_title, "Accessibility statement" %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l"><%= t(".heading") %></h1>

      <p class="govuk-body"><%= t(".find_service_statement", find_service: t("service_name.find")) %></p>

      <h2 class="govuk-body"><%= t(".service_details") %></h2>

     <div><%= t(".what_users_can_do_html") %></div>

      <p class="govuk-body"><%= t(".simple_service") %></p>

      <p class="govuk-body">
        <%= t(".device_advice_html",
          device_advice_link: govuk_link_to(t(".device_advice_link_text"), t(".device_advice_url"))) %>
      </p>

      <h2 class="govuk-heading-m"><%= t(".feedback_and_contact_heading") %></h2>

      <p class="govuk-body"><%= t(".contact_us_html", bat_contact_email: bat_contact_mail_to) %></p>

      <p class="govuk-body"><%= t(".response_time") %></p>

      <h2 class="govuk-heading-m"><%= t(".reporting_problems_heading") %></h2>

      <p class="govuk-body"><%= t(".accessibility_issues_contact_html", bat_contact_email: bat_contact_mail_to) %></p>

      <h2 class="govuk-heading-m"><%= t(".enforcement_procedure_heading") %></h2>

      <p class="govuk-body">
        <%= t(".response_to_a_complaint_html",
        response_to_a_complaint_link: govuk_link_to(t(".contact_eass_text"), t(".eass_url"))) %>
      </p>

      <p class="govuk-body"><%= t(".ehrc_description") %></p>

      <h2 class="govuk-heading-m"><%= t(".technical_information_heading") %></h2>

      <p class="govuk-body"><%= t(".dfe_commitment") %></p>

      <h3 class="govuk-heading-s"><%= t(".compliance_status_heading") %></h3>

    <p class="govuk-body">
      <%= t(".compliance_status_html", find_service: t("service_name.find"),
                                       wcag_link: govuk_link_to(t(".wcag_link_text"), t(".wcag_url"))) %>
    </p>

    <h2 class="govuk-heading-m"><%= t(".improving_accessibility") %></h2>

      <p class="govuk-body"><%= t(".continue_testing") %>
      </p>

      <h2 class="govuk-heading-m">
        <%= t(".statement_preparation_heading") %>
      </h2>

      <p class="govuk-body"><%= t(".statement_date") %>
      </p>
    </div>
  </div>
</div>
