<% content_for :page_title, "#{t('service_name.find')} privacy notice" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t("service_name.find") %> privacy notice</h1>
    <p class="govuk-body-l">
      Read the Privacy information: <%= govuk_link_to "education providers' workforce, including teachers.", t("privacy_information.base_url") %>
    </p>
    <p class="govuk-body">
      <%= govuk_link_to "Section 6", "#{t('privacy_information.base_url')}#{t('privacy_information.section_6')}" %> tells you what we do with your data to help support teaching as a career.
    </p>
    <p class="govuk-body">
      <%= govuk_link_to "Section 14", "#{t('privacy_information.base_url')}#{t('privacy_information.section_14')}" %> tells you how we use data to contact you for research or feedback on services we provide to you.
    </p>
    <p class="govuk-body">
      <%= govuk_link_to "Section 15", "#{t('privacy_information.base_url')}#{t('privacy_information.section_15')}" %> tells you how we use your data to gather evidence for policy development, evaluation and delivery.
    </p>
    <p class="govuk-body">
      <%= govuk_link_to "Section 25", "#{t('privacy_information.base_url')}#{t('privacy_information.section_25')}" %> tells you how we use your data to maintain a list of teachers.
    </p>
    <p class="govuk-body">
      <%= govuk_link_to "Section 29", "#{t('privacy_information.base_url')}#{t('privacy_information.section_29')}" %> tells you how we use your data when you contact us to make an enquiry.
    </p>
    <p class="govuk-body">
      <%= govuk_link_to "Section 30", "#{t('privacy_information.base_url')}#{t('privacy_information.section_30')}" %> tells you how we use your data to use our websites.
    </p>
    <p class="govuk-body">
      <%= govuk_link_to "Section 43", "#{t('privacy_information.base_url')}#{t('privacy_information.section_43')}" %> tells you how to contact us to make a complaint.
    </p>
  </div>
</div>
