<%= render PageTitle.new(title: "support.candidates.details") %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(support_candidates_path(page: params[:page])) %>
<% end %>

<h1 class="govuk-heading-l"><%= @candidate.email_address %></h1>

<%= render "support/candidate/tabs", candidate: @candidate, current_tab: :details %>

<%= govuk_summary_list do |list| %>
  <% list.with_row do |row| %>
    <% row.with_key text: t("support.candidates.details.email_address") %>
    <% row.with_value text: @candidate.email_address %>
  <% end %>
  <% list.with_row do |row| %>
    <% row.with_key text: t("support.candidates.details.created_at") %>
    <% row.with_value text: @candidate.created_at.to_fs(:govuk_date_and_time) + " (#{time_ago_in_words(@candidate.created_at)} ago)" %>
  <% end %>
  <% list.with_row do |row| %>
    <% row.with_key text: t("support.candidates.details.last_logged_in") %>
    <% row.with_value text: @candidate.sessions.last&.created_at&.to_fs(:govuk_date_and_time) || t("support.candidates.details.never_logged_in") %>
  <% end %>
<% end %>

<%= govuk_button_link_to(t("support.candidates.details.delete_button"), delete_support_candidate_path(@candidate), class: "govuk-button--warning") %>
