<% content_for :page_title, title_with_error_prefix(t("course_wizard.steps.design_technology_specialisms.heading"), current_step.errors.any?) %>

<h1 class="govuk-heading-l">
  <%= render CaptionText.new(text: t("course_wizard.steps.design_technology_specialisms.caption")) %>
  <%= t("course_wizard.steps.design_technology_specialisms.heading") %>
</h1>

<%= form.govuk_check_boxes_fieldset :design_technology_ids,
      legend: { hidden: true, text: t("course_wizard.steps.design_technology_specialisms.heading") },
      hint: { text: t("course_wizard.steps.design_technology_specialisms.hint") } do %>
  <% current_step.design_technologies.each_with_index do |specialism, index| %>
    <%= form.govuk_check_box :design_technology_ids,
          specialism.id.to_s,
          label: { text: specialism.subject_name },
          include_hidden: false,
          link_errors: index.zero? %>
  <% end %>
<% end %>

<%= form.govuk_submit t("course_wizard.steps.design_technology_specialisms.submit") %>
