<div>
  <span><strong><%= pluralize(site_distance, "mile") %></strong> from <strong><%= location_name %></strong></span>
</div>
<span class="govuk-hint govuk-!-font-size-16">
  <% if sites_count == 1 %>
    Nearest potential <%= school_term %> school
  <% elsif %>
    Nearest of <%= sites_count %> potential <%= school_term %> schools
  <% end %>
</span>
