<%= content_for :page_title, Find::ResultSummaryService.call(results: @results_view) %>

<%= render Find::LocationSubjectFilterComponent.new(results: @results_view) %>

<h1 class="govuk-heading-xl" data-qa="heading">
  <%= "#{@number_of_courses_string} found" %>
</h1>

<div class="app-filter-toggle"></div>

<div class="app-filter-layout">
  <div class="app-filter-layout__filter">
    <%= render Find::Results::FilterComponent.new(results: @results_view) %>
  </div>
  <div class="app-filter-layout__content">

    <div class="app-promoted-link">
      <%= govuk_link_to "Talk to teacher training providers at an event near you",
                        t("find.get_into_teaching.url_teacher_training_events") %>.
    </div>

    <%= render Find::Results::NoResultsComponent.new(results: @results_view) %>
    <%= render Find::Results::SortByComponent.new(results: @results_view) %>

    <% if @results_view.has_results? %>
      <ul class="app-search-results">
        <% @courses.each do |course| %>
          <%= render Find::Results::SearchResultComponent.new(
            course:,
            filtered_by_location: @results_view.location_filter?,
            results_view: @results_view
          ) %>
        <% end %>
      </ul>
    <% end %>

    <%= govuk_pagination(pagy: @pagy) %>
  </div>
</div>
