<% if admin_user? %>
  <% content_for :before_content do %>
    <%= govuk_back_link_to(support_providers_onboarding_form_request_path(@onboarding_request)) %>
  <% end %>
<% end %>
<!-- Notification for already submitted form (new provider users) -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if show_already_submitted_notice? %>
      <div class="govuk-inset-text govuk-inset-text--warning">
        <strong><%= t(".already_submitted") %></strong>
      </div>
    <% end %>
  </div>
</div>
<span class="govuk-caption-l"><%= t(".caption") %></span>
<h1 class="govuk-heading-l"><%= t(".heading") %></h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% can_edit = editable_by_current_user? %>
    <%= form_with model: onboarding_request,
                  url: publish_provider_onboarding_path(onboarding_request.uuid),
                  method: :patch,
                  local: true do |f| %>
      <%= f.govuk_error_summary %>
      <!-- Organisation Details -->
      <h2 class="govuk-heading-m govuk-!-margin-top-6"><%= t(".organisation_details") %></h2>
      <%= f.govuk_text_field :provider_name, label: { text: t(".organisation_name"), size: "s" }, hint: { text: t(".organisation_name_hint") }, disabled: !can_edit %>
      <%= f.govuk_text_field :ukprn,
        label: { text: t(".ukprn"), size: "s" },
        hint: {
          text: t(
            ".ukprn_hint_html",
            ukrlp_link: link_to(
              "UK register of learning providers",
              "https://www.ukrlp.co.uk",
              class: "govuk-link",
              target: "_blank",
              rel: "noopener",
            ),
          ),
        }, disabled: !can_edit %>
      <%= f.govuk_radio_buttons_fieldset :accredited_provider, legend: { text: "Are you an accredited provider?" }, id: "providers-onboarding-form-request-accredited-provider-field-error" do %>
        <%= f.govuk_radio_button :accredited_provider, true, label: { text: "Yes" }, disabled: !can_edit %>
        <%= f.govuk_radio_button :accredited_provider, false, label: { text: "No" }, disabled: !can_edit %>
      <% end %>
      <%= f.govuk_text_field :urn,
        label: { text: t(".urn"), size: "s" },
        hint: {
          text: t(
            ".urn_hint_html",
            get_information_schools_link: link_to(
              "Get information about schools",
              "https://www.get-information-schools.service.gov.uk",
              class: "govuk-link",
              target: "_blank",
              rel: "noopener",
            ),
          ),
        }, disabled: !can_edit %>
      <!-- Contact Details -->
      <h2 class="govuk-heading-m govuk-!-margin-top-6"><%= t(".contact_details") %></h2>
      <%= f.govuk_text_field :contact_email_address, label: { text: t(".contact_email_address"), size: "s" }, hint: { text: t(".contact_email_address_hint") }, disabled: !can_edit %>
      <%= f.govuk_text_field :telephone, label: { text: t(".telephone"), size: "s" }, hint: { text: t(".telephone_hint") }, disabled: !can_edit %>
      <%= f.govuk_text_field :website, label: { text: t(".website"), size: "s" }, hint: { text: t(".website_hint") }, disabled: !can_edit %>
      <%= f.govuk_text_field :address_line_1, label: { text: t(".address_line_1"), size: "s" }, hint: { text: t(".address_line_1_hint") }, disabled: !can_edit %>
      <%= f.govuk_text_field :address_line_2, label: { text: t(".address_line_2"), size: "s" }, disabled: !can_edit %>
      <%= f.govuk_text_field :address_line_3, label: { text: t(".address_line_3"), size: "s" }, disabled: !can_edit %>
      <%= f.govuk_text_field :town_or_city, label: { text: t(".town_city"), size: "s" }, disabled: !can_edit %>
      <%= f.govuk_text_field :county, label: { text: t(".county"), size: "s" }, disabled: !can_edit %>
      <%= f.govuk_text_field :postcode, label: { text: t(".postcode"), size: "s" }, disabled: !can_edit %>
      <!-- User Details -->
      <h2 class="govuk-heading-m govuk-!-margin-top-6"><%= t(".user_details") %></h2>
      <%= f.govuk_text_field :email_address, label: { text: t(".email_address"), size: "s" }, hint: { text: t(".email_address_hint") }, disabled: !can_edit %>
      <%= f.govuk_text_field :first_name, label: { text: t(".first_name"), size: "s" }, disabled: !can_edit %>
      <%= f.govuk_text_field :last_name, label: { text: t(".last_name"), size: "s" }, disabled: !can_edit %>
      <!-- Submit button will be removed for public users if form already submitted -->
      <% if can_edit %>
        <%= f.govuk_submit t(".continue") %>
      <% end %>
    <% end %>
  </div>
</div>
