<%= render PageTitle.new(title: "support.providers.schools.confirm") %>
<% content_for :before_content do %>
  <%= govuk_back_link_to(support_recruitment_cycle_provider_schools_path) %>
<% end %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l"> <span class="govuk-caption-l"><%= "#{@provider.provider_name} (#{@provider.provider_code})" %> </span>
        <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-3"><%= @site.location_name %></h1>
      </legend>
      <%= render GovukComponent::SummaryListComponent.new do |component|
            component.with_row do |row|
              row.with_key { t("support.providers.schools.location_name") }
              row.with_value(text:  @site.location_name)
              row.with_action(text: t("change"), href: edit_support_recruitment_cycle_provider_school_path(@provider.recruitment_cycle_year, @provider, @site), classes: "location_name", visually_hidden_text: t("support.providers.schools.location_name"))
            end

            component.with_row do |row|
              row.with_key { t("support.providers.schools.code") }
              row.with_value(text: @site.code)
              row.with_action(text: t("change"), href: edit_support_recruitment_cycle_provider_school_path(@provider.recruitment_cycle_year, @provider, @site), classes: "code", visually_hidden_text: t("support.providers.schools.code"))
            end

            component.with_row do |row|
              row.with_key { t("support.providers.schools.urn") }
              row.with_value(text: @site.urn)
              row.with_action(text: t("change"), href: edit_support_recruitment_cycle_provider_school_path(@provider.recruitment_cycle_year, @provider, @site), classes: "urn", visually_hidden_text: t("support.providers.schools.urn"))
            end

            component.with_row do |row|
              row.with_key { t("support.providers.schools.address") }
              row.with_value(text: @site.confirm_full_address)
              row.with_action(text: t("change"), href: edit_support_recruitment_cycle_provider_school_path(@provider.recruitment_cycle_year, @provider, @site), classes: "address", visually_hidden_text: t("support.providers.schools.address"))
            end
          end %>

          <p class="govuk-body">
            <%= govuk_link_to t("support.actions.remove_school", resource: "location"),
                support_recruitment_cycle_provider_school_path(@provider.recruitment_cycle_year, @provider, @site),
                method: :delete,
                class: "app-link--destructive" %>
          </p>
    </fieldset>
  </div>
</div>
