<%= render PageTitle.new(title: "support.providers.schools.edit") %>
<% content_for :before_content do %>
  <%= govuk_back_link_to(support_recruitment_cycle_provider_schools_path) %>
<% end %>
<h1 class="govuk-heading-l">
  <span class="govuk-caption-l"><%= "#{@provider.provider_name} (#{@provider.provider_code})" %></span>
  <%= @site.location_name_was %>
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= render partial: "form", locals: { model: @site, site: @site, form_url: support_recruitment_cycle_provider_school_path } %>

    <p class="govuk-body">
      <%= govuk_link_to(t("cancel"), support_recruitment_cycle_provider_schools_path) %>
    </p>
  </div>
</div>
