<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="section-financial-support">
    <%= salaried? ? t(".salary_and_financial_support") : t(".fees_and_financial_support") %>
  </h2>
  <% if salaried? %>
    <%= render partial: "find/courses/salary", locals: { course: @course } %>
  <% end %>
  <% if has_fees? %>
   <% if FeatureFlag.active?(:long_form_content) %>
    <%= render partial: "find/courses/v2/financial_support/fees_and_financials", locals: { course: @course } %>
   <% else %>
    <%= render Find::Courses::FeesComponent::View.new(course) %>
   <% end %>
  <% end %>
  <% if salaried? %>
    <%= render partial: "shared/courses/financial_support/salaried" %>
  <% elsif excluded_from_bursary? %>
    <%= render partial: "shared/courses/financial_support/loan" %>
  <% elsif bursary_only? %>
    <%= render Shared::Courses::FinancialSupport::BursaryComponent::View.new(course) %>
  <% elsif has_scholarship_and_bursary? %>
    <%= render Shared::Courses::FinancialSupport::ScholarshipAndBursaryComponent::View.new(course) %>
  <% else %>
    <%= render partial: "shared/courses/financial_support/loan" %>
  <% end %>
</div>
