<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="section-financial-support">Fees and financial support</h2>

  <% if has_fees? %>
    <%= render Find::Courses::FeesComponent::View.new(course) %>
  <% end %>

  <%= render Shared::AdviceComponent::View.new(title: "Financial support for UK citizens") do %>
    <% if salaried? %>
      <%= render partial: "shared/courses/financial_support/salaried" %>
    <% elsif excluded_from_bursary? %>
      <%= render partial: "shared/courses/financial_support/loan" %>
    <% elsif bursary_only? %>
      <%= render Shared::Courses::FinancialSupport::BursaryComponent::View.new(course) %>
    <% elsif has_scholarship_and_bursary? %>
      <%= render Shared::Courses::FinancialSupport::ScholarshipAndBursaryComponent::View.new(course) %>
    <% else %>
      <%= render partial: "shared/courses/financial_support/loan" %>
    <% end %>
  <% end %>

  <aside class="app-advice app-advice--non-uk">
    <h3 class="app-advice__title">
      Financial support for non-UK citizens
    </h3>
    <div class="app-advice__body">
      <% if salaried? %>
        <%= render partial: "shared/courses/financial_support/non-uk-salaried" %>
      <% else %>
        <%= render partial: "shared/courses/financial_support/non-uk-fees" %>
      <% end %>
    </div>
  </aside>


  <% if financial_support.present? %>
    <%= markdown(financial_support) %>
  <% end %>
</div>
