<%= form_with url: find_results_path, skip_enforcing_utf8: true, class: "app-filter", method: :get do |form| %>
  <div class="app-filter__header">
    <h2 class="govuk-heading-m">Filters</h2>
  </div>

  <div class="app-filter__content">
    <%= render "find/result_filters/send_filter", form: %>
    <%= render "find/result_filters/vacancy_filter", form: %>
    <%= render "find/result_filters/study_type_filter", form: %>
    <%= render "find/result_filters/qualifications_filter", form: %>
    <%= render "find/result_filters/degree_required_filter", form: %>
    <%= render "find/result_filters/visa_filter", form: %>
    <%= render "find/result_filters/salary_filter", form: %>
    <%= render "find/result_filters/hidden_fields", form: %>
    <%= form.submit "Apply filters", name: nil, class: "govuk-button govuk-!-margin-bottom-1", data: { qa: "apply-filters" } %>
  </div>
<% end %>
