<fieldset class="govuk-fieldset app-filter__group" data-qa="filters__qualifications">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Qualifications</legend>

  <div class="govuk-checkboxes govuk-checkboxes--small">
    <div class="govuk-checkboxes__item">
      <%= form.check_box(
        :qualifications,
        {
          class: "govuk-checkboxes__input",
          multiple: true,
          data: { qa: "qts_only" },
          checked: @filters_view.qts_only_checked? || @filters_view.qualification_params_nil?,
        },
        "QtsOnly",
        false,
      ) %>
      <%= form.label :qualifications, value: "QtsOnly", class: "govuk-label govuk-checkboxes__label" do %>
        QTS only
      <% end %>
    </div>

    <div class="govuk-checkboxes__item">
      <%= form.check_box(
        :qualifications,
        {
          class: "govuk-checkboxes__input",
          multiple: true,
          data: { qa: "pgde_pgce_with_qts" },
          checked: @filters_view.pgde_pgce_with_qts_checked? || @filters_view.qualification_params_nil?,
        },
        "PgdePgceWithQts",
        false,
      ) %>
      <%= form.label :qualifications, value: "PgdePgceWithQts", class: "govuk-label govuk-checkboxes__label" do %>
        PGCE (or PGDE) with QTS
      <% end %>
    </div>

    <div class="govuk-checkboxes__item">
      <%= form.check_box(
        :qualifications,
        {
          class: "govuk-checkboxes__input",
          multiple: true,
          data: { qa: "other" },
          checked: @filters_view.other_checked? || @filters_view.qualification_params_nil?,
        },
        "Other",
        false,
      ) %>
      <%= form.label :qualifications, value: "Other", class: "govuk-label govuk-checkboxes__label" do %>
        Further education (PGCE or PGDE without QTS)
      <% end %>
    </div>
  </div>
</fieldset>
