<%= govuk_header(
  homepage_url: publish_root_path,
  classes: %w[govuk-header--full-width-border app-header--wide-logo with-extra-content],
) do |header| %>

  <% header.with_product_name(name: service_name) %>

  <% if current_user.present? %>
    <div class="govuk-header__content account-options">
      <% if current_user.admin? %>
        <%= govuk_link_to(support_root_path, inverse: true, no_underline: true) { "Support console" } %>
        <%= govuk_link_to(sign_out_path, inverse: true, no_underline: true) { "Sign out" } %>
      <% else %>
        <% if current_user.associated_with_accredited_provider? %>
          <%= govuk_link_to(publish_notifications_path, inverse: true, no_underline: true) { "Notifications" } %>
        <% end %>
        <%= govuk_link_to(sign_out_path, inverse: true, no_underline: true) { "Sign out" } %>
        <%= govuk_link_to(Settings.dfe_signin.profile, inverse: true, no_underline: true) { "(#{current_user.first_name} #{current_user.last_name})" } %>
      <% end %>
    </div>
  <% end %>
<% end %>
