<%= render PageTitle::View.new(title: "support.data_exports.index") %>

<h1 class="govuk-heading-l">Data Exports</h1>

<%= render "support/menu" %>

<% @data_exports.each do |data_export| %>
  <section class="app-section app-section--with-top-border" id="<%= data_export.type %>">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m"><%= t(".#{data_export.type}.name") %></h2>
        <p class="govuk-body"><%= t(".#{data_export.type}.description") %></p>

        <%= govuk_button_to "Download CSV", download_support_recruitment_cycle_data_export_path(params[:recruitment_cycle_year], data_export.type), class: "govuk-button--secondary" %>
      </div>
    </div>
  </section>
<% end %>
