<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="training-locations"><%= t(".heading") %> </h2>
  <div data-qa="course__about_schools">
    <%= render Shared::Courses::SchoolPlacementsAdvice::View.new(course) %>

    <% if course.fee_based? %>
      <p class="govuk-body">
        You should get 120 days of classroom experience in schools. You will also spend time at a location where you will study.
      </p>
    <% else %>
      <p class="govuk-body">
        You will spend most of your time in one school which will employ you. You will also spend some time in another school and at a location where you will study.
      </p>
    <% end %>

    <%= render Find::Courses::TrainingLocations::View.new(course:, preview: preview?(params)) %>

    <% if course.published_how_school_placements_work.present? %>
      <%= markdown(course.published_how_school_placements_work) %>
    <% elsif course.how_school_placements_work.present? %>
      <%= markdown(course.how_school_placements_work) %>
    <% else %>
      <%= render CoursePreview::MissingInformationComponent.new(course:, information_type: :how_school_placements_work, is_preview: preview?(params)) %>
    <% end %>
  </div>
</div>
