<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="training-locations">Training locations</h2>
  <div data-qa="course__about_schools">
    <% if show_higher_education_guidance? %>
      <%= render Find::Utility::AdviceComponent::View.new(title: "Where you will train") do %>
        <p class="govuk-body">You’ll be placed in schools for most of your course. Your school placements will be within
          commuting distance.</p>
        <p class="govuk-body">You can’t pick which schools you want to be in, but your university will try to take your
          journey time into consideration.</p>
        <p class="govuk-body">Universities can work with over 100 potential placement schools. Most will be within 10
          miles of the university, but sometimes they can cover a wider area, especially outside of cities.</p>
      <% end %>
    <% elsif show_scitt_guidance? %>
      <%= render Find::Utility::AdviceComponent::View.new(title: "Where you will train") do %>
        <p class="govuk-body">You’ll be placed in different schools during your training. You can’t pick which schools you want to be in, but your training provider will place you in schools you can travel to.</p>
      <% end %>
    <% end %>

    <% if course.published_how_school_placements_work.present? %>
      <%= markdown(course.published_how_school_placements_work) %>
    <% elsif course.how_school_placements_work.present? %>
      <%= markdown(course.how_school_placements_work) %>
    <% else %>
      <%= render CoursePreview::MissingInformationComponent.new(course:, information_type: :how_school_placements_work, is_preview: preview?(params)) %>
    <% end %>

    <% if course.study_sites.any? %>
      <h3 class="govuk-heading-m">
        Study sites
      </h3>

      <p class="govuk-body">
        The theoretical learning part of your course will be at the following location.
      </p>

      <ul class="govuk-list govuk-list--spaced" id="course_study_sites">
        <% course.study_sites.each do |study_site| %>
          <li>
            <strong><%= smart_quotes(study_site.location_name) %></strong>
            <br>
            <%= smart_quotes(study_site.decorate.full_address) %>
          </li>
      <% end %>
      </ul>
    <% end %>

    <% if course.site_statuses.map(&:site).uniq.many? %>
      <h3 class="govuk-heading-m">
        School placements
      </h3>

      <p class="govuk-body">
        We work with the following schools to provide your school placements.
      </p>

      <ul class="govuk-list govuk-list--spaced" id="course_school_placements">
        <% course.preview_site_statuses.each do |site_status| %>
          <li>
            <strong><%= smart_quotes(site_status.site.location_name) %></strong>
            <br>
            <%= smart_quotes(site_status.site.decorate.full_address) %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
