<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="training-locations"><%= t(".heading") %> </h2>
  <div data-qa="course__about_schools">
    <% if show_higher_education_guidance? %>
      <%= render Shared::AdviceComponent::View.new(title: "Where you will train") do %>
        <p class="govuk-body">You’ll be placed in schools for most of your course. Your school placements will be within
          commuting distance.</p>
        <p class="govuk-body">You can’t pick which schools you want to be in, but your university will try to take your
          journey time into consideration.</p>
        <p class="govuk-body">Universities can work with over 100 potential placement schools. Most will be within 10
          miles of the university, but sometimes they can cover a wider area, especially outside of cities.</p>
      <% end %>
    <% elsif show_scitt_guidance? %>
      <%= render Shared::AdviceComponent::View.new(title: "Where you will train") do %>
        <p class="govuk-body">You’ll be placed in different schools during your training. You can’t pick which schools you want to be in, but your training provider will place you in schools you can travel to.</p>
      <% end %>
    <% end %>

    <% if course.fee_based? %>
      <p class="govuk-body">
        You should get 120 days of classroom experience in schools. You will also spend time at a location where you will study.
      </p>
    <% else %>
      <p class="govuk-body">
        You will spend most of your time in one school which will employ you. You will also spend some time in another school and at a location where you will study.
      </p>
    <% end %>

      <%= render Find::Courses::TrainingLocations::View.new(course:, preview: preview?(params)) %>

    <% if course.published_how_school_placements_work.present? %>
      <%= markdown(course.published_how_school_placements_work) %>
    <% elsif course.how_school_placements_work.present? %>
      <%= markdown(course.how_school_placements_work) %>
    <% else %>
      <%= render CoursePreview::MissingInformationComponent.new(course:, information_type: :how_school_placements_work, is_preview: preview?(params)) %>
    <% end %>
  </div>
</div>
