<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="training-locations"><%= t(".heading") %> </h2>
  <div data-qa="course__about_schools">
    <% if show_school_placements_advice? %>
      <%= render Shared::AdviceComponent::View.new(title: t(".advice.heading"), show_caption: false) do %>
        <% if course.provider.selectable_school? %>
          <p class="govuk-body"><%= t(".advice.content.selectable_school") %></p>
        <% elsif course.salaried? %>
          <p class="govuk-body"><%= t(".advice.content.salary") %></p>
        <% elsif course.fee? %>
          <p class="govuk-body"><%= t(".advice.content.fee") %></p>
        <% end %>

        <p class="govuk-body">
          <%= govuk_link_to t(".advice.content.find_out_more_about_school_placements"), t("find.get_into_teaching.url_school_placements") %>.
        </p>
      <% end %>
    <% end %>

    <% if course.fee_based? %>
      <p class="govuk-body">
        You should get 120 days of classroom experience in schools. You will also spend time at a location where you will study.
      </p>
    <% else %>
      <p class="govuk-body">
        You will spend most of your time in one school which will employ you. You will also spend some time in another school and at a location where you will study.
      </p>
    <% end %>

    <%= render Find::Courses::TrainingLocations::View.new(course:, preview: preview?(params)) %>

    <% if course.published_how_school_placements_work.present? %>
      <%= markdown(course.published_how_school_placements_work) %>
    <% elsif course.how_school_placements_work.present? %>
      <%= markdown(course.how_school_placements_work) %>
    <% else %>
      <%= render CoursePreview::MissingInformationComponent.new(course:, information_type: :how_school_placements_work, is_preview: preview?(params)) %>
    <% end %>
  </div>
</div>
