<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="training-locations"><%= t(".heading") %> </h2>
  <div data-qa="course__about_schools">

    <% if course.fee_based? %>
      <p class="govuk-body">
        <%= t(".fee_based") %>
      </p>
    <% else %>
      <p class="govuk-body">
        <%= t(".non_fee_based") %>
      </p>
    <% end %>

    <%= render Find::Courses::TrainingLocations::View.new(course:, coordinates: @coordinates, distance_from_location: @distance_from_location, preview: preview?(params)) %>


    <% if course.published_how_school_placements_work.present? %>
      <%= markdown(course.published_how_school_placements_work) %>
    <% elsif course.how_school_placements_work.present? %>
      <%= markdown(course.how_school_placements_work) %>
    <% else %>
      <%= render CoursePreview::MissingInformationComponent.new(course:, information_type: :how_school_placements_work, is_preview: preview?(params)) %>
    <% end %>

    <%= render Shared::Courses::SchoolPlacementsAdvice::View.new(course) %>
  </div>
</div>
