<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="training-locations"><%= t(".heading") %> </h2>

  <p class="govuk-body">
    You’ll be placed in schools for most of your course to get classroom experience. You will also spend time at a location where you will study.
  </p>

  <dl class="govuk-summary-list">
    <% if course.site_statuses.map(&:site).uniq.any? %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Placement schools
        </dt>
          <dd class="govuk-summary-list__value">
            <% number_of_sites = @results_view.sites_count(course) %>
            <span class="govuk-body">
              <strong>
                <%= "#{pluralize(@results_view.site_distance(course), 'mile')}" %>
              </strong>
                from
              <strong>
                <%= @results_view.location_search %>
              </strong>
            </span>
          <p class="govuk-hint govuk-!-font-size-16">
            Nearest of <%= t(".nearest_location", count: number_of_sites) %> potential placement locations.
          </p>
          <p class="govuk-hint govuk-!-font-size-16">
            Locations can change and are not guaranteed.
          </p>
        </dd>
      </div>
    <% end %>
    <% if course.study_sites.any? %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Where you will study
        </dt>
        <dd class="govuk-summary-list__value">
          <% number_of_study_sites = @results_view.study_sites_count(course) %>
          <span class="govuk-body">
            <strong>
              <%= "#{pluralize(@results_view.study_site_distance(course), 'mile')}" %>
            </strong>
              from
            <strong>
              <%= @results_view.location_search %>
            </strong>
          </span>
          <p class="govuk-hint govuk-!-font-size-16">
            <% course.study_sites.each do |study_site| %>
              <strong><%= smart_quotes(study_site.location_name) %></strong>
              <br>
              <%= smart_quotes(study_site.decorate.full_address) %>
            <% end %>
          </p>
        </dd>
      </div>
    <% end %>
  </dl>

  <div data-qa="course__about_schools">
    <%= render Shared::AdviceComponent::View.new(title: "How school placements work") do %>
      <p class="govuk-body">
        You usually cannot choose your employing schools. The training provider will contact you and discuss your situation to help them select a location you can travel to.
      </p>
    <% end %>
  </div>

</div>
