<h1>GIAS Data</h1>

<table class="govuk-table govuk-!-margin-bottom-8">
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-width-one-third">Total Providers</th>
        <td class="govuk-table__cell govuk-!-width-one-third"><%= @providers.count %></td>
        <td class="govuk-table__cell govuk-!-width-one-third">
            <%= link_to("View Providers", gias_providers_path) %>
        </td>
    </tr>

    <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-width-one-third">Total GIAS Establishments</th>
        <td class="govuk-table__cell govuk-!-width-one-third"><%= GIASEstablishment.count %></td>
        <td class="govuk-table__cell govuk-!-width-one-third">
            <%= link_to("View GIAS Establishments", gias_establishments_path) %>
        </td>
    </tr>

    <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-width-one-third">
            Providers that match establishments using postcode</th>
        </th>
        <td class="govuk-table__cell govuk-!-width-one-third">
            <%= @providers_with_matching_establishments_by_postcode.count %>
        </td>
        <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    </tbody>
</table>


<%= link_to("Import GIAS Establishments",
            gias_import_establishments_path,
            class: "govuk-button",
            data: {
                confirm: "Perform establishments import?\n\nThis will replace all existing GIAS Establishments data.",
            }) %>
