<h1>GIAS Data</h1>
summary
<dl class="govuk-summary-list">

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
            <%= link_to "Total GIAS Establishments", gias_establishments_path %>
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-third">
            <%= @establishments.count %>
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            &nbsp; &nbsp;
            <%= link_to("that matches a provider or it's sites name",
                        gias_establishments_path(filters: { name: ["provider_or_sites"] })) %>
        </dt>
        <dd class="govuk-summary-list__value">
            <%= @establishments_that_match_any_name.count %>
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            &nbsp; &nbsp;
            &nbsp; &nbsp;
            <%= link_to("that match a provider name",
                        gias_establishments_path(filters: { name: ["provider"] })) %>
        </dt>
        <dd class="govuk-summary-list__value">
            <%= @establishments_that_match_provider_name.count %>
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            &nbsp; &nbsp;
            &nbsp; &nbsp;
            <%= link_to("that match a provider site's name",
                        gias_establishments_path(filters: { name: ["sites"] })) %>
        </dt>
        <dd class="govuk-summary-list__value">
            <%= @establishments_that_match_site_name.count %>
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            &nbsp; &nbsp;
            <%= link_to("that matches a provider or it's sites postcode",
                        gias_establishments_path(filters: { postcode: ["provider_or_sites"] })) %>
        </dt>
        <dd class="govuk-summary-list__value">
            <%= @establishments_that_match_any_postcode.count %>
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            &nbsp; &nbsp;
            &nbsp; &nbsp;
            <%= link_to("that match a provider postcode",
                        gias_establishments_path(filters: { postcode: ["provider"] })) %>
        </dt>
        <dd class="govuk-summary-list__value">
            <%= @establishments_that_match_provider_postcode.count %>
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            &nbsp; &nbsp;
            &nbsp; &nbsp;
            <%= link_to("that match a provider site's postcode",
                        gias_establishments_path(filters: { postcode: ["sites"] })) %>
        </dt>
        <dd class="govuk-summary-list__value">
            <%= @establishments_that_match_site_postcode.count %>
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
            <%= link_to "Total Providers", gias_providers_path %>
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-third">
            <%= @providers.count %>
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            &nbsp; &nbsp;
            <%= link_to("that matches an establishment by name",
                        gias_providers_path(filters: { name: ["provider_or_sites"] })) %>
        </dt>
        <dd class="govuk-summary-list__value">
            <%= @providers_with_any_name_match.count %>
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            &nbsp; &nbsp;
            &nbsp; &nbsp;
            <%= link_to("that match an establishment with only their name",
                        gias_providers_path(filters: { name: ["provider"] })) %>
        </dt>
        <dd class="govuk-summary-list__value">
            <%= @providers_that_match_by_name.count %>
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            &nbsp; &nbsp;
            &nbsp; &nbsp;
            <%= link_to("that match an establishment with one their site's name",
                        gias_providers_path(filters: { name: ["sites"] })) %>
        </dt>
        <dd class="govuk-summary-list__value">
            <%= @providers_with_sites_that_match_by_name.count %>
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            &nbsp; &nbsp;
            <%= link_to("that matches an establishment by postcode",
                        gias_providers_path(filters: { postcode: ["provider_or_sites"] })) %>
        </dt>
        <dd class="govuk-summary-list__value">
            <%= @providers_with_any_postcode_match.count %>
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            &nbsp; &nbsp;
            &nbsp; &nbsp;
            <%= link_to("that match an establishment with only their postcode",
                        gias_providers_path(filters: { postcode: ["provider"] })) %>
        </dt>
        <dd class="govuk-summary-list__value">
            <%= @providers_that_match_by_postcode.count %>
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            &nbsp; &nbsp;
            &nbsp; &nbsp;
            <%= link_to("that match an establishment with one their site's postcode",
                        gias_providers_path(filters: { postcode: ["sites"] })) %>
        </dt>
        <dd class="govuk-summary-list__value">
            <%= @providers_with_sites_that_match_by_postcode.count %>
        </dd>
    </div>
</dl>


<%= form_with(url: gias_import_establishments_path,
              builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |f| %>
    <%= f.govuk_submit("Import GIAS Establishments") %>
<% end %>
