<h1>GIAS Data</h1>
summary
<dl class="govuk-summary-list">

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
            <%= link_to "Total GIAS Establishments", gias_establishments_path %>
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-third">
            <%= @establishments.count %>
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
            <%= link_to "Total Providers", gias_providers_path %>
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-third">
            <%= @providers.count %>
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            &nbsp; &nbsp;
            <%= link_to("that matches an establishment by name",
                        gias_providers_path(filters: { name: ["provider_or_sites"] })) %>
        </dt>
        <dd class="govuk-summary-list__value">
            <%= @providers_with_any_name_match.count %>
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            &nbsp; &nbsp;
            &nbsp; &nbsp;
            <%= link_to("that match an establishment with only their name",
                        gias_providers_path(filters: { name: ["provider"] })) %>
        </dt>
        <dd class="govuk-summary-list__value">
            <%= @providers_that_match_by_name.count %>
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            &nbsp; &nbsp;
            &nbsp; &nbsp;
            <%= link_to("that match an establishment with one their site's name",
                        gias_providers_path(filters: { name: ["sites"] })) %>
        </dt>
        <dd class="govuk-summary-list__value">
            <%= @providers_with_sites_that_match_by_name.count %>
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            &nbsp; &nbsp;
            <%= link_to("that matches an establishment by postcode",
                        gias_providers_path(filters: { postcode: ["provider_or_sites"] })) %>
        </dt>
        <dd class="govuk-summary-list__value">
            <%= @providers_with_any_postcode_match.count %>
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            &nbsp; &nbsp;
            &nbsp; &nbsp;
            <%= link_to("that match an establishment with only their postcode",
                        gias_providers_path(filters: { postcode: ["provider"] })) %>
        </dt>
        <dd class="govuk-summary-list__value">
            <%= @providers_that_match_by_postcode.count %>
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            &nbsp; &nbsp;
            &nbsp; &nbsp;
            <%= link_to("that match an establishment with one their site's postcode",
                        gias_providers_path(filters: { postcode: ["sites"] })) %>
        </dt>
        <dd class="govuk-summary-list__value">
            <%= @providers_with_sites_that_match_by_postcode.count %>
        </dd>
    </div>
</dl>


<%= link_to("Import GIAS Establishments",
            gias_import_establishments_path,
            class: "govuk-button",
            data: {
                confirm: "Perform establishments import?\n\nThis will replace all existing GIAS Establishments data.",
            }) %>
