<% page_title = "Check your information before sending your request" %>
<% content_for :page_title, page_title %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(
    publish_provider_recruitment_cycle_allocation_get_edit_initial_request_path(
      provider.provider_code,
      recruitment_cycle.year,
      training_provider.provider_code,
      number_of_places: params[:number_of_places],
      request_type: params[:request_type],
      next_step: "number_of_places",
      id: allocation.id,
    ),
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: form_object,
      url: publish_provider_recruitment_cycle_allocation_update_initial_request_path(
        provider.provider_code,
        recruitment_cycle.year,
        training_provider.provider_code,
        id: allocation.id,
      ),
      scope: "",
      skip_enforcing_utf8: true,
    ) do |f| %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= training_provider.provider_name %></span>
        <%= page_title %>
      </h1>

      <%= govuk_summary_list do |summary_list| %>
        <% summary_list.row do |row| %>
          <% row.key { "Places requested" } %>
          <% row.value { params[:number_of_places] } %>
          <% row.action(**{
            href: publish_provider_recruitment_cycle_allocation_get_edit_initial_request_path(
              provider.provider_code,
              recruitment_cycle.year,
              training_provider.provider_code,
              number_of_places: params[:number_of_places],
              request_type: params[:request_type],
              next_step: "number_of_places",
              id: allocation.id,
            ),
            visually_hidden_text: "places requested",
          }) %>
        <% end %>
      <% end %>

      <%= hidden_field_tag "number_of_places", params[:number_of_places] %>
      <%= hidden_field_tag "request_type", params[:request_type] %>
      <%= hidden_field_tag "finish_flow", "1" %>

      <%= f.govuk_submit "Send request", data: { qa: "allocations__send_request" } %>
    <% end %>
  </div>
</div>
