<% if allocations.present? %>
  <% unique_heading_id = rand(1...100) %>
  <h2 class="govuk-heading-m" id="<%= unique_heading_id %>">
    <%= section_heading.html_safe %>
  </h2>
  <table class="govuk-table" aria-describedby="<%= unique_heading_id %>" data-qa="<%= request_type %>-allocations-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-width-two-thirds" scope="col">
          Organisation
        </th>
        <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">
          Status
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
    <% allocations.each do |allocation| %>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" data-qa="provider-name" scope="row">
          <%= allocation[:training_provider_name] %>
        </th>
        <td class="govuk-table__cell">
          <%= govuk_tag(text: allocation[:status], colour: allocation[:status_colour]) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
