<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="section-entry">Entry requirements</h2>
  <h3 class="govuk-heading-m">Qualifications needed</h3>
  <div data-qa="course__required_qualifications">

    <% if course.degree_grade.nil? && course.additional_degree_subject_requirements.nil? %>
        <%= render CoursePreview::MissingInformationComponent.new(course:, information_type: :degree, is_preview: preview?(params)) %>
    <% else %>
      <p class="govuk-body"><%= degree_grade_content(course) %></p>

        <% if course.degree_subject_requirements.present? %>
          <p class="govuk-body">
            <%= helpers.markdown(course.degree_subject_requirements) %>
          </p>
      <% end %>

      <% if course.secondary_course? %>
        <% if course.engineers_teach_physics? %>
          <p class="govuk-body">
            This <%= govuk_link_to "Engineers teach physics", t("find.get_into_teaching.url_engineers_teach_physics") %> course is designed for candidates who have a background in materials science and engineering. If your degree is in physics, please apply to our physics course.
          </p>
        <% end %>
      <% end %>

      <% if subject_knowledge_enhancement_content? %>
        <p class="govuk-body">
          If you need to improve your subject knowledge, you may be asked to complete a <%= govuk_link_to "subject knowledge enhancement (SKE) course.", t("find.get_into_teaching.url_subject_knowledge_enhancement") %>
        </p>
      <% elsif primary_with_mathematics_subject? %>
        <p class="govuk-body">
          If you need to improve your primary mathematics knowledge, you may be asked to complete a
          <%= govuk_link_to "subject knowledge enhancement (SKE) course.", t("find.get_into_teaching.url_subject_knowledge_enhancement") %>
        </p>
      <% end %>
     <% end %>
    </p>

    <% if (course.accept_pending_gcse.nil? || course.accept_gcse_equivalency.nil?) %>
      <%= render CoursePreview::MissingInformationComponent.new(course:, information_type: :gcse, is_preview: preview?(params)) %>
    <% else %>

      <p class="govuk-body">
        <%= required_gcse_content(course) %>
      </p>

      <p class="govuk-body">
        <%= pending_gcse_content(course) %>
      </p>

      <p class="govuk-body">
        <%= gcse_equivalency_content(course) %>
      </p>
    <% end %>

    <% if course.additional_gcse_equivalencies.present? %>
      <p class="govuk-body">
        <%= helpers.markdown(course.additional_gcse_equivalencies) %>
      </p>
    <% end %>
  </div>

  <% if course.personal_qualities.present? %>
    <h3 class="govuk-heading-m">Personal qualities</h3>
    <div data-qa="course__personal_qualities">
      <%= helpers.markdown(course.personal_qualities) %>
    </div>
  <% end %>

  <% if course.other_requirements.present? %>
    <h3 class="govuk-heading-m">Other requirements</h3>
    <div data-qa="course__other_requirements">
      <%= helpers.markdown(course.other_requirements) %>
    </div>
  <% end %>
</div>
