<%= content_for :page_title, title_with_error_prefix(I18n.t("components.page_titles.support.providers.edit_contact"), @provider.errors.any?) %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(support_recruitment_cycle_provider_path(@provider.recruitment_cycle_year, @provider)) %>
<% end %>

<%= form_with model: @provider_contact_form, url: support_recruitment_cycle_provider_contact_details_path(@provider.recruitment_cycle_year, @provider), local: true do |f| %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= f.govuk_error_summary %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l"><%= @provider.decorate.name_was_and_code %></h1>

  <%= f.govuk_text_field :email,
  width: "two-thirds",
  label: { text: "Email address", size: "s" } %>

  <%= f.govuk_text_field :telephone,
  width: "two-thirds",
  label: { text: "Telephone number", size: "s" } %>

  <%= f.govuk_text_field :website,
  width: "two-thirds",
  label: { text: "Website", size: "s" } %>

  <%= f.govuk_fieldset legend: { text: "Address" } do %>
    <%= f.govuk_text_field :address1, label: { text: "Address line 1", size: "s" } %>

    <%= f.govuk_text_field :address2, label: { text: "Address line 2 (optional)", size: "s" } %>

    <%= f.govuk_text_field :address3, label: { text: "Address line 3 (optional)", size: "s" } %>

    <%= f.govuk_text_field :town,
    width: "two-thirds",
    label: { text: "Town or city", size: "s" } %>

    <%= f.govuk_text_field :address4,
    width: "two-thirds",
    label: { text: "County (optional)", size: "s" } %>

    <%= f.govuk_text_field :postcode, width: 10, label: { size: "s" } %>
  <% end %>
    <%= f.govuk_submit t("support.update_resource", resource: "organisation details") %>
<% end %>

    <p class="govuk-body">
      <%= govuk_link_to(t("cancel"), support_recruitment_cycle_provider_path(id: @provider.id)) %>
    </p>
  </div>
</div>
