<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Provider name</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-eighth">Provider code</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Accredited Body Name</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-eighth">Accredited Body Code</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-eighth">Number of allocations</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-eighth">Number of Uplifts</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% @allocations.each do |allocation| %>
      <tr class="govuk-table__row qa-provider_row">
        <td class="govuk-table__cell">
          <span class="govuk-!-display-block govuk-!-margin-bottom-1">
            <%= govuk_link_to allocation.provider.provider_name, support_allocation_path(allocation.id) %>
          </span>
        </td>

        <td class="govuk-table__cell">
          <span class="govuk-!-display-block govuk-!-margin-bottom-1">
            <%= allocation.provider.provider_code %>
          </span>
        </td>

        <td class="govuk-table__cell">
          <span class="govuk-!-display-block govuk-!-margin-bottom-1">
            <%= allocation.accredited_body.provider_name %>
          </span>
        </td>

        <td class="govuk-table__cell">
          <span class="govuk-!-display-block govuk-!-margin-bottom-1">
            <%= allocation.accredited_body.provider_code %>
          </span>
        </td>

        <td class="govuk-table__cell">
          <span class="govuk-!-display-block govuk-!-margin-bottom-1">
            <%= allocation.confirmed_number_of_places %>
          </span>
        </td>

        <td class="govuk-table__cell">
          <span class="govuk-!-display-block govuk-!-margin-bottom-1">
            <%= allocation.allocation_uplift&.uplifts.to_i %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
