<%= render PageTitle::View.new(title: "support.allocations.show") %>

<%= content_for(:breadcrumbs) do %>
    <%= render GovukComponent::BackLinkComponent.new(
      text: "All Allocation records",
      href: support_allocations_path,
    ) %>
<% end %>

<h1 class="govuk-heading-l">Allocations for <%= @allocation.provider.provider_name %></h1>

<%= render GovukComponent::SummaryListComponent.new do |component|
      component.row do |row|
        row.key { "Provider Name" }
        row.value { @allocation.provider.provider_name }
        row.action
      end

      component.row do |row|
        row.key { "Provider Code" }
        row.value { @allocation.provider.provider_code }
        row.action
      end

      component.row do |row|
        row.key { "Accredited Body Name" }
        row.value { @allocation.accredited_body.provider_name }
        row.action
      end

      component.row do |row|
        row.key { "Accredited Body Code" }
        row.value { @allocation.accredited_body.provider_code }
        row.action
      end

      component.row do |row|
        row.key { "Allocations" }
        row.value { @allocation.confirmed_number_of_places.to_s }
        row.action
      end

      component.row do |row|
        row.key { "Allocation Uplifts" }
        row.value { @allocation.allocation_uplift&.uplifts.to_i.to_s }
        if @allocation.allocation_uplift.nil?
          row.action(text: "Change", href: new_support_allocation_uplift_path(allocation_id: @allocation.id))
        else
          row.action(text: "Change", href: edit_support_allocation_uplift_path(allocation_id: @allocation.id, id: @allocation.allocation_uplift&.id))
        end
      end
    end %>
