<% page_title = "Contact details" %>
<% content_for :page_title, title_with_error_prefix(page_title, @provider_contact_form.errors.present?) %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(details_publish_provider_recruitment_cycle_path(@provider_contact_form.provider_code, @provider_contact_form.recruitment_cycle_year)) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @provider_contact_form,
      url: contact_publish_provider_recruitment_cycle_path(@provider_contact_form.provider_code, @provider_contact_form.recruitment_cycle_year),
      method: :put,
      local: true,
    ) do |f| %>

      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= @provider_contact_form.provider_name %></span>
        <%= page_title %>
      </h1>

      <%= f.govuk_text_field(:email,
        form_group: { id: "email" },
        label: { text: "Email address", size: "m" },
        autocomplete: "email",
        spellcheck: false,
        data: { qa: "email" }) %>

      <%= f.govuk_text_field(:telephone,
        form_group: { id: "telephone" },
        label: { text: "Telephone number", size: "m" },
        width: 20,
        autocomplete: "tel",
        data: { qa: "telephone" }) %>

      <%= f.govuk_text_field(:website,
        form_group: { id: "website" },
        label: { size: "m" },
        data: { qa: "website" }) %>

      <%= f.govuk_text_field(:ukprn,
        form_group: { id: "ukprn" },
        label: { size: "m" },
        width: 10,
        data: { qa: "ukprn" }) %>

      <% if @provider_contact_form.provider.provider_type == "lead_school" %>
        <%= f.govuk_text_field(:urn,
          form_group: { id: "urn" },
          label: { size: "m" },
          width: 10,
          data: { qa: "urn" }) %>
      <% end %>

      <%= f.govuk_fieldset legend: { text: "Contact address", size: "m" }, id: "address" do %>
        <%= f.govuk_text_field(:address1,
          label: -> { safe_join(["Building and street", " ", tag.span("line 1 of 2", class: "govuk-visually-hidden")]) },
          autocomplete: "address-line1",
          data: { qa: "address1" }) %>

        <%= f.govuk_text_field(:address2,
          label: { hidden: true },
          autocomplete: "address-line2",
          data: { qa: "address2" }) %>

        <%= f.govuk_text_field(:address3,
          label: { text: "Town or city" },
          width: "two-thirds",
          autocomplete: "address-level2",
          data: { qa: "address3" }) %>

        <%= f.govuk_text_field(:address4,
          label: { text: "County" },
          width: "two-thirds",
          autocomplete: "address-level1",
          data: { qa: "address4" }) %>

        <%= f.govuk_text_field(:postcode,
          width: 10,
          autocomplete: "postal-code",
          data: { qa: "postcode" }) %>
      <% end %>

      <%= f.govuk_submit "Save and publish" %>
    <% end %>
  </div>
</div>
