<% page_title = "Contact details" %>
<% content_for :page_title, title_with_error_prefix(page_title, @provider_contact_form.errors.present?) %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(details_publish_provider_recruitment_cycle_path(@provider_contact_form.provider_code, @provider_contact_form.recruitment_cycle_year)) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @provider_contact_form,
      url: contact_publish_provider_recruitment_cycle_path(@provider_contact_form.provider_code, @provider_contact_form.recruitment_cycle_year),
      method: :put,
      local: true,
    ) do |f| %>

      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= @provider_contact_form.provider_name %></span>
        Why train with us
      </h1>

      <p class="govuk-body"><%= t("publish.providers.about_course.edit.description") %></p>

      <p class="govuk-body">
        Be as <strong>specific</strong> as possible. This will help candidates work out if they want to train with you.
      </p>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            See what you wrote last cycle
          </span>
        </summary>
        <div class="govuk-details__text">
        <p class="govuk-body">
          We are a growing, multi-campus university with over 10,000 students, where we equip you with the skills and practical experience to stand out. We’re the No. 1 University in the North West and Top 10 in the UK for graduates into employment or further study within 15 months (97% of graduates – HESA 2024).    </p>
        <p class="govuk-body">
          If you’re passionate about enriching young lives through education, you’ll have the resources and expertise to become the best educator you can be. With personalised support, a tailored curriculum, and intimate classroom settings where lecturers know you by name, you’ll grow every step of the way.     </p>
          <p class="govuk-body">
            With over 100 years of teacher training experience, you’ll receive all the support you need to inspire young minds. You’ll benefit from our strong partnerships with schools across the UK, refining your skills in diverse classroom environments. Our campus and school-based programmes offer placements that fully prepare you for a teaching role upon graduation.     </p>
          <p class="govuk-body">
            Start your journey with us in Lancaster, Carlisle, or London, and take the next step toward your future as an inspiring educator.     </p>
        </div>
      </details>

       <aside data-qa="course__related_sidebar">
      <%= render(
            partial: "publish/courses/related_sidebar"
          ) %>
    </aside>

      <div data-controller="input-preview">
        <%= f.govuk_text_area(:why_train_with_us_1,
                              data: { input_preview_target: "input", action: "input-preview#updatePreview" },
                              label: { text: t("publish.providers.about_course.edit.why_train_with_you", provider_name: @provider.provider_name), size: "s" },
                              hint: { text: t("publish.providers.about_course.edit.why_train_with_you_hint"), size: "s" },
                              max_words: 100,
                              rows: 8) %>

        <%= f.govuk_text_area(:why_train_with_us_2,
                              data: { input_preview_target: "input", action: "input-preview#updatePreview" },
                              label: { text: t("publish.providers.about_course.edit.what_different_other_providers"), size: "s" },
                              hint: { text: t("publish.providers.about_course.edit.what_different_other_providers_hint_html"), size: "s" },
                              max_words: 100,
                              rows: 8) %>

        <div class="app-preview-container--heading">
          <span class="govuk-body"><strong>Preview of what candidates will see</strong></span>
        </div>
        <div class="app-preview-container">
          <p class="govuk-heading-m">Why train with us</p>
          <p class="govuk-body">
            <div class="govuk-body" data-input-preview-target="preview">
              The text you type above will show here.
            </div>
          </p>
          <!--<p class="govuk-body"><a class="govuk-link" href="#">Contact <%= @provider.provider_name %></a></p>-->

          <!-- Call out why train with us
          <div class="govuk-notification-banner app-notification-banner--git" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__content app-notification-banner__content--grey">
              <span class="govuk-heading-m">
                How to choose a course
              </span>
              <p class="govuk-body">
                Your course will vary depending on whether the training provider is a university, a school, or another organisation.
              </p>
              <p class="govuk-body">
                <a class="govuk-link govuk-link--no-visited-state" href="https://getintoteaching.education.gov.uk/train-to-be-a-teacher/how-to-choose-your-teacher-training-course">
                  Find out how to choose a course.
                </a>
              </p>
            </div>
          </div>
          END Call out -->
        </div>
      </div>

      <%= f.govuk_submit "Update why train with us" %>
    <% end %>
      <p class="govuk-body">
        <a class="govuk-link" href="#">
          Cancel
        </a>
      </p>
    </div>

  </div>
</div>
