<%= render "publish/shared/error_wrapper", error_keys: [:subjects], data_qa: "course__subjects" do %>
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading" data-qa="page-heading">
        <% if course.course_code %>
          <span class="govuk-caption-l"><%= course.name_and_code %></span>
        <% end %>

        <%= course.subject_page_title %>
      </h1>
    </legend>
    <%= render "publish/shared/error_messages", error_keys: [:subjects] %>
    <div class="govuk-form-group">
      <%= form.label :master_subject_id, course.subject_input_label, class: "govuk-label" %>
      <%= form.select :master_subject_id, options_for_select(course.selectable_subjects, course.selected_subject_ids.first), { include_blank: true }, data: { qa: "course__master_subject" }, class: "govuk-select" %>
    </div>

    <% if course.level == "secondary" %>
      <%= govuk_details(
        summary_text: "Add a second subject (optional)",
        classes: "govuk-!-margin-top-6 govuk-!-margin-bottom-0",
        html_attributes: {
          open: course.selected_subject_ids.second,
          data: {
            qa: "course__subordinate_subject_details",
          },
        },
      ) do %>
        <p class="govuk-body">Your first subject is the main one. It will appear first in the course title. It represents the bursary or scholarship available if applicable.</p>

        <div class="govuk-form-group">
          <%= form.label :subordinate_subject_id, "Second subject (optional)", class: "govuk-label" %>
          <span class="govuk-hint">For example ‘Physics’</span>
          <%= form.select :subordinate_subject_id, options_for_select(course.selectable_subjects, course.selected_subject_ids.second || nil), { include_blank: true }, data: { qa: "course__subordinate_subjects" }, class: "govuk-select" %>
        </div>
      <% end %>
    <% end %>
  </fieldset>
<% end %>
