<% content_for :page_title, title_with_error_prefix(t("course.#{@wizard.current_step.model_name.i18n_key}.heading"), @wizard.current_step.errors && @wizard.current_step.errors.any?) %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(
      publish_provider_recruitment_cycle_course_a_levels_what_a_level_is_required_path(
        @provider.provider_code,
        @provider.recruitment_cycle_year,
        @course.course_code,
      )
    ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @wizard.current_step, url:
        publish_provider_recruitment_cycle_course_a_levels_add_a_level_to_a_list_path(
          @provider.provider_code,
          @provider.recruitment_cycle_year,
          @course.course_code,
        ) do |form| %>
        <%= form.govuk_error_summary %>

        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">
            <%= @course.name_and_code %>
          </span>
          <%= t("course.#{@wizard.current_step.model_name.i18n_key}.heading") %>
        </h1>

        <dl class="govuk-summary-list">
          <% @wizard.current_step.subjects.each do |subject| %>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                <%= t("helpers.label.what_a_level_is_required.subject_options.#{subject[:subject]}") %> - <%= subject[:minimum_grade_required].to_s.size == 1 ? "Grade #{subject[:minimum_grade_required]} or above"  : subject[:minimum_grade_required] %>
              </dt>
              <dd class="govuk-summary-list__actions">
                <li class="govuk-summary-list__actions-list-item">
                  <%= govuk_link_to 'Change', '#' %>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <%= govuk_link_to 'Remove', '#' %>
                </li>
              </dd>
            </div>
          <% end %>
        </dl>

        <%= form.govuk_radio_buttons_fieldset :add_another_a_level do %>
          <%= form.govuk_radio_button :add_another_a_level, :yes, link_errors: true %>
          <%= form.govuk_radio_button :add_another_a_level, :no %>
        <% end %>

        <%= form.submit t("continue"), class: "govuk-button" %>
    <% end %>
  </div>
</div>
