<%= render PageTitle.new(title: t(".title")) %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "All provider records",
    href: support_recruitment_cycle_providers_path,
  ) %>
<% end %>

<div class="govuk-caption-l"><%= Provider.human_attribute_name(@provider.provider_type) %></div>
<h1 class="govuk-heading-l">
  <%= govuk_link_to @provider.name_and_code, publish_provider_path(@provider.provider_code), no_visited_state: true %>
</h1>

<%= render "support/providers/navigation" %>

<%= govuk_button_link_to(t(".add"), search_support_recruitment_cycle_provider_accredited_providers_path) %>

<% if @partnerships.none? %>
  <p class="govuk-body"><%= t(".no_providers", provider_name: @provider.provider_name) %>.</p>
<% else %>
  <% @partnerships.each do |partnership| %>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          <%= govuk_link_to(partnership.accredited_provider.provider_name, support_recruitment_cycle_provider_path(partnership.accredited_provider.recruitment_cycle_year, partnership.accredited_provider)) %>
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <%= govuk_link_to("Remove", delete_support_recruitment_cycle_provider_accredited_partnership_path(accredited_provider_code: partnership.accredited_provider.provider_code), class: "app-link--destructive govuk-!-font-weight-regular") %>
            <span class="govuk-visually-hidden"> (<%= partnership.accredited_provider.name_and_code %>)</span>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>
