<%= render PageTitle::View.new(title: "support.allocation_uplifts.edit") %>

<h1 class="govuk-heading-l">Allocation Uplift for <%= @allocation_uplift.provider.provider_name %></h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: [:support, @allocation_uplift], local: true do |f| %>
        
    <%= f.govuk_error_summary %>

    <%= f.govuk_text_field :uplifts, label: { text: "Allocation Uplift", size: "s" }, width: 20 %>
    <%= f.govuk_submit %>
    <% end %>

    <%= govuk_link_to(t("cancel"), support_allocation_path(@allocation_uplift)) %>
  </div>
</div>
