<%= render PageTitle::View.new(title: "support.allocation_uplifts.new") %>

<h1 class="govuk-heading-l">Create an Allocation Uplift for <%= @allocation_uplift.provider.provider_name %></h1>

<%= content_for(:breadcrumbs) do %>
    <%= render GovukComponent::BackLinkComponent.new(
      text: "Allocation record for #{@allocation_uplift.provider.provider_name}",
      href: support_recruitment_cycle_allocation_path(params[:recruitment_cycle_year], @allocation_uplift.allocation.id),
    ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: [:support_recruitment_cycle, @allocation_uplift], local: true do |f| %>

      <%= f.govuk_error_summary %>

      <%= f.govuk_text_field :uplifts, label: { text: "Allocation Uplift", size: "s" } %>
      <%= f.govuk_submit t("support.update_record") %>
    <% end %>

    <p class="govuk-body">
      <%= govuk_link_to(t("cancel"), support_recruitment_cycle_allocation_path(params[:recruitment_cycle_year], @allocation)) %>
    </p>
  </div>
</div>
