<% content_for :page_title, title_with_error_prefix(t(".title"), @study_site_search_form.errors.any?) %>
<% content_for :before_content do %>
  <%= govuk_back_link_to(publish_provider_recruitment_cycle_study_sites_path) %>
<% end %>
<div class="govuk-grid-row">
  <%= form_with(
    model: @study_site_search_form,
    url: search_publish_provider_recruitment_cycle_study_sites_path(@provider.provider_code),
    method: :post,
    html: { data: { module: "app-schools-autocomplete" } },
  ) do |f| %>
    <%= f.govuk_error_summary %>
    <div class="govuk-grid-column-two-thirds">
      <fieldset class="govuk-fieldset">
        <span class="govuk-caption-l"><%= t(".caption") %></span>
          <%= f.govuk_text_field :query,
            value: params[:query],
            label: { text: t(".title"), size: "l" },
            link_errors: true,
            form_group: { id: "school-autocomplete" } %>
        <p class="govuk-body govuk-!-margin-bottom-7">
          <%= govuk_link_to(t(".cannot_find"), new_publish_provider_recruitment_cycle_study_site_path(@provider.provider_code)) %>
        </p>
        <%= f.govuk_submit t("continue") %>
      <% end %>
      <p class="govuk-body">
        <%= govuk_link_to(t("cancel"), publish_provider_recruitment_cycle_study_sites_path) %>
      </p>
    </div>
  </div>
