<div data-controller="details-component" class="app-c-filter-panel__top">
  <div class="app-c-filter-section app-c-filter-section__summary">
    <div class="app-c-filter-panel__header">
      <button
         id="filter-and-sort"
         data-details-component-target="button"
         data-action="click->details-component#toggle"
         type="button"
         class="app-c-filter-panel__button govuk-link app-c-filter-panel__button-inner"
         aria-expanded="true"
         aria-controls="details-component-content">
        <h2 class="app-c-filter-section__summary-heading">Filter and Sort</h2>
      </button>
      <span class="govuk-hint app-results-indicator"><%= number_with_delimiter(@courses_count) %> results</span>
    </div>
  </div>

  <section aria-labelledby="filter-and-sort" data-details-component-target="content" id="details-component-content">
    <%# Hidden fields to track explicit filter selections - sticky once true %>
    <%= form.hidden_field :order_explicitly_set, form: form_id %>
    <%= form.hidden_field :radius_explicitly_set, form: form_id %>
    <%= form.hidden_field :minimum_degree_required_explicitly_set, form: form_id %>

    <%# Sort by %>
    <details class="app-c-filter-section">
      <summary class="app-c-filter-section__summary">
        <h3 class="app-c-filter-section__summary-heading">
          <%= t(".filter_title_sort_by") %>
        </h3>
        <% if form.object.explicitly_set_order? %>
          <span class="app-c-filter-section__count govuk-hint">
            1 selected
          </span>
        <% end %>
      </summary>
      <div class="app-c-filter-section__content">
        <%= form.govuk_radio_buttons_fieldset :order, legend: { text: t(".filter_title_sort_by"), hidden: true }, class: "govuk-radios--small", multiple: false do %>
          <% if params[:location].present? %>
          <%= form.govuk_radio_button :order, "distance", label: { text: t(".sort_by_labels.distance") }, form: form_id %>
          <% end %>
          <%= form.govuk_radio_button :order, "course_name_ascending", label: { text: t(".sort_by_labels.course_name_ascending") }, form: form_id %>
          <%= form.govuk_radio_button :order, "provider_name_ascending", label: { text: t(".sort_by_labels.provider_name_ascending") }, form: form_id %>
          <%= form.govuk_radio_button :order, "start_date_ascending", label: { text: t(".sort_by_labels.start_date") }, form: form_id %>
          <% if form.object.funding.blank? || form.object.funding.include?("fee") %>
            <%= form.govuk_radio_button :order, "fee_uk_ascending", label: { text: t(".sort_by_labels.fee_uk_ascending") }, form: form_id %>
            <%= form.govuk_radio_button :order, "fee_intl_ascending", label: { text: t(".sort_by_labels.fee_intl_ascending") }, form: form_id %>
          <% end %>
        <% end %>
      </div>
    </details>

    <%# Search radius %>
    <% if params[:location].present? %>
    <details class="app-c-filter-section">
      <summary class="app-c-filter-section__summary">
        <h3 class="app-c-filter-section__summary-heading">
          <span class="govuk-visually-hidden"><%= t(".filter_by") %></span>
          <%= t(".filter_title_search_radius") %>
        </h3>
        <% if form.object.explicitly_set_radius? %>
          <span class="app-c-filter-section__count govuk-hint">
            1 selected
          </span>
        <% end %>
      </summary>
      <div class="app-c-filter-section__content">
        <%= form.govuk_radio_buttons_fieldset :radius, legend: { text: t(".filter_title_search_radius"), hidden: true }, class: "govuk-radios--small", multiple: false do %>
          <%= form.govuk_radio_button :radius, "10", label: { text: t(".radius_options.miles", count: 10) }, form: form_id %>
          <%= form.govuk_radio_button :radius, "20", label: { text: t(".radius_options.miles", count: 20) }, form: form_id %>
          <%= form.govuk_radio_button :radius, "50", label: { text: t(".radius_options.miles", count: 50) }, form: form_id %>
          <%= form.govuk_radio_button :radius, "100", label: { text: t(".radius_options.miles", count: 100) }, form: form_id %>
        <% end %>
      </div>
    </details>
    <% end %>

    <%# Engineers teach physics %>
    <% if @search_courses_form.search_for_physics? %>
      <details class="app-c-filter-section">
        <summary class="app-c-filter-section__summary">
          <h3 class="app-c-filter-section__summary-heading">
            <span class="govuk-visually-hidden"><%= t(".filter_by") %></span>
            <%= t(".filter_title_engineers_physics") %>
          </h3>
        </summary>
        <div class="app-c-filter-section__content">
          <%= form.govuk_check_boxes_fieldset :engineers_teach_physics,
          multiple: false,
          legend: { text: t(".engineers_teach_physics_html"), hidden: true },
          class: "govuk-checkboxes--small",
          hidden: false do %>
            <%= form.govuk_check_box :engineers_teach_physics, "true", multiple: false, label: { text: t(".engineers_teach_physics") }, form: form_id %>
          <% end %>
        </div>
      </details>
    <% end %>

    <%# Primary %>
    <details class="app-c-filter-section">
      <summary class="app-c-filter-section__summary">
        <h3 class="app-c-filter-section__summary-heading">
          <span class="govuk-visually-hidden"><%= t(".filter_by") %></span>
          <%= t(".filter_title_primary_html") %>
        </h3>
      </summary>
      <div class="app-c-filter-section__content">
        <%= form.govuk_check_boxes_fieldset :primary_subjects,
        legend: { text: t(".primary_html"), hidden: true },
        hint: { text: t(".hint.primary"), class: "govuk-!-font-size-16", hidden: true },
        class: "govuk-checkboxes--small",
        hidden: false,
        multiple: false do %>
          <div>
            <% form.object.primary_subjects.each do |subject| %>
              <%= form.govuk_check_box :subjects,
              subject.subject_code,
              label: { text: subject.subject_name },
              form: form_id %>
            <% end %>
          </div>
        <% end %>
      </div>
    </details>

    <%# Secondary %>
    <details class="app-c-filter-section">
      <summary class="app-c-filter-section__summary">
        <h3 class="app-c-filter-section__summary-heading">
          <span class="govuk-visually-hidden"><%= t(".filter_by") %></span>
          <%= t(".filter_title_secondary_html") %>
        </h3>
      </summary>
      <div class="app-c-filter-section__content">
        <%= form.govuk_check_boxes_fieldset :secondary_subjects,
        legend: {
          text: t(".secondary_html"),
          hidden: true,
        },
        hint: {
          text: t(".hint.secondary"),
          class: "govuk-!-font-size-16",
          hidden: true,
        },
        class: "govuk-checkboxes--small",
        hidden: false,
        multiple: false do %>
          <div class="filter-search">
            <% form.object.secondary_subjects.each do |subject| %>
              <%= form.govuk_check_box :subjects,
              subject.subject_code,
              label: { text: subject.subject_name },
              form: form_id %>
            <% end %>
          </div>
        <% end %>
      </div>
    </details>

    <%# Further Education %>
    <details class="app-c-filter-section">
      <summary class="app-c-filter-section__summary">
        <h3 class="app-c-filter-section__summary-heading">
          <span class="govuk-visually-hidden"><%= t(".filter_by") %></span>
          <%= t(".filter_title_further_html") %>
        </h3>
      </summary>
      <div class="app-c-filter-section__content">
        <%= form.govuk_check_boxes_fieldset :further_education, legend: { text: t(".further_education_html"), hidden: true }, hint: { text: t(".hint.further_education"), class: "govuk-!-font-size-16", hidden: true }, class: "govuk-checkboxes--small", multiple: false do %>
          <%= form.govuk_check_box :level, "further_education", label: { text: t(".further_education") }, multiple: false, form: form_id %>
        <% end %>
      </div>
    </details>

    <%# SEND %>
    <details class="app-c-filter-section">
      <summary class="app-c-filter-section__summary">
        <h3 class="app-c-filter-section__summary-heading">
          <span class="govuk-visually-hidden"><%= t(".filter_by") %></span>
          <%= t(".filter_title_send_html") %>
        </h3>
      </summary>
      <div class="app-c-filter-section__content">
        <%= form.govuk_check_boxes_fieldset :send_courses, multiple: false, legend: { text: t(".special_education_needs_html"), hidden: true }, class: "govuk-checkboxes--small", hidden: false do %>
          <%= form.govuk_check_box :send_courses, "true", multiple: false, label: { text: t(".special_education_needs") }, form: form_id %>
        <% end %>
      </div>
    </details>

    <%# Funding %>
    <details class="app-c-filter-section">
      <summary class="app-c-filter-section__summary">
        <h3 class="app-c-filter-section__summary-heading">
          <span class="govuk-visually-hidden"><%= t(".filter_by") %></span>
          <%= t(".filter_title_fee") %>
        </h3>
      </summary>
      <div class="app-c-filter-section__content">
        <%= form.govuk_check_boxes_fieldset :funding, legend: { text: t(".funding_html"), hidden: true }, class: "govuk-checkboxes--small", multiple: false do %>
          <%= form.govuk_check_box :funding, "fee", label: { text: t(".funding_options.fee") }, include_hidden: false, form: form_id %>
          <%= form.govuk_check_box :funding, "salary", label: { text: t(".funding_options.salary") }, include_hidden: false, form: form_id %>
          <%= form.govuk_check_box :funding, "apprenticeship", label: { text: t(".funding_options.apprenticeship") }, include_hidden: false, form: form_id %>
        <% end %>
      </div>
    </details>

    <%# Study mode %>
    <details class="app-c-filter-section">
      <summary class="app-c-filter-section__summary">
        <h3 class="app-c-filter-section__summary-heading">
          <span class="govuk-visually-hidden"><%= t(".filter_by") %></span>
          <%= t(".filter_title_mode") %>
        </h3>
      </summary>
      <div class="app-c-filter-section__content">
        <%= form.govuk_check_boxes_fieldset :study_types, legend: { text: t(".study_type_html"), hidden: true }, class: "govuk-checkboxes--small", multiple: false do %>
          <%= form.govuk_check_box :study_types, "full_time", label: { text: t(".study_type_options.full_time") }, include_hidden: false, form: form_id %>
          <%= form.govuk_check_box :study_types, "part_time", label: { text: t(".study_type_options.part_time") }, include_hidden: false, form: form_id %>
        <% end %>
      </div>
    </details>

    <%# Qualification %>
    <details class="app-c-filter-section">
      <summary class="app-c-filter-section__summary">
        <h3 class="app-c-filter-section__summary-heading">
          <span class="govuk-visually-hidden"><%= t(".filter_by") %></span>
          <%= t(".filter_title_qualification") %>
        </h3>
      </summary>
      <div class="app-c-filter-section__content">
        <%= form.govuk_check_boxes_fieldset :qualifications, legend: { text: t(".qualifications_html"), hidden: true }, class: "govuk-checkboxes--small", multiple: false do %>
          <%= form.govuk_check_box :qualifications, "qts", label: { text: t(".qualification_options.qts") }, include_hidden: false, form: form_id %>
          <%= form.govuk_check_box :qualifications, "qts_with_pgce_or_pgde", label: { text: t(".qualification_options.qts_with_pgce_or_pgde") }, include_hidden: false, form: form_id %>
        <% end %>
      </div>
    </details>

    <%# Degree grade %>
    <details class="app-c-filter-section">
      <summary class="app-c-filter-section__summary">
        <h3 class="app-c-filter-section__summary-heading">
          <span class="govuk-visually-hidden"><%= t(".filter_by") %></span>
          <%= t(".filter_title_degree") %>
        </h3>
        <% if form.object.explicitly_set_minimum_degree_required? %>
          <span class="app-c-filter-section__count govuk-hint">
            1 selected
          </span>
        <% end %>
      </summary>
      <div class="app-c-filter-section__content">
        <%= form.govuk_radio_buttons_fieldset :minimum_degree_required, legend: { text: t(".minimum_degree_required_html"), hidden: true }, hint: { text: t(".hint.degree_grade"), class: "govuk-!-font-size-16", hidden: true }, class: "govuk-radios--small", multiple: false do %>
          <%= form.govuk_radio_button :minimum_degree_required, "two_one", label: { text: t(".minimum_degree_required_options.two_one") }, form: form_id %>
          <%= form.govuk_radio_button :minimum_degree_required, "two_two", label: { text: t(".minimum_degree_required_options.two_two") }, form: form_id %>
          <%= form.govuk_radio_button :minimum_degree_required, "third_class", label: { text: t(".minimum_degree_required_options.third_class") }, form: form_id %>
          <%= form.govuk_radio_button :minimum_degree_required, "pass", label: { text: t(".minimum_degree_required_options.pass") }, form: form_id %>
          <%= form.govuk_radio_button :minimum_degree_required, "no_degree_required", label: { text: t(".minimum_degree_required_options.no_degree_required") }, form: form_id %>
          <p class="govuk-body govuk-!-margin-bottom-0"><%= t(".or") %></p>
          <%= form.govuk_radio_button :minimum_degree_required, "show_all_courses", label: { text: t(".minimum_degree_required_options.show_all_courses") }, form: form_id %>
        <% end %>
      </div>
    </details>

    <%# Visa Sponsorship %>
    <details class="app-c-filter-section">
      <summary class="app-c-filter-section__summary">
        <h3 class="app-c-filter-section__summary-heading">
          <span class="govuk-visually-hidden"><%= t(".filter_by") %></span>
          <%= t(".filter_title_visa") %>
        </h3>
      </summary>
      <div class="app-c-filter-section__content">
        <%= form.govuk_check_boxes_fieldset :can_sponsor_visa,
        multiple: false,
        legend: { text: t(".can_sponsor_visa_html"), hidden: true },
        class: "govuk-checkboxes--small",
        hidden: false do %>
          <%= form.govuk_check_box :can_sponsor_visa, "true", multiple: false, label: { text: t(".can_sponsor_visa") }, form: form_id %>
        <% end %>
      </div>
    </details>

    <%# Online interviews %>
    <details class="app-c-filter-section">
      <summary class="app-c-filter-section__summary">
        <h3 class="app-c-filter-section__summary-heading">
          <span class="govuk-visually-hidden"><%= t(".filter_by") %></span>
          <%= t(".filter_title_interviews") %>
        </h3>
      </summary>
      <div class="app-c-filter-section__content">
        <%= form.govuk_check_boxes_fieldset :interview_location, multiple: false, legend: { text: t(".online_interviews_html"), hidden: true }, class: "govuk-checkboxes--small", hidden: false do %>
          <%= form.govuk_check_box :interview_location, "online", multiple: false, label: { text: t(".online_interviews") }, form: form_id %>
        <% end %>
      </div>
    </details>

    <%# Start date %>
    <details class="app-c-filter-section">
      <summary class="app-c-filter-section__summary">
        <h3 class="app-c-filter-section__summary-heading">
          <span class="govuk-visually-hidden"><%= t(".filter_by") %></span>
          <%= t(".filter_title_start_date") %>
        </h3>
      </summary>
      <div class="app-c-filter-section__content">
        <%= form.govuk_check_boxes_fieldset :start_date, legend: { text: t(".start_date_html"), hidden: true }, class: "govuk-checkboxes--small", multiple: false do %>
          <%= form.govuk_check_box :start_date, "september", label: { text: t(".start_date_options.september", recruitment_cycle_year: Find::CycleTimetable.current_year) }, include_hidden: false, form: form_id %>
          <%= form.govuk_check_box :start_date, "all_other_dates", label: { text: t(".start_date_options.all_other_dates") }, include_hidden: false, form: form_id %>
        <% end %>
      </div>
    </details>

    <%# Provider name %>
    <details class="app-c-filter-section">
      <summary class="app-c-filter-section__summary">
        <h3 class="app-c-filter-section__summary-heading">
          <span class="govuk-visually-hidden"><%= t(".filter_by") %></span>
          <%= t(".filter_title_provider") %>
        </h3>
      </summary>
      <div class="govuk-form-group" data-controller="provider-autocomplete">
        <%= render Find::AutocompleteComponent.new(
        form_field: form.govuk_select(
          :provider_code,
          dfe_autocomplete_options(form.object.providers_list, synonyms_fields: %i[code]),
          label: { text: "Provider name", class: "govuk-!-font-weight-regular" },
          form: form_id,
        ),
      ) %>
      </div>
    </details>

    <div class="app-c-filter-panel__actions app-c-filter-panel__actions--single">
      <%= form.govuk_submit t(".apply_filter"), name: "utm_medium", value: "apply_filters_bottom", form: form_id %>
    </div>
  </section>
</div>
