<% page_title = "Course information" %>
<% content_for :page_title, title_with_error_prefix("#{page_title} – #{@course.name_and_code}", @course_information_form.errors.any?) %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(publish_provider_recruitment_cycle_course_path(@provider.provider_code, @course.recruitment_cycle_year, @course.course_code)) %>
<% end %>

<% if params[:copy_from].present? %>
  <%= render partial: "publish/courses/copy_content_warning", locals: { copied_fields: @copied_fields } %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @course_information_form,
      url: about_publish_provider_recruitment_cycle_course_path(@provider.provider_code, @course.recruitment_cycle_year, @course.course_code),
      data: { qa: "enrichment-form", module: "form-check-leave" },
      method: :patch,
      local: true,
    ) do |f| %>

      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= @course.name_and_code %></span>
        <%= page_title %>
      </h1>

      <p class="govuk-body">The course summary appears at the top of the page on Find, so it's important that candidates can quickly learn why this course is different from another.</p>

      <p class="govuk-body">Tell candidates:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>where they’ll spend their time</li>
        <li>how the course is structured</li>
        <li>how they’ll be supported - for example, tutors and mentoring</li>
      </ul>

      <p class="govuk-body">Remember to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>avoid too much detail - you can use the other sections to elaborate</li>
        <li>use bullet points and paragraphs to make your content easy to read</li>
        <li>spell out acronyms the first time you use them, for example, ITT, NQT, SCITT</li>
      </ul>

      <p class="govuk-body">
        <%= govuk_link_to "View more guidance and course summary examples", course_summary_examples_path %>
      </p>

      <%= f.govuk_text_area(:about_course,
        value: @course.enrichments.last[:about_course],
        label: { text: "About this course", size: "s" },
        max_words: 400,
        rows: 20) %>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

      <h3 class="govuk-heading-m" id="interview-process">Interview process</h3>

      <p class="govuk-body">
        Include information about:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>how many interviews candidates will have</li>
        <li>who will be interviewing them</li>
        <li>any tests needed - if so, how they can prepare</li>
      </ul>

      <%= f.govuk_text_area(:interview_process,
        value: @course.enrichments.last[:interview_process],
        label: { text: "Interview process (optional)", size: "s" },
        max_words: 250,
        rows: 15) %>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

      <h3 class="govuk-heading-m" id="how-school-placements-work"><%= @course.placements_heading %></h3>

      <p class="govuk-body">
        Give candidates more information about the schools they’ll be teaching in. Tell them:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>how many placements a candidate will have</li>
        <li>how much time they’ll spend in each school</li>
        <li>if mentors are available within the schools</li>
      </ul>

      <p class="govuk-body">You could also mention:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the average distance candidates have to travel from home to school</li>
        <li>how many schools you partner with in total</li>
        <li>how placement schools are selected</li>
      </ul>

      <% if @provider.provider_type == 'university' && @provider.provider_code != 'B31' %>
        <%= govuk_details(summary_text: "See the guidance we show in this section") do %>
          <h3 class="govuk-heading-m">Where you will train</h3>
          <p class="govuk-body">You’ll be placed in schools for most of your course. Your school placements will be within commuting distance.</p>
          <p class="govuk-body">You cannot pick which schools you want to be in, but your university will try to take your journey time into consideration.</p>
          <p class="govuk-body">Universities can work with over 100 potential placement schools. Most will be within 10 miles of the university, but sometimes they can cover a wider area, especially outside of cities.</p>
        <% end %>
      <% elsif @course.program_type == 'scitt_programme' && @provider.provider_code != 'E65' %>
        <%= govuk_details(summary_text: "See the guidance we show in this section") do %>
          <h3 class="govuk-heading-m">Where you will train</h3>
          <p class="govuk-body">You’ll be placed in different schools during your training. You cannot pick which schools you want to be in, but your course will try to place you in schools you can commute to.</p>
        <% end %>
      <% end %>

      <%= f.govuk_text_area(:how_school_placements_work,
        value: @course.enrichments.last[:how_school_placements_work],
        label: { text: @course.placements_heading, size: "s" },
        max_words: 350,
        rows: 15) %>

      <%= f.govuk_submit @course.only_published? ? "Save and publish" : "Save" %>
    <% end %>
  </div>
  <aside class="govuk-grid-column-one-third" data-qa="course__related_sidebar">
    <%= render(
      partial: "publish/courses/related_sidebar",
      locals: {
        course: @course,
        page_path: about_publish_provider_recruitment_cycle_course_path(@provider.provider_code, @course.recruitment_cycle_year, @course.course_code),
      },
    ) %>
  </aside>
</div>
