<% content_for :page_title, title_with_error_prefix("Add accredited provider - #{@provider.name_and_code}", @accredited_provider_form.errors.present?) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= form_with(
        model: @accredited_provider_form,
        url: support_recruitment_cycle_provider_accredited_providers_path,
        method: :post
      ) do |f| %>

      <%= content_for(:breadcrumbs) do %>
        <%= render GovukComponent::BackLinkComponent.new(
          text: "Back",
          href: back_link_for_adding_accrediting_provider_path(param_form_key: f.object_name.to_sym, params:, recruitment_cycle_year: @recruitment_cycle.year, provider: @provider)
        ) %>
      <% end %>

      <%= f.govuk_error_summary %>

      <%= f.govuk_text_area(
        :description,
        label: { text: t(".title"), size: "l", tag: "h1" },
        hint: { text: t(".hint") },
        caption: { text: t(".caption", provider_name: @provider.provider_name, code: @provider.provider_code), size: "l" },
        max_words: 100,
        rows: 10
      ) %>

      <%= f.hidden_field :accredited_provider_id, value: accredited_provider_id %>
      <%= f.govuk_submit t("continue") %>
    <% end %>

    <p class="govuk-body">
      <%= govuk_link_to(t("cancel"), support_recruitment_cycle_provider_accredited_providers_path) %>
    </p>
  </div>
</div>
