<h2 class="govuk-heading-l" id="section-about-provider">
  <%= t(".heading", provider_name: course.provider_name) %>
</h2>

<% if FeatureFlag.active?(:long_form_content) || Current.recruitment_cycle.after_2025? %>
  <% if course.provider.about_us.present? || course.provider.provider_value_proposition.present? %>
    <div data-qa="course__about_provider">
      <%= markdown(course.provider.about_us) %>
      <%= markdown(course.provider.provider_value_proposition) %>
    </div>
  <% else %>
    <%= render CoursePreview::MissingInformationComponent.new(course:, information_type: :train_with_us, is_preview: preview?(params)) %>
  <% end %>
<% else %>
  <% if course.provider.train_with_us.present? %>
    <div data-qa="course__about_provider">
      <%= markdown(course.provider.train_with_us) %>
    </div>
  <% else %>
    <%= render CoursePreview::MissingInformationComponent.new(course:, information_type: :train_with_us, is_preview: preview?(params)) %>
  <% end %>
<% end %>
