<%= render Find::Courses::ContentsComponent::View.new(@course) %>

<%= render Find::Courses::AboutSchoolsComponent::View.new(@course, @coordinates, @distance_from_location, preview: preview?(params)) %>

<%= render Shared::Courses::FinancialSupport::FeesAndFinancialSupportComponent::View.new(@course) %>

<% if @course.published_about_course.present? %>
    <%= render partial: "find/courses/about_course", locals: { course: @course } %>
<% end %>

<% if @course.published_interview_process.present? || @course.published_interview_location.present? %>
    <%= render partial: "find/courses/interview_process", locals: { course: @course } %>
<% end %>

<% if @provider.train_with_disability.present? %>
    <h2 class="govuk-heading-m" id="section-train-with-disabilities">
    <%= t("find.courses.show.training_with_disabilities") %>
    </h2>

    <p class="govuk-body govuk-!-margin-bottom-8">
    <%= govuk_link_to(
        t("find.courses.show.training_with_disabilities_link", provider_name: @course.provider_name),
        find_training_with_disabilities_path(
        @course.provider_code,
        @course.course_code,
        ),
    ) %>
    </p>
<% end %>
