<%= content_for :page_title, "#{@course.name_and_code} with #{smart_quotes(@course.provider.provider_name)}" %>

<% case @course.course_code %>
        <% when "E026" %>
          <p class="govuk-body-s"><a class="govuk-back-link" href="/landing">Back to list of courses</a></p>
        <% when "R480" %>
          <p class="govuk-body-s"><a class="govuk-back-link" href="/landing">Back to list of courses</a></p>
        <% when "H971" %>
          <p class="govuk-body-s"><a class="govuk-back-link" href="/landing">Back to list of courses</a></p>
        <% when "36P4" %>
          <p class="govuk-body-s"><a class="govuk-back-link" href="/landing">Back to list of courses</a></p>
        <% when "Y404" %>
          <p class="govuk-body-s"><a class="govuk-back-link" href="/landing">Back to list of courses</a></p>
        <% else %>
          <% if permitted_referrer? %>
            <%= content_for(:before_content) do %>
              <%= govuk_back_link(
                text: t("find.courses.show.back_to_search"),
                href: find_results_path(session[:search_params]),
                html_attributes: {
                  data: { qa: "page-back" }
                }
              ) %>
            <% end %>
          <% end %>
        <% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl" data-qa="course__provider_name">
        <%= smart_quotes(@course.provider.provider_name) %>
      </span>
      <%= @course.name_and_code %>
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @course.application_status_closed? %>
      <%= render partial: "find/courses/course_closed" %>
    <% end %>

    <% if @course.application_status_open? || !Find::CycleTimetable.mid_cycle? %>
      <div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="<%= FeatureFlag.active?(:candidate_accounts) ? "govuk-grid-column-one-third-from-desktop" : "govuk-grid-column-one-half" %>">
          <%= render Find::Courses::ApplyComponent::View.new(
                @course,
                preview: preview?(params),
                utm_content: "apply_course_button_top",
              ) %>
        </div>

        <% if FeatureFlag.active?(:candidate_accounts) %>
          <div class="govuk-grid-column-two-thirds-from-desktop">
            <%= render "find/saved_courses/save_toggle" %>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= render Find::Courses::SummaryComponent::View.new(@course) %>

    <%= render Find::Courses::EntryRequirementsComponent::View.new(course: @course) %>

    <%= render Find::Courses::ContentsComponent::View.new(@course) %>

    <h2 class="govuk-heading-l">Why train with us</h2>

    <h2 class="govuk-heading-l">Course structure</h2>

    <h3 class="govuk-heading-m">School placements</h3>

    <h3 class="govuk-heading-m">What you will study</h3>

    <h2 class="govuk-heading-l">Mentorship and support</h2>

    <h2 class="govuk-heading-l">Assessment</h2>

    <h2 class="govuk-heading-l">Fees and financial support</h2>

    <h2 class="govuk-heading-l">Interview process</h2>

    <h2 class="govuk-heading-l">Training with disabilities</h2>

    <%= render Find::Courses::AboutSchoolsComponent::View.new(@course, @coordinates, @distance_from_location, preview: preview?(params)) %>

    <%= render Shared::Courses::FinancialSupport::FeesAndFinancialSupportComponent::View.new(@course) %>

    <% if @course.published_about_course.present? %>
      <%= render partial: "find/courses/about_course", locals: { course: @course } %>
    <% end %>

    <% if @course.published_interview_process.present? %>
      <%= render partial: "find/courses/interview_process", locals: { course: @course } %>
    <% end %>

    <% if @provider.train_with_disability.present? %>
      <h2 class="govuk-heading-m" id="section-train-with-disabilities">
        <%= t(".training_with_disabilities") %>
      </h2>

      <p class="govuk-body govuk-!-margin-bottom-8">
        <%= govuk_link_to(
          t(".training_with_disabilities_link", provider_name: @course.provider_name),
          find_training_with_disabilities_path(
            @course.provider_code,
            @course.course_code,
          ),
        ) %>
      </p>
    <% end %>

    <% if @course.teacher_degree_apprenticeship? %>
      <%= render partial: "find/courses/tda_advice" %>
    <% else %>
      <%= render partial: "find/courses/advice", locals: { course: @course } %>
    <% end %>

    <% if @course.application_status_closed? %>
      <%= render partial: "find/courses/course_closed" %>
    <% end %>

    <%= render Find::Courses::ApplyComponent::View.new(@course, preview: preview?(params), utm_content: "apply_course_button_bottom") if @course.application_status_open? || !Find::CycleTimetable.mid_cycle? %>
  </div>
</div>
