<%= content_for :page_title, "#{@course.name_and_code} with #{smart_quotes(@course.provider.provider_name)}" %>

<% if permitted_referrer? %>
  <%= content_for(:before_content) do %>
    <%= govuk_back_link(
      text: t("find.courses.show.back_to_search"),
      href: request.referer,
      html_attributes: {
        data: { qa: "page-back" }
      }
    ) %>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl" data-qa="course__provider_name">
        <%= smart_quotes(@course.provider.provider_name) %>
      </span>
      <%= @course.name_and_code %>
    </h1>
    <%= render Find::Courses::ApplyComponent::View.new(@course) if @course.application_status_open? || !Find::CycleTimetable.mid_cycle? %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render Find::Courses::SummaryComponent::View.new(@course) %>

    <% if @course.application_status_closed? %>
      <%= render partial: "find/courses/course_closed" %>
    <% end %>

    <%= render Find::Courses::EntryRequirementsComponent::View.new(course: @course) %>

     <h3 class="govuk-heading-m">
     Contents
    </h3>
    <ul class="govuk-list app-list--dash course-contents govuk-!-margin-bottom-8">
      <li><a class="govuk-link" href="#training-locations">Where you will train</a></li>
        <% if @course.salaried? %>
          <li><a class="govuk-link" href="#section-salary">Salary</a></li>
        <% end %>
      <li><a class="govuk-link" href="#section-financial-support">Fees and financial support</a></li>
        <li><a class="govuk-link" href="#section-about">About the course</a></li>
        <% if @course.published_interview_process.present? %>
          <li><a class="govuk-link" href="#section-interviews">Interview process</a></li>
        <% end %>
        <li><a class="govuk-link" href="#section-train-with-disabilities">Training with disabilities</a></li>
      <li><a class="govuk-link" href="#section-advice">Support and advice</a></li>
      <li><a class="govuk-link" href="#section-apply">Apply</a></li>
    </ul>

    <%= render Find::Courses::AboutSchoolsComponent::View.new(@course, preview: preview?(params), filters_view: @filters_view) %>

    <% if @course.salaried? %>
      <%= render partial: "find/courses/salary", locals: { course: @course } %>
    <% end %>

    <%= render Shared::Courses::FinancialSupport::FeesAndFinancialSupportComponent::View.new(@course) %>

    <% if @course.published_about_course.present? %>
      <%= render partial: "find/courses/about_course", locals: { course: @course } %>
    <% end %>

    <% if @course.published_interview_process.present? %>
      <%= render partial: "find/courses/interview_process", locals: { course: @course } %>
    <% end %>

    <% if @provider.train_with_disability.present? %>
      <h2 class="govuk-heading-m" id="section-train-with-disabilities">
        <%= t(".training_with_disabilities") %>
      </h2>

      <p class="govuk-body govuk-!-margin-bottom-8">
        <%= govuk_link_to(
          t(".training_with_disabilities_link", provider_name: @course.provider_name),
          find_training_with_disabilities_path(
            @course.provider_code,
            @course.course_code
          )
        ) %>
      </p>
    <% end %>

    <%= render partial: "find/courses/advice", locals: { course: @course } %>

    <% if @course.application_status_closed? %>
      <%= render partial: "find/courses/course_closed" %>
    <% end %>

    <%= render Find::Courses::ApplyComponent::View.new(@course) if @course.application_status_open? || !Find::CycleTimetable.mid_cycle? %>
  </div>
</div>
