<%= content_for :page_title, "#{@course.name_and_code} with #{smart_quotes(@course.provider.provider_name)}" %>

<% case @course.course_code %>
<% when "E026" %>
  <p class="govuk-body-s"><a class="govuk-back-link" href="/landing">Back to list of courses</a></p>
<% when "R480" %>
  <p class="govuk-body-s"><a class="govuk-back-link" href="/landing">Back to list of courses</a></p>
<% when "H971" %>
  <p class="govuk-body-s"><a class="govuk-back-link" href="/landing">Back to list of courses</a></p>
<% when "36P4" %>
  <p class="govuk-body-s"><a class="govuk-back-link" href="/landing">Back to list of courses</a></p>
<% when "Y404" %>
  <p class="govuk-body-s"><a class="govuk-back-link" href="/landing">Back to list of courses</a></p>
<% else %>
  <% if permitted_referrer? && course_back_link %>
    <%= content_for(:before_content) do %>
      <%= govuk_back_link(
        text: t("find.courses.show.back_to_search"),
        href: course_back_link
      ) %>
    <% end %>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl" data-qa="course__provider_name">
        <%= smart_quotes(@course.provider.provider_name) %>
      </span>
      <%= @course.name_and_code %>
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-notification-banner govuk-notification-banner--grey" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__content govuk-notification-banner__content--grey">
        <%= render Find::Courses::ApplyComponent::View.new(@course) if @course.application_status_open? || !Find::CycleTimetable.mid_cycle? %>

        <p class="govuk-body govuk-!-font-size-16">
          <% case @course.course_code %>
            <% when "E026" %>
              <%= @course.provider_name %> normally responds to applications <strong>within two weeks</strong>.
            <% when "R480" %>
              <%= @course.provider_name %> normally takes <strong>over a month</strong> to respond to applications.
            <% when "H971" %>
              <%= @course.provider_name %> normally responds to applications <strong>within a week</strong>.
            <% when "36P4" %>
              <%= @course.provider_name %> normally takes <strong>over a month</strong> to respond to applications
            <% when "Y404" %>
              <%= @course.provider_name %> normally responds to applications <strong>within three weeks</strong>.
          <% end %>
        </p>
      </div>
    </div>

    <%= render Find::Courses::SummaryComponent::View.new(@course) %>

    <% if @course.application_status_closed? %>
      <%= render partial: "find/courses/course_closed" %>
    <% end %>

    <%= render Find::Courses::EntryRequirementsComponent::View.new(course: @course) %>

    <%= render Find::Courses::ContentsComponent::View.new(@course) %>

    <%= render Find::Courses::AboutSchoolsComponent::View.new(@course, preview: preview?(params)) %>

    <%= render Shared::Courses::FinancialSupport::FeesAndFinancialSupportComponent::View.new(@course) %>

    <% if @course.published_about_course.present? %>
      <%= render partial: "find/courses/about_course", locals: { course: @course } %>
    <% end %>

    <% if @course.salaried? %>
      <%= render partial: "find/courses/salary", locals: { course: @course } %>
    <% end %>

    <% if @course.published_interview_process.present? %>
      <%= render partial: "find/courses/interview_process", locals: { course: @course } %>
    <% end %>

    <% if @provider.train_with_disability.present? %>
      <h2 class="govuk-heading-m" id="section-train-with-disabilities">
        <%= t(".training_with_disabilities") %>
      </h2>

      <p class="govuk-body govuk-!-margin-bottom-8">
        <%= govuk_link_to(
          t(".training_with_disabilities_link", provider_name: @course.provider_name),
          find_training_with_disabilities_path(
            @course.provider_code,
            @course.course_code
          )
        ) %>
      </p>
    <% end %>

    <% if @course.teacher_degree_apprenticeship? %>
      <%= render partial: "find/courses/tda_advice" %>
    <% else %>
      <%= render partial: "find/courses/advice", locals: { course: @course } %>
    <% end %>

    <% if @course.application_status_closed? %>
      <%= render partial: "find/courses/course_closed" %>
    <% end %>

    <div class="govuk-notification-banner govuk-notification-banner--grey" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__content govuk-notification-banner__content--grey">
        <%= render Find::Courses::ApplyComponent::View.new(@course) if @course.application_status_open? || !Find::CycleTimetable.mid_cycle? %>

        <p class="govuk-body govuk-!-font-size-16">
          <% case @course.course_code %>
            <% when "E026" %>
              <%= @course.provider_name %> normally responds to applications <strong>within two weeks</strong>.
            <% when "R480" %>
              <%= @course.provider_name %> normally takes <strong>over a month</strong> to respond to applications.
            <% when "H971" %>
              <%= @course.provider_name %> normally responds to applications <strong>within a week</strong>.
            <% when "36P4" %>
              <%= @course.provider_name %> normally takes <strong>over a month</strong> to respond to applications
            <% when "Y404" %>
              <%= @course.provider_name %> normally responds to applications <strong>within three weeks</strong>.
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
