<%= content_for :page_title, "#{@course.name_and_code} with #{smart_quotes(@course.provider.provider_name)}" %>

<% if permitted_referrer? && course_back_link %>
  <%= content_for(:before_content) do %>
    <%= govuk_back_link(
      text: course_back_link == find_candidate_saved_courses_path ? t("find.courses.show.back_to_saved_courses") : t("find.courses.show.back_to_search"),
      href: course_back_link,
    ) %>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl" data-qa="course__provider_name">
        <%= smart_quotes(@course.provider.provider_name) %>
      </span>
      <%= @course.name_and_code %>
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @course.application_status_closed? %>
      <%= render partial: "find/courses/course_closed" %>
    <% end %>

    <% if @course.application_status_open? || !Find::CycleTimetable.mid_cycle? %>
      <div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="<%= FeatureFlag.active?(:candidate_accounts) ? "govuk-grid-column-one-third-from-desktop" : "govuk-grid-column-one-half" %>">
          <%= render Find::Courses::ApplyComponent::View.new(
                @course,
                preview: preview?(params),
                utm_content: "apply_course_button_top",
              ) %>
        </div>

        <% if FeatureFlag.active?(:candidate_accounts) %>
          <div class="govuk-grid-column-two-thirds-from-desktop">
            <%= render "find/saved_courses/save_toggle" %>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= render Find::Courses::SummaryComponent::View.new(@course) %>

    <%= render Find::Courses::EntryRequirementsComponent::View.new(course: @course) %>

    <%= render Find::Courses::ContentsComponent::View.new(@course) %>

    <%= render Find::Courses::AboutSchoolsComponent::View.new(@course, @coordinates, @distance_from_location, preview: preview?(params)) %>

    <%= render Shared::Courses::FinancialSupport::FeesAndFinancialSupportComponent::View.new(@course) %>

    <% if @course.published_about_course.present? %>
      <%= render partial: "find/courses/about_course", locals: { course: @course } %>
    <% end %>

    <% if @course.published_interview_process.present? || @course.published_interview_location.present? %>
      <% if FeatureFlag.active?(:long_form_content) %>
        <%= render partial: "find/courses/v2/interview_process/interview_process", locals: { course: @course } %>
      <% else %>
        <%= render partial: "find/courses/interview_process", locals: { course: @course } %>
      <% end %>
    <% end %>

    <% if @provider.train_with_disability.present? %>
      <h2 class="govuk-heading-m" id="section-train-with-disabilities">
        <%= t(".training_with_disabilities") %>
      </h2>

      <p class="govuk-body govuk-!-margin-bottom-8">
        <%= govuk_link_to(
          t(".training_with_disabilities_link", provider_name: @course.provider_name),
          find_training_with_disabilities_path(
            @course.provider_code,
            @course.course_code,
          ),
        ) %>
      </p>
    <% end %>

    <% if @course.teacher_degree_apprenticeship? %>
      <%= render partial: "find/courses/tda_advice" %>
    <% else %>
      <%= render partial: "find/courses/advice", locals: { course: @course } %>
    <% end %>

    <% if @course.application_status_closed? %>
      <%= render partial: "find/courses/course_closed" %>
    <% end %>

    <%= render Find::Courses::ApplyComponent::View.new(@course, preview: preview?(params), utm_content: "apply_course_button_bottom") if @course.application_status_open? || !Find::CycleTimetable.mid_cycle? %>
  </div>
</div>
