<%= content_for :page_title, "#{@course.name_and_code} with #{smart_quotes(@course.provider.provider_name)}" %>

<% if permitted_referrer? %>
  <%= content_for(:before_content) do %>
    <%= govuk_back_link(
      text: t("find.courses.show.back_to_search"),
      href: find_results_path(session[:search_params]),
      html_attributes: {
        data: { qa: "page-back" }
      }
    ) %>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl" data-qa="course__provider_name">
        <%= smart_quotes(@course.provider.provider_name) %>
      </span>
      <%= @course.name_and_code %>
    </h1>


    <div class="govuk-notification-banner govuk-notification-banner--grey" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__content govuk-notification-banner__content--grey">
        <%= render Find::Courses::ApplyComponent::View.new(@course) if @course.application_status_open? || !Find::CycleTimetable.mid_cycle? %>

        <p class="govuk-hint govuk-body govuk-!-font-size-16">
          <%= @course.provider_name %> normally
          <% case @course.course_code %>
            <% when "E026" %>
              responds to applications within three weeks.
            <% when "R480" %>
              takes over a month to respond to applications.
            <% when "H971" %>
              responds to applications within two weeks.
            <% when "36P4" %>
              takes over a month to respond to applications
            <% when "Y404" %>
              responds to applications within a week.
        <% end %>
        </p>
      </div>
    </div>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render Find::Courses::SummaryComponent::View.new(@course) %>

    <% if @course.application_status_closed? %>
      <%= render partial: "find/courses/course_closed" %>
    <% end %>

    <%= render Find::Courses::EntryRequirementsComponent::View.new(course: @course) %>

    <h2 class="govuk-heading-l">About the provider</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Provider
          </dt>
          <dd class="govuk-summary-list__value">
            <%= govuk_link_to @course.provider_name, x_provider_url(@course) %><br>
            <span class="govuk-hint govuk-!-font-size-16">They deliver the training</span>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Accredited by
          </dt>
          <dd class="govuk-summary-list__value">
            <%= govuk_link_to @course.accrediting_provider.provider_name, x_accrediting_provider_url(@course) %><br>
            <span class="govuk-hint govuk-!-font-size-16">They oversee the quality of the training</span>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Ofsted
          </dt>
          <dd class="govuk-summary-list__value">
            <a class="govuk-link govuk-link--no-visited-state" href="#">University of Worcester Ofsted rating and reports</a>
          </dd>
        </div>

        <!-- HARD-CODED PROVIDER DATA ROWS -->

        <% case @course.course_code %>
        <% when "E026" %>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Offer rate
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">
                <strong class="govuk-tag govuk-tag--green">
                  Over 75%
                </strong>
              </p>
              <span class="govuk-hint govuk-!-font-size-16">
              The percentage of applicants to <%= @course.accrediting_provider.provider_name %> who received an offer (2022 to 2023)
              </span>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Success rate
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">
              <strong class="govuk-tag govuk-tag--green">
                  Over 90%
                </strong>
              </p>
              <span class="govuk-hint govuk-!-font-size-16">
                The percentage of trainees at <%= @course.accrediting_provider.provider_name %> who achieved Qualified Teacher Status (QTS) in 2023
              </span>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Success rate
            </dt>
            <dd class="govuk-summary-list__value">
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    No data yet - why?
                  </span>
                </summary>
                <div class="govuk-details__text">
                  We use data from 2022 to 2023 to calculate the offer rate. <%= @course.accrediting_provider.provider_name %> did not run courses that year.
                </div>
              </details>
            </dd>
          </div>

        <% when "R480" %>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Offer rate
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">
                <strong class="govuk-tag govuk-tag--green">
                  Over 75%
                </strong>
              </p>
              <span class="govuk-hint govuk-!-font-size-16">
              The percentage of applicants to <%= @course.accrediting_provider.provider_name %> who received an offer (2022 to 2023)
              </span>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Success rate
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">
              <strong class="govuk-tag govuk-tag--green">
                  Over 90%
                </strong>
              </p>
              <span class="govuk-hint govuk-!-font-size-16">
                The percentage of trainees at <%= @course.accrediting_provider.provider_name %> who achieved Qualified Teacher Status (QTS) in 2023
              </span>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Success rate
            </dt>
            <dd class="govuk-summary-list__value">
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    No data yet - why?
                  </span>
                </summary>
                <div class="govuk-details__text">
                  We use data from 2022 to 2023 to calculate the offer rate. <%= @course.accrediting_provider.provider_name %> did not run courses that year.
                </div>
              </details>
            </dd>
          </div>

          <% when "H971" %>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Offer rate
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">
                  <strong class="govuk-tag govuk-tag--green">
                    Over 75%
                  </strong>
                </p>
                <span class="govuk-hint govuk-!-font-size-16">
                The percentage of applicants to <%= @course.accrediting_provider.provider_name %> who received an offer (2022 to 2023)
                </span>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Success rate
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">
                <strong class="govuk-tag govuk-tag--green">
                    Over 10%
                  </strong>
                </p>
                <span class="govuk-hint govuk-!-font-size-16">
                  The percentage of trainees at <%= @course.accrediting_provider.provider_name %> who achieved Qualified Teacher Status (QTS) in 2023
                </span>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Success rate
              </dt>
              <dd class="govuk-summary-list__value">
                <details class="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      No data yet - why?
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    We use data from 2022 to 2023 to calculate the offer rate. <%= @course.accrediting_provider.provider_name %> did not run courses that year.
                  </div>
                </details>
              </dd>
            </div>

        <% when "36P4" %>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Offer rate
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">
                <strong class="govuk-tag govuk-tag--green">
                  Over 75%
                </strong>
              </p>
              <span class="govuk-hint govuk-!-font-size-16">
              The percentage of applicants to <%= @course.accrediting_provider.provider_name %> who received an offer (2022 to 2023)
              </span>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Success rate
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">
              <strong class="govuk-tag govuk-tag--green">
                  Over 90%
                </strong>
              </p>
              <span class="govuk-hint govuk-!-font-size-16">
                The percentage of trainees at <%= @course.accrediting_provider.provider_name %> who achieved Qualified Teacher Status (QTS) in 2023
              </span>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Success rate
            </dt>
            <dd class="govuk-summary-list__value">
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    No data yet - why?
                  </span>
                </summary>
                <div class="govuk-details__text">
                  We use data from 2022 to 2023 to calculate the offer rate. <%= @course.accrediting_provider.provider_name %> did not run courses that year.
                </div>
              </details>
            </dd>
         </div>

        <% when "Y404" %>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Offer rate
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">
                <strong class="govuk-tag govuk-tag--green">
                  Over 75%
                </strong>
              </p>
              <span class="govuk-hint govuk-!-font-size-16">
              The percentage of applicants to <%= @course.accrediting_provider.provider_name %> who received an offer (2022 to 2023)
              </span>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Success rate
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">
              <strong class="govuk-tag govuk-tag--green">
                  Over 90%
                </strong>
              </p>
              <span class="govuk-hint govuk-!-font-size-16">
                The percentage of trainees at <%= @course.accrediting_provider.provider_name %> who achieved Qualified Teacher Status (QTS) in 2023
              </span>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Success rate
            </dt>
            <dd class="govuk-summary-list__value">
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    No data yet - why?
                  </span>
                </summary>
                <div class="govuk-details__text">
                  We use data from 2022 to 2023 to calculate the offer rate. <%= @course.accrediting_provider.provider_name %> did not run courses that year.
                </div>
              </details>
            </dd>
          </div>

      <% end %>
    </dl>

     <h3 class="govuk-heading-m">
     Contents
    </h3>
    <ul class="govuk-list app-list--dash course-contents">
      <li><a class="govuk-link" href="#training-locations">Where you will train</a></li>
        <%# if @course.salaried? %>
          <!--<li><a class="govuk-link" href="#section-salary">Salary</a></li>-->
        <%# end %>
        <li>
          <% if @course.salaried? %>
            <a class="govuk-link" href="#section-financial-support">Salary and financial support</a>
          <% else %>
            <a class="govuk-link" href="#section-financial-support">Fees and financial support</a>
          <% end %>
        </li>
        <li><a class="govuk-link" href="#section-about">About the course</a></li>
        <% if @course.published_interview_process.present? %>
          <li><a class="govuk-link" href="#section-interviews">Interview process</a></li>
        <% end %>
        <li><a class="govuk-link" href="#section-train-with-disabilities">Training with disabilities</a></li>
      <li><a class="govuk-link" href="#section-advice">Support and advice</a></li>
      <li><a class="govuk-link" href="#section-apply">Apply</a></li>
    </ul>

    <%= render Find::Courses::AboutSchoolsComponent::View.new(@course, preview: preview?(params), filters_view: @filters_view) %>

    <%# if @course.salaried? %>
      <%#= render partial: "find/courses/salary", locals: { course: @course } %>
    <%# end %>

    <%= render Shared::Courses::FinancialSupport::FeesAndFinancialSupportComponent::View.new(@course) %>

    <%# if @course.published_about_course.present? %>
      <%#= render partial: "find/courses/about_course", locals: { course: @course } %>
    <%# end %>

     <%# if @course.published_interview_process.present? %>
      <%#= render partial: "find/courses/interview_process", locals: { course: @course } %>
     <%# end %>

    <% if @provider.train_with_disability.present? %>
      <h2 class="govuk-heading-m" id="section-train-with-disabilities">
        <%= t(".training_with_disabilities") %>
      </h2>

      <p class="govuk-body">
        <%= govuk_link_to(
          t(".training_with_disabilities_link", provider_name: @course.provider_name),
          find_training_with_disabilities_path(
            @course.provider_code,
            @course.course_code
          )
        ) %>
      </p>
    <% end %>


    <% if @course.application_status_closed? %>
      <%= render partial: "find/courses/course_closed" %>
    <% end %>

        <div class="govuk-notification-banner govuk-notification-banner--grey" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__content govuk-notification-banner__content--grey">
      <%= render Find::Courses::ApplyComponent::View.new(@course) if @course.application_status_open? || !Find::CycleTimetable.mid_cycle? %>
      <p class="govuk-hint govuk-body govuk-!-font-size-16">
        <%= @course.accrediting_provider.provider_name %> normally responds to applications within 10 days.
      </p>
    </div>
  </div>

  <br>
  <%= render partial: "find/courses/advice", locals: { course: @course } %>


  </div>
</div>
