<%= content_for :page_title, "#{@course.name_and_code} with #{smart_quotes(@course.provider.provider_name)}" %>

<!--BACK LINK -->
  <% case @course.course_code %>
    <% when "R480" %>
      <p class="govuk-body-s"><a class="govuk-back-link" href="/landing">Back to list of courses</a></p>
    <% when "E026" %>
      <p class="govuk-body-s"><a class="govuk-back-link" href="/landing">Back to list of courses</a></p>
    <% when "H971" %>
      <p class="govuk-body-s"><a class="govuk-back-link" href="/landing">Back to list of courses</a></p>
    <% when "36P4" %>
      <p class="govuk-body-s"><a class="govuk-back-link" href="/landing">Back to list of courses</a></p>
    <% when "Y404" %>
      <p class="govuk-body-s"><a class="govuk-back-link" href="/landing">Back to list of courses</a></p>
    <% else %>
      <% if permitted_referrer? %>
        <%= content_for(:before_content) do %>
          <%= govuk_back_link(
            text: t("find.courses.show.back_to_search"),
            href: find_results_path(session[:search_params]),
            html_attributes: {
              data: { qa: "page-back" },
            },
          ) %>
        <% end %>
      <% end %>
    <% end %>
<!-- END BACK LINK -->

<!--COURSE HEADING -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl" data-qa="course__provider_name">
        <%= smart_quotes(@course.provider.provider_name) %>
      </span>
      <%= @course.name_and_code %>
    </h1>
  </div>
</div>
<!-- END COURSE HEADING -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <!-- COURSE SUMMARY -->
  <%= render Find::Courses::SummaryComponent::View.new(@course) %>
  <!-- END COURSE SUMMARY -->

    <!-- ENTRY REQUIREMENTS -->
    <%= render Find::Courses::EntryRequirementsComponent::View.new(course: @course) %>
    <!-- END ENTRY REQUIREMENTS -->

    <!-- CONTENTS -->
    <%= render Find::Courses::ContentsComponent::View.new(@course) %>
    <!-- END CONTENTS -->

    <!-- COURSE OVERVIEW and SCHOOL PLACEMENTS -->
    <%= render Find::Courses::AboutSchoolsComponent::View.new(@course, @coordinates, @distance_from_location, preview: preview?(params)) %>
    <!-- COURSE OVERVIEW and SCHOOL PLACEMENTS -->

    <!-- WHY TRAIN WTIH US -->
    <div class="govuk-!-margin-bottom-8">
      <h2 class="govuk-heading-l" id="why-train-with-us">Why train with us</h2>

      <% case @course.course_code %>
          <% when "R480" %>
            <p class="govuk-body">
            The Science Departments across our Trust are excellent bases to begin your teaching career. This course is designed to enable you to become a successful teacher of Science, specialising in Biology.
            </p>
            <p class="govuk-body">
            Over 125 days of the course will be spent in schools working alongside highly professional and well-qualified colleagues. Specific subject knowledge training will enable you to build up strong knowledge of the Biology (and Science) curriculum for Key stage 3 and 4.
            </p>
          <% when "E026" %>
            <p class="govuk-body">
              E026 is great
            </p>
          <% when "H971" %>
            <p class="govuk-body">
              H971 is great
            </p>
          <% when "36P4" %>
            <p class="govuk-body">
              36P4 is great
            </p>
          <% when "Y404" %>
            <p class="govuk-body">
              Y404 is great
            </p>
          <% end %>
        </div>
    <!-- END WHY TRAIN WTIH US -->

  <div class="govuk-!-margin-bottom-8">

  <!-- INTERVIEW PROCESS -->
    <% if @course.published_interview_process.present? %>
      <%= render partial: "find/courses/interview_process", locals: { course: @course } %>
    <% end %>
    <!-- END INTERVIEW PROCESS -->

    <!-- FEES -->
    <%= render Shared::Courses::FinancialSupport::FeesAndFinancialSupportComponent::View.new(@course) %>
    <!-- END FEES -->

    <!-- TRAINING WITH DISABILITIES -->
    <% if @provider.train_with_disability.present? %>
      <h2 class="govuk-heading-l" id="section-train-with-disabilities">
        <%= t(".training_with_disabilities") %>
      </h2>
      <p class="govuk-body govuk-!-margin-bottom-8">
        <%= govuk_link_to(
          t(".training_with_disabilities_link", provider_name: @course.provider_name),
          find_training_with_disabilities_path(
            @course.provider_code,
            @course.course_code,
          ),
        ) %>
      </p>
    <% end %>
    <!-- END TRAINING WITH DISABILITIES -->

    <% if @course.application_status_closed? %>
      <%= render partial: "find/courses/course_closed" %>
    <% end %>
    <%= render Find::Courses::ApplyComponent::View.new(@course, utm_content: "apply_course_button_bottom") if @course.application_status_open? || !Find::CycleTimetable.mid_cycle? %>
    <!-- END APPLY BUTTON -->

    <br><br>

    <!-- SUPPORT CALLOUT -->
    <% if @course.teacher_degree_apprenticeship? %>
      <%= render partial: "find/courses/tda_advice" %>
    <% else %>
      <%= render partial: "find/courses/advice", locals: { course: @course } %>
    <% end %>
    <!-- END SUPPORT CALLOUT -->

  </div>
</div>
