<% provider = Provider.first %>
<% course = Course.find_by(course_code: "C605").decorate %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(url = find_path, body = t("find.courses.show.back_to_search")) %>
<% end %>

<h1 class="govuk-heading-xl">
    <span class="govuk-heading-l govuk-!-margin-bottom-0" data-qa="course__provider_name">
      <%= provider.provider_name %>
    </span>
  <%= course.name_and_code %>
</h1>

<p class="govuk-body-l" data-qa='course__description'><%= course.description %></p>

<%= render FindInterface::Courses::SummaryComponent::View.new(course) %>
