<%= content_for :page_title, "#{@course.name_and_code} with #{smart_quotes(@course.provider.provider_name)}" %>

<!--BACK LINK -->
  <% case @course.course_code %>
    <% when "R480" %>
      <p class="govuk-body-s"><a class="govuk-back-link" href="/landing">Back to list of courses</a></p>
    <% when "E026" %>
      <p class="govuk-body-s"><a class="govuk-back-link" href="/landing">Back to list of courses</a></p>
    <% when "H971" %>
      <p class="govuk-body-s"><a class="govuk-back-link" href="/landing">Back to list of courses</a></p>
    <% when "36P4" %>
      <p class="govuk-body-s"><a class="govuk-back-link" href="/landing">Back to list of courses</a></p>
    <% when "Y404" %>
      <p class="govuk-body-s"><a class="govuk-back-link" href="/landing">Back to list of courses</a></p>
    <% else %>
      <% if permitted_referrer? %>
        <%= content_for(:before_content) do %>
          <%= govuk_back_link(
            text: t("find.courses.show.back_to_search"),
            href: find_results_path(session[:search_params]),
            html_attributes: {
              data: { qa: "page-back" }
            }
          ) %>
        <% end %>
      <% end %>
    <% end %>
<!-- END BACK LINK -->

<!--COURSE HEADING -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl" data-qa="course__provider_name">
        <%= smart_quotes(@course.provider.provider_name) %>
      </span>
      <%= @course.name_and_code %>
    </h1>
  </div>
</div>
<!-- END COURSE HEADING -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <!-- COURSE SUMMARY -->
  <%= render Find::Courses::SummaryComponent::View.new(@course) %>
  <!-- END COURSE SUMMARY -->

    <!-- ENTRY REQUIREMENTS -->
    <%= render Find::Courses::EntryRequirementsComponent::View.new(course: @course) %>
    <!-- END ENTRY REQUIREMENTS -->

    <!-- CONTENTS -->
    <%= render Find::Courses::ContentsComponent::View.new(@course) %>
    <!-- END CONTENTS -->

    <!-- WHY TRAIN WTIH US -->
    <h2 class="govuk-heading-l" id="why-train-with-us">Why train with us</h2>

    <% case @course.course_code %>
        <% when "R480" %>
          <p class="govuk-body">
          The Science Departments across our Trust are excellent bases to begin your teaching career. This course is designed to enable you to become a successful teacher of Science, specialising in Biology.
          </p>
          <p class="govuk-body">
          Over 125 days of the course will be spent in schools working alongside highly professional and well-qualified colleagues. Specific subject knowledge training will enable you to build up strong knowledge of the Biology (and Science) curriculum for Key stage 3 and 4.
          </p>
        <% when "E026" %>
          <p class="govuk-body">
            E026 is great
          </p>
        <% when "H971" %>
          <p class="govuk-body">
            H971 is great
          </p>
        <% when "36P4" %>
          <p class="govuk-body">
            36P4 is great
          </p>
        <% when "Y404" %>
          <p class="govuk-body">
            Y404 is great
          </p>
        <% end %>
    <!-- END WHY TRAIN WTIH US -->

    <!-- COURSE OVERVIEW and SCHOOL PLACEMENTS -->
    <%= render Find::Courses::AboutSchoolsComponent::View.new(@course, @coordinates, @distance_from_location, preview: preview?(params)) %>
    <!-- COURSE OVERVIEW and SCHOOL PLACEMENTS -->

    <h2 class="govuk-heading-l" id="mentorship-and-support">Mentorship and support</h2>

    <% case @course.course_code %>
    <% when "R480" %>
      <p class="govuk-body">
        Progress is monitored by your class and professional mentor with the Lead Provider moderating you throughout the year. Trainee teacher development is supported through training, classroom experience, professional dialogue, self-reflection and weekly progress review meetings with your mentor.
      </p>
      <p class="govuk-body">
        You will review our ITT curriculum, discussing what you have learnt, how you will further explore pedagogy and what targets & actions will be set to support you applying this within your practice. Progress will be reported on at 6 key points throughout the year in the form of written reports.      </p>
      </p>
        <% when "E026" %>
        <p class="govuk-body">
          E026 is great
        </p>
      <% when "H971" %>
        <p class="govuk-body">
          H971 is great
        </p>
      <% when "36P4" %>
        <p class="govuk-body">
          36P4 is great
        </p>
      <% when "Y404" %>
        <p class="govuk-body">
          Y404 is great
        </p>
      <% end %>

    <h2 class="govuk-heading-l" id="assessment">Assessment</h2>

    <% case @course.course_code %>
    <% when "R480" %>
      <p class="govuk-body">
        Qualified Teacher Status (QTS) is awarded based on how well you have met each of the Teacher Standards. Evidence gathered to substantiate each of the standards comes from all assignments, teaching files, reflections and observations completed during your training.
      </p>
      <p class="govuk-body">
        Applicants enrolled on the PGCE programme are expected to complete three Masters Level assignments leading to a PGCE qualification and 60 Masters level credits.
      </p>
        <% when "E026" %>
        <p class="govuk-body">
          E026 is great
        </p>
      <% when "H971" %>
        <p class="govuk-body">
          H971 is great
        </p>
      <% when "36P4" %>
        <p class="govuk-body">
          36P4 is great
        </p>
      <% when "Y404" %>
        <p class="govuk-body">
          Y404 is great
        </p>
      <% end %>

    <%= render Shared::Courses::FinancialSupport::FeesAndFinancialSupportComponent::View.new(@course) %>

    <!-- INTERVIEW PROCESS -->
    <% if @course.published_interview_process.present? %>
      <%= render partial: "find/courses/interview_process", locals: { course: @course } %>
    <% end %>
    <!-- END INTERVIEW PROCESS -->

    <!-- TRAINING WITH DISABILITIES -->
    <% if @provider.train_with_disability.present? %>
      <h2 class="govuk-heading-l" id="section-train-with-disabilities">
        <%= t(".training_with_disabilities") %>
      </h2>
      <p class="govuk-body govuk-!-margin-bottom-8">
        <%= govuk_link_to(
          t(".training_with_disabilities_link", provider_name: @course.provider_name),
          find_training_with_disabilities_path(
            @course.provider_code,
            @course.course_code,
          ),
        ) %>
      </p>
    <% end %>
    <!-- END TRAINING WITH DISABILITIES -->

    <% if @course.application_status_closed? %>
      <%= render partial: "find/courses/course_closed" %>
    <% end %>
    <%= render Find::Courses::ApplyComponent::View.new(@course, utm_content: "apply_course_button_bottom") if @course.application_status_open? || !Find::CycleTimetable.mid_cycle? %>
    <!-- END APPLY BUTTON -->

    <br><br>

    <!-- SUPPORT CALLOUT -->
    <% if @course.teacher_degree_apprenticeship? %>
      <%= render partial: "find/courses/tda_advice" %>
    <% else %>
      <%= render partial: "find/courses/advice", locals: { course: @course } %>
    <% end %>
    <!-- END SUPPORT CALLOUT -->

  </div>
</div>
