<%= content_for :page_title, "#{@course.name_and_code} with #{smart_quotes(@course.provider.provider_name)}" %>

<% if permitted_referrer? %>
  <%= content_for(:before_content) do %>
    <%= govuk_back_link(
      text: t("find.courses.show.back_to_search"),
      href: request.referer,
      html_attributes: {
        data: { qa: "page-back" }
      }
    ) %>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl" data-qa="course__provider_name">
        <%= smart_quotes(@course.provider.provider_name) %>
      </span>
      <%= @course.name_and_code %>
    </h1>
  </div>
</div>

<%= render Find::Courses::SummaryComponent::View.new(@course) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @course.application_status_closed? %>
      <%= render partial: "find/courses/course_closed" %>
    <% end %>

    <%= render Find::Courses::ContentsComponent::View.new(@course) %>

    <%= render Find::Courses::EntryRequirementsComponent::View.new(course: @course) %>

    <% if @course.published_about_course.present? %>
      <%= render partial: "find/courses/about_course", locals: { course: @course } %>
    <% end %>

    <%= render Find::Courses::AboutSchoolsComponent::View.new(@course, preview: preview?(params)) %>

    <% if @course.salaried? %>
      <%= render partial: "find/courses/salary", locals: { course: @course } %>
    <% end %>

    <%= render Shared::Courses::FinancialSupport::FeesAndFinancialSupportComponent::View.new(@course) %>

    <% if @course.published_interview_process.present? %>
      <%= render partial: "find/courses/interview_process", locals: { course: @course } %>
    <% end %>

    <%= render Find::Courses::InternationalStudentsComponent::View.new(course: @course) %>

    <% if @provider.train_with_disability.present? %>
      <%= render partial: "find/courses/train_with_disabilities", locals: { course: @course } %>
    <% end %>

    <%= render partial: "find/courses/advice", locals: { course: @course } %>

    <% if @course.application_status_closed? %>
      <%= render partial: "find/courses/course_closed" %>
    <% end %>

    <%= render Find::Courses::ApplyComponent::View.new(@course) if @course.application_status_open? || !Find::CycleTimetable.mid_cycle? %>
  </div>
</div>
