<%= render PageTitle::View.new(title: "support.providers.index") %>

<h1 class="govuk-heading-l">Providers</h1>

<%= render "support/menu" %>

<%= render PaginatedFilter::View.new(filters: @filters, collection: @providers) do %>
  <%= govuk_link_to("Add provider",
        new_support_provider_path,
        class: "govuk-button govuk-!-margin-bottom-6") %>

  <%= render "list", providers: @providers %>
<% end %>
