<%= render PageTitle::View.new(title: "support.providers.index") %>

<h1 class="govuk-heading-l">Providers</h1>

<%= render "support/menu" %>

<%= govuk_link_to("Add provider",
      new_support_provider_path,
      class: "govuk-button govuk-!-margin-bottom-6") %>

<%= render PaginatedFilter::View.new(filters: @filters, collection: @providers, filter_label: t("components.filter.providers.provider_search")) do %>
  <%= render "list", providers: @providers %>
<% end %>
