<%= render PageTitle::View.new(title: "support.providers.new") %>

<%= content_for(:breadcrumbs) do %>
    <%= render GovukComponent::BackLinkComponent.new(
      text: "All Provider records",
      href: support_providers_path,
    ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: [:support, @provider], local: true do |f| %>

      <%= f.govuk_error_summary %>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">Add a new provider</h1>
        </legend>

        <%= f.govuk_text_field :provider_name, label: { text: "Name", size: "s" } %>
        <%= f.govuk_text_field :provider_code, label: { text: "Code", size: "s" } %>
        <%= f.govuk_radio_buttons_fieldset(:provider_type, legend: { text: "What is the provider type?", size: "s" }) do %>
          <%= f.govuk_radio_button :provider_type, :lead_school, label: { text: "Lead School" }, link_errors: true  do %>
            <%= f.govuk_text_field :urn,
                                  width: "one-quarter",
                                  label: { text: "What is their URN?" },
                                  autocomplete: :disabled %>
          <% end %>
          <%= f.govuk_radio_button :provider_type, :scitt, label: { text: "SCITT" }, link_errors: true %>
          <%= f.govuk_radio_button :provider_type, :university, label: { text: "University" }, link_errors: true %>
        <% end %>
        <%= f.govuk_text_field :ukprn, label: { text: "UKPRN", size: "s" } %>
        <%= f.govuk_email_field :email, label: { text: "Email address", size: "s" } %>
        <%= f.govuk_phone_field :telephone, label: { text: "Telephone number", size: "s" } %>
      </fieldset>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h2 class="govuk-fieldset__heading">Site</h2>
        </legend>
        <%= f.fields_for :sites do |site| %>
          <%= site.govuk_text_field :code, label: { text: "Site code", size: "s" } %>
          <%= site.govuk_text_field :urn, label: { text: "URN", size: "s" } %>
          <%= site.govuk_text_field :location_name, label: { text: "Name", size: "s" } %>
          <%= site.govuk_text_field :address1, label: { text: "Building address one", size: "s" } %>
          <%= site.govuk_text_field :address2, label: { text: "Building address two", size: "s" } %>
          <%= site.govuk_text_field :address3, label: { text: "Town or city", size: "s" } %>
          <%= site.govuk_text_field :address4, label: { text: "County", size: "s" } %>
          <%= site.govuk_text_field :postcode, label: { text: "Postcode", size: "s" } %>
        <% end %>
      </fieldset>

      <%= f.govuk_submit %>
    <% end %>

    <%= govuk_link_to(t("cancel"), support_providers_path) %>
  </div>
</div>
