<%= render PageTitle::View.new(title: "support.providers.new") %>

<%= content_for(:breadcrumbs) do %>
    <%= render GovukComponent::BackLinkComponent.new(
      text: "All Provider records",
      href: support_recruitment_cycle_providers_path,
    ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: [:support_recruitment_cycle, @provider], local: true do |f| %>

      <% if @provider.errors.size > 0 %>
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
            <% @provider_errors = %i[
                provider_name
                provider_code
                provider_type
                urn
                ukprn
                email
                telephone
              ] %>
            <% @provider_errors.each do |provider_error| %>
              <% if @provider.errors.attribute_names.any? { |s| s[/^#{Regexp.quote(provider_error.to_s)}$/] } %>
                <li>
                  <%= link_to @provider.errors[provider_error][0], support_recruitment_cycle_providers_path(anchor: "provider-#{provider_error.to_s.gsub('_', '-')}-field-error") %>
                </li>
              <% end %>
            <% end %>

            <% if @provider.errors.key?('organisations.name') %>
              <li>
                <a data-turbo="false" href="#provider-organisations-attributes-0-name-field-error"><%= @provider.errors["organisations.name"][0] %></a>
              </li>
            <% end %>

            <% @site_errors = %i[
              "sites.code"
              "sites.urn"
              "sites.location_name"
              "sites.address1"
              "sites.postcode"
              ] %>
            <% @site_errors.each do |site_error| %>
              <% if @provider.errors.attribute_names.any? { |s| s[site_error.to_s] } %>
                <li>
                  <%= link_to @provider.errors[site_error][0], support_providers_path(anchor: "provider-sites-attributes-0-#{site_error.to_s.split('.').pop.gsub('_', '-')}-field-error") %>
                </li>
              <% end %>
            <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">Add a new provider</h1>
        </legend>

        <%= f.govuk_text_field :provider_name, label: { text: "Provider name", size: "s" } %>
        <%= f.govuk_text_field :provider_code, label: { text: "Provider code", size: "s" } %>
        <%= f.govuk_radio_buttons_fieldset(:provider_type, legend: { text: "What is the provider type?", size: "s" }) do %>
          <%= f.govuk_radio_button :provider_type, :lead_school, label: { text: "Lead School" }, link_errors: true  do %>
            <%= f.govuk_text_field :urn,
                                  width: "one-quarter",
                                  label: { text: "What is their URN?" },
                                  autocomplete: :disabled %>
          <% end %>
          <%= f.govuk_radio_button :provider_type, :scitt, label: { text: "SCITT" }, link_errors: true %>
          <%= f.govuk_radio_button :provider_type, :university, label: { text: "University" }, link_errors: true %>
        <% end %>
        <%= f.govuk_text_field :ukprn, label: { text: "UKPRN", size: "s" } %>
        <%= f.govuk_email_field :email, label: { text: "Email address", size: "s" } %>
        <%= f.govuk_phone_field :telephone, label: { text: "Telephone number", size: "s" } %>
      </fieldset>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h2 class="govuk-fieldset__heading">Organisation</h2>
        </legend>
        <%= f.fields_for :organisations do |organisation| %>
          <%= organisation.govuk_text_field :name, label: { text: "Organisation name", size: "s" } %>
        <% end %>
      </fieldset>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h2 class="govuk-fieldset__heading">Site</h2>
        </legend>
        <%= f.fields_for :sites do |site| %>
          <%= site.govuk_text_field :code, label: { text: "Site code", size: "s" } %>
          <%= site.govuk_text_field :urn, label: { text: "URN", size: "s" } %>
          <%= site.govuk_text_field :location_name, label: { text: "Name", size: "s" } %>
          <%= site.govuk_text_field :address1, label: { text: "Building address one", size: "s" } %>
          <%= site.govuk_text_field :address2, label: { text: "Building address two", size: "s" } %>
          <%= site.govuk_text_field :address3, label: { text: "Town or city", size: "s" } %>
          <%= site.govuk_text_field :address4, label: { text: "County", size: "s" } %>
          <%= site.govuk_text_field :postcode, label: { text: "Postcode", size: "s" } %>
        <% end %>
      </fieldset>

      <%= f.govuk_submit %>
    <% end %>

    <%= govuk_link_to(t("cancel"), support_recruitment_cycle_providers_path) %>
  </div>
</div>
