
<% content_for :page_title, title_with_error_prefix(search_result_title_component.title, @accredited_provider_select_form.errors.present?) %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(publish_provider_recruitment_cycle_accredited_providers_path) %>
<% end %>

<%= form_with(
    model: @accredited_provider_select_form,
    url: search_publish_provider_recruitment_cycle_accredited_providers_path,
    method: :put
  ) do |f| %>

    <%= f.govuk_error_summary %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <%= render search_result_title_component %>

        <% unless @accredited_provider_search.providers.empty? %>
          <%= f.govuk_radio_buttons_fieldset(:provider_id, legend: { text: "Accredited provider", size: "m" }) do %>
            <% @accredited_provider_search.providers.each_with_index do |provider, index| %>
              <%= f.govuk_radio_button :provider_id, provider.id, label: { text: provider.name_and_code }, link_errors: index.zero? %>
            <% end %>
          <% end %>

          <%= f.hidden_field :query, value: query %>
          <%= f.govuk_submit t("continue") %>
        <% end %>

      <% unless @accredited_provider_search.providers.empty? %>
        <p class="govuk-body">
          <%= govuk_link_to(t("cancel"), publish_provider_recruitment_cycle_accredited_providers_path) %>
        </p>
      <% end %>
      </div>
    </div>
  <% end %>
