<%= render "publish/shared/error_wrapper", error_keys: [:funding_type], data_qa: "course__funding_type" do %>
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Is it fee paying or salaried?
      </h1>
    </legend>

    <%= render "publish/shared/error_messages", error_keys: [:funding_type] %>
    <div class="govuk-radios govuk-!-margin-top-2" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <%= form.radio_button :funding_type,
                "fee",
                class: "govuk-radios__input" %>
        <%= form.label :funding_type,
                "Fee paying (no salary)",
                value: "fee",
                class: "govuk-label govuk-radios__label",
                data: { qa: "course__funding_type_fee" } %>
      </div>

      <div class="govuk-radios__item">
        <%= form.radio_button :funding_type,
                "salary",
                class: "govuk-radios__input" %>
        <%= form.label :funding_type,
                "Salaried",
                value: "salary",
                class: "govuk-label govuk-radios__label",
                data: { qa: "course__funding_type_salary" } %>
      </div>

      <div class="govuk-radios__item">
        <%= form.radio_button :funding_type,
                "apprenticeship",
                class: "govuk-radios__input" %>
        <%= form.label :funding_type,
                "Teaching apprenticeship (with salary)",
                value: "apprenticeship",
                class: "govuk-label govuk-radios__label",
                data: { qa: "course__funding_type_apprenticeship" } %>
      </div>
    </div>
  </fieldset>
<% end %>
