<%= render PageTitle.new(title: "support.providers.edit_contact") %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(support_recruitment_cycle_provider_path(@provider.recruitment_cycle_year, @provider)) %>
<% end %>
<h1 class="govuk-heading-l"><%= @provider.provider_name_was %></h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: @provider, url: support_recruitment_cycle_providers_contact_detail_path(@provider.recruitment_cycle_year, @provider), local: true do |f| %>

      <%= f.govuk_error_summary %>

      <%= f.govuk_text_field :email,
      width: "two-thirds",
      label: { text: "Email address", size: "s" } %>

      <%= f.govuk_text_field :telephone,
      width: "two-thirds",
      label: { text: "Telephone number", size: "s" } %>

      <%= f.govuk_text_field :website,
      width: "two-thirds",
      label: { text: "Website", size: "s" } %>

      <%= f.govuk_fieldset legend: { text: "Address" } do %>
        <%= f.govuk_text_field :address1, label: { text: "Address line 1", size: "s" } %>

        <%= f.govuk_text_field :address2, label: { text: "Address line 2 (optional)", size: "s" } %>

        <%= f.govuk_text_field :address3, label: { text: "Address line 3 (optional)", size: "s" } %>

        <%= f.govuk_text_field :town,
        width: "two-thirds",
        label: { text: "Town or city", size: "s" } %>

        <%= f.govuk_text_field :address4,
        width: "two-thirds",
        label: { text: "County (optional)", size: "s" } %>

        <%= f.govuk_text_field :postcode, width: 10, label: { size: "s" } %>
      <% end %>
       <%= f.govuk_submit t("support.update_resource", resource: "organisation details") %>
    <% end %>

    <p class="govuk-body">
      <%= govuk_link_to(t("cancel"), support_recruitment_cycle_provider_path) %>
    </p>
  </div>
</div>
