<% content_for :page_title, t(".page_title") %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(support_financial_incentives_path(year: @year)) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: @financial_incentive, url: support_financial_incentive_path(@financial_incentive, year: @year), scope: :financial_incentive, local: true do |f| %>
      <%= f.govuk_error_summary %>

      <span class="govuk-caption-l"><%= @financial_incentive.subject.subject_name %></span>
      <h1 class="govuk-heading-l"><%= t(".heading", year: @year) %></h1>

      <% if @financial_incentive.displayed? %>
        <%= govuk_warning_text(text: t(".warning")) %>
      <% end %>

      <%= f.govuk_text_field :bursary_amount, label: { text: FinancialIncentive.human_attribute_name(:bursary_amount), size: "s" }, width: 10, prefix_text: "£" %>
      <%= f.govuk_text_field :scholarship, label: { text: FinancialIncentive.human_attribute_name(:scholarship), size: "s" }, width: 10, prefix_text: "£" %>
      <%= f.govuk_text_field :early_career_payments, label: { text: FinancialIncentive.human_attribute_name(:early_career_payments), size: "s" }, width: 10, prefix_text: "£" %>

      <%= f.govuk_check_boxes_fieldset :non_uk_bursary_eligible, legend: { text: t(".fields.non_uk_bursary_eligible.legend"), size: "s" }, multiple: false do %>
        <% f.govuk_check_box :non_uk_bursary_eligible, true, false, label: { text: t(".fields.non_uk_bursary_eligible.label") }, multiple: false %>
      <% end %>

      <%= f.govuk_check_boxes_fieldset :non_uk_scholarship_eligible, legend: { text: t(".fields.non_uk_scholarship_eligible.legend"), size: "s" }, multiple: false do %>
        <% f.govuk_check_box :non_uk_scholarship_eligible, true, false, label: { text: t(".fields.non_uk_scholarship_eligible.label") }, multiple: false %>
      <% end %>

      <%= f.govuk_check_boxes_fieldset :subject_knowledge_enhancement_course_available, legend: { text: t(".fields.subject_knowledge_enhancement_course_available.legend"), size: "s" }, multiple: false do %>
        <% f.govuk_check_box :subject_knowledge_enhancement_course_available, true, false, label: { text: t(".fields.subject_knowledge_enhancement_course_available.label") }, multiple: false %>
      <% end %>

      <%= f.govuk_submit t("support.update_record") %>
    <% end %>

    <p class="govuk-body">
      <%= govuk_link_to t("cancel"), support_financial_incentives_path(year: @year) %>
    </p>
  </div>
</div>
