<% content_for :page_title, title_with_error_prefix("Select the locations for this course – #{course.name_and_code}", @course_location_form.errors.present?) %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(details_publish_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code)) %>
<% end %>

<% if @course_location_form.errors.present? %>
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" data-ga-event-form="error">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      <%= @course_location_form.errors[:site_ids].first %>
    </h2>
    <div class="govuk-error-summary__body">
      <p class="govuk-body" data-error-message="Removing all locations would prevent people from applying to this course">
        Removing all locations would prevent people from applying to this course.
        If you want to close applications, you can
        <%= govuk_link_to "edit the vacancies for this course", vacancies_publish_provider_recruitment_cycle_course_path(code: course.course_code) %>.
      </p>
    </div>
  </div>
<% end %>

<h1 class="govuk-heading-l">
  <span class="govuk-caption-l"><%= course.name_and_code %></span>
  Select the locations for this course
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body govuk-body govuk-!-margin-bottom-6"><%= govuk_link_to "Manage all your locations", publish_provider_recruitment_cycle_locations_path(@provider.provider_code), data: { qa: "course__manage_provider_locations_link" } %> to add to or edit this list.</p>

    <%= form_with(
      model: @course_location_form,
      url: locations_publish_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code),
      method: :put,
      local: true,
    ) do |f| %>

      <%= f.govuk_check_boxes_fieldset :site_ids, legend: nil do %>
       <% @provider.sites.sort_by(&:location_name).each_with_index do |site, index| %>
          <%= f.govuk_check_box :site_ids,
              site.id,
              label: { text: site.location_name, size: "s" },
              hint: { text: site.full_address },
              link_errors: index.zero? %>
       <% end %>
      <% end %>

      <%= f.govuk_submit course.is_published? ? "Save and publish" : "Save" %>
    <% end %>
  </div>
</div>
