<% page_title = @school_form.site.location_name %>
<% content_for :page_title, title_with_error_prefix(page_title, @school_form.errors.any?) %>
<%= content_for :before_content, render_breadcrumbs(:edit_site) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
        <%= @site.location_name_was %>
      </h1>

    <%= form_with(
      model: @school_form,
      url: publish_provider_recruitment_cycle_school_path(@school_form.provider_code, @school_form.recruitment_cycle_year, @school_form.site.id),
      method: :patch
    ) do |f| %>

      <%= f.govuk_error_summary %>

      <%= render "form", f: %>
      <%= f.govuk_submit(@site.persisted? ? t("support.update_record") : t("support.continue")) %>
    <% end %>
    <p class="govuk-body">
      <%= govuk_link_to(t("cancel"), publish_provider_recruitment_cycle_schools_path) %>
    </p>
  </div>
</div>
