<% content_for :page_title, t(".title") %>
<%= content_for :before_content, render_breadcrumbs(:sites) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          Changes to the schools in your account
        </p>
        <h3 class="govuk-heading-s">We have added 4 schools</h3>
        <p class="govuk-body">You will no longer need to manually add all your schools to your account. We automatically upload all schools you are working with.</p>
        <p class="govuk-body">These are schools that are on <a class="govuk-link" href="https://staging.register-trainee-teachers.education.gov.uk/">Register trainee teachers</a>.</p>
        <p class="govuk-body"><a class="govuk-link" href="#">View the schools that have been added to your account.</a></p>
        <h3 class="govuk-heading-s">We have removed 12 schools</h3>
        <p class="govuk-body">These are schools that are not on <a class="govuk-link" href="https://get-information-schools.service.gov.uk/Search?SelectedTab=Establishments">Get Information About Schools (GIAS)</a>.</p>
        <p class="govuk-body"><a class="govuk-link" href="#">View the schools have been removed from your account.</a></p>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= t(".title") %>
    </h1>

    <p class="govuk-body">If needed, you can add new schools to your account.</p>

    <div class="govuk-button-group">
      <%= govuk_button_link_to t(".add_school"), search_publish_provider_recruitment_cycle_schools_path(@provider.provider_code) %>
      <%= govuk_link_to("Add multiple schools", new_publish_provider_recruitment_cycle_schools_multiple_path, class: "govuk-button govuk-button--secondary govuk") %>
    </div>

    <p class="govuk-body">You can only add schools that are on <a class="govuk-link" href="https://get-information-schools.service.gov.uk/Search?SelectedTab=Establishments">Get Information About Schools (GIAS)</a>.</p>
    <p class="govuk-body">You can attach placement schools to any of your courses from the ‘Basic details’ tab on each of <a class="govuk-link" href="#">your courses</a>.</p>

    <%= render Publish::Providers::SchoolPlacements::ExplainerComponent.new %>

    <p class="govuk-body">You can choose whether to show or hide the placements from candidates in <a class="govuk-link" href="#">Organisation details</a>.</p>

    <% if @schools.any? %>
      <table class="govuk-table app-table--vertical-align-middle">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"><%= t(".name") %></th>
            <th class="govuk-table__header" scope="col"><%= t(".code") %></th>
            <% if urn_required?(@recruitment_cycle.year.to_i) %>
              <th class="govuk-table__header" scope="col">
                <abbr class="app-!-text-decoration-underline-dotted" title="<%= t(".urn_abbr") %>">
                  <%= t(".urn") %>
                </abbr>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <%= render partial: "school", collection: @schools %>
        </tbody>
      </table>
      <%= govuk_pagination(pagy: @pagy) %>
    <% end %>
  </div>
</div>
