<%= content_for :page_title, @site.location_name %>
<% content_for :before_content do %>
  <%= govuk_back_link_to(publish_provider_recruitment_cycle_schools_path) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-3"><%= @site.location_name %></h1>
      </legend>
      <%= render GovukComponent::SummaryListComponent.new do |component|
            component.with_row do |row|
              row.with_key { t(".code") }
              row.with_value(text: @site.code)
              row.with_action
            end

            component.with_row do |row|
              row.with_key { t(".urn") }
              row.with_value(text: value_provided?(@site.urn))
            end

            component.with_row do |row|
              row.with_key { t(".address") }
              row.with_value(text: simple_format(@site.address.compact_blank.join("\n"), {}, wrapper_tag: "div"))
            end
          end %>
      <p class="govuk-body">
        <%= govuk_link_to t(".remove", resource: "location"), delete_publish_provider_recruitment_cycle_school_path(@provider.provider_code, @site.recruitment_cycle.year, @site.id), class: "app-link--destructive" %>
      </p>
    </fieldset>
  </div>
</div>
