<% content_for :page_title, title_with_error_prefix("About your organisation", @errors.present?) %>
<%= content_for :before_content, render_breadcrumbs(:organisation_details) %>

<% if @errors.present? %>
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" data-ga-event-form="error">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <% @errors.each do |id, messages| %>
          <% messages.each do |message| %>
            <li data-error-message="<%= message %>">
              <a href="<%= provider_enrichment_error_url(
                provider: @provider,
                field: id,
              ) %>"><%= message %></a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<h1 class="govuk-heading-l">
  <%= t(".page_title") %>
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= govuk_summary_list do |summary_list| %>
      <% if FeatureFlag.active?(:long_form_content) || Current.recruitment_cycle.after_2025? %>
          <% enrichment_summary(
          summary_list,
          :provider,
          t(".why_train_with_us_label"),
          value_provided?(markdown(@provider.about_us) + markdown(@provider.value_proposition)),
          %w[about_us value_proposition],
          action_path: edit_publish_provider_recruitment_cycle_why_train_with_us_path(@provider.provider_code, @provider.recruitment_cycle_year),
          action_visually_hidden_text: t(".why_train_with_us_hidden_text"),
        ) %>

        <% enrichment_summary(
        summary_list,
        :provider,
        t(".training_with_disabilities_label"),
        markdown(@provider.train_with_disability),
        %w[train_with_disability],
        action_path: edit_publish_provider_recruitment_cycle_disability_support_path(@provider.provider_code, @provider.recruitment_cycle_year),
        action_visually_hidden_text: t(".training_with_disabilities_hidden_text"),
      ) %>
      <% else %>
        <% enrichment_summary(
        summary_list,
        :provider,
        "Why train with us",
        value_provided?(""),
        %w[train_with_us],
        action_path: "#{about_publish_provider_recruitment_cycle_path(@provider.provider_code, @provider.recruitment_cycle_year)}#train-with-us",
        action_visually_hidden_text: "details about training with your organisation",
      ) %>

      <% enrichment_summary(
        summary_list,
        :provider,
        "Training with disabilities",
        value_provided?(""),
        %w[train_with_disability],
        action_path: "#{about_publish_provider_recruitment_cycle_path(@provider.provider_code, @provider.recruitment_cycle_year)}#train-with-us",
        action_visually_hidden_text: "details about training with disabilities and other needs",
      ) %>
    <% end %>
  <% end %>

  </div>
</div>
