<table class="govuk-table app-table--vertical-align-middle app-table--courses">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" aria-sort="<%= params[:sort] == "course" ? params[:direction] : "none" %>">
        <button type="button">
          <%= sorted "course", "Course #{params[:direction] == 'ascending' ? '(a-z)' : '(z-a)'}" %>
          <span class="govuk-visually-hidden">Sort by course</span>
        </button>
      </th>
      <th class="govuk-table__header" aria-sort="<%= params[:sort] == "status" ? params[:direction] : "none" %>">
        <button type="button">
          <%= sorted "status" %>
          <span class="govuk-visually-hidden">Sort by status</span>
        </button>
      </th>
      <th class="govuk-table__header">
       Is it on <abbr class="app-!-text-decoration-underline-dotted" title="Find postgraduate teacher training">Find</abbr>?
      </th>
      <th class="govuk-table__header">Applications</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <%= render partial: "publish/courses/course_table_row", collection: courses, as: :course %>
  </tbody>
</table>
