<%= f.govuk_radio_buttons_fieldset(
  :course_length,
  legend: nil,
  form_group: {
    id: form_object.errors.key?(:course_length) ? "course_length-error" : "course-length",
  },
) do %>
  <legend>
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l"><%= @course.name_and_code %></span>
      <%= t("publish.providers.course_length.edit.course_length") %>
    </h1>
  </legend>
  <%= f.govuk_radio_button(:course_length, t("publish.providers.course_length.edit.one_year.value"),
      label: { text: t("publish.providers.course_length.edit.one_year.label") },
      link_errors: true) %>

  <%= f.govuk_radio_button(:course_length, t("publish.providers.course_length.edit.two_years.value"),
      label: { text: t("publish.providers.course_length.edit.two_years.label") }) %>

  <%= f.govuk_radio_button(:course_length, t("publish.providers.course_length.edit.other.value"),
      checked: @course.other_course_length?,
      label: { text: t("publish.providers.course_length.edit.other.label") }) do %>

    <%= f.govuk_text_field(:course_length_other_length,
        value: @course.other_course_length? ? @course.course_length : "",
        label: { text: t("publish.providers.course_length.edit.custom_length.label"), size: "s" },
        width: 20) %>
  <% end %>
<% end %>
