<tr class="govuk-table__row">
  <td class="govuk-table__cell app-table--courses__course-name" data-qa="courses-table__course-name">
    <% if current_page?(publish_provider_recruitment_cycle_courses_path(@provider.provider_code, course.recruitment_cycle.year)) %>
      <%= govuk_link_to course.name_and_code,
        publish_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle.year, course.course_code),
        class: "govuk-heading-s govuk-!-margin-bottom-0" %>
    <% else %>
      <span class="govuk-heading-s govuk-!-margin-0">
        <%= course.name_and_code %><br>
      </span>
    <% end %>
    <% if course.primary_course? && course.age_minimum && course.age_maximum %>
      <div class="govuk-hint govuk-!-font-size-16 govuk-!-margin-0">
        Ages <%= course.age_minimum %> to <%= course.age_maximum %>
      </div>
    <% end %>
    <% if course.start_date_description.present? %>
      <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-0">
        <%= course.start_date_description %>
      </span><br>
    <% end %>
  </td>
  <td class="govuk-table__cell">
    <!-- <span class="govuk-body-s"><%= course.summary %></span> -->
    <% if course.funding_description.present? %>
      <span class="govuk-body-s"><%= course.funding_description %></span><br>
    <% end %>
    <span class="govuk-body-s">
      <% course.summary_parts.each do |part| %>
        <div><%= part %></div>
      <% end %>
    </span>
    <!-- TEST course information with line breaks -->
    <!--<span class="govuk-body-s">
      <% if course.level == "primary" %>
        Fee-paying<br>
        QTS with PGCE<br>
        Full time
      <% elsif course.level == "secondary" && ["Chemistry", "Physics", "Biology"].include?(course.name) %>
        Salary<br>
        QTS<br>
        Full time
      <% elsif course.level == "secondary" && ["Design and technology"].include?(course.name) %>
        Apprenticeship<br>
        QTS with PGCE<br>
        Full time
      <% elsif course.level == "secondary" && course.salary? %>
        Salary<br>
        QTS with PGCE<br>
        Full time
      <% elsif course.level == "secondary" && course.salary? == false %>
        Fee-paying<br>
        QTS with PGCE<br>
        Full time
      <% else %>
        <%= course.summary %>
      <% end %>
    </span> -->
  </td>
  <td class="govuk-table__cell" data-qa="courses-table__status">
    <%= course.status_tag %>
  </td>
</tr>
