<%= f.govuk_radio_buttons_fieldset(
  :course_length,
  legend: nil,
  form_group: {
    id: form_object.errors.key?(:course_length) ? "course_length-error" : "course-length"
  }
) do %>
  <legend>
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l"><%= @course.name_and_code %></span>
      <%= t("publish.providers.course_length.edit.course_length") %>
    </h1>
  </legend>
    <%= f.govuk_radio_button(:course_length, t("publish.providers.course_length.edit.one_year.value"),
      data: { qa: "course_course_length_oneyear" },
      label: { text: t("publish.providers.course_length.edit.one_year.label") },
      link_errors: true) %>

    <%= f.govuk_radio_button(:course_length, t("publish.providers.course_length.edit.two_years.value"),
      label: { text: t("publish.providers.course_length.edit.two_years.label") },
      data: { qa: "course_course_length_twoyears" }) %>

    <%= render partial: "publish/courses/other_course_length_field", locals: { f:, course_object: @course } %>
<% end %>
