<tr class="govuk-table__row">
  <td class="govuk-table__cell app-table--courses__course-name" data-qa="courses-table__course-name">
    <% if current_page?(publish_provider_recruitment_cycle_courses_path(@provider.provider_code, course.recruitment_cycle.year)) %>
      <%= govuk_link_to course.name_and_code,
        publish_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle.year, course.course_code),
        class: "govuk-heading-s govuk-!-margin-bottom-0" %>
    <% else %>
      <span class="govuk-heading-s govuk-!-margin-0">
        <%= course.name_and_code %><br>
      </span>
    <% end %>
    <% if course.name.include?("Primary") %>
      <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-0">Ages 5 – 11</span>
    <% end %>
    <!-- <span class="govuk-body-s"><%= course.summary %></span> -->
  </td>
  <td class="govuk-table__cell">
    <%# Test course information %>
    <!-- <span class="govuk-body-s"><%= course.summary %></span> -->
    <span class="govuk-body-s">
      <% if course.level == "primary" %>
        Fee-paying<br>
        QTS with PGCE<br>
        Full time
      <% elsif course.level == "secondary" && ["Chemistry", "Physics", "Biology"].include?(course.name) %>
        Salary<br>
        QTS<br>
        Full time
      <% elsif course.level == "secondary" && ["Design and technology"].include?(course.name) %>
        Teaching apprenticeship<br>
        QTS with PGCE<br>
        Full time
      <% elsif course.level == "secondary" && course.salary? %>
        Salary<br>
        QTS with PGCE<br>
        Full time
      <% elsif course.level == "secondary" && course.salary? == false %>
        Fee (no salary)<br>
        QTS with PGCE<br>
        Full time
      <% else %>
        <%= course.summary %>
      <% end %>
    </span>
  </td>
  <!-- <td class="govuk-table__cell">
    <%# Test course information %>
    <% if course.level == "primary" %>
      <ul class="govuk-list govuk-list--bullet govuk-body-s">
        <li>Fee-paying</li>
        <li>QTS with PGCE</li>
        <li>Full time</li>
      </ul>
    <% elsif course.level == "secondary" && ["Chemistry", "Physics", "Biology"].include?(course.name) %>
      <ul class="govuk-list govuk-list--bullet govuk-body-s">
        <li>Salary</li>
        <li>QTS</li>
        <li>Full time</li>
      </ul>
    <% elsif course.level == "secondary" && ["Design and technology"].include?(course.name) %>
      <ul class="govuk-list govuk-list--bullet govuk-body-s">
        <li>Teaching apprenticeship</li>
        <li>QTS with PGCE</li>
        <li>Full time</li>
      </ul>
    <% elsif course.level == "secondary" && course.salary? %>
      <ul class="govuk-list govuk-list--bullet govuk-body-s">
        <li>Salary</li>
        <li>QTS with PGCE</li>
        <li>Full time</li>
      </ul>
    <% elsif course.level == "secondary" && !course.salary? %>
      <ul class="govuk-list govuk-list--bullet govuk-body-s">
        <li>Fee-paying</li>
        <li>QTS with PGCE</li>
        <li>Full time</li>
      </ul>
    <% else %>
      <span class="govuk-body-s"><%= course.summary %></span>
    <% end %>
  </td> -->
  <td class="govuk-table__cell" data-qa="courses-table__status">
    <%= course.status_tag %>
  </td>
</tr>
