<h2 class="govuk-heading-m">
  <%= t("publish.providers.courses.description_content.course_length_and_fees_heading") %>
</h2>

<%= govuk_summary_list do |summary_list| %>
  <% if course.has_fees? %>
    <% enrichment_summary(
      summary_list,
      :course,
      t("publish.providers.courses.description_content.course_length_label"),
      value_provided?(course.length),
      %w[course_length],
      action_path: course.cannot_change_course_length? ? nil : length_publish_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code),
    ) %>
  <% else %>
    <% enrichment_summary(
         summary_list,
         :course,
         t("publish.providers.courses.description_content.course_length_label"),
         value_provided?(course.length),
         %w[course_length],
         action_path: course.cannot_change_course_length? ? nil : length_publish_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code),
         action_visually_hidden_text: t("publish.providers.courses.description_content.course_length_hidden_text"),
       ) %>
  <% end %>

  <%= render partial: "publish/courses/v2/fields/fees_and_financial_support", locals: { course: course, summary_list: summary_list } %>
<% end %>

<h2 class="govuk-heading-m">
  <%= t("publish.providers.courses.description_content.course_requirements_heading") %>
</h2>

<%= govuk_summary_list do |summary_list| %>
  <% if course.show_degree_requirements_row? %>
    <% enrichment_summary(
      summary_list,
      :course,
      t("publish.providers.courses.description_content.degree_label"),
      render(DegreeRowContent.new(course:, errors: @errors)),
      %w[degree_grade degree_subject_requirements],
      action_path: !course.is_withdrawn? && course.degree_section_complete? ? degrees_start_publish_provider_recruitment_cycle_course_path(@provider.provider_code, @provider.recruitment_cycle_year, course.course_code) : nil,
    ) %>
  <% end %>

  <% if course.teacher_degree_apprenticeship? %>
    <% enrichment_summary(
      summary_list,
      :course,
      t("publish.providers.courses.description_content.a_levels_label"),
      render(ALevelRowComponent.new(course:, errors: @errors)),
      %w[a_level_subject_requirements accept_pending_a_level accept_a_level_equivalency],
      action_path: course.a_level_change_path,
      action_visually_hidden_text: "A levels",
      render_errors: false,
    ) %>
  <% end %>

  <% enrichment_summary(
    summary_list,
    :course,
    t("publish.providers.courses.description_content.gcse_label"),
    render(GcseRowContent.new(course:, errors: @errors)),
    %w[accept_pending_gcse accept_gcse_equivalency accept_english_gcse_equivalency accept_maths_gcse_equivalency accept_science_gcse_equivalency additional_gcse_equivalencies],
    action_path: !course.is_withdrawn? && course.gcse_section_complete? ? gcses_pending_or_equivalency_tests_publish_provider_recruitment_cycle_course_path(@provider.provider_code, @provider.recruitment_cycle_year, course.course_code) : nil,
  ) %>
<% end %>

<h2 class="govuk-heading-m">
  <%= t("publish.providers.courses.description_content.course_about_heading") %>
</h2>

<h2 class="govuk-heading-m">
  <%= t("publish.providers.courses.description_content.course_interview_process_heading") %>
</h2>

<%= govuk_summary_list do |summary_list| %>
  <% enrichment_summary(
    summary_list,
    :course,
    t("publish.providers.courses.description_content.interview_process_label"),
    value_provided?(markdown(course.interview_process)),
    %w[interview_process],
    action_path: course.is_withdrawn? ? nil : interview_process_publish_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code),
    action_visually_hidden_text: t("publish.providers.courses.description_content.interview_process_hidden_text"),
  ) %>
<% end %>
