<% page_title = "Check your answers" %>
<% content_for :page_title, title_with_error_prefix(page_title, course.errors.any?) %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(new_publish_provider_recruitment_cycle_courses_start_date_path(course.provider.provider_code, course.recruitment_cycle.year, params.to_unsafe_h.merge(goto_confirmation: true))) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: course,
      url: publish_provider_recruitment_cycle_courses_path(@provider.provider_code, @provider.recruitment_cycle_year),
      method: :post
    ) do |f| %>

      <%= render "publish/shared/errors" %>

      <h1 class="govuk-heading-l">
        <%= render CaptionText.new(text: t("course.add_course")) %>
        <%= page_title %>
      </h1>

      <%= render "publish/shared/course_creation_hidden_fields",
        form: f,
        course_creation_params: @course_creation_params,
        except_keys: [] %>

      <%= govuk_summary_list(html_attributes: { data: { qa: "course__details" } }) do |summary_list| %>

        <% summary_list.with_row(html_attributes: { data: { qa: "course__level" } }) do |row| %>
          <% row.with_key { "Subject level" } %>
          <% row.with_value { course.level.humanize } %>
          <% row.with_action %>
        <% end %>

        <% summary_list.with_row(html_attributes: { data: { qa: "course__is_send" } }) do |row| %>
          <% row.with_key { "Special educational needs and disability (SEND)" } %>
          <% row.with_value { course.is_send? } %>
          <% row.with_action %>
        <% end %>

        <% unless course.is_further_education? %>
          <% summary_list.with_row(html_attributes: { data: { qa: "course__subjects" } }) do |row| %>
            <% row.with_key { "Subject".pluralize(course.subjects.length) } %>
            <% row.with_value { course.chosen_subjects } %>
            <% row.with_action(
              href: new_publish_provider_recruitment_cycle_courses_subjects_path(course.provider.provider_code, course.recruitment_cycle.year, params.to_unsafe_h.merge(goto_confirmation: true)),
              visually_hidden_text: "subjects"
            ) %>
          <% end %>

          <% if course.applicable_for_engineers_teach_physics? %>
            <% summary_list.with_row(html_attributes: { data: { qa: "course__engineers_teach_physics" } }) do |row| %>
              <% row.with_key { "Engineers Teach Physics" } %>
              <% row.with_value { course.is_engineers_teach_physics? ? "Yes" : "No" } %>
              <% row.with_action(
                href: new_publish_provider_recruitment_cycle_courses_engineers_teach_physics_path(course.provider.provider_code, course.recruitment_cycle.year, params.to_unsafe_h.merge(skip_languages_goto_confirmation: true)),
                visually_hidden_text: "Engineers Teach Physics"
              ) %>
            <% end %>
          <% end %>

          <% summary_list.with_row(html_attributes: { data: { qa: "course__age_range" } }) do |row| %>
            <% row.with_key { "Age range" } %>
            <% row.with_value { course.age_range } %>
            <% row.with_action(
              href: new_publish_provider_recruitment_cycle_courses_age_range_path(course.provider.provider_code, course.recruitment_cycle.year, params.to_unsafe_h.merge(goto_confirmation: true)),
              visually_hidden_text: "age range"
            ) %>
          <% end %>
        <% end %>

        <% summary_list.with_row(html_attributes: { data: { qa: "course__outcome" } }) do |row| %>
          <% row.with_key { "Qualification" } %>
          <% row.with_value { course.outcome } %>
          <% row.with_action(
            href: new_publish_provider_recruitment_cycle_courses_outcome_path(course.provider.provider_code, course.recruitment_cycle.year, params.to_unsafe_h.merge(goto_confirmation: true)),
            visually_hidden_text: "outcome"
          ) %>
        <% end %>

        <% if @provider.accredited_provider? %>
          <% summary_list.with_row(html_attributes: { data: { qa: "course__apprenticeship" } }) do |row| %>
            <% row.with_key { "Apprenticeship" } %>
            <% row.with_value { course.apprenticeship } %>
            <% row.with_action(
              href: new_publish_provider_recruitment_cycle_courses_apprenticeship_path(course.provider.provider_code, course.recruitment_cycle.year, params.to_unsafe_h.merge(goto_visa: true, goto_confirmation: true)),
              visually_hidden_text: "if apprenticeship"
            ) %>
          <% end %>
        <% else %>
          <% summary_list.with_row(html_attributes: { data: { qa: "course__funding_type" } }) do |row| %>
            <% row.with_key { "Funding type" } %>
            <% row.with_value { course.funding } %>
            <% row.with_action(
              href: new_publish_provider_recruitment_cycle_courses_funding_type_path(course.provider.provider_code, course.recruitment_cycle.year, params.to_unsafe_h.merge(goto_visa: true, goto_confirmation: true)),
              visually_hidden_text: "if funding type"
            ) %>
          <% end %>
        <% end %>

        <% summary_list.with_row(html_attributes: { data: { qa: "course__study_mode" } }) do |row| %>
          <% row.with_key { "Full time or part time" } %>
          <% row.with_value { course.study_mode&.humanize } %>
          <% row.with_action(
            href: new_publish_provider_recruitment_cycle_courses_study_mode_path(course.provider.provider_code, course.recruitment_cycle.year, params.to_unsafe_h.merge(goto_confirmation: true)),
            visually_hidden_text: "if full or part time"
          ) %>
        <% end %>

        <% summary_list.with_row(html_attributes: { data: { qa: "course__schools" } }) do |row| %>
          <% row.with_key { "School".pluralize(course.sites.length) } %>
          <% row.with_value do %>
            <% if course.sites.nil? || course.sites.empty? %>
              <span class="app-!-colour-muted">None</span>
            <% elsif course.sites.size == 1 %>
              <%= course.sites.first.location_name %>
            <% else %>
              <ul class="govuk-list">
                <% course.alphabetically_sorted_sites.each do |site| %>
                  <li><%= site.location_name %></li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
          <% if @course.provider.sites.count > 1 %>
            <% row.with_action(
              href: new_publish_provider_recruitment_cycle_courses_schools_path(course.provider.provider_code, course.recruitment_cycle.year, params.to_unsafe_h.merge(goto_confirmation: true)),
              visually_hidden_text: "schools"
            ) %>
          <% else %>
            <% row.with_action %>
          <% end %>
        <% end %>

        <% unless @provider.accredited_provider? || course.is_further_education? %>
          <% summary_list.with_row(html_attributes: { data: { qa: "course__accredited_provider" } }) do |row| %>
            <% row.with_key { "Accredited provider" } %>
            <% row.with_value { course.accrediting_provider.provider_name } %>
            <% if @provider.accredited_bodies.length > 1 %>
              <% row.with_action(
                href: new_publish_provider_recruitment_cycle_courses_accredited_provider_path(course.provider.provider_code, course.recruitment_cycle.year, params.to_unsafe_h.merge(goto_confirmation: true)),
                visually_hidden_text: "accredited provider"
              ) %>
            <% else %>
              <% row.with_action %>
            <% end %>
          <% end %>
        <% end %>

        <% if course.is_fee_based? %>
          <% summary_list.with_row(html_attributes: { data: { qa: "course__student_visa_sponsorship" } }) do |row| %>
            <% row.with_key { "Student visas" } %>
            <% row.with_value { course.can_sponsor_student_visa ? "Yes - can sponsor " : "No - cannot sponsor" } %>
            <% row.with_action(
              href: new_publish_provider_recruitment_cycle_courses_student_visa_sponsorship_path(course.provider.provider_code, course.recruitment_cycle.year, params.to_unsafe_h.merge(goto_confirmation: true)),
              visually_hidden_text: "student visa sponsorship"
            ) %>
          <% end %>
        <% end %>

        <% if course.school_direct_salaried_training_programme? || course.pg_teaching_apprenticeship? %>
          <% summary_list.with_row(html_attributes: { data: { qa: "course__skilled_worker_visa_sponsorship" } }) do |row| %>
            <% row.with_key { "Skilled Worker visas" } %>
            <% row.with_value { course.can_sponsor_skilled_worker_visa ? "Yes - can sponsor " : "No - cannot sponsor" } %>
            <% row.with_action(
              href: new_publish_provider_recruitment_cycle_courses_skilled_worker_visa_sponsorship_path(course.provider.provider_code, course.recruitment_cycle.year, params.to_unsafe_h.merge(goto_confirmation: true)),
              visually_hidden_text: "skilled worker visa sponsorship"
            ) %>
          <% end %>
        <% end %>

        <% summary_list.with_row(html_attributes: { data: { qa: "course__applications_open" } }) do |row| %>
          <% row.with_key { "Applications open date" } %>
          <% row.with_value do %>
            <% if course.applications_open_from == @recruitment_cycle.application_start_date %>
              As soon as the course is on Find (recommended)
            <% else %>
              <%= l(course.applications_open_from&.to_date) %>
            <% end %>
          <% end %>
          <% row.with_action(
            href: new_publish_provider_recruitment_cycle_courses_applications_open_path(course.provider.provider_code, course.recruitment_cycle.year, params.to_unsafe_h.merge(goto_confirmation: true)),
            visually_hidden_text: "date applications open"
          ) %>
        <% end %>

        <% summary_list.with_row(html_attributes: { data: { qa: "course__start_date" } }) do |row| %>
          <% row.with_key { "Course start date" } %>
          <% row.with_value { course.start_date.present? ? l(course.start_date&.to_date, format: :short) : nil } %>
          <% row.with_action(
            href: new_publish_provider_recruitment_cycle_courses_start_date_path(course.provider.provider_code, course.recruitment_cycle.year, params.to_unsafe_h.merge(goto_confirmation: true)),
            visually_hidden_text: "date course starts"
          ) %>
        <% end %>

        <% if course.gcse_subjects_required.any? && @provider.recruitment_cycle_year.to_i < Provider::CHANGES_INTRODUCED_IN_2022_CYCLE %>
          <% summary_list.with_row(html_attributes: { data: { qa: "course__entry_requirements" } }) do |row| %>
            <% row.with_key { "UCAS Apply: GCSE requirements for applicants" } %>
            <% row.with_value do %>
              <% course.gcse_subjects_required.each do |subject| %>
                <%= render(
                  partial: "publish/courses/entry_requirements",
                  locals: {
                    gcse_subject: subject.titleize,
                    gcse_subject_code: course[subject]
                  }
                ) %>
              <% end %>
            <% end %>
            <% row.with_action({
              href: new_provider_recruitment_cycle_courses_entry_requirements_path(course.provider.provider_code, course.recruitment_cycle_year, params.to_unsafe_h.merge(goto_confirmation: true)),
              visually_hidden_text: "entry requirements"
            }) %>
          <% end %>
        <% end %>

        <% if course.next_cycle? && course.has_fees? %>
          <% summary_list.with_row(html_attributes: { data: { qa: "course__allocations" } }) do |row| %>
            <% row.with_key { "Allocations" } %>
            <% row.with_value do %>
              Recruitment is not restricted
            <% end %>
            <% row.with_action %>
          <% end %>
        <% end %>
      <% end %>

      <%= f.govuk_submit "Add course", data: { qa: "course__save" } %>
    <% end %>

    <p class="govuk-body">
      <%= govuk_link_to(t("cancel"), publish_provider_recruitment_cycle_courses_path(@provider.provider_code, @provider.recruitment_cycle_year)) %>
    </p>
  </div>
</div>
