<% page_title = "Check your answers before confirming" %>
<% content_for :page_title, title_with_error_prefix(page_title, course.errors.any?) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: course,
      url: publish_provider_recruitment_cycle_courses_path(@provider.provider_code, @provider.recruitment_cycle_year),
      method: :post,
    ) do |f| %>

      <%= render "publish/shared/errors" %>

      <h1 class="govuk-heading-l">
        <%= page_title %>
      </h1>

      <%= render "publish/shared/course_creation_hidden_fields",
        form: f,
        course_creation_params: @course_creation_params,
        except_keys: [] %>

      <%= govuk_summary_list(html_attributes: { data: { qa: "course__details" } }) do |summary_list| %>
        <% summary_list.row(html_attributes: { data: { qa: "course__level" } }) do |row| %>
          <% row.key { "Level" } %>
          <% row.value { course.level.humanize } %>
          <% row.action(**{
            href: new_publish_provider_recruitment_cycle_courses_level_path(course.provider.provider_code, course.recruitment_cycle.year, params.to_unsafe_h.merge(goto_confirmation: true)),
            visually_hidden_text: "level",
          }) %>
        <% end %>

        <% summary_list.row(html_attributes: { data: { qa: "course__is_send" } }) do |row| %>
          <% row.key { raw("<abbr class=\"app-!-text-decoration-underline-dotted\" title=\"Special educational needs and disability\">SEND</abbr>") } %>
          <% row.value { course.is_send? } %>
          <% row.action(**{
            href: new_publish_provider_recruitment_cycle_courses_level_path(course.provider.provider_code, course.recruitment_cycle.year, params.to_unsafe_h.merge(goto_confirmation: true)),
            visually_hidden_text: "SEND",
          }) %>
        <% end %>

        <% unless course.is_further_education? %>
          <% summary_list.row(html_attributes: { data: { qa: "course__subjects" } }) do |row| %>
            <% row.key { "Subject".pluralize(course.subjects.length) } %>
            <% row.value { course.sorted_subjects } %>
            <% row.action(**{
              href: new_publish_provider_recruitment_cycle_courses_subjects_path(course.provider.provider_code, course.recruitment_cycle.year, params.to_unsafe_h.merge(goto_confirmation: true)),
              visually_hidden_text: "subjects",
            }) %>
          <% end %>

          <%# if FeatureService.enabled?(:engineers_teach_physics_on_course) %>
          <%# binding.pry %>
            <% if course.master_subject_id == 29 %>
              <% summary_list.row(html_attributes: { data: { qa: "course__engineers_teach_physics" } }) do |row| %>
                <% row.key { "Engineers Teach Physics" } %>
                <% row.value { course.engineers_teach_physics? ? "Yes" : "No" } %>
                <% row.action(**{
                  href:   new_publish_provider_recruitment_cycle_courses_engineers_teach_physics_path(course.provider.provider_code, course.recruitment_cycle.year, params.to_unsafe_h.merge(goto_confirmation: true)),
                  visually_hidden_text: "Engineers Teach Physics",
                }) %>
              <% end %>
            <% end %>
          <%# end %>

          <% summary_list.row(html_attributes: { data: { qa: "course__age_range" } }) do |row| %>
            <% row.key { "Age range" } %>
            <% row.value { course.age_range } %>
            <% row.action(**{
              href: new_publish_provider_recruitment_cycle_courses_age_range_path(course.provider.provider_code, course.recruitment_cycle.year, params.to_unsafe_h.merge(goto_confirmation: true)),
              visually_hidden_text: "age range",
            }) %>
          <% end %>
        <% end %>

        <% summary_list.row(html_attributes: { data: { qa: "course__outcome" } }) do |row| %>
          <% row.key { "Outcome" } %>
          <% row.value { course.outcome } %>
          <% row.action(**{
            href: new_publish_provider_recruitment_cycle_courses_outcome_path(course.provider.provider_code, course.recruitment_cycle.year, params.to_unsafe_h.merge(goto_confirmation: true)),
            visually_hidden_text: "outcome",
          }) %>
        <% end %>

        <% if @provider.accredited_body? %>
          <% summary_list.row(html_attributes: { data: { qa: "course__apprenticeship" } }) do |row| %>
            <% row.key { "Apprenticeship" } %>
            <% row.value { course.apprenticeship? } %>
            <% row.action(**{
              href: new_publish_provider_recruitment_cycle_courses_apprenticeship_path(course.provider.provider_code, course.recruitment_cycle.year, params.to_unsafe_h.merge(goto_visa: true, goto_confirmation: true)),
              visually_hidden_text: "if apprenticeship",
            }) %>
          <% end %>
        <% else %>
          <% if FeatureService.enabled?(:visa_sponsorship_on_course) %>
            <% summary_list.row(html_attributes: { data: { qa: "course__funding_type" } }) do |row| %>
              <% row.key { "Funding type" } %>
              <% row.value { course.funding } %>
              <% row.action(**{
                href: new_publish_provider_recruitment_cycle_courses_funding_type_path(course.provider.provider_code, course.recruitment_cycle.year, params.to_unsafe_h.merge(goto_visa: true, goto_confirmation: true)),
                visually_hidden_text: "if funding type",
              }) %>
            <% end %>
          <% else %>
            <% summary_list.row(html_attributes: { data: { qa: "course__funding_type" } }) do |row| %>
              <% row.key { "Funding type" } %>
              <% row.value { course.funding } %>
              <% row.action(**{
                href: new_publish_provider_recruitment_cycle_courses_funding_type_path(course.provider.provider_code, course.recruitment_cycle.year, params.to_unsafe_h.merge(goto_confirmation: true)),
                visually_hidden_text: "if funding type",
              }) %>
            <% end %>
          <% end %>
        <% end %>

        <% summary_list.row(html_attributes: { data: { qa: "course__study_mode" } }) do |row| %>
          <% row.key { "Full or part time" } %>
          <% row.value { course.study_mode&.humanize } %>
          <% row.action(**{
            href: new_publish_provider_recruitment_cycle_courses_study_mode_path(course.provider.provider_code, course.recruitment_cycle.year, params.to_unsafe_h.merge(goto_confirmation: true)),
            visually_hidden_text: "if full or part time",
          }) %>
        <% end %>

        <% summary_list.row(html_attributes: { data: { qa: "course__locations" } }) do |row| %>
          <% row.key { "Locations" } %>
          <% row.value do %>
            <% if course.object.sites.nil? || course.object.sites.empty? %>
              <span class="app-!-colour-muted">None</span>
            <% elsif course.object.sites.size == 1 %>
              <%= course.object.sites.first.location_name %>
            <% else %>
              <ul class="govuk-list">
                <% course.alphabetically_sorted_sites.each do |site| %>
                  <li><%= site.location_name %></li>
                <% end %>
              </ul>
            <% end %>
            <% if course.provider.sites.count < 2 %>
              <p class="govuk-body" data-qa="course__locations__help">
                You can’t change this because you only have 1 location.
              </p>
              <p class="govuk-body">
                <%= govuk_link_to "Manage your locations", publish_provider_recruitment_cycle_locations_path(course.provider.provider_code, course.recruitment_cycle.year), target: "_blank", rel: "noopener noreferrer" %>
              </p>
            <% end %>
          <% end %>
          <% if @course.provider.sites.count > 1 %>
            <% row.action(**{
              href: new_publish_provider_recruitment_cycle_courses_locations_path(course.provider.provider_code, course.recruitment_cycle.year, params.to_unsafe_h.merge(goto_confirmation: true)),
              visually_hidden_text: "locations",
            }) %>
          <% end %>
        <% end %>

        <% unless @provider.accredited_body? || course.is_further_education? %>
          <% summary_list.row(html_attributes: { data: { qa: "course__accredited_body" } }) do |row| %>
            <% row.key { "Accredited body" } %>
            <% row.value { course.accrediting_provider.provider_name } %>
            <% row.action(**{
              href: new_publish_provider_recruitment_cycle_courses_accredited_body_path(course.provider.provider_code, course.recruitment_cycle.year, params.to_unsafe_h.merge(goto_confirmation: true)),
              visually_hidden_text: "accredited body",
            }) %>
          <% end %>
        <% end %>
        <% if FeatureService.enabled?(:visa_sponsorship_on_course) %>
          <% if course.is_fee_based? %>
            <% summary_list.row(html_attributes: { data: { qa: "course__student_visa_sponsorship" } }) do |row| %>
              <% row.key { "Student visas" } %>
              <% row.value { course.can_sponsor_student_visa ? "Yes - can sponsor " : "No - cannot sponsor" } %>
              <% row.action(**{
                href: new_publish_provider_recruitment_cycle_courses_student_visa_sponsorship_path(course.provider.provider_code, course.recruitment_cycle.year, params.to_unsafe_h.merge(goto_confirmation: true)),
                visually_hidden_text: "student visa sponsorship",
              }) %>
            <% end %>
          <% end %>

          <% if course.school_direct_salaried_training_programme? || course.pg_teaching_apprenticeship? %>
            <% summary_list.row(html_attributes: { data: { qa: "course__skilled_worker_visa_sponsorship" } }) do |row| %>
              <% row.key { "Skilled Worker visas" } %>
              <% row.value { course.can_sponsor_skilled_worker_visa ? "Yes - can sponsor " : "No - cannot sponsor" } %>
              <% row.action(**{
                href: new_publish_provider_recruitment_cycle_courses_skilled_worker_visa_sponsorship_path(course.provider.provider_code, course.recruitment_cycle.year, params.to_unsafe_h.merge(goto_confirmation: true)),
                visually_hidden_text: "skilled worker visa sponsorship",
              }) %>
            <% end %>
          <% end %>
        <% end %>

        <% summary_list.row(html_attributes: { data: { qa: "course__applications_open" } }) do |row| %>
          <% row.key { "Applications open" } %>
          <% row.value do %>
            <% if course.applications_open_from == @recruitment_cycle.application_start_date %>
              As soon as the course is on Find (recommended)
            <% else %>
              <%= l(course.applications_open_from&.to_date) %>
            <% end %>
          <% end %>
          <% row.action(**{
            href: new_publish_provider_recruitment_cycle_courses_applications_open_path(course.provider.provider_code, course.recruitment_cycle.year, params.to_unsafe_h.merge(goto_confirmation: true)),
            visually_hidden_text: "date applications open",
          }) %>
        <% end %>

        <% summary_list.row(html_attributes: { data: { qa: "course__start_date" } }) do |row| %>
          <% row.key { "Course starts" } %>
          <% row.value { course.start_date.present? ? l(course.start_date&.to_date, format: :short) : nil } %>
          <% row.action(**{
            href: new_publish_provider_recruitment_cycle_courses_start_date_path(course.provider.provider_code, course.recruitment_cycle.year, params.to_unsafe_h.merge(goto_confirmation: true)),
            visually_hidden_text: "date course starts",
          }) %>
        <% end %>

        <% summary_list.row(html_attributes: { data: { qa: "course__name" } }) do |row| %>
          <% row.key { "Title" } %>
          <% row.value { course.object.generate_name } %>
          <% row.action %>
        <% end %>

        <% summary_list.row(html_attributes: { data: { qa: "course__description" } }) do |row| %>
          <% row.key { "Description" } %>
          <% row.value { course.description } %>
          <% row.action %>
        <% end %>

        <% if course.gcse_subjects_required.any? && @provider.recruitment_cycle_year.to_i < Provider::CHANGES_INTRODUCED_IN_2022_CYCLE %>
          <% summary_list.row(html_attributes: { data: { qa: "course__entry_requirements" } }) do |row| %>
            <% row.key { "UCAS Apply: GCSE requirements for applicants" } %>
            <% row.value do %>
              <% course.gcse_subjects_required.each do |subject| %>
                <%= render(
                  partial: "publish/courses/entry_requirements",
                  locals: {
                    gcse_subject: subject.titleize,
                    gcse_subject_code: course[subject],
                  },
                ) %>
              <% end %>
            <% end %>
            <% row.action({
              href: new_provider_recruitment_cycle_courses_entry_requirements_path(course.provider.provider_code, course.recruitment_cycle_year, params.to_unsafe_h.merge(goto_confirmation: true)),
              visually_hidden_text: "entry requirements",
            }) %>
          <% end %>
        <% end %>

        <% if course.next_cycle? && course.has_fees? %>
          <% summary_list.row(html_attributes: { data: { qa: "course__allocations" } }) do |row| %>
            <% row.key { "Allocations" } %>
            <% row.value do %>
              <% if course.has_physical_education_subject? %>
                <p class="govuk-body">Recruitment to fee-funded PE courses is limited by the number of places allocated to you by DfE.</p>
                <p class="govuk-body">If you haven’t already, you must <%= govuk_link_to "request allocations", "https://docs.google.com/forms/d/e/1FAIpQLSfMJDoChdgXmGJM1UcEgoiyvlR9ExESF1-vv32lrXF8AK3ShA/viewform?usp=sf_link" %></p>
              <% else %>
                Recruitment is not restricted
              <% end %>
            <% end %>
            <% row.action %>
          <% end %>
        <% end %>
      <% end %>

      <div class="govuk-!-margin-top-8" data-qa="course__preview">
        <h2 class="govuk-heading-m">Preview</h2>
        <p class="govuk-body">See how this course will appear when it’s published on Find postgraduate teacher training:</p>
        <%= govuk_inset_text do %>
          <h3 class="govuk-heading-m" data-qa="course__name">
            <span class="govuk-heading-s govuk-!-margin-bottom-0"><%= @provider.provider_name %></span>
            <%= course.object.generate_name %>
          </h3>
          <p class="govuk-body" data-qa="course__description">Course: <%= course.description %></p>
        <% end %>
      </div>

      <%= f.govuk_submit "Add course", data: { qa: "course__save" } %>
      <p class="govuk-body">Saving this course will not publish it.</p>
    <% end %>
  </div>
</div>
