<% content_for :page_title, "#{course.name_and_code} - Courses" %>
<%= content_for :before_content, render_breadcrumbs(:course) %>

<h1 class="govuk-heading-l">
  <span class="govuk-caption-l"><%= course.description %></span>
  <%= course.name %> (<%= course.course_code %>)
</h1>

<div class="govuk-tabs app-tabs app-tabs--course">
  <h2 class="govuk-tabs__title">Contents</h2>

  <ul class="govuk-tabs__list" role="tablist">
    <li class="govuk-tabs__list-item" role="presentation">
      <%= govuk_link_to(
        publish_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code),
        class: "govuk-tabs__tab",
        role: "tab",
        tabindex: "0",
        aria: { selected: false },
      ) do %>
        Description<br>
        <span class="govuk-body-s govuk-!-font-weight-regular pointer-events-none">Content, fees and eligibility</span>
      <% end %>
    </li>

    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
      <%= govuk_link_to(
        "#basic_details",
        class: "govuk-tabs__tab",
        id: "basic_details_tab",
        role: "tab",
        tabindex: "-1",
        aria: { selected: true },
      ) do %>
        Basic details<br>
        <span class="govuk-body-s govuk-!-font-weight-regular pointer-events-none">Locations, outcome, subject</span>
      <% end %>
    </li>
  </ul>

  <section class="govuk-tabs__panel" id="basic_details" role="tabpanel" aria-labelledby="basic_details_tab">
    <%= render partial: "basic_details_tab" %>
  </section>
</div>
