<% content_for :page_title, "#{course.name_and_code} - Courses" %>
<%= content_for :before_content, render_breadcrumbs(:course) %>

<h1 class="govuk-heading-l <%= "govuk-!-margin-bottom-2" if (course.is_published? && course.is_running?) || course.is_withdrawn? %>">
  <%= course.name_and_code %> <span data-qa=“course__content-status”><%= course.status_tag %></span>
</h1>

<%= render partial: "course_button_panel" %>
<%= render partial: "rolled_over_link" %>

<%= render partial: "publish/courses/course_navigation" %>

<section class="app-section" id="basic_details" role="tabpanel" aria-labelledby="basic_details_tab">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render partial: "basic_details_tab" %>
    </div>
  </div>
</section>
