<% content_for :page_title, @provider.rolled_over? ? "Courses – #{@recruitment_cycle.title}" : "Courses" %>
<%= content_for :before_content, render_breadcrumbs(:courses) %>
<% if Find::CycleTimetable.phase_in_time?(:now_is_before_find_opens) %>
  <%= render(NotificationBanner.new(
    text: t("publish.rollover_notification.text"),
    text_body: t(
      "publish.rollover_notification.text_body_html",
      find_path: find_root_url,
      guidance_path: roll_over_courses_to_a_new_recruitment_cycle_path,
    ),
  )) %>
<% end %>
<%= render(NotificationBanner.new(text_body: t("publish.course_information.text_body_html", how_to_add_course_info_url: add_course_information_path))) %>

<h1 class="govuk-heading-l">Courses</h1>
<%= render AddCourseButton.new(provider: @provider) %>

<% if @self_accredited_courses %>
  <section data-qa="courses__table-section">
    <%= render partial: "course_table", locals: { courses: @self_accredited_courses } %>
  </section>
<% end %>

<% @courses_by_accrediting_provider.each do |accrediting_provider, courses| %>
  <section data-qa="courses__table-section">
    <h2 class="govuk-heading-m">
      <span class="govuk-caption-m"><%= t(".ratifying_provider") %></span>
      <%= accrediting_provider %>
    </h2>

    <%= render partial: "course_table", locals: { courses: } %>
  </section>
<% end %>
