<% content_for :page_title, @provider.rolled_over? ? "Courses – #{@recruitment_cycle.title}" : "Courses" %>
<%= content_for :before_content, render_breadcrumbs(:courses) %>

<h1 class="govuk-heading-l">Courses</h1>

  <%= govuk_button_link_to(
    "Add course",
    new_publish_provider_recruitment_cycle_course_path(
      provider_code: @provider.provider_code,
      recruitment_cycle_year: @provider.recruitment_cycle_year,
    ),
    class: "govuk-!-margin-bottom-6",
  ) %>

<% if @self_accredited_courses %>
  <section data-qa="courses__table-section">
    <%= render partial: "course_table", locals: { courses: @self_accredited_courses } %>
  </section>
<% end %>

<% @courses_by_accrediting_provider.each do |accrediting_provider, courses| %>
  <section data-qa="courses__table-section">
    <h2 class="govuk-heading-m">
      <span class="govuk-caption-m">Accredited body</span>
      <%= accrediting_provider %>
    </h2>

    <%= render partial: "course_table", locals: { courses: } %>
  </section>
<% end %>
