<% content_for :page_title, @provider.rolled_over? ? "Courses – #{@recruitment_cycle.title}" : "Courses" %>
<%= content_for :before_content, render_breadcrumbs(:courses) %>
<%= render(NotificationBanner.new(text: "You can start rolling over your courses from early September.", text_body: "In early September, your courses will be ready to be rolled over to the 2025 to 2026 recruitment cycle. We will email you when you need to sign in to check and publish, or delete, your courses.")) %>

<h1 class="govuk-heading-l">Courses</h1>
<%= render AddCourseButton.new(provider: @provider) %>

<% if @self_accredited_courses %>
  <section data-qa="courses__table-section">
    <%= render partial: "course_table", locals: { courses: @self_accredited_courses } %>
  </section>
<% end %>

<% @courses_by_accrediting_provider.each do |accrediting_provider, courses| %>
  <section data-qa="courses__table-section">
    <h2 class="govuk-heading-m">
      <span class="govuk-caption-m"><%= t(".ratifying_provider") %></span>
      <%= accrediting_provider %>
    </h2>

    <%= render partial: "course_table", locals: { courses: } %>
  </section>
<% end %>
