<% content_for :page_title, @provider.rolled_over? ? "Courses – #{@recruitment_cycle.title}" : "Courses" %>
<%= content_for :before_content, render_breadcrumbs(:courses) %>
<% if Find::CycleTimetable.phase_in_time?(:now_is_before_find_opens) %>
  <%= render(NotificationBanner.new(
    text: t("publish.rollover_notification.text"),
    text_body: t(
      "publish.rollover_notification.text_body_html",
      find_path: find_root_url,
      guidance_path: roll_over_courses_to_a_new_recruitment_cycle_path,
    ),
  )) %>
<% end %>
<h1 class="govuk-heading-l">Courses</h1>
<div class="govuk-button-group">
  <%= render AddCourseButton.new(provider: @provider) %>
  <!-- TEST button for downloading course information as CSV - HIDDEN AS NOT TESTING-->
  <%#= link_to "Download all course information (CSV)",
      publish_provider_recruitment_cycle_courses_path(
        @provider.provider_code,
        @provider.recruitment_cycle.year,
        request.query_parameters.merge(format: :csv)
      ),
      class: "govuk-button govuk-button--secondary govuk-margin-left-2"
  %>

</div>
<%= render Publish::Courses::ListComponent.new(course_list: @course_list, provider: @provider) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="school-search-container">
      <div class="school-search-content">
        <div class="govuk-form-group">
          <h2 class="govuk-heading-m">
            Download course information
          </h2>
          <p class="govuk-body">
            Download a CSV file with:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>basic information about each course</li>
            <li>the schools attached to each course</li>
          </ul>
            <!-- TEST button for downloading course schools list as CSV -->
              <%= link_to "Download as a CSV file",
                  publish_provider_recruitment_cycle_courses_path(
                    @provider.provider_code,
                    @provider.recruitment_cycle.year,
                    request.query_parameters.merge(format: :csv, export: "schools")
                  ),
                  class: "govuk-body govuk-link"
              %>
        <div class="govuk-form-group">
      </div>
    </div>
  </div>
</div>
