<% content_for :page_title, @provider.rolled_over? ? "Courses – #{@recruitment_cycle.title}" : "Courses" %>
<%= content_for :before_content, render_breadcrumbs(:courses) %>

<h1 class="govuk-heading-l">Courses</h1>

<%= render AddCourseButton.new(provider: @provider) %>

<% if @self_accredited_courses %>
  <section data-qa="courses__table-section">
    <%= render partial: "course_table", locals: { courses: @self_accredited_courses } %>
  </section>
<% end %>

<% @sorted_courses_by_accrediting_provider.each do |accrediting_provider, courses| %>
  <section data-qa="courses__table-section">
    <h2 class="govuk-heading-m">
      <span class="govuk-caption-m">Accredited provider</span>
      <%= accrediting_provider %>
    </h2>

    <%= render partial: "course_table", locals: { courses: } %>
  </section>
<% end %>
