<% content_for :page_title, "Preview: #{course.name_and_code} with #{@provider.provider_name}" %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(publish_provider_recruitment_cycle_courses_path(@course.provider_code, @course.recruitment_cycle.year)) %>
<% end %>

<%= govuk_notification_banner(title_text: t("notification_banner.info")) do |notification_banner| %>
  <% notification_banner.with_heading(text: "This is a preview of how your course will appear on Find.") %>
<% end %>

<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl" data-qa="course__provider_name">
    <%= course.provider.provider_name %>
  </span>
  <%= course.name_and_code %>
</h1>

<%= render Find::Courses::SummaryComponent::View.new(course) %>

<!--The reason for the Apply component duplication here is because we want to keep the warning text at the top but Keep the Apply button and end of cycle text at the bottom-->

<%= render Find::Courses::ApplyComponent::View.new(course) if course.application_status_open? || !Find::CycleTimetable.mid_cycle? %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render Find::Courses::ContentsComponent::View.new(course) %>

    <%= render Find::Courses::EntryRequirementsComponent::View.new(course:) %>

    <%= render partial: "find/courses/about_course", locals: { course: } %>

    <%= render Find::Courses::AboutSchoolsComponent::View.new(course, preview: preview?(params)) %>

    <% if course.salaried? %>
      <%= render partial: "find/courses/salary", locals: { course: } %>
    <% end %>

    <%= render Shared::Courses::FinancialSupport::FeesAndFinancialSupportComponent::View.new(course) %>

    <% if course.interview_process.present? %>
      <%= render partial: "find/courses/interview_process", locals: { course: } %>
    <% end %>

    <%= render Find::Courses::InternationalStudentsComponent::View.new(course:) %>

    <h2 class="govuk-heading-l" id="section-train-with-disabilities">
      <%= t(".training_with_disabilities") %>
    </h2>

    <p class="govuk-body">
      <%= govuk_link_to(
        t(".training_with_disabilities_link", provider_name: course.provider_name),
        training_with_disabilities_publish_provider_recruitment_cycle_course_path(
          course.provider_code,
          course.recruitment_cycle_year,
          course.course_code
        )
      ) %>
    </p>

    <%= render partial: "find/courses/advice", locals: { course: } %>

    <%= render Find::Courses::ApplyComponent::View.new(course) unless course.application_status_open? %>
  </div>
</div>
