<% content_for :page_title, "Preview: #{course.name_and_code} with #{@provider.provider_name}" %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(publish_provider_recruitment_cycle_courses_path(@course.provider_code, @course.recruitment_cycle.year)) %>
<% end %>

<%= govuk_notification_banner(title_text: t("notification_banner.info")) do |notification_banner| %>
  <% notification_banner.heading(text: "This is a preview of the ‘#{course.name_and_code}’ course.") %>
<% end %>

<h1 class="govuk-heading-xl">
  <span class="govuk-heading-l govuk-!-margin-bottom-0" data-qa="course__provider_name"><%= course.provider.provider_name %></span>
  <%= course.name_and_code %>
</h1>

<p class="govuk-body-l" data-qa="course__description"><%= course.description %></p>

<dl class="app-description-list govuk-!-margin-bottom-8">
  <% if course.accrediting_provider.present? %>
    <dt class="app-description-list__label">Accredited body</dt>
    <dd data-qa="course__accredited_body"><%= course.accrediting_provider.provider_name %></dd>
  <% end %>
  <dt class="app-description-list__label">Financial support</dt>
  <dd data-qa="course__funding_option"><%= course.funding_option %></dd>
  <dt class="app-description-list__label">Qualification</dt>
  <dd data-qa="course__qualifications">
    <%= render partial: "publish/courses/preview/qualification" %>
  </dd>

  <% if course.age_range_in_years.present? %>
    <dt class="app-description-list__label">Age range</dt>
    <dd data-qa="course__age_range_in_years"><%= course.age_range_in_years.humanize %></dd>
  <% end %>

  <% if course.length.present? %>
    <dt class="app-description-list__label">Course length</dt>
    <dd data-qa="course__length"><%= course.length %></dd>
  <% end %>
  <% if course.applications_open_from.present? %>
    <dt class="app-description-list__label">Date you can apply from</dt>
    <dd data-qa="course__applications_open"><%= l(course.applications_open_from&.to_date) %></dd>
  <% end %>
  <% if course.start_date.present? %>
    <dt class="app-description-list__label">Date course starts</dt>
    <dd data-qa="course__start_date"><%= l(course.start_date&.to_date, format: :short) %></dd>
  <% end %>
  <% if @provider.website.present? %>
    <dt class="app-description-list__label">Website</dt>
    <dd data-qa="course__provider_website">
      <%= govuk_link_to @provider.website, @provider.website %>
    </dd>
  <% end %>
</dl>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Contents</h2>
    <ul class="govuk-list app-list--dash govuk-!-margin-bottom-8">
      <li><%= govuk_link_to "About the course", "#section-about" %></li>
      <li><%= govuk_link_to course.placements_heading, "#section-schools" %></li>
      <li><%= govuk_link_to "Entry requirements", "#section-entry" %></li>
      <li><%= govuk_link_to "About the training provider", "#section-about-provider" %></li>
      <% if course.salaried? %>
        <li><%= govuk_link_to "Salary", "#section-salary" %></li>
      <% end %>
      <li><%= govuk_link_to "Fees and financial support", "#section-fees-and-financial-support" %></li>
      <% if course.interview_process.present? %>
        <li><%= govuk_link_to "Interview process", "#section-interviews" %></li>
      <% end %>
      <li><%= govuk_link_to "Training with disabilities and other needs", "#section-train-with-disabilities" %></li>
      <li><%= govuk_link_to "Contact details", "#section-contact" %></li>
      <li><%= govuk_link_to "Support and advice", "#section-advice" %></li>
      <li><%= govuk_link_to "Apply", "#section-apply" %></li>
    </ul>

    <%= render partial: "publish/courses/preview/about_course" %>
    <%= render partial: "publish/courses/preview/about_schools" %>
    <%= render partial: "publish/courses/preview/entry_requirements_qualifications" %>
    <% if course.salaried? %>
      <%= render partial: "publish/courses/preview/salary" %>
    <% end %>
    <%= render partial: "publish/courses/preview/fees_and_financial_support" %>
    <%= render partial: "publish/courses/preview/about_the_provider" %>
    <% if course.interview_process.present? %>
      <%= render partial: "publish/courses/preview/interview_process" %>
    <% end %>
    <% if Providers::VisaSponsorshipService.new(@provider).visa_sponsorship_enabled? %>
      <%= render partial: "publish/courses/preview/international_students" %>
    <% end %>
    <%= render partial: "publish/courses/preview/train_with_disabilities" %>
    <%= render partial: "publish/courses/preview/contact_details" %>
    <%= render partial: "publish/courses/preview/advice" %>
    <%= render partial: "publish/courses/preview/apply" %>
  </div>
</div>
