<% content_for :page_title, title_with_error_prefix("#{course.name_and_code} - Courses", @errors.present?) %>
<%= content_for :before_content, render_breadcrumbs(:course) %>

<% if @errors.present? %>
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" data-ga-event-form="error">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      There is a problem
    </h2>

    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <% @errors.each do |id, messages| %>
          <% messages.each do |message| %>
            <li data-error-message="<%= message %>">
              <a href="<%= enrichment_error_url(
                provider_code: @provider.provider_code,
                course: @course,
                field: id,
                message:,
              ) %>"><%= message %></a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-body">
      The way you add information about courses has changed.<br>
      <a class="govuk-notification-banner__link" href="#">Find out more about how to add course information.</a>
    </p>
  </div>
</div>

<h1 class="govuk-heading-l <%= "govuk-!-margin-bottom-2" if (course.is_published? && course.is_running?) || course.is_withdrawn? %>">
  <%= course.name_and_code %> <span data-qa="course__content-status"><%= course.status_tag %></span>
</h1>

<%= render partial: "course_button_panel" %>
<%= render partial: "rolled_over_link" %>

<%= render partial: "publish/courses/course_navigation" %>

<section class="app-section" id="description">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <% if FeatureFlag.active?(:long_form_content) || @recruitment_cycle.after_2025? %>
        <%= render partial: "v2_description_content" %>
      <% else %>
        <%= render partial: "description_content" %>
      <% end %>
    </div>
  </div>
</section>
