<%= govuk_link_to "Back to Dashboard", gias_dashboard_path %>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <%= render partial: "filters", locals: { form_url: gias_providers_path } %>
    </div>

    <div class="govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-l">Establishments</h2>

        <ul class="govuk-list govuk-list--spaced">
            <% @providers.each do |provider| %>
            <li>
                <h3 class="govuk-heading-m">
                    <%= govuk_link_to("#{provider.provider_name} - #{provider.provider_code}", gias_provider_path(provider)) %>
                </h3>

                <div style="padding-left: 4ex">
                    <% matches_grouped_by_establishment_for_provider(provider).each do |establishment, matches| %>
                    <h4 class="govuk-heading-s">
                        Establishment: <%= govuk_link_to("#{establishment.name} - #{establishment.urn}", gias_establishment_path(establishment.urn)) %>
                    </h4>

                    <ul class="govuk-list govuk-list--bullet">
                        <% matches.each do |match| %>
                        <li><%= match %></li>
                        <% end %>
                    </ul>
                    <% end %>
                </div>
            </li>
            <hr class="govuk-section-break--m">
            <% end %>
        </ul>
    </div>
</div>

<%== pagy_nav(@pagy) %>
