<div class="govuk-grid-row">
<h1 class="govuk-heading-xl"><%= @provider.provider_name %></h1>

<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Code</dt>
        <dd class="govuk-summary-list__value"><%= @provider.provider_code %></dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Postcode</dt>
        <dd class="govuk-summary-list__value">
            <%= link_to @provider.postcode,
             gias_postcode_path(postcode: @provider.postcode) %>
        </dd>
    </div>
</dl>

<h2 class="govuk-heading-l">Sites</h2>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Name</th>
      <th scope="col" class="govuk-table__header app-custom-class">Code</th>
      <th scope="col" class="govuk-table__header app-custom-class">Postcode</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
  <% @provider.sites.each do |site| %>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><%= site.location_name %></th>
      <td class="govuk-table__cell"><%= site.code %></td>
      <td class="govuk-table__cell"><%= site.postcode %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h2 class="govuk-heading-l">Matching Establishments</h2>

<% matches_grouped_by_establishment_for_provider(@provider).each do |establishment, matches| %>
  <h3 class="govuk-heading-m">
      <%= govuk_link_to("#{establishment.name} [UKPRN:#{establishment.ukprn || '-'}] [URN:#{establishment.urn || '-'}]", gias_establishment_path(establishment.urn)) %>
  </h3>

  <ul class="govuk-list govuk-list--bullet">
  <% matches.each do |match| %>
      <li><%= match %></li>
  <% end %>
  </ul>
<% end %>

</div>

<div class="govuk-grid-row">
    <h2 class="govuk-heading-l">Graph Diagram</h2>

    <%= image_tag(graph_gias_provider_path(@provider), usemap: "#Provider Graph") %>
    <%= @graph_cmapx.html_safe %>
</div>
