<h2 class="govuk-heading-m"><%= first_name %></h2>

<% if tags.present? %>
  <p class="govuk-body">
    <% tags.each do |tag| %>
      <%= govuk_tag(text: tag, colour: "blue") %>
    <% end %>
  </p>
<% end %>

<%= form_tag("/auth/developer/callback") do %>
  <%= hidden_field_tag "email", email_address %>
  <%= hidden_field_tag "first_name", first_name %>
  <%= hidden_field_tag "last_name", last_name %>
  <%= submit_tag "Login as #{first_name}", class: "govuk-button govuk-!-margin-bottom-2" %>
<% end %>
