<% content_for :page_title, title_with_error_prefix("Pick a course outcome – #{course.name_and_code}", course.errors.any?) %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(
    details_publish_provider_recruitment_cycle_course_path(course.provider_code, course.recruitment_cycle_year, course.course_code),
  ) %>
<% end %>

<%= render "publish/shared/errors" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: course,
                  url: outcome_publish_provider_recruitment_cycle_course_path(
                    @course.provider_code,
                    @course.recruitment_cycle_year,
                    @course.course_code,
                  ),
                  method: :put do |form| %>

      <% course_name_and_code = capture do %>
        <span class="govuk-caption-l"><%= course.name_and_code %></span>
      <% end %>

      <%= render "form_fields", form: form, course_name_and_code: course_name_and_code %>

      <%= form.submit course.is_published? ? "Save and publish" : "Save",
                      class: "govuk-button", data: { qa: "course__save" } %>
    <% end %>
  </div>
</div>
