<% content_for :page_title, title_with_error_prefix("Pick a course outcome", @errors && @errors.any?) %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(@back_link_path) %>
<% end %>

<%= render CaptionText::View.new(text: "Add course") %>

<%= render "publish/shared/errors" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: continue_publish_provider_recruitment_cycle_courses_outcome_path(
                    @provider.provider_code,
                    @provider.recruitment_cycle_year,
                  ),
                  method: :get do |form| %>

      <%= render "publish/courses/new_fields_holder", form:, except_keys: [:qualification] do |fields| %>
        <%= render "form_fields", form: fields, course_name_and_code: nil %>
      <% end %>
    <% end %>

    <p class="govuk-body">
      <%= govuk_link_to(t("cancel"), publish_provider_recruitment_cycle_courses_path(@provider.provider_code, @provider.recruitment_cycle_year)) %>
    </p>
  </div>
</div>
