<%= render PageTitle::View.new(title: "support.providers.courses.edit") %>

<h1 class="govuk-heading-l">Edit course details</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: [:support, @provider, @course], local: true do |f| %>

      <%= f.govuk_error_summary %>

      <%= f.govuk_text_field(:course_code,
      label: { text: "Course code", tag: "h1", size: "m" }, width: 10) %>
      <%= f.govuk_text_field(:name,
      label: { text: "Course title", tag: "h1", size: "m" }, width: 10) %>
      <%= f.govuk_date_field(:start_date,
      legend: { text: "Start date" }, width: 10) %>

      <%= f.govuk_submit %>
    <% end %>

    <%= govuk_link_to(t("cancel"), support_provider_courses_path) %>
  </div>
</div>
