<%= render PageTitle.new(title: "support.providers.courses.edit") %>

<h1 class="govuk-heading-l">Edit course details</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: @edit_course_form, url: support_recruitment_cycle_provider_course_path(@provider.recruitment_cycle_year, @provider), method: :patch do |f| %>

      <%= f.govuk_error_summary %>

      <%= f.govuk_text_field(:course_code, label: { text: "Course code", size: "m" }) %>

      <%= f.govuk_text_field(:name, label: { text: "Course title", size: "m" }) %>

      <div class="govuk-!-margin-bottom-6">
        <h2 class="govuk-heading-m">Course status</h2>
        <p><%= @course.decorate.status_tag %></p>

        <% if @course.is_withdrawn? %>
          <%= govuk_link_to("Revert withdrawal", edit_support_recruitment_cycle_provider_course_revert_withdrawal_path(@provider.recruitment_cycle_year, @provider.id, @course.id)) %>
        <% end %>
      </div>

      <%= f.govuk_date_field(:start_date, legend: { text: "Start date" }) %>

      <%= f.govuk_date_field(:applications_open_from, legend: { text: "Applications open from date" }) %>

      <%= f.govuk_check_boxes_fieldset :is_send, legend: { text: "Special Education Needs and Disability (SEND)" }, multiple: false do %>
        <% f.govuk_check_box :is_send, "true", "false", label: { text: "This course has an additional SEND specialism" }, multiple: false %>
      <% end %>

      <% if @course.decorate.salaried? %>

           <%= f.govuk_check_boxes_fieldset :can_sponsor_skilled_worker_visa, legend: { text: "Visa sponsorship" }, multiple: false do %>
          <% f.govuk_check_box :can_sponsor_skilled_worker_visa, "true", "false", label: { text: "This course can sponsor a skilled worker visa" }, multiple: false %>
        <% end %>

      <% else %>

     <%= f.govuk_check_boxes_fieldset :can_sponsor_student_visa, legend: { text: "Visa sponsorship" }, multiple: false do %>
          <% f.govuk_check_box :can_sponsor_student_visa, "true", "false", label: { text: "This course can sponsor a student visa" }, multiple: false %>
        <% end %>

      <% end %>

      <%= f.govuk_submit t("support.update_record") %>
    <% end %>

    <p class="govuk-body">
      <%= govuk_link_to(t("cancel"), support_recruitment_cycle_provider_courses_path) %>
    </p>
  </div>
</div>
