<%= render PageTitle::View.new(title: "support.providers.courses.index") %>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Course name</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Course code</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% @courses.each do |course| %>
      <tr class="govuk-table__row course-row">
        <td class="govuk-table__cell name">
            <span class="govuk-!-display-block govuk-!-margin-bottom-1"><%= course.name %></span>
        </td>
        <td class="govuk-table__cell course_code">
          <span class="govuk-!-display-block govuk-!-margin-bottom-1"><%= course.course_code %> (<%= govuk_link_to "Edit", edit_support_provider_course_url(@provider,course) %>)</span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render Paginator::View.new(scope: @courses) %>