<%= render PageTitle.new(title: "support.providers.courses.index") %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "All provider records",
    href: support_recruitment_cycle_providers_path
  ) %>
<% end %>

<div class="govuk-caption-l"><%= Provider.human_attribute_name(@provider.provider_type) %></div>
<h1 class="govuk-heading-l"><%= @provider.name_and_code %></h1>

<%= render TabNavigation.new(items: [
  { name: "Details", url: support_recruitment_cycle_provider_path(@provider.recruitment_cycle_year, @provider) },
  { name: "Users", url: support_recruitment_cycle_provider_users_path(@provider.recruitment_cycle_year, @provider) },
  { name: "Courses", url: support_recruitment_cycle_provider_courses_path(@provider.recruitment_cycle_year, @provider) },
  { name: "Schools", url: support_recruitment_cycle_provider_schools_path(@provider.recruitment_cycle_year, @provider) },
  *([{ name: "Accredited providers", url: support_recruitment_cycle_provider_accredited_providers_path(@provider.recruitment_cycle_year, @provider) }] unless @provider.accredited?)
]) %>

<%= govuk_link_to "Copy Courses", new_support_recruitment_cycle_provider_copy_course_path(@recruitment_cycle.year, @provider), class: "govuk-button" %>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Course name and code</th>
      <th scope="col" class="govuk-table__header">Status</th>
      <th scope="col" class="govuk-table__header">Ratifying Provider</th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% @courses.each do |course| %>
      <tr class="govuk-table__row course-row">
        <td class="govuk-table__cell name">
          <span class="govuk-!-display-block govuk-!-margin-bottom-1"><%= course.name %> (<%= course.course_code %>)</span>
        </td>
        <td class="govuk-table__cell status">
          <%= course.decorate.status_tag %>
        </td>
        <td class="govuk-table__cell">
          <% if course.accrediting_provider %>
            <%= govuk_link_to(course.accrediting_provider.provider_name, support_recruitment_cycle_provider_path(@provider.recruitment_cycle_year, course.accrediting_provider)) %>
          <% end %>
        </td>
        <td class="govuk-table__cell change">
          <%= govuk_link_to "Change", edit_support_recruitment_cycle_provider_course_url(@provider.recruitment_cycle_year, @provider, course) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= govuk_pagination(pagy: @pagy) %>
