<%= render PageTitle::View.new(title: "support.providers.courses.index") %>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Course name and code</th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% @courses.each do |course| %>
      <tr class="govuk-table__row course-row">
        <td class="govuk-table__cell name">
          <span class="govuk-!-display-block govuk-!-margin-bottom-1"><%= course.name %> (<%= course.course_code %>)</span>
        </td>
        <td class="govuk-table__cell change">
          <%= govuk_link_to "Change", edit_support_provider_course_url(@provider, course) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render Paginator::View.new(scope: @courses) %>
