<%= render PageTitle.new(
  title: "Check your answers - #{t('.caption', provider_name: @partnership.training_provider.provider_name, code: @partnership.training_provider.provider_code)}",
) %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(search_support_recruitment_cycle_provider_accredited_providers_path) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <%= form_with(model: @partnership, url: check_support_recruitment_cycle_provider_accredited_partnerships_path, method: :put, local: true) do |f| %>
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= t(".caption", provider_name: @partnership.training_provider.provider_name, code: @partnership.training_provider.provider_code) %></span>
        Check your answers
      </h1>

      <%= render GovukComponent::SummaryListComponent.new do |component|
            component.with_row do |row|
              row.with_key { "Accredited provider" }
              row.with_value { @partnership.accredited_provider.provider_name }
              row.with_action(text: "Change", href: search_support_recruitment_cycle_provider_accredited_providers_path(goto_confirmation: true), visually_hidden_text: "accredited partner name")
            end
          end %>

      <%= f.hidden_field :accredited_provider_id %>
      <%= govuk_warning_text(text: t(".warning", provider_name: @partnership.accredited_provider.provider_name)) %>

      <%= f.govuk_submit(t(".add")) %>
    <% end %>

    <p class="govuk-body">
      <%= govuk_link_to(t("cancel"), support_recruitment_cycle_provider_accredited_partnerships_path) %>
    </p>
  </div>
</div>
