<%= govuk_summary_card(classes: %w[course-summary-card], title:) do |card| %>
  <% card.with_action do %>
    <%= button_to t(".delete"),
                  find_candidate_saved_course_path(saved_course),
                  method: :delete,
                  params: { location: @location, order: order }.compact_blank,
                  class: "app-button-link" %>
  <% end %>

  <dl class="govuk-summary-list govuk-summary-list--no-border">
    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
      <dt class="govuk-summary-list__key"><%= nearest_placement_school_key %></dt>
      <dd class="govuk-summary-list__value">
        <% if nearest_placement_school_value %>
          <%= nearest_placement_school_value %>
        <% else %>
          <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0"><%= nearest_placement_school_hint %></span>
        <% end %>
      </dd>
    </div>

    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
      <dt class="govuk-summary-list__key"><%= fee_key %></dt>
      <dd class="govuk-summary-list__value">
        <%= fee_value %>

        <% if bursary_value.present? %>
          <div class="govuk-hint govuk-!-font-size-16"><%= bursary_value %></div>
        <% end %>
      </dd>
    </div>

    <div class="govuk-summary-list__row <%= "govuk-summary-list__row--no-actions" if saved_course.note.blank? %>">
      <dt class="govuk-summary-list__key"><%= t(".note_key") %></dt>
      <dd class="govuk-summary-list__value">
        <% if saved_course.note.present? %>
          <div class="govuk-!-font-size-19"><%= simple_format(saved_course.note) %></div>
        <% else %>
          <%= govuk_link_to t(".add_note"), edit_find_candidate_saved_course_note_path(saved_course) %>
        <% end %>
      </dd>

      <% if saved_course.note.present? %>
        <dd class="govuk-summary-list__actions">
          <%= govuk_link_to t(".edit_note"), edit_find_candidate_saved_course_note_path(saved_course) %>
          <span class="govuk-!-margin-left-1 govuk-!-margin-right-1">|</span>
          <%= button_to(
            t(".delete_note"),
            find_candidate_saved_course_note_path(saved_course),
            method: :delete,
            class: "app-button-link",
            form_class: "govuk-!-display-inline-block",
          ) %>
        </dd>
      <% end %>
    </div>
  </dl>
<% end %>
