<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl">
    <%= t(".thing", provider_name: course.provider_name) %>
    </span>
  <%= t(".heading", course_name: course.course_name) %>
</h1>

<p class="govuk-body"><%= t(".schools_to_be_placed") %></p>
<p class="govuk-body"><%= t(".schools_you_can_choose") %></p>

<ul class="govuk-list govuk-list--spaced" id="course_school_placements">
  <% course.preview_site_statuses.each do |site_status| %>
    <li>
      <strong><%= site_status.site.location_name %></strong>
      <br>
      <%= site_status.site.decorate.full_address %>
    </li>
  <% end %>
</ul>
