<%= render PageTitle::View.new(title: "support.providers.locations.index") %>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">Location code</th>
      <th scope="col" class="govuk-table__header">URN</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% if @sites.any? %>
      <% @sites.each do |site| %>
        <tr class="govuk-table__row location-row">
          <td class="govuk-table__cell name">
            <span class="govuk-!-display-block govuk-!-margin-bottom-1">
              <%= govuk_link_to site.location_name, edit_support_provider_location_path(@provider, site) %>
            </span>
          </td>
          <td class="govuk-table__cell code">
            <span class="govuk-!-display-block govuk-!-margin-bottom-1">
              <%= site.code %> <%= site.code == "-" ? "(dash)" : "" %>
            </span>
          </td>
          <td class="govuk-table__cell urn">
            <span class="govuk-!-display-block govuk-!-margin-bottom-1">
              <%= site.urn.presence || "<strong class='govuk-error-message govuk-\!-display-inline'>(Missing)</strong>".html_safe %>
            </span>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= render Paginator::View.new(scope: @sites) %>
