<div data-qa="course__scholarship_and_bursary_details">
  <% if Settings.find_features.bursaries_and_scholarships_announced %>
    <p class="govuk-body">
      You could be eligible for either:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li data-qa="course__bursary_amount">a bursary of <%= number_to_currency(bursary_amount) %></li>
      <li data-qa="course__scholarship_amount">a scholarship of <%= number_to_currency(scholarship_amount) %></li>
    </ul>

    <% if has_early_career_payments? %>
      <p class="govuk-body" data-qa="course__early_career_payment_details">
        With a scholarship or bursary, you’ll also get early career payments of £2,000 in your second, third and fourth years of teaching (£3,000 in <%= govuk_link_to "some areas of England", "https://www.gov.uk/guidance/mathematics-early-career-payments-guidance-for-teachers-and-schools" %>).
      </p>
    <% end %>

    <p class="govuk-body">
      To be eligible for a bursary you’ll need a 2:2 degree in any subject. You do not need to apply for a bursary. If you’re eligible, you’ll automatically start receiving it when you start the course.
    </p>

    <% if scholarship_body.present? %>
      <p class="govuk-body">
        For a scholarship, you’ll need to apply through the <%= scholarship_body %>. <%= govuk_link_to("Check whether you’re eligible for a scholarship and find out how to apply", scholarship_url) %>.
      </p>
    <% end %>
  <% end %>

  <p class="govuk-body">
    You may also be eligible for a student loan. These are normally for undergraduate courses but you can also apply if you do postgraduate teacher training. <%= govuk_link_to("Find out how much loan you could get using the student finance calculator", "https://www.gov.uk/student-finance-calculator") %>.
  </p>

  <p class="govuk-body">
    Depending on your immigration status, financial support may not be available. Find out about <%= govuk_link_to("training to teach if you’re a non-UK citizen", "https://www.gov.uk/government/publications/train-to-teach-in-england-non-uk-applicants/train-to-teach-in-england-if-youre-a-non-uk-citizen") %>, including financial support.
  </p>
</div>
