<%= render PageTitle.new(title: t("support.providers.multiple_locations.edit")) %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(support_recruitment_cycle_provider_locations_path) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <span class="govuk-caption-l"><%= "#{@provider.provider_name} (#{@provider.provider_code})" %></span>
    <h1 class="govuk-heading-l"><%= t("support.providers.multiple_locations.edit") %></h1>

    <%= form_with(model: @multiple_locations_form,
                  url: support_recruitment_cycle_provider_multiple_locations_path,
                  local: true) do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_text_field :location_name, label: { text: "Name", size: "s" } %>

      <%= f.govuk_text_field(:urn,
                             label: { text: "Unique reference number (URN) (optional)", size: "s" },
                             width: 10) %>

      <p class="govuk-body">
        Find URNs on <%= govuk_link_to "Get information about schools (opens in new tab)", t("links.get_information_schools") %>
      </p>

      <%= f.govuk_fieldset legend: { text: "Address", size: "m" } do %>
        <%= f.govuk_text_field(:address1, label: { text: "Address line 1", size: "s" }) %>

        <%= f.govuk_text_field(:address2, label: { text: "Address line 2 (optional)", size: "s" }) %>

        <%= f.govuk_text_field(:address3, label: { text: "Town or city", size: "s" }, width: "two-thirds") %>

        <%= f.govuk_text_field(:address4, label: { text: "County (optional)", size: "s" }, width: "two-thirds") %>

        <%= f.govuk_text_field(:postcode, label: { size: "s" }, width: 10) %>
      <% end %>

      <%= f.govuk_submit(t("continue")) %>
    <% end %>

    <p class="govuk-body">
      <%= govuk_link_to(t("cancel"), new_support_recruitment_cycle_provider_multiple_location_path) %>
    </p>
  </div>
</div>
