<% page_title = "Check bulk update schools" %>
<% content_for :page_title, title_with_error_prefix("#{page_title} – #{course.name_and_code}", course.errors.any?) %>
<% content_for :before_content do %>
  <!-- Fix Back link to udpate placement schools page -->
  <%= govuk_back_link_to(
    edit_bulk_schools_publish_provider_recruitment_cycle_course_path(course.provider_code, course.recruitment_cycle_year, course.course_code, bulk_apply: params[:bulk_apply]),
  ) %>
<% end %>
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-caption-l">
        <%= course.name_and_code %>
      </div>
      <p class="govuk-heading-l">
        Updating placement schools
      </p>
      <p class="govuk-body">
        You are updating this information:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Placement schools</li>
      </ul>
      <p class="govuk-body">
        You are updating these courses:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <% if @bulk_apply_scope_label.include?("All courses") %>
          <li>All courses</li>
        <% elsif @bulk_apply_scope_label.include?("Only this course") %>
          <li>Only this course - <%= course.name_and_code %></li>
        <% else %>
          <li><%= @bulk_apply_scope_label %></li>
        <% end %>
      </ul>
      <% if @show_courses_table %>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <% (1..20).each do |index| %>
              <tr class="govuk-table__row">
                <!-- Column 1: Course -->
                <td class="govuk-table__cell">
                  <strong><%= "Course name (X#{index.to_s.rjust(3, "0")})" %></strong>
                </td>
                <!-- Column 2: Course information -->
                <td class="govuk-table__cell">
                  <span class="govuk-hint"><%= @bulk_apply_short_label %></span>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
      <%= form_with(
  url: confirm_bulk_schools_publish_provider_recruitment_cycle_course_path(
    course.provider_code,
    course.recruitment_cycle_year,
    course.course_code,
  ),
  method: :post
) do |f| %>
        <%= hidden_field_tag :bulk_apply, @bulk_apply %>
        <%= f.govuk_submit "Update placement schools" %>
      <% end %>
    </div>
  </div>
</div>
<div class="govuk-body">
  <%= govuk_link_to "Cancel", details_publish_provider_recruitment_cycle_course_path(course.provider_code, course.recruitment_cycle_year, course.course_code) %>
</div>
