<% page_title = "what you will study" %>

<% content_for :page_title, title_with_error_prefix(page_title, @errors && @errors.any?) %>

<% if params[:copy_from].present? %>
  <%= render Providers::CopyCourseContentWarningComponent.new(
    @copied_fields.map { |name, _field, target| [name, target] },
    "publish-gcse-requirements-form",
    @source_course,
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= form_with(
      model: @gcse_requirements_form, url:
      gcses_pending_or_equivalency_tests_publish_provider_recruitment_cycle_course_path(
        @course.provider.provider_code,
        @course.provider.recruitment_cycle_year,
        @course.course_code,
      ),
      method: :put,
      builder: GOVUKDesignSystemFormBuilder::FormBuilder
    ) do |f| %>

    <% content_for :before_content do %>
      <%= govuk_back_link_to(back_link_path(param_form_key: f.object_name.to_sym, params:, provider_code: @provider.provider_code, recruitment_cycle_year: @course.recruitment_cycle_year, course_code: @course.course_code)) %>
    <% end %>

    <%= f.govuk_error_summary %>

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l"><%= @course.name_and_code %></span>
      What you will study
    </h1>

     <%= t("publish.providers.school_placements.edit.guidance_text_html") %>

      <%= render partial: "guidance" %>

      <aside data-qa="course__related_sidebar">
      <%= render(
        partial: "publish/courses/related_sidebar",
        locals: {
          course: @course,
          page_path: school_placements_publish_provider_recruitment_cycle_course_path(
            @provider.provider_code,
            @course.recruitment_cycle_year,
            @course.course_code,
          ),
        },
      ) %>
    </aside>

    <div data-controller="input-preview">
    <!--WHAT YOU WILL STUDY-->
        <%= f.govuk_text_area(:how_school_placements_work_7,
          data: {
            input_preview_target: "input",
            action: "input-preview#updatePreview",
            preview_output_target: "preview3"
          },
          label: { text: CourseEnrichment.human_attribute_name("what-trainees-study"), size: "s" },
          hint: { text: CourseEnrichment.human_attribute_name("what-trainees-study-hint"), size: "s" },
          max_words: 150,
          rows: 10) %>

        <%= f.govuk_text_area(:how_school_placements_work_8,
          data: {
            input_preview_target: "input",
            action: "input-preview#updatePreview",
            preview_output_target: "preview3"
          },
          label: { text: CourseEnrichment.human_attribute_name("how-trainees-assessed"), size: "s" },
          hint: { text: CourseEnrichment.human_attribute_name("how-trainees-assessed-hint"), size: "s" },
          max_words: 50,
          rows: 5) %>

        <div class="app-preview-container--heading">
          <span class="govuk-body"><strong>Preview of what candidates will see</strong></span>
        </div>
        <div class="app-preview-container">
        <p class="govuk-heading-m">What you will study</p>
          <p class="govuk-body" data-input-preview-target="preview" data-preview-target="preview3">The text you type above will show here.</p>
        </div>


     <%= f.hidden_field(:goto_preview, value: goto_preview_value(param_form_key: f.object_name.to_sym, params:)) %>

      <%= f.submit "Update #{page_title}", class: "govuk-button", data: { qa: "gcse_requirements__save" } %>
    <% end %>

    <p class="govuk-body">
      <%= govuk_link_to(t("cancel"), publish_provider_recruitment_cycle_course_path(@provider.provider_code, @provider.recruitment_cycle.year, @course.course_code)) %>
    </p>
    </div>

  </div>

    <aside class="govuk-grid-column-one-third" data-qa="course__related_sidebar">
      <%= render(
            partial: "publish/courses/related_sidebar_content",
            locals: {
              course: @course,
              page_path: about_this_course_publish_provider_recruitment_cycle_course_path(
                @provider.provider_code,
                @course.recruitment_cycle_year,
                @course.course_code,
              ),
            },
          ) %>
    </aside>

</div>
