<%= render PageTitle.new(title: ".check") %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(search_support_recruitment_cycle_provider_schools_path) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with(model: @school_form, url: support_recruitment_cycle_provider_schools_check_path(@provider.recruitment_cycle_year, @provider, school_id: @school_form.gias_school_id), method: :put, local: true) do |f| %>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <%= f.govuk_error_summary %>
        </div>
      </div>

      <% fieldset_legend = proc do
           tag.span("#{t('.new')} - #{@provider.decorate.name_and_code}", class: "govuk-caption-l")
              .concat(tag.h1(t("support.providers.users.check"), class: "govuk-fieldset__heading govuk-!-margin-bottom-3"))
         end %>

      <%= f.govuk_fieldset legend: { text: fieldset_legend.call, size: "l" } do %>
        <%= render GovukComponent::SummaryListComponent.new do |component|
              component.with_row do |row|
                row.with_key { t(".urn") }
                row.with_value(text: @school_form.urn)
              end

              component.with_row do |row|
                row.with_key { t(".address") }
                row.with_value(text: @school_form.full_address)
              end
            end %>
      <% end %>

      <%= govuk_inset_text do %>
        <%= t(".inset_text_html", link: t("links.get_information_schools_search")) %>
      <% end %>

      <%= f.govuk_submit(t(".new")) %>
    <% end %>

    <p class="govuk-body">
    <%= govuk_link_to(t("cancel"), support_recruitment_cycle_provider_schools_path) %>
    </p>
  </div>
</div>
