<%= render PageTitle.new(title: "support.providers.onboarding.contacts.new", has_errors: @support_provider_contact_form.errors.present?) %>

<%= form_with model: @support_provider_contact_form, url: support_recruitment_cycle_providers_onboarding_contacts_path, local: true do |f| %>
  <%= content_for(:breadcrumbs) do %>
    <%= render GovukComponent::BackLinkComponent.new(
      text: "Back",
      href: back_link_for_onboarding_path(param_form_key: f.object_name.to_sym, params:, recruitment_cycle_year: @recruitment_cycle.year)
    ) %>
  <% end %>

  <%= f.govuk_error_summary %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Add organisation</span>
        Contact details
      </h1>
      <%= f.govuk_text_field :email, label: { text: "Email address", size: "s" }, width: "two-thirds" %>
      <%= f.govuk_text_field :telephone, label: { text: "Telephone number", size: "s" }, width: "two-thirds" %>
      <%= f.govuk_text_field :website, label: { text: "Website", size: "s" }, width: "two-thirds" %>

      <%= f.govuk_fieldset legend: { text: "Address", size: "m" } do %>
        <%= f.govuk_text_field :address1, label: { text: "Address line 1", size: "s" } %>
        <%= f.govuk_text_field :address2, label: { text: "Address line 2 (optional)", size: "s" } %>
        <%= f.govuk_text_field :address3, label: { text: "Address line 3 (optional)", size: "s" } %>
        <%= f.govuk_text_field :town, label: { text: "Town or city", size: "s" }, width: "two-thirds" %>
        <%= f.govuk_text_field :address4, label: { text: "County (optional)", size: "s" }, width: "two-thirds" %>

        <%= f.govuk_text_field :postcode, label: { text: "Postcode", size: "s" }, width: 10 %>
      <% end %>

      <%= f.hidden_field(:goto_confirmation, value: goto_confirmation_value(param_form_key: f.object_name.to_sym, params:)) %>

      <%= f.govuk_submit %>
      <p class="govuk-body">
        <%= govuk_link_to(t("cancel"), support_recruitment_cycle_providers_path) %>
      </p>
    </div>
  </div>
<% end %>
