<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-heading-s title-bar-inline govuk-!-margin-bottom-2"><%= title %></p>

    <% if rollover_active? %>
      <%= change_cycle_link(@provider) %>
    <% end %>

    <% if current_user.providers.where(recruitment_cycle: RecruitmentCycle.current).count > 1 || current_user.admin? %>
      <%= change_organisation_link %>
    <% end %>

    <% if rollover_active? %>
      <span class="govuk-hint title-bar-inline">
        <% if current_recruitment_cycle?  %>
          <%= "- #{current_recruitment_cycle_year} to #{next_recruitment_cycle_year} - current" %>
        <% elsif next_recruitment_cycle? %>
          <%= "- #{current_recruitment_cycle_year + 1} to #{next_recruitment_cycle_year + 1}" %>
        <% end %>
      </span>
    <% end %>
  </div>
</div>
