<% content_for :page_title, "Service performance" %>

<h1 class="govuk-heading-l">
  Service performance
</h1>

<%= render partial: "pages/performance_dashboard/initial_performance_indicators" %>

<%= govuk_tabs(title: "Contents", classes: "app-tabs") do |tabs| %>
  <%= tabs.with_tab(label: "Providers") do %>
    <%= render partial: "pages/performance_dashboard/providers_tab" %>
  <% end %>
  <%= tabs.with_tab(label: "Courses") do %>
    <%= render partial: "pages/performance_dashboard/courses_tab" %>
  <% end %>
  <%= tabs.with_tab(label: "Users") do %>
    <%= render partial: "pages/performance_dashboard/users_tab" %>
  <% end %>
  <% if FeatureService.enabled?("rollover.can_edit_current_and_next_cycles") %>
    <%= tabs.with_tab(label: "Rollover") do %>
      <%= render partial: "pages/performance_dashboard/rollover_tab" %>
    <% end %>
  <% end %>
<% end %>
