<% content_for :page_title, "Publish teacher training courses privacy notice" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Publish teacher training courses privacy notice</h1>
    <p class="govuk-body-l">
      Read the Privacy information: <%= govuk_link_to "education providers' workforce, including teachers.", t("privacy_information.base_url") %>
    </p>
    <p class="govuk-body">
      <%= govuk_link_to "Section 1", "#{t('privacy_information.base_url')}#{t('privacy_information.section_1')}" %> tells you what we do with your data to provide funding.
    </p>
    <p class="govuk-body">
      <%= govuk_link_to "Section 6", "#{t('privacy_information.base_url')}#{t('privacy_information.section_6')}" %> tells you what we do with your data to help support teaching as a career.
    </p>
    <p class="govuk-body">
      <%= govuk_link_to "Section 14", "#{t('privacy_information.base_url')}#{t('privacy_information.section_14')}" %> tells you how we use data to contact you for research or feedback on services we provide to you.
    </p>
    <p class="govuk-body">
      <%= govuk_link_to "Section 16", "#{t('privacy_information.base_url')}#{t('privacy_information.section_16')}" %> tells you how we use your data to take part in our stakeholder or user groups.
    </p>
    <p class="govuk-body">
      <%= govuk_link_to "Section 22", "#{t('privacy_information.base_url')}#{t('privacy_information.section_22')}" %> tells you how we use your data to maintain lists of education sector contact details.
    </p>
    <p class="govuk-body">
      <%= govuk_link_to "Section 29", "#{t('privacy_information.base_url')}#{t('privacy_information.section_29')}" %> tells you how we use your data when you contact us to make an enquiry.
    </p>
    <p class="govuk-body">
      <%= govuk_link_to "Section 30", "#{t('privacy_information.base_url')}#{t('privacy_information.section_30')}" %> tells you how we use your data to use our websites.
    </p>
    <p class="govuk-body">
      <%= govuk_link_to "Section 37", "#{t('privacy_information.base_url')}#{t('privacy_information.section_37')}" %> tells you how we use your data when you use DfE Sign-In.
    </p>
    <p class="govuk-body">
      <%= govuk_link_to "Section 43", "#{t('privacy_information.base_url')}#{t('privacy_information.section_43')}" %> tells you how to contact us to make a complaint.
    </p>
  </div>
</div>
