<%= content_for :page_title, t(".page_title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t(".heading") %></h1>

    <ul class="app-recent-search-tags govuk-!-margin-bottom-4">
      <% @filter_tags.each do |tag_text| %>
        <li><span class="app-recent-search-tag"><%= tag_text %></span></li>
      <% end %>
    </ul>

    <p class="govuk-body"><%= t(".are_you_sure") %></p>

    <div class="govuk-button-group">
      <%= button_to t(".submit"),
          find_candidate_unsubscribe_email_alert_path(token: @email_alert.signed_id(purpose: :unsubscribe, expires_in: 30.days)),
          method: :delete,
          class: "govuk-button govuk-button--warning" %>
      <%= govuk_link_to t(".cancel"), find_candidate_email_alerts_path, class: "govuk-link" %>
    </div>
  </div>
</div>
