<%= content_for :page_title, t(".page_title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t(".heading") %></h1>

    <dl class="govuk-summary-list">
      <% @summary_rows.each do |row| %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"><%= row[:label] %></dt>
          <dd class="govuk-summary-list__value"><%= row[:value] %></dd>
        </div>
      <% end %>
    </dl>

    <p class="govuk-body"><%= t(".are_you_sure") %></p>

    <%= form_with url: find_unsubscribe_email_alert_from_email_path(token: params[:token]), method: :delete do |form| %>
      <div class="govuk-button-group">
        <%= form.submit t(".submit"), class: "govuk-button govuk-button--warning" %>
        <%= govuk_link_to t(".cancel"), find_root_path, class: "govuk-link" %>
      </div>
    <% end %>
  </div>
</div>
