<% if filters_view.location_query? %>
<div class="no-results-divider">
  <h3 class="govuk-heading-m">
    Try a wider location search
  </h3>
  <ul class="govuk-list govuk-list--bullet">
    <!--We can loop through each of the radius options and display them as a list of buttons-->
    <!--We could also exclude the radius' that have been selected previously-->
    <!--With a bit of JavaScript magic we could make the (xx results) work too-->
    <li>
      <button class="govuk-link govuk-link--no-visited-state govuk-link-distance" type="submit" name="radius" value="15" form="result-filters">
        15 miles <%= turbo_frame_tag [:results_count, :radius, 15], src: find_results_count_path(request.query_parameters.merge(radius: 15)), loading: :lazy  %>
      </button>
    </li>
    <li>
      <button class="govuk-link govuk-link--no-visited-state govuk-link-distance" type="submit" name="radius" value="20" form="result-filters">
        20 miles <%= turbo_frame_tag [:results_count, :radius, 20], src: find_results_count_path(request.query_parameters.merge(radius: 20)), loading: :lazy  %>
      </button>
    </li>
    <li>
      <button class="govuk-link govuk-link--no-visited-state govuk-link-distance" type="submit" name="radius" value="100" form="result-filters">
        100 miles <%= turbo_frame_tag [:results_count, :radius, 100], src: find_results_count_path(request.query_parameters.merge(radius: 100)), loading: :lazy  %>
      </button>
    </li>
    <li>
      <button class="govuk-link govuk-link--no-visited-state govuk-link-distance" type="submit" name="radius" value="200" form="result-filters">
        200 miles <%= turbo_frame_tag [:results_count, :radius, 200], src: find_results_count_path(request.query_parameters.merge(radius: 200)), loading: :lazy  %>
      </button>
    </li>
  </ul>
</div>
<% end %>

<div class="no-results-divider">
  <h3 class="govuk-heading-m">
    Try a similar subject
  </h3>
  <ul class="govuk-list govuk-list--bullet">
    <!--We can loop through each of the radius options and display them as a list of buttons-->
    <!--We could also exclude the radius' that have been selected previously-->
    <!--With a bit of JavaScript magic we could make the (xx results) work too-->
    <li>
      <button class="govuk-link govuk-link--no-visited-state govuk-link-distance" type="submit" name="radius" value="15" form="result-filters">
        Biology <%= turbo_frame_tag [:results_count, :radius, 15], src: find_results_count_path(request.query_parameters.merge(radius: 15)), loading: :lazy  %>
      </button>
      <div id="nationality-item-hint" class="govuk-hint govuk-!-font-size-16 hint-padding">
        Bursaries of £25,000 available
      </div>
    </li>
    <li>
      <button class="govuk-link govuk-link--no-visited-state govuk-link-distance" type="submit" name="radius" value="20" form="result-filters">
        Chemistry <%= turbo_frame_tag [:results_count, :radius, 20], src: find_results_count_path(request.query_parameters.merge(radius: 20)), loading: :lazy  %>
      </button>
      <div id="nationality-item-hint" class="govuk-hint govuk-!-font-size-16 hint-padding">
      Scholarships of £30,000 or bursaries of £28,000 are available
    </div>
    </li>
    <li>
    <button class="govuk-link govuk-link--no-visited-state govuk-link-distance" type="submit" name="radius" value="20" form="result-filters">
      Computing <%= turbo_frame_tag [:results_count, :radius, 20], src: find_results_count_path(request.query_parameters.merge(radius: 20)), loading: :lazy  %>
    </button>
    <div id="nationality-item-hint" class="govuk-hint govuk-!-font-size-16 hint-padding">
    Scholarships of £30,000 or bursaries of £28,000 are available
  </div>
  </li>
  <li>
    <button class="govuk-link govuk-link--no-visited-state govuk-link-distance" type="submit" name="radius" value="100" form="result-filters">
        Design and technology <%= turbo_frame_tag [:results_count, :radius, 100], src: find_results_count_path(request.query_parameters.merge(radius: 100)), loading: :lazy  %>
      </button>
      <div id="nationality-item-hint" class="govuk-hint govuk-!-font-size-16 hint-padding">
      Bursaries of £25,000 available
      </div>
    </li>
    <li>
      <button class="govuk-link govuk-link--no-visited-state govuk-link-distance" type="submit" name="radius" value="100" form="result-filters">
        Mathematics <%= turbo_frame_tag [:results_count, :radius, 100], src: find_results_count_path(request.query_parameters.merge(radius: 100)), loading: :lazy  %>
      </button>
      <div id="nationality-item-hint" class="govuk-hint govuk-!-font-size-16 hint-padding">
      Scholarships of £30,000 or bursaries of £28,000 are available
    </div>
    </li>
    <li>
      <button class="govuk-link govuk-link--no-visited-state govuk-link-distance" type="submit" name="radius" value="200" form="result-filters">
        Physics <%= turbo_frame_tag [:results_count, :radius, 200], src: find_results_count_path(request.query_parameters.merge(radius: 200)), loading: :lazy  %>
      </button>
      <div id="nationality-item-hint" class="govuk-hint govuk-!-font-size-16 hint-padding">
      Scholarships of £30,000 or bursaries of £28,000 are available
      </div>
    </li>
  </ul>
</div>
