<div class="app-search-results">
  <% if devolved_nation? %>
    <h2 class="govuk-heading-m">This service is for courses in England</h2>
  <% end %>

  <% case country when "Scotland" %>
    <p class="govuk-body">
      <%= govuk_link_to "Learn more about teacher training in Scotland", "https://teachinscotland.scot/" %>
    </p>
  <% when "Wales" %>
    <p class="govuk-body">
      <%= govuk_link_to "Learn more about teacher training in Wales", "https://educators.wales/teachers" %>
    </p>
  <% when "Northern Ireland" %>
    <p class="govuk-body">
      <%= govuk_link_to "Learn more about teacher training in Northern Ireland", "https://www.education-ni.gov.uk/articles/initial-teacher-education-courses-northern-ireland" %>
    </p>
  <% else %>
    <h3 class="govuk-heading-m">
      Try another search
    </h3>
    <p class="govuk-body">
      You may get more results if you:
    </p>
    <div class="no-results-divider">
      <ul class="govuk-list govuk-list--bullet">
        <li>add more keywords, or try different ones</li>
        <li>change the radius of your search</li>
        <li>look at a wider geographical location. West Yorkshire instead of Leeds for example</li>
        <li>remove some filters if you have used them</li>
      </ul>
    </div>

    <% if filters_view.location_query? %>
      <div class="no-results-divider">
        <h3 class="govuk-heading-m">
          Try a wider location search
        </h3>
        <ul class="govuk-list govuk-list--bullet">
          <!--We can loop through each of the radius options and display them as a list of buttons-->
          <!--We could also exclude the radius' that have been selected previously-->
          <!--With a bit of JavaScript magic we could make the (xx results) work too-->
          <li>
            <button class="govuk-link govuk-link--no-visited-state govuk-link-distance" type="submit" name="radius" value="15" form="result-filters">
              15 miles <%= turbo_frame_tag [:results_count, :radius, 15], src: find_results_count_path(request.query_parameters.merge(radius: 15)), loading: :lazy  %>
            </button>
          </li>
          <li>
            <button class="govuk-link govuk-link--no-visited-state govuk-link-distance" type="submit" name="radius" value="20" form="result-filters">
              20 miles <%= turbo_frame_tag [:results_count, :radius, 20], src: find_results_count_path(request.query_parameters.merge(radius: 20)), loading: :lazy  %>
            </button>
          </li>
          <li>
            <button class="govuk-link govuk-link--no-visited-state govuk-link-distance" type="submit" name="radius" value="100" form="result-filters">
              100 miles <%= turbo_frame_tag [:results_count, :radius, 100], src: find_results_count_path(request.query_parameters.merge(radius: 100)), loading: :lazy  %>
            </button>
          </li>
          <li>
            <button class="govuk-link govuk-link--no-visited-state govuk-link-distance" type="submit" name="radius" value="200" form="result-filters">
              200 miles <%= turbo_frame_tag [:results_count, :radius, 200], src: find_results_count_path(request.query_parameters.merge(radius: 200)), loading: :lazy  %>
            </button>
          </li>
        </ul>
      </div>
    <% end %>

  <h3 class="govuk-heading-m">
    Or <a class="govuk-link govuk-link--no-visited-state" href="#">get notified</a> when a course like this get listed
  </h3>
  <p class="govuk-body">
  Subscribers
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>get an email when new jobs match their search</li>
  <li>can unsubscrive at any time</li>
  <li>receive no more than 1 email a day</li>
</ul>
  <% end %>
</div>
