<%= render Find::LocationSubjectFilterComponent.new(results:) %>

<h1 class="govuk-heading-xl" data-qa="heading">
  <%= "#{results.number_of_courses_string} found" %>
</h1>

<div class="app-filter-toggle"></div>

<div class="app-filter-layout">
  <div class="app-filter-layout__filter">
    <%= render Find::Results::FilterComponent.new(results:) %>
  </div>
  <div class="app-filter-layout__content">

    <div class="app-promoted-link">
      <%= govuk_link_to "Talk to teacher training providers at an event near you",
                        t("find.get_into_teaching.url_teacher_training_events") %>.
    </div>

    <%= render Find::Results::NoResultsComponent.new(results:) %>
    <%= render Find::Results::SortByComponent.new(results:) %>

    <% if results.has_results? %>
      <ul class="app-search-results">
        <% courses.each do |course| %>
          <%= render Find::Results::SearchResultComponent.new(
            course:,
            filtered_by_location: results.location_filter?,
            sites_count: results.sites_count(course)
          ) %>
        <% end %>
      </ul>
    <% end %>

    <%= paginate(courses) %>
  </div>
</div>
