<li class="app-search-results__item" data-qa="course">
  <%= govuk_summary_card(classes: ["course-summary-card"], title: coure_title_link) do |card| %>
    <%= card.with_summary_list(actions: false, classes: ["govuk-summary-list--no-border"]) do |summary_list| %>
      <% if filtered_by_location? && has_sites? %>
        <% summary_list.with_row do |row| %>
          <% if course.provider.decorate.website.present? %>
            <% row.with_key(text: location_label) %>
            <% row.with_value do %>
              <% if course.university_based? %>
                <%= render partial: "find/results/university", locals: { course: } %>
              <% else %>
                <%= render partial: "find/results/non_university", locals: { course: } %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% summary_list.with_row do |row| %>
        <% row.with_key(text: t(".fee_or_salary")) %>
        <% row.with_value do %>
          <%= course.funding %>
          <br>
          <span class="govuk-hint govuk-!-font-size-16"><%= course.funding_option %></span>
        <% end %>
      <% end %>

      <% unless no_fee? %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".course_fee")) %>
          <% row.with_value(text: course.course_fee_content) %>
        <% end %>
      <% end %>

      <% if course_length_with_study_mode.present? %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t("course_length_with_study_mode.label")) %>
          <% row.with_value(text: course_length_with_study_mode) %>
        <% end %>
      <% end %>

      <% if age_range_in_years_and_level.present? %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t("find.courses.summary_component.view.age_range")) %>
          <% row.with_value(text: age_range_in_years_and_level) %>
        <% end %>
      <% end %>

      <% summary_list.with_row do |row| %>
        <% row.with_key(text: t(".qualification")) %>
        <% row.with_value do %>
          <% if accredited_provider %>
            <%= formatted_qualification %>
            <br>
            <span class="govuk-hint govuk-!-font-size-16"><%= accredited_provider %></span>
          <% else %>
            <%= formatted_qualification %>
          <% end %>
        <% end %>
      <% end %>

      <% summary_list.with_row do |row| %>
        <% row.with_key(text: t(".degree_required")) %>
        <% row.with_value do %>
          <p class="govuk-body">
            <%= degree_required_status %>
            <%= course.equivalent_qualification %>
          </p>
        <% end %>
      <% end %>

      <% summary_list.with_row do |row| %>
        <% row.with_key(text: t(".visa_sponsorship")) %>
        <% row.with_value(text: visa_sponsorship_status) %>
      <% end %>
    <% end %>
  <% end %>
</li>
