<%= govuk_summary_list(actions: false, classes: ["govuk-summary-list--no-border"]) do |summary_list| %>
  <% summary_list.with_row do |row| %>
    <% row.with_key(text: t(".fee_or_salary")) %>
    <% row.with_value do %>
      <%= course.funding %>
      <br>
      <span class="govuk-hint govuk-!-font-size-16"><%= course.funding_option %></span>
    <% end %>
  <% end %>

  <% unless no_fee? %>
    <% summary_list.with_row do |row| %>
      <% row.with_key(text: t(".course_fee")) %>
      <% row.with_value(text: course_fee_value) %>
    <% end %>
  <% end %>

  <% if length.present? %>
    <% summary_list.with_row do |row| %>
      <% row.with_key(text: t(".course_length")) %>
      <% row.with_value(text: course_length_with_study_mode_row) %>
    <% end %>
  <% end %>

  <% if age_range_in_years.present? %>
    <% summary_list.with_row do |row| %>
      <% row.with_key(text: t(".age_range")) %>
      <% row.with_value(text: age_range_in_years_row) %>
    <% end %>
  <% end %>

  <% summary_list.with_row do |row| %>
    <% row.with_key(text: t(".qualification")) %>
    <% row.with_value do %>
      <%= render Find::Courses::QualificationsSummaryComponent::View.new(find_outcome) %>
    <% end %>
  <% end %>

  <% summary_list.with_row do |row| %>
    <% row.with_key(text: t(".provider")) %>
    <% row.with_value do %>
      <%= govuk_link_to course.provider_name, x_provider_url %>
    <% end %>
  <% end %>

  <% if course.accrediting_provider.present? %>
    <% summary_list.with_row do |row| %>
      <% row.with_key(text: t(".accredited_by")) %>
      <% row.with_value do %>
        <%= govuk_link_to course.accrediting_provider.provider_name, x_accrediting_provider_url %>
      <% end %>
    <% end %>
  <% end %>

  <% if show_apply_from_row? %>
    <% summary_list.with_row do |row| %>
      <% row.with_key(text: t(".date_can_apply")) %>
      <% row.with_value(text: l(applications_open_from&.to_date)) %>
    <% end %>
  <% end %>

  <% if start_date.present? %>
    <% summary_list.with_row do |row| %>
      <% row.with_key(text: t(".date_course_start")) %>
      <% row.with_value(text: l(start_date&.to_date, format: :short)) %>
    <% end %>
  <% end %>

  <% summary_list.with_row do |row| %>
    <% row.with_key(text: t(".visa_sponsorship")) %>
    <% row.with_value do %>
      <%= render Find::Courses::InternationalStudentsComponent::View.new(course:) %>
    <% end %>
  <% end %>
<% end %>
