<h2 class="govuk-heading-l">
  <%= t(".course_summary") %>
</h2>

<%= govuk_summary_list(actions: false) do |summary_list| %>
  <% summary_list.with_row do |row| %>
    <% row.with_key(text: t(".fee_key")) %>
    <% row.with_value do %>
      <%= fee_value %>

      <% if fee_hint.present? %>
        <div class="govuk-hint govuk-!-font-size-16"><%= fee_hint %></div>
      <% end %>
    <% end %>
  <% end %>

  <% if length.present? %>
    <% summary_list.with_row do |row| %>
      <% row.with_key(text: t(".course_length")) %>
      <% row.with_value(text: course_length_with_study_mode_row) %>
    <% end %>
  <% end %>

  <% if age_range_in_years.present? %>
    <% summary_list.with_row do |row| %>
      <% row.with_key(text: t(".age_range")) %>
      <% row.with_value(text: age_range_in_years_row) %>
    <% end %>
  <% end %>

  <% summary_list.with_row do |row| %>
    <% row.with_key(text: t(".qualification")) %>
    <% row.with_value do %>
      <%= render Find::Courses::QualificationsSummaryComponent::View.new(course:) %>
    <% end %>
  <% end %>

  <% if start_date.present? %>
  <% summary_list.with_row do |row| %>
    <% row.with_key(text: t(".start_date")) %>
    <% row.with_value(text: l(start_date&.to_date, format: :short)) %>
  <% end %>
<% end %>

  <% summary_list.with_row do |row| %>
    <% row.with_key(text: t(".provider")) %>
    <% row.with_value do %>
      <%= govuk_link_to course.provider_name, x_provider_url(course) %><br>
      <span class="govuk-hint govuk-!-font-size-16">They deliver the training</span>
    <% end %>
  <% end %>

  <% if course.accrediting_provider.present? %>
    <% summary_list.with_row do |row| %>
      <% row.with_key(text: t(".accredited_by")) %>
      <% row.with_value do %>
        <%= govuk_link_to course.accrediting_provider.provider_name, x_accrediting_provider_url(course) %><br>
        <span class="govuk-hint govuk-!-font-size-16">They oversee the quality of the training</span>
        <% end %>
    <% end %>
  <% end %>

    <% summary_list.with_row do |row| %>
      <% row.with_key(text: t(".success_rate")) %>
      <% row.with_value do %>
        <% case @course.course_code %>
          <% when "E026" %>
            <p class="govuk-body">
            <strong class="govuk-tag govuk-tag--blue">
              Over 80%
            </strong>
            </p>
            <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                More about this success rate
              </span>
            </summary>
            <div class="govuk-details__text">
              54 of 66 trainees achieved Qualified Teacher Status (QTS) at <%= @course.accrediting_provider.provider_name %> in 2023.<br>
              The average success rate for all accredited providers was 93% in 2023.<br>
              Please contact <%= @course.accrediting_provider.provider_name %> for more information on their success rate.
            </div>
          </details>
          <% when "R480" %>
            <p class="govuk-body">
              <strong class="govuk-tag govuk-tag--blue">
                Over 95%
              </strong>
            </p>
            <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                More about this success rate
              </span>
            </summary>
            <div class="govuk-details__text">
              192 of 200 trainees achieved Qualified Teacher Status (QTS) at <%= @course.accrediting_provider.provider_name %> in 2023.<br>
              The average success rate for all accredited providers was 93% in 2023.<br>
              Please contact <%= @course.accrediting_provider.provider_name %> for more information on their success rate.
            </div>
          </details>
          <% when "H971" %>
            <p class="govuk-body">
              <strong class="govuk-tag govuk-tag--blue">
                100%
              </strong>
            </p>
            <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                More about this success rate
              </span>
            </summary>
            <div class="govuk-details__text">
              All 35 trainees achieved Qualified Teacher Status (QTS) at <%= @course.accrediting_provider.provider_name %> in 2023.<br>
              The average success rate for all accredited providers was 93% in 2023.<br>
              Please contact <%= @course.accrediting_provider.provider_name %> for more information on their success rate.
            </div>
          </details>
          <% when "36P4" %>
            <p class="govuk-body">
              <strong class="govuk-tag govuk-tag--blue">
                Under 80%
              </strong>
            </p>
            <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                More about this success rate
              </span>
            </summary>
            <div class="govuk-details__text">
              7 of 10 trainees achieved Qualified Teacher Status (QTS) at <%= @course.accrediting_provider.provider_name %> in 2023.<br>
              The average success rate for all accredited providers was 93% in 2023.<br>
              Please contact <%= @course.accrediting_provider.provider_name %> for more information on their success rate.
            </div>
          </details>
          <% when "Y404" %>
            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  No data yet - why?
                </span>
              </summary>
              <div class="govuk-details__text">
                We use data from 2022 to 2023 to calculate the success rate. <%= @course.accrediting_provider.provider_name %> did not run courses that year.<br>
                Please contact <%= @course.accrediting_provider.provider_name %> for more information on their success rate.
              </div>
            </details>
        <% end %>
      <% end %>
    <% end %>


  <% if show_apply_from_row? %>
    <% summary_list.with_row do |row| %>
      <% row.with_key(text: t(".date_can_apply")) %>
      <% row.with_value(text: l(applications_open_from&.to_date)) %>
    <% end %>
  <% end %>

<% end %>
