<% content_for :page_title, "Add schools and study sites" %>

<%= content_for(:before_content) do %>

  <%= govuk_breadcrumbs(breadcrumbs: [
      govuk_breadcrumb_link_to("Home", root_path),
      govuk_breadcrumb_link_to("How to use this service", how_to_use_this_service_path),
      govuk_breadcrumb_link_to("Course summary examples", add_schools_and_study_sites_path),
    ]) %>

<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">How to use this service</span>
      Add schools and study sites
    </h1>

    <h2 class="govuk-heading-s">Contents</h2>

    <ul class="govuk-list app-list--dash course-contents govuk-!-margin-bottom-8">
      <li><%= govuk_link_to "Adding a school", "#adding-a-school" %></li>
      <li><%= govuk_link_to "Adding a study site", "#adding-a-study-site" %></li>
      <li><%= govuk_link_to "Attaching schools and study sites to a course", "#attaching-schools-and-study-sites-to-a-course" %></li>
      <li><%= govuk_link_to "Detaching schools and study sites from a course", "#detaching-schools-and-study-sites-from-a-course" %></li>
    </ul>

    <p class="govuk-body">
      60% of searches on Find teacher training courses are by city, town or postcode, so it’s important that location details have been added so courses can be found easily in searches.
    </p>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>

      <strong class="govuk-warning-text__text">
        Your courses will not appear in candidate’s location searches if you do not attach placement schools to them.
      </strong>
    </div>

    <p class="govuk-body">We automatically upload all schools you are working with to your account. These are schools that are on the <a href="https://www.register-trainee-teachers.service.gov.uk/">Register trainee teachers service</a>.</p>

    <p class="govuk-body">If needed, you can still manually add schools to your account.</p>

    <p class="govuk-body">By default, school locations are hidden from candidates. If you would like candidates to see the list of placement school locations, you can change the settings under the 'Organisation details' tab.</p>

    <%= image_tag("show-placement-schools.png", class: "govuk-!-margin-bottom-8") %>

    <h2 id="adding-a-school" class="govuk-heading-m">Adding a school</h2>

    <p class="govuk-body">We automatically upload all schools you are working with to your account. To add a school to your account manually, go to the ‘Schools’ tab.</p>

    <%= image_tag("add-schools.png", class: "govuk-!-margin-bottom-3") %>

    <p class="govuk-body">
      Select ‘Add school’ or ‘Add multiple schools’. You can add schools using their unique reference numbers (URNs). You can only add schools that are on <a href="https://get-information-schools.service.gov.uk/">Get Information About Schools</a> (GIAS). You’ll see a list of all schools you’ve added, and you’ll be able to select the name of the school to remove it.
    </p>

    <p class="govuk-body govuk-inset-text">You will not be able to remove a school if it has been attached to a course. You’ll need to <%= govuk_link_to "detach it from the course", "#detaching-schools-and-study-sites-from-a-course" %> first before you can remove it.</p>

    <p class="govuk-body">
      If you have any questions about adding schools please email us at <%= govuk_mail_to bat_contact_email_address %> and we can assist you.
    </p>

    <h2 id="adding-a-study-site" class="govuk-heading-m">Adding a study site</h2>

    <p class="govuk-body">
      A study site is the location where the trainee will do the theoretical part of their training, for example a university campus. If you cannot find the study site, you can enter it manually.
    </p>

    <p class="govuk-body">To add study sites, go to the study site tab.</p>

    <%= image_tag("add-study-site.png", class: "govuk-!-margin-bottom-3") %>

    <p class="govuk-body">Once you’ve entered the details, check they are correct and select ‘Add study site’.</p>

    <p class="govuk-body govuk-inset-text">You will not be able to remove a study site if it has been attached to a course. You’ll need to <%= govuk_link_to "detach it from the course", "#detaching-schools-and-study-sites-from-a-course" %> first before you can remove it.</p>

    <h2 id="attaching-schools-and-study-sites-to-a-course" class="govuk-heading-m">Attaching schools and study sites to a course</h2>
    <p class="govuk-body">
      Once you’ve added schools and study sites to your account, you can attach them to courses.
    </p>

    <p class="govuk-body">
      To attach schools to courses you can select them from the list of schools on your account. It is possible to select all schools and then deselect those which don't apply to the course to save time.
    </p>

    <h3 class="govuk-heading-s">When adding a new course</h3>

    <p class="govuk-body">When you add a new course, you’ll be asked to select all the school placements and study sites that apply.</p>

    <%= image_tag("school-placements.png", class: "govuk-!-margin-bottom-3") %>

    <h3 class="govuk-heading-s">When editing an existing course</h3>

    <p class="govuk-body">Go to the ‘Basic details’ tab and select the ‘Change’ link next to ‘School placements’ or ‘Study sites’.</p>

    <%= image_tag("course-basic-details.png", class: "govuk-!-margin-bottom-3") %>

    <p class="govuk-body">On the next page, you can then tick the check box next to the school or study site you want to attach to the course.</p>

    <h2 id="detaching-schools-and-study-sites-from-a-course" class="govuk-heading-m">Detaching schools and study sites from a course</h2>

    <p class="govuk-body">
      If you want to detach a school or study site from a course, you can select the change links as described, untick the check box and update.
    </p>

    <p class="govuk-body">
      If there are no places left at a school or the study site is no longer available, you can detach it from a course. If a place becomes available, you can simply attach it again.
    </p>

    <p class="govuk-body">
      If you need to remove a school or a study site from your account entirely, you’ll need to go to the ‘Schools’ or Study sites’ tab to do this.
    </p>

  </div>
</div>
