<% content_for :page_title, "How to roll over courses to a new recruitment cycle" %>
<% content_for(:before_content) do %>
  <%= govuk_breadcrumbs(breadcrumbs: [
      govuk_breadcrumb_link_to(t(".breadcrumbs.home"), root_path),
      govuk_breadcrumb_link_to(t(".breadcrumbs.how_to_use_this_service"), how_to_use_this_service_path),
      govuk_breadcrumb_link_to(t(".breadcrumbs.roll_over_courses"), roll_over_courses_to_a_new_recruitment_cycle_path),
    ]) %>
<% end %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l"><%= t(".how_to_use_this_service_caption") %></span>
      <%= t(".roll_over_recruitment_heading") %>
    </h1>
    <p class="govuk-body">
      <%= t(".roll_over_recruitment_content_this_year") %>
    </p>
    <h3 class="govuk-heading-m">
      <%= t(".publishing_rolled_over_courses_heading") %>
    </h3>
    <p class="govuk-body">
      <%= t(
      ".publishing_rolled_over_courses_content_html",
      find_service: govuk_link_to(
        "Find teacher training courses (Find)",
        "https://www.find-postgraduate-teacher-training.service.gov.uk/",
      ),
    ) %>
    </p>
    <h3 class="govuk-heading-m"><%= t(".recruitment_cycle_heading") %></h3>
    <p class="govuk-body">
      <%= t(".recruitment_cycle_content", cycle: next_recruitment_cycle_period_text) %>’.
    </p>
