<h1 class="govuk-heading-xl" id="section-contact">
  <%= t(".heading", provider_name: course.provider_name) %>
</h1>

<%= govuk_summary_list(actions: false, classes: ["govuk-summary-list--no-border"]) do |summary_list| %>
  <% summary_list.with_row do |row| %>
    <% if course.provider.decorate.website.present? %>
      <% row.with_key(text: t(".school_website")) %>
      <% row.with_value do %>
        <%= govuk_link_to course.provider.decorate.website, find_provider_website_path(course.provider_code, course.course_code) %>
      <% end %>
    <% end %>
  <% end %>

  <% summary_list.with_row do |row| %>
    <% if show_contact_form_instead_of_email? %>
      <% row.with_key(text: t(".contact_form")) %>
      <% row.with_value do %>
        <%= govuk_link_to contact_form, contact_form %>
      <% end %>
    <% else %>
      <% if course.provider.email.present? %>
        <% row.with_key(text: t(".email_address")) %>
        <% row.with_value do %>
          <%= govuk_mail_to course.provider.email, course.provider.email, title: t(".send_email_to_contact"), aria: { label: t(".send_email_to_contact") } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% summary_list.with_row do |row| %>
    <% if course.provider.telephone.present? %>
      <% row.with_key(text: t(".telephone")) %>
      <% row.with_value(text: course.provider.telephone) %>
    <% end %>
  <% end %>

  <% summary_list.with_row do |row| %>
    <% if show_address? %>
      <% row.with_key(text: t(".address")) %>
      <% row.with_value do %>
        LSJS
        <br>
        44A Albert Road
        <br>
        London
        <br>
        NW4 2SJ
      <% end %>
    <% elsif course.provider.decorate.full_address.present? %>
      <% row.with_key(text: t(".address")) %>
      <% row.with_value(text: course.provider.decorate.full_address) %>
    <% end %>
  <% end %>
<% end %>
