<% content_for :before_content do %>
  <%= govuk_back_link_to(
        @wizard.previous_step_path(
          fallback: publish_provider_recruitment_cycle_courses_path(
            provider_code: params[:provider_code],
            recruitment_cycle_year: params[:recruitment_cycle_year],
          ),
        ),
      ) %>
<% end %>

<div class="govuk-grid-row">
  <%= form_with(
        model: current_step,
        scope: current_step_name,
        url: publish_provider_recruitment_cycle_course_wizard_path(
          provider_code: params[:provider_code],
          recruitment_cycle_year: params[:recruitment_cycle_year],
          step: current_step_name,
          state_key: params[:state_key],
        ),
        method: :patch,
      ) do |form| %>
    <div class="govuk-grid-column-full">
      <%= form.govuk_error_summary %>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <%= render "publish/course_wizards/steps/#{current_step_name}", form: %>
      <p class="govuk-body">
        <%= govuk_link_to(t("course_wizard.show.cancel"), publish_provider_recruitment_cycle_courses_path(params[:provider_code], params[:recruitment_cycle_year])) %>
      </p>
    </div>
  <% end %>
</div>
