<% content_for :page_title, title_with_error_prefix("Funding type", @errors && @errors.any?) %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(@back_link_path) %>
<% end %>

<%= render "publish/shared/errors" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= form_with url: continue_publish_provider_recruitment_cycle_courses_funding_type_path(
                    @provider.provider_code,
                    @provider.recruitment_cycle_year
                  ),
                  method: :get do |form| %>

      <%= render "publish/courses/new_fields_holder", form:, except_keys: [] do |fields| %>
        <%#= render "publish/shared/error_wrapper", error_keys: [:program_type], data_qa: "course__funding_type" do %>
          <%#= render "publish/shared/error_messages", error_keys: [:program_type] %>
          <%= render(
            "form_fields",
            form: fields,
            program_types: %i[pg_teaching_apprenticeship school_direct_training_programme school_direct_salaried_training_programme]
          ) %>
        <%# end %>
      <% end %>
    <% end %>

    <p class="govuk-body">
      <%= govuk_link_to(t("cancel"), publish_provider_recruitment_cycle_courses_path(@provider.provider_code, @provider.recruitment_cycle_year)) %>
    </p>
  </div>
</div>
