<% content_for :page_title, title_with_error_prefix(t(".page_title"), @form.errors.present?) %>

<%= form_with model: @form, url: find_secondary_path, method: :post do |f| %>
  <%= f.hidden_field :utm_source, value: 'home' %>
  <%= f.hidden_field :utm_medium, value: 'secondary_courses' %>

  <%= f.govuk_error_summary link_base_errors_to: :subjects %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l"><%= t(".page_title") %></h1>

      <% @secondary_subject_options.group_by(&:subject_group).each do |subject_group_name, subjects| %>
        <%= f.govuk_collection_check_boxes :subjects, subjects, :code, :name, :financial_info, legend: { text: subject_group_name } %>
      <% end %>

      <%= f.govuk_submit t(".find_courses_button") %>

      <%= render Shared::AdviceComponent::View.new(title: t(".financial_support.title")) do %>
        <h4 class="govuk-heading-s"><%= t(".financial_support.bursaries_and_scholarship_heading") %></h4>
        <p class="govuk-body"><%= govuk_link_to(t(".financial_support.eligible_for_bursaries_and_scholarship"), find_track_click_path(utm_content: "secondary_bursaries_and_scholarship", url: t("find.get_into_teaching.url_bursaries_and_scholarships_support"))) %></p>
        <h4 class="govuk-heading-s"><%= t(".financial_support.student_loans") %></h4>
        <p class="govuk-body"><%= govuk_link_to(t(".financial_support.loans_text"), find_track_click_path(utm_content: "secondary_subjects_loans", url: t("find.get_into_teaching.url_maintenance_loans"))) %></p>
      <% end %>
    </div>
  </div>
<% end %>
