<%= govuk_link_to("Back to Dashboard", gias_dashboard_path) %>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <%= render partial: "filters", locals: { form_url: gias_establishments_path } %>
    </div>

    <div class="govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-l">Establishments</h2>

        <ul class="govuk-list govuk-list--spaced">
            <% @establishments.each do |establishment| %>
            <li>
                <h3 class="govuk-heading--m">
                    <%= govuk_link_to "#{establishment.name}", gias_establishment_path(establishment.urn) %>
                </h3>
                <div class="govuk-caption--m"><%= "UKPRN: #{establishment.ukprn || '-'}" %></div>
                <div class="govuk-caption--m"><%= "URN:#{establishment.urn || '-'}" %></div>

                <div style="padding-left: 4ex">
                    <% matches_grouped_by_provider_for_establishment(establishment).each do |provider, matches| %>
                    <h4 class="govuk-heading--s">
                        Provider: <%= govuk_link_to("#{provider.provider_name} - #{provider.provider_code}", gias_provider_path(provider)) %>
                    </h4>

                    <ul class="govuk-list govuk-list--bullet">
                        <% matches.each do |match| %>
                        <li class="govuk-list-item"><%= match %></li>
                        <% end %>
                    </ul>
                    <% end %>
                </div>
            </li>
            <hr class="govuk-section-break--m">
            <% end %>
        </ul>
    </div>
</div>

<%== pagy_nav(@pagy) %>
