<div class="govuk-grid-row">
<h1 class="govuk-heading-xl"><%= @establishment.name %></h1>

<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">URN:</dt>
        <dd class="govuk-summary-list__value"><%= @establishment.urn %></dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">UKPRN:</dt>
        <dd class="govuk-summary-list__value"><%= @establishment.ukprn %></dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Postcode:</dt>
        <dd class="govuk-summary-list__value">
            <%= link_to @establishment.postcode,
             gias_postcode_path(postcode: @establishment.postcode) %>
        </dd>
    </div>
</dl>

<h2 class="govuk-heading-l">Matching Providers</h2>

<% matches_grouped_by_provider_for_establishment(@establishment).each do |provider, matches| %>
  <h3 class="govuk-heading-m">
    <%= govuk_link_to("#{provider.provider_name} - #{provider.provider_code}", gias_provider_path(provider)) %>
  </h3>

  <ul class="govuk-list govuk-list--bullet">
  <% matches.each do |match| %>
    <li><%= match %></li>
  <% end %>
  </ul>
<% end %>

</div>

<div class="govuk-grid-row">
    <h2 class="govuk-heading-l">Graph Diagram</h2>

    <%= image_tag(graph_gias_establishment_path(@establishment.urn), usemap: "#Establishment Graph") %>
    <%= @graph_cmapx.html_safe %>
</div>
