<div class="app-preview-container--heading">
  <span class="govuk-body"><strong><%= t(".preview_header") %></strong></span>
</div>

<div class="app-preview-container">
  <p class="govuk-heading-m"><%= preview_heading %></p>

  <% if @render_before_preview_body %>
    <%= render partial: "publish/courses/fields/#{@render_before_preview_body}",
               locals: { locals: before_preview_locals } %>
  <% end %>

  <% if @render_fees %>
    <%= render partial: "publish/courses/fields/fees" %>
  <% end %>

  <p class="govuk-body"
      data-input-preview-target="preview"
      data-preview-target="shared"><%= t(".preview_text") %></p>

  <%= render partial: "publish/courses/fields/interview_location_preview" %>
</div>
