<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="section-international-students">International candidates</h2>
  <div data-qa="course__international_students">

    <% if apprenticeship? %>
      <p class="govuk-body">To apply for this teaching apprenticeship course, you’ll need to have lived in the UK for at least 3 years before the start of the course.</p>

      <p class="govuk-body">EEA nationals with settled or pre-settled status under the
        <%= govuk_link_to("EU Settlement Scheme", t("links.eu_settlement_scheme")) %> who have lived continuously in the
        EEA, Switzerland, Gibraltar, or the UK for at least the previous 3 years will also be eligible.</p>
    <% end %>

    <p class="govuk-body"><%= apprenticeship? ? "You’ll also" : "You’ll" %> need the <%= right_required %> in the UK. You already have this if, for example, you:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>are an Irish citizen</li>
      <li>have settled or pre-settled status under the <%= govuk_link_to("EU Settlement Scheme", t("links.eu_settlement_scheme")) %> (you may still be able to apply)</li>
      <li>have indefinite leave to remain in the UK</li>
    </ul>

    <%= t("find.international_candidates.#{visa_type}.#{sponsorship_availability}.html") %>

    <p class="govuk-body">Learn more about <%= govuk_link_to("training to teach in England as an international student", t("find.get_into_teaching.url_train_to_teach_as_international_candidate")) %>.</p>

    <h3 class="govuk-heading-m">Qualifications gained outside the UK</h3>
    <p class="govuk-body">If you studied for your qualifications outside of the UK you should apply for a statement of comparability from UK European Network of Information Centres (UK ENIC). This will show us how your qualifications compare to UK qualifications.</p>

    <p class="govuk-body">
      <%= govuk_link_to("Apply for a statement of comparability (opens in new tab)",
                        t("find.enic.statement_of_comparability.url"),
                        target: "_blank",
                        rel: "noopener") %>
    </p>

    <p class="govuk-body">
      <%= govuk_link_to("You can chat online (opens in new tab)",
                        t("find.get_into_teaching.url_online_chat"),
                        target: "_blank",
                        rel: "noopener") %>
        with the Get Into Teaching support team for guidance on the UK equivalents of your qualifications.
    </p>
  </div>
</div>
