<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="section-international-students">International candidates</h2>
  <div data-qa="course__international_students">

    <% if apprenticeship? %>
      <p class="govuk-body">To apply for this teaching apprenticeship course, you’ll need to have lived in the UK for at least 3 years before the start of the course.</p>

      <p class="govuk-body">EEA nationals with settled or pre-settled status under the
        <%= govuk_link_to("EU Settlement Scheme", t("links.eu_settlement_scheme")) %> who have lived continuously in the
        EEA, Switzerland, Gibraltar, or the UK for at least the previous 3 years will also be eligible.</p>
    <% end %>

    <p class="govuk-body"><%= apprenticeship? ? "You’ll also" : "You’ll" %> need the <%= right_required %> in the UK. You already have this if, for example, you:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>are an Irish citizen</li>
      <li>have settled or pre-settled status under the <%= govuk_link_to("EU Settlement Scheme", "https://www.gov.uk/settled-status-eu-citizens-families") %> (you may still be able to apply)</li>
      <li>have indefinite leave to remain in the UK</li>
    </ul>

    <%= t("find.international_candidates.#{visa_type}.#{sponsorship_availability}.html") %>

    <% if course_has_relocation_entitlement? %>
      <%= t("find.international_candidates.entitlement.html") %>
    <% end %>

    <p class="govuk-body">Learn more about <%= govuk_link_to("training to teach in England as an international student", "https://getintoteaching.education.gov.uk/non-uk-teachers/train-to-teach-in-england-as-an-international-student") %>.</p>

    <h3 class="govuk-heading-m">International qualifications</h3>
    <p class="govuk-body">If your qualifications come from a non-UK institution, we may want to see a ‘statement of comparability’ from UK ENIC. This will show us how they compare to UK qualifications.</p>

    <p class="govuk-body">You can call <%= govuk_link_to("Get Into Teaching", t("get_into_teaching.url")) %> on <%= t("get_into_teaching.tel") %> for:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>guidance on the UK equivalents of your qualifications</li>
      <li>a free statement of comparability once you’ve submitted your application (if we ask you for this)</li>
    </ul>
  </div>
</div>
