<%= content_for :page_title, title_with_error_prefix(I18n.t("find.visa_status.primary_title"), @visa_status_form.errors.any?) %>
<% content_for :before_content do %>
  <%= govuk_back_link(
    text: "Back",
    href: back_path,
    html_attributes: {
      data: { qa: "page-back" }
    }
  ) %>
<% end %>

    <%= form_with(model: @visa_status_form, url: find_visa_status_create_path, method: :get) do |f| %>
      <%= f.govuk_error_summary %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <%= render Find::HiddenFieldsComponent.new(
        query_params: request.query_parameters,
        form: f,
        form_name: :find_visa_status_form,
        exclude_keys: ["visa_status"]
      ) %>

    <%= f.govuk_radio_buttons_fieldset :visa_status, legend: { text: I18n.t("find.visa_status.primary_title"), size: "l", tag: "h1" } do %>

    <p class="govuk-body">You’ll need to have the right to work or study in the UK for the duration of your teacher training course.</p>

    <p class="govuk-body"><%= govuk_link_to("Check if you need a UK visa and find out how to apply (opens in new tab)", t("find.get_into_teaching.url_visas_for_non_uk_trainees"), target: "_blank", rel: "noopener") %>.</p>

    <p class="govuk-body">If you do not already have the right to work or study, you should only apply to courses that have visa sponsorship available.</p>

    <h2 class="govuk-heading-m"><%= t("find.visa_status.secondary_title") %></h2>

        <%= f.govuk_radio_button :visa_status, "true", label: { text: "Yes" }, link_errors: true %>
        <%= f.govuk_radio_button :visa_status, "false", label: { text: "No" } %>
      <% end %>

      <%= f.govuk_submit "Find courses" %>
    <% end %>
  </div>
</div>
