<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="section-interviews"><%= t(".page_title") %></h2>
  <div data-qa="course__interview_process">
    <% unless enrichment.present? && enrichment.interview_location == "in person" || enrichment.present? && enrichment.interview_location == "in person" %>
      <% if enrichment.present? && enrichment.interview_location == "both" || enrichment.present? && enrichment.interview_location == "both" %>
        <%= govuk_inset_text do %>
          <%= t(".online_interview") %>
          <p class="govuk-hint"><%= t(".individual_circumstances") %></p>
        <% end %>
      <% elsif enrichment.present? && enrichment.interview_location == "online" || enrichment.present? && enrichment.interview_location == "online" %>
        <%= govuk_inset_text do %>
          <%= t(".online_interview") %>
        <% end %>
      <% end %>
    <% end %>
    <% if enrichment.present? && enrichment.interview_process.present? %>
      <%= markdown(enrichment.interview_process) %>
    <% else %>
      <%= render CoursePreview::MissingInformationComponent.new(course:, information_type: :interview_process, is_preview: preview?(params)) %>
    <% end %>
    <% if enrichment.present? &&
          enrichment.interview_process.present? ||
          enrichment.present? && enrichment.interview_location.in?(%w[online both]) %>
    <%= render Shared::Courses::InterviewPreparationComponent.new(course:, is_preview: preview?(params)) %>
  <% end %>
</div>
</div>
