<%= t("publish.providers.fees_and_financial_support.edit.guidance_html") %>
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      <%= t("publish.providers.fees_and_financial_support.edit.summary_link") %>
    </span>
  </summary>
  <div class="govuk-!-margin-top-4" />
  <%= render Find::Utility::AdviceComponent::View.new(title: "Financial support from the government") do %>
    <% if @course.salaried? %>
      <%= render partial: "find/courses/financial_support/salaried" %>
    <% elsif @course.excluded_from_bursary? %>
      <%= render partial: "find/courses/financial_support/loan" %>
    <% elsif @course.bursary_only? %>
      <%= render Find::Courses::FinancialSupport::BursaryComponent::View.new(@course) %>
    <% elsif @course.has_scholarship_and_bursary? %>
      <%= render Find::Courses::FinancialSupport::ScholarshipAndBursaryComponent::View.new(@course) %>
    <% else %>
      <%= render partial: "find/courses/financial_support/loan" %>
    <% end %>
  <% end %>
</details>
