<% content_for :page_title, title_with_error_prefix(
  t("publish.providers.fees_and_financial_support.edit.page_title", course_name_and_code: @course.name_and_code),
  @course_fees_and_financial_support_form.errors.any?,
) %>

<% if params[:copy_from].present? && @copied_fields.any? %>
  <%= render Providers::CopyCourseContentWarningComponent.new(
    @copied_fields,
    "publish-course-fees-and-financial-support-form",
    @source_course,
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
          model: @course_fees_and_financial_support_form,
          url: fees_and_financial_support_publish_provider_recruitment_cycle_course_path(
            @provider.provider_code,
            @course.recruitment_cycle_year,
            @course.course_code,
          ),
          data: { qa: "enrichment-form", module: "form-check-leave" },
          method: :patch,
          local: true,
        ) do |f| %>

      <% content_for :before_content do %>
        <%= govuk_back_link_to(back_link_path(param_form_key: f.object_name.to_sym, params:, provider_code: @provider.provider_code, recruitment_cycle_year: @course.recruitment_cycle_year, course_code: @course.course_code)) %>
      <% end %>

      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= @course.name_and_code %></span>
        <%= t("publish.providers.fees_and_financial_support.edit.heading") %>
      </h1>

    <div data-controller="input-preview">
      <%= f.govuk_text_field(:fee_uk_eu,
        form_group: { id: "fee-uk" },
        label: { text: "Fee for UK students", size: "s" },
        value: @copied_fields_values&.dig("fee_uk_eu"),
        prefix_text: "£",
        width: 5,
        data: { qa: "course_fee_uk_eu",
          input_preview_target: "input",
          action: "input-preview#updatePreview",
          preview_output_target: "currency1" }
        ) %>

      <%= f.govuk_text_field(:fee_international,
        form_group: { id: "fee-international" },
        label: { text: @course.can_sponsor_student_visa? ? "Fee for international students" : "Fee for international students (optional)", size: "s" },
        value: @copied_fields_values&.dig("fee_international"),
        prefix_text: "£",
        width: 5,
        data: {
          qa: "course_fee_international",
          input_preview_target: "input",
          action: "input-preview#updatePreview",
          preview_output_target: "currency2" }
        ) %>

      <%= render partial: "guidance" %>

      <%= f.govuk_text_area(
            :fee_details1,
            label: { text: t("publish.providers.fees_and_financial_support.edit.label"), size: "s" },
            rows: 6,
            max_words: 50,
            data: { qa: "course_fee_details",
              input_preview_target: "input",
              action: "input-preview#updatePreview",
              preview_output_target: "preview3" }
          ) %>

      <%= f.govuk_text_area(
          :fee_details2,
          label: { text: t("publish.providers.fees_and_financial_support.edit.additional_costs"), size: "s" },
          hint: { text: t("publish.providers.fees_and_financial_support.edit.additional_costs_hint"), size: "s" },
          rows: 6,
          max_words: 50,
          data: { qa: "course_fee_details",
            input_preview_target: "input",
            action: "input-preview#updatePreview",
            preview_output_target: "preview3" }
        ) %>

      <%= f.govuk_text_area(
          :fee_details3,
          label: { text: t("publish.providers.fees_and_financial_support.edit.org_financial_support"), size: "s" },
          hint: { text: t("publish.providers.fees_and_financial_support.edit.org_financial_support_hint"), size: "s" },
          rows: 6,
          max_words: 50,
          data: { qa: "course_fee_details",
            input_preview_target: "input",
            action: "input-preview#updatePreview",
            preview_output_target: "preview3" }
        ) %>

      <p class="govuk-heading-m">What candidates will see</p>
      <div class="app-preview-container">
        <p class="govuk-heading-l">Fees and financial support</p>

       <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            UK citizens
          </dt>
          <dd class="govuk-summary-list__value" data-input-preview-target="preview" data-preview-target="currency1">
          </dd>
        </div>
          <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Non-UK citizens
          </dt>
          <dd class="govuk-summary-list__value" data-input-preview-target="preview" data-preview-target="currency2">
          </dd>
        </div>
      </dl>

        <p class="govuk-body">
          <div class="govuk-body" data-input-preview-target="preview">
            <p class="govuk-body" data-input-preview-target="preview" data-preview-target="preview3"></p>
          </div>
        </p>

        <!-- Call out -->
        <div class="govuk-notification-banner app-notification-banner--git" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__content app-notification-banner__content--grey">
            <span class="govuk-heading-m">
              Financial support for UK citizens
            </span>
            <span class="govuk-heading-s">Student loans</span>
            <p class="govuk-body">
             You may be eligible for student loans to cover the cost of your tuition fee or to help with living costs.
            </p>
            <p class="govuk-body">
              <a class="govuk-link govuk-link--no-visited-state" href="https://getintoteaching.education.gov.uk/funding-and-support/tuition-fee-and-maintenance-loans">
                Find out more about student loans for teacher training.
              </a>
            </p>
          </div>
        </div>
        <!-- END Call out -->
         <!-- Call out -->
        <div class="govuk-notification-banner app-notification-banner--non-uk" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__content app-notification-banner__content--grey">
            <span class="govuk-heading-m">
              Financial support for non-UK citizens
            </span>
            <p class="govuk-body">
              If you are a non-UK citizen without indefinite leave to remain you are unlikely to be eligible for a bursary, scholarship or student loan.            </p>
            <p class="govuk-body">
              <a class="govuk-link govuk-link--no-visited-state" href="https://getintoteaching.education.gov.uk/non-uk-teachers/fees-and-funding-for-non-uk-trainees">
                Find out what financial support is available to non-UK citizens.
              </a>
            </p>
          </div>
        </div>
        <!-- END Call out -->
      </div>
    </div>

      <%= f.govuk_submit t("publish.providers.fees_and_financial_support.edit.submit_button") %>
    <% end %>
    <p class="govuk-body">
      <%= govuk_link_to(
            t("cancel"),
            publish_provider_recruitment_cycle_course_path(
              @provider.provider_code,
              @provider.recruitment_cycle.year,
              @course.course_code,
            ),
          ) %>
    </p>
  </div>
  <aside class="govuk-grid-column-one-third" data-qa="course__related_sidebar">
    <%= render(
      partial: "publish/courses/related_sidebar",
      locals: {
        course: @course,
        page_path: fees_and_financial_support_publish_provider_recruitment_cycle_course_path(
          @provider.provider_code,
          @course.recruitment_cycle_year,
          @course.course_code,
        ),
      },
    ) %>
  </aside>
</div>
