<% content_for :page_title, title_with_error_prefix(
  t("publish.providers.fees_and_financial_support.edit.page_title", course_name_and_code: @course.name_and_code),
  @course_fees_and_financial_support_form.errors.any?
) %>

<% if params[:copy_from].present? && @copied_fields.any? %>
  <%= render Providers::CopyCourseContentWarningComponent.new(
    @copied_fields,
    "publish-course-fees-and-financial-support-form",
    @source_course
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
          model: @course_fees_and_financial_support_form,
          url: fees_and_financial_support_publish_provider_recruitment_cycle_course_path(
            @provider.provider_code,
            @course.recruitment_cycle_year,
            @course.course_code
          ),
          data: { qa: "enrichment-form", module: "form-check-leave" },
          method: :patch,
          local: true
        ) do |f| %>

      <% content_for :before_content do %>
        <%= govuk_back_link_to(back_link_path(param_form_key: f.object_name.to_sym, params:, provider_code: @provider.provider_code, recruitment_cycle_year: @course.recruitment_cycle_year, course_code: @course.course_code)) %>
      <% end %>

      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= @course.name_and_code %></span>
        <%= t("publish.providers.fees_and_financial_support.edit.heading") %>
      </h1>

      <%= render partial: "guidance" %>

      <%= f.govuk_text_area(
            :fee_details,
            label: { text: t("publish.providers.fees_and_financial_support.edit.label"), size: "s" },
            hint: -> { render partial: "publish/courses/markdown_formatting" },
            value: @copied_fields_values&.dig("fee_details") || @course_fees_and_financial_support_form.fee_details,
            rows: 15,
            max_words: 250,
            data: { qa: "course_fee_details" }
          ) %>
      <%= f.govuk_submit t("publish.providers.fees_and_financial_support.edit.submit_button") %>
    <% end %>
    <p class="govuk-body">
      <%= govuk_link_to(
            t("cancel"),
            publish_provider_recruitment_cycle_course_path(
              @provider.provider_code,
              @provider.recruitment_cycle.year,
              @course.course_code
            )
          ) %>
    </p>
  </div>
  <aside class="govuk-grid-column-one-third" data-qa="course__related_sidebar">
    <%= render(
      partial: "publish/courses/related_sidebar",
      locals: {
        course: @course,
        page_path: fees_and_financial_support_publish_provider_recruitment_cycle_course_path(
          @provider.provider_code,
          @course.recruitment_cycle_year,
          @course.course_code
        )
      }
    ) %>
  </aside>
</div>
