<dd data-qa="course__qualifications">
  <% case find_outcome %>
  <% when "QTS" %>
    <%= govuk_details(summary_text: "QTS") do %>
      <p class="govuk-body">
        Qualified teacher status (QTS) allows you to teach in state schools in England and may also allow you to teach in other parts of the UK.
      </p>
      <p class="govuk-body">
        It may also allow you to teach overseas, though you should always check what qualifications are needed in the country you’d like to teach in.
      </p>
    <% end %>
<% when "QTS with PGCE" %>
    <%= govuk_details(summary_text: "QTS with PGCE") do %>
      <p class="govuk-body">
       You need qualified teacher status (QTS) to teach in state schools in England. QTS may also allow you to teach in other parts of the UK.
      </p>
      <p class="govuk-body">
        This course also offers a postgraduate certificate in education (PGCE). PGCE courses can include credits that count towards a master’s degree.
      </p>
    <% end %>
  <% when "PGDE with QTS" %>
    <%= govuk_details(summary_text: "PGDE with QTS") do %>
      <p class="govuk-body">
        A postgraduate diploma in education (PGDE) with qualified teacher status (QTS) will allow you to teach in state schools in England and may allow you to teach in other parts of the UK.
      </p>
      <p class="govuk-body">
        It may also allow you to teach overseas, though you should always check what qualifications are needed in the country you’d like to teach in.
      </p>
      <p class="govuk-body">
        Many PGDE courses include credits towards a Master’s degree.
      </p>
    <% end %>
  <% when "PGCE" %>
    <%= govuk_details(summary_text: "PGCE") do %>
      <p class="govuk-body">
        A postgraduate certificate in education (PGCE) is an academic qualification in education.
      </p>
      <p class="govuk-body">
        It’s recognised internationally, though you should always check what qualifications are needed in the country you’d like to teach in.
      </p>
      <p class="govuk-body">
        This course does not lead to qualified teacher status (QTS).
      </p>
    <% end %>
  <% when "pgde" %>
    <%= govuk_details(summary_text: "pgde") do %>
      <p class="govuk-body">
        a postgraduate diploma in education (pgde) is equivalent to a postgraduate certificate in education (pgce).
      </p>
      <p class="govuk-body">
        it’s recognised internationally, though you should always check what qualifications are needed in the country you’d like to teach in. 
      </p>
      <p class="govuk-body">
        this course does not lead to qualified teacher status (qts).
      </p>
    <% end %>
  <% when "TDA with QTS" %>
    <%= govuk_details(summary_text: "Teacher degree apprenticeship (TDA) with QTS") do %>
      <p class="govuk-body">
        On a teacher degree apprenticeship you'll work in a school and earn a salary while getting a bachelor’s degree and qualified teacher status (QTS).
        <%= govuk_link_to "Find out more about teacher degree apprenticeships", "https://get-into-teaching-app-review-3945.test.teacherservices.cloud/train-to-be-a-teacher/teacher-degree-apprenticeships" %>
      </p>
    <% end %>
  <% end %>
</dd>
