<% page_title = "Study sites" %>

<% content_for :page_title, page_title %>
<%= content_for :before_content, render_breadcrumbs(:study_sites) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= page_title %>
    </h1>

    <% if FeatureService.enabled?(:gias_search) %>
      <%= govuk_button_link_to t(".add_study_site"), search_publish_provider_recruitment_cycle_study_sites_path(@provider.provider_code) %>
    <% else %>
      <%= govuk_button_link_to t(".add_study_site"), new_publish_provider_recruitment_cycle_study_site_path(@provider.provider_code) %>
    <% end %>

    <% if @study_sites.none? %>
      <p class="govuk-body">A study site, such as a university campus, is where trainees do theoretical training. Add study sites for your organisation and then attach one or more to a course from the ‘Basic details’ tab on the course page.</p>

      <p class="govuk-body">Candidates will see a list of the attached study sites in the ‘Training locations’ section on the course page on Find.</p>

    <% else %>

     <p class="govuk-body">A study site, such as a university campus, is where trainees do theoretical training. Add study sites for your organisation and then attach one or more to a course from the ‘Basic details’ tab on the course page.</p>

      <p class="govuk-body">Candidates will see a list of the attached study sites in the ‘Training locations’ section on the course page on Find.</p>

      <table class="govuk-table app-table--vertical-align-middle">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Name</th>
            <% if urn_required?(@recruitment_cycle.year.to_i) %>
              <th class="govuk-table__header" scope="col">
                <abbr class="app-!-text-decoration-underline-dotted" title="Unique reference number">
                  URN
                </abbr>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <%= render partial: "study_site", collection: @study_sites %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
