<% content_for :page_title, title_with_error_prefix("#{t('page_titles.skilled_worker_visas.edit')} – #{course.name_and_code}", @course_skilled_worker_visa_sponsorship_form.errors.any?) %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(
        details_publish_provider_recruitment_cycle_course_path(
          course.provider_code,
          course.recruitment_cycle_year,
          course.course_code,
        ),
      ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
          model: @course_skilled_worker_visa_sponsorship_form,
          url: skilled_worker_visa_sponsorship_publish_provider_recruitment_cycle_course_path(
            course.provider_code,
            course.recruitment_cycle_year,
            course.course_code,
          ),
          method: :put,
          local: true,
        ) do |f| %>

      <%= f.hidden_field :funding_type_updated, value: funding_type_updated? %>
      <%= f.hidden_field :origin_step, value: origin_step %>

      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <%= render CaptionText::View.new(text: course.name_and_code) %>
        <%= t("page_titles.skilled_worker_visas.edit") %>
      </h1>

      <% if funding_type_updated? %>
        <p class="govuk-body"><%= t("visa_sponsorships.updated.#{origin_step}") %></p>
      <% end %>

      <% if @course.pg_teaching_apprenticeship? && !@provider.can_sponsor_skilled_worker_visa %>
        <p class="govuk-body">Learn more about <%= govuk_link_to "recruiting trainee teachers from overseas", "https://www.gov.uk/guidance/recruit-trainee-teachers-from-overseas-accredited-itt-providers" %>.</p>
      <% end %>

      <%= f.govuk_radio_buttons_fieldset(:can_sponsor_skilled_worker_visa, legend: { text: "Can your organisation sponsor Skilled Worker visas for this course?", tag: "h1", size: "m" }) do %>
        <% course.edit_course_options["can_sponsor_skilled_worker_visas"].each_with_index do |can_sponsor_skilled_worker_visa, index| %>
          <%= f.govuk_radio_button(
                :can_sponsor_skilled_worker_visa,
                can_sponsor_skilled_worker_visa,
                label: { text: t("edit_options.can_sponsor_skilled_worker_visas.#{can_sponsor_skilled_worker_visa}.label") },
                link_errors: index.zero?,
              ) %>
        <% end %>
      <% end %>

      <%= f.govuk_submit "Update Skilled Worker visas" %>
    <% end %>

    <p class="govuk-body">
      <%= govuk_link_to(t("cancel"), details_publish_provider_recruitment_cycle_course_path(@provider.provider_code, @provider.recruitment_cycle.year, @course.course_code)) %>
    </p>
  </div>
</div>
