<% page_title = "Degree subject" %>
<% content_for :page_title, title_with_error_prefix(page_title, @subject_requirements_form.errors.present?) %>

<% content_for :before_content do %>
  <%= govuk_back_link_to @backlink %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @subject_requirements_form, url: degrees_subject_requirements_publish_provider_recruitment_cycle_course_path(
        @course.provider.provider_code,
        @course.provider.recruitment_cycle_year,
        @course.course_code,
      ),
      method: :put
    ) do |f| %>

      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= @course.name_and_code %></span>
        <%= page_title %>
      </h1>

      <p class="govuk-body">Candidates will be advised that their degree subject should match or be closely related to <%= @course.name %>.</p>

      <%= f.govuk_radio_buttons_fieldset :additional_degree_subject_requirements, legend: { text: "Do you have any additional degree subject requirements?" } do %>
        <%= f.govuk_radio_button :additional_degree_subject_requirements, false, label: { text: "No" }, data: { qa: "degree_subject_requirements__no_radio" }, link_errors: true %>
        <%= f.govuk_radio_button :additional_degree_subject_requirements, true, label: { text: "Yes" }, data: { qa: "degree_subject_requirements__yes_radio" } do %>
          <%= f.govuk_text_area :degree_subject_requirements,
            form_group: { id: "degree-subject-requirements" },
            label: { text: "Degree subject requirements" }, 
            data: { qa: "degree_subject_requirements__requirements" } 
          %>
        <% end %>
      <% end %>

      <%= f.govuk_submit "Save", data: { qa: "degree_subject_requirements__save" } %>
    <% end %>
  </div>
</div>
