<!-- <!DOCTYPE html>
     <html lang="en" class="govuk-template ">
     <head>
     <title>API DOX</title>
     <link rel="stylesheet" href="https://www.find-postgraduate-teacher-training.service.gov.uk/application.css?v=6Y504PUCr-gW6_oVRBtMKkETf5qYV2cdef6jSmXhr3Y"></link>
     </head> -->
  <body>
    <h1 class="govuk-heading-xl"><%= t('page_titles.api_docs.reference') %></h1>

<h2 class="app-contents-list__title">Contents</h2>

<ol class="app-contents-list__list">
  <li class="app-contents-list__list-item app-contents-list__list-item--parent"><%= govuk_link_to 'Developing on the API', '#developing', class: 'app-contents-list__link' %></li>
  <li class="app-contents-list__list-item app-contents-list__list-item--parent">
    <%= govuk_link_to 'Endpoints', '#endpoints', class: 'app-contents-list__link' %>

    <ol class="app-contents-list__nested-list">
    <% @api_reference.operations.each do |operation| %>
      <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
        <%= govuk_link_to operation.name, "##{operation.anchor}", class: 'app-contents-list__link' %>
      </li>
    <% end %>
    </ol>
  </li>
  <li class="app-contents-list__list-item app-contents-list__list-item--parent">
    <%= govuk_link_to 'Objects', '#objects', class: 'app-contents-list__link' %>

    <ol class="app-contents-list__nested-list">
      <% @api_reference.schemas.each do |schema| %>
        <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
          <%= govuk_link_to schema.name, "##{schema.anchor}", class: 'app-contents-list__link' %>
        </li>
      <% end %>
    </ol>
  </li>
</ol>

<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-6 govuk-!-margin-bottom-6">

<h2 class="govuk-heading-l" id="developing">Developing on the API</h2>

<p class="govuk-body">
  The OpenAPI spec from which this documentation is generated is <%= govuk_link_to 'available in YAML format', api_docs_specs_url %>.
</p>

<h2 class="govuk-heading-l" id="endpoints">Endpoints</h2>

<% @api_reference.operations.each do |operation| %>
  <%= render 'api_docs/reference/operation', operation: operation %>
<% end %>

<h2 class="govuk-heading-l" id="objects">Objects</h2>

<% @api_reference.schemas.each do |schema| %>
  <%= render 'api_docs/reference/schema', schema: schema %>
<% end %>
