<%= content_for :page_title do %>
  <%= t(
    ".heading",
    provider_name: @course.provider_name
  ) %>
<% end %>
<% content_for :before_content do %>
  <%= govuk_back_link(
    href: search_ui_course_page_url(
      provider_code: @course.provider_code,
      course_code: @course.course_code
    ),
    text: t(
      ".back",
      course_name: @course.name,
      course_code: @course.course_code
    )
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render Find::Courses::ContactDetailsComponent::View.new(@course) %>

    <% if @provider.train_with_us.present? || @course.about_accrediting_provider.present? %>
      <%= render partial: "find/courses/about_the_provider", locals: { course: @course } %>
    <% end %>
  </div>
</div>
