<% content_for :page_title, title_with_error_prefix("Study sites – #{course.name_and_code}", @course_study_site_form.errors.present?) %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(details_publish_provider_recruitment_cycle_course_path(course.provider_code, course.recruitment_cycle_year, course.course_code)) %>
<% end %>

<%= render "publish/shared/errors" %>

<%= form_with(
  model: @course_study_site_form,
  url: study_sites_publish_provider_recruitment_cycle_course_path(
    course.provider_code,
    course.recruitment_cycle_year,
    course.course_code
  ),
  method: :put,
  local: true
) do |f| %>

  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <%= f.govuk_check_boxes_fieldset :study_site_ids, legend: { text: "#{render CaptionText.new(text: course.name_and_code)} Study sites".html_safe, tag: "h1", size: "l" } do %>
          <div class="govuk-hint">Select all that apply</div>
          <% @provider.study_sites.sort_by(&:location_name).each do |study_site| %>
                    <%= f.govuk_check_box :study_site_ids,
                        study_site.id,
                        label: { text: study_site.location_name },
                        hint: { text: study_site.full_address } %>
          <% end %>
        <% end %>
        <%= f.govuk_submit "Update study sites" %>
        <%= govuk_button_link_to(
          "Add study site",
          publish_provider_recruitment_cycle_study_sites_path(course.provider_code, course.recruitment_cycle_year),
          class: "govuk-!-margin-bottom-6 govuk-!-margin-top-0 govuk-button--secondary"
        ) %>

      <% end %>
      </div>
    </div>

<p class="govuk-body">
  <%= govuk_link_to(t("cancel"), details_publish_provider_recruitment_cycle_course_path(@provider.provider_code, @provider.recruitment_cycle_year)) %>
</p>
