<% content_for :page_title, title_with_error_prefix("Study sites", @errors && @errors.any?) %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(@back_link_path) %>
<% end %>

<%= render "publish/shared/errors" %>

<%= form_for course,
  url: continue_publish_provider_recruitment_cycle_courses_study_sites_path(@provider.provider_code, course.recruitment_cycle.year, course.course_code),
  method: :get do |form| %>
  <%= render "publish/courses/new_fields_holder", form:, except_keys: [:study_sites_ids] do |fields| %>
    <%= render "publish/shared/error_wrapper", error_keys: [:study_sites], data_qa: "course__sites" do %>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading" data-qa="page-heading">
            <%= render CaptionText.new(text: t("course.add_course")) %>
            Study sites
          </h1>
        </legend>
        <%= render "publish/shared/error_messages", error_keys: [:study_sites] %>

        <div class="govuk-form-group govuk-!-margin-top-2">
          <div class="govuk-hint">Select all that apply</div>

          <%= form.govuk_check_boxes_fieldset :study_sites_ids, legend: nil do %>
            <% @provider.study_sites.sort_by(&:location_name).each_with_index do |site, index| %>
                <%= form.govuk_check_box :study_sites_ids,
                    site.id,
                    label: { text: site.location_name },
                    hint: { text: site.full_address },
                    link_errors: index.zero? %>
            <% end %>
          <% end %>

        </div>
      </fieldset>
    <% end %>
  <% end %>
<% end %>

<p class="govuk-body">
  <%= govuk_link_to(t("cancel"), publish_provider_recruitment_cycle_courses_path(@provider.provider_code, @provider.recruitment_cycle_year)) %>
</p>
