<% content_for :page_title, title_with_error_prefix("Select the locations for this course", @errors && @errors.any?) %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(@back_link_path) %>
<% end %>

<%= render "publish_interface/shared/errors" %>

<%= form_for course,
  url: continue_publish_provider_recruitment_cycle_courses_locations_path(@provider.provider_code, course.recruitment_cycle.year, course.course_code),
  method: :get do |form| %>
  <%= render "publish_interface/courses/new_fields_holder", form: form, except_keys: [:sites_ids] do |fields| %>
    <%= render "publish_interface/shared/error_wrapper", error_keys: [:sites], data_qa: "course__sites" do %>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading" data-qa="page-heading">
            Select the locations for this course
          </h1>
        </legend>
        <%= render "publish_interface/shared/error_messages", error_keys: [:sites] %>
        <div class="govuk-form-group govuk-!-margin-top-2">
          <div class="govuk-checkboxes">
            <%= fields.fields_for :site_statuses, @provider.sites.sort_by(&:location_name) do |sfields| %>
              <% sfields.object.each do |site| %>
                <div class="govuk-checkboxes__item">
                  <%= sfields.check_box "selected", checked: course.has_site?(site), class: "govuk-checkboxes__input" %>
                  <%= sfields.label "selected", class: "govuk-label govuk-checkboxes__label"  do %>
                    <strong data-qa="site__name"><%= site.location_name %></strong>
                  <% end %>
                  <span class="govuk-hint govuk-checkboxes__hint">
                    <%= site.full_address %>
                  </span>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </fieldset>
    <% end %>
  <% end %>
<% end %>
