<% content_for :page_title, title_with_error_prefix(
  t("publish.providers.interview_process.edit.page_title", course_name_and_code: @course.name_and_code),
  @interview_process_form.errors.any?,
) %>

<% if params[:copy_from].present? %>
  <%= render Providers::CopyCourseContentWarningComponent.new(
    @copied_fields,
    "publish-course-interview-process-form",
    @source_course,
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
          model: @interview_process_form,
          url: interview_process_publish_provider_recruitment_cycle_course_path(
            @provider.provider_code,
            @course.recruitment_cycle_year,
            @course.course_code,
          ),
          data: { qa: "enrichment-form", module: "form-check-leave" },
          method: :patch,
          local: true,
        ) do |f| %>

      <% content_for :before_content do %>
        <%= govuk_back_link_to(
              back_link_path(param_form_key: f.object_name.to_sym,
                             params:,
                             provider_code: @provider.provider_code,
                             recruitment_cycle_year: @course.recruitment_cycle_year,
                             course_code: @course.course_code),
            ) %>
      <% end %>

      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= @course.name_and_code %></span>
        <%= t("publish.providers.interview_process.edit.interview_process_heading") %>
      </h1>

      <%= render partial: "guidance" %>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Does this course offer online interviews? (optional)
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios" data-controller="input-preview">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="true" data-action="input-preview#toggleInterviewOnline" data-input-preview-target="input" data-preview-output-target="preview">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item" >
                <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="false" data-action="input-preview#toggleInterviewOnline" data-input-preview-target="input" data-preview-output-target="preview">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

      <div data-controller="input-preview">
        <%= f.govuk_text_area(:interview_process1,
            label: { text: t("publish.providers.interview_process.edit.interview_process_label"), size: "s" },
            max_words: 50,
            data: {
              input_preview_target: "input",
              action: "input-preview#updatePreview",
              preview_output_target: "preview"
              },
            rows: 5) %>

        <%= f.govuk_text_area(:interview_process2,
            label: { text: t("publish.providers.interview_process.edit.interview_process_format"), size: "s" },
            hint: { text: t("publish.providers.interview_process.edit.interview_process_format_hint"), size: "s" },
            max_words: 50,
            data: {
              input_preview_target: "input",
              action: "input-preview#updatePreview",
              preview_output_target: "preview"
              },
            rows: 5) %>

        <%= f.govuk_text_area(:interview_process3,
            label: { text: t("publish.providers.interview_process.edit.interview_process_preparation"), size: "s" },
            hint: { text: t("publish.providers.interview_process.edit.interview_process_preparation_hint"), size: "s" },
            max_words: 50,
            data: {
              input_preview_target: "input",
              action: "input-preview#updatePreview",
              preview_output_target: "preview"
              },
            rows: 5) %>

        <p class="govuk-heading-m">What candidates will see</p>
        <div class="app-preview-container">
          <p class="govuk-heading-l">Interview process</p>

          <div id="course_interview_online_label" class="govuk-inset-text">
            This course offers online interviews
          </div>

          <p class="govuk-body">
            <div class="govuk-body">
              <p class="govuk-body" data-input-preview-target="preview" data-preview-target="preview">Your information will show here.</p>
            </div>
          </p>

          <!-- Call out -->
          <div class="govuk-notification-banner app-notification-banner--git" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__content app-notification-banner__content--grey">
              <span class="govuk-heading-m">
                Preparing for your interview
              </span>
              <p class="govuk-body">
                <a class="govuk-link govuk-link--no-visited-state" href="https://getintoteaching.education.gov.uk/how-to-apply-for-teacher-training/teacher-training-interview">
                  Find out how to prepare for your interview.
                </a>
              </p>
            </div>
          </div>
          <!-- END Call out -->
        </div>
      </div>
      <%= f.govuk_submit t("publish.providers.interview_process.edit.submit_button") %>
    <% end %>
    <p class="govuk-body">
      <%= govuk_link_to(t("cancel"), publish_provider_recruitment_cycle_course_path(@provider.provider_code,
                                                                                    @provider.recruitment_cycle.year,
                                                                                    @course.course_code)) %>
    </p>
  </div>
  <aside class="govuk-grid-column-one-third" data-qa="course__related_sidebar">
    <%= render(
          partial: "publish/courses/related_sidebar",
          locals: {
            course: @course,
            page_path: interview_process_publish_provider_recruitment_cycle_course_path(
              @provider.provider_code,
              @course.recruitment_cycle_year,
              @course.course_code,
            ),
          },
        ) %>
  </aside>
</div>
