<% content_for :page_title, title_with_error_prefix(
  t("publish.providers.interview_process.edit.page_title", course_name_and_code: @course.name_and_code),
  @interview_process_form.errors.any?
) %>

<% if params[:copy_from].present? && @copied_fields.any? %>
  <%= render partial: "copy_interview_process_content_warning" %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
          model: @interview_process_form,
          url: interview_process_publish_provider_recruitment_cycle_course_path(
            @provider.provider_code,
            @course.recruitment_cycle_year,
            @course.course_code
          ),
          data: { qa: "enrichment-form", module: "form-check-leave" },
          method: :patch,
          local: true
        ) do |f| %>

      <% content_for :before_content do %>
        <%= govuk_back_link_to(
              back_link_path(param_form_key: f.object_name.to_sym,
                             params:,
                             provider_code: @provider.provider_code,
                             recruitment_cycle_year: @course.recruitment_cycle_year,
                             course_code: @course.course_code)
            ) %>
      <% end %>

      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= @course.name_and_code %></span>
        <%= t("publish.providers.interview_process.edit.interview_process_heading") %>
      </h1>

      <%= t("publish.providers.interview_process.edit.include_information_about_html") %>

      <%= f.govuk_text_area(:interview_process,
                            value: @copied_fields_values&.dig("interview_process") || @interview_process_form.interview_process,
                            label: { text: t("publish.providers.interview_process.edit.interview_process_label"), size: "s" },
                            hint: -> { render partial: "publish/courses/markdown_formatting" },
                            max_words: 250,
                            rows: 20) %>
      <%= f.govuk_submit t("publish.providers.interview_process.edit.submit_button") %>
    <% end %>
    <p class="govuk-body">
      <%= govuk_link_to(t("cancel"), publish_provider_recruitment_cycle_course_path(@provider.provider_code,
                                                                                    @provider.recruitment_cycle.year,
                                                                                    @course.course_code)) %>
    </p>
  </div>
  <aside class="govuk-grid-column-one-third" data-qa="course__related_sidebar">
    <%= render(
          partial: "publish/courses/related_sidebar",
          locals: {
            course: @course,
            page_path: interview_process_publish_provider_recruitment_cycle_course_path(
              @provider.provider_code,
              @course.recruitment_cycle_year,
              @course.course_code
            )
          }
        ) %>
  </aside>
</div>
