<%= render "publish/shared/error_wrapper", error_keys: %i[funding_type program_type], data_qa: "course__funding_type" do %>
  <h1 class="govuk-heading-l">
    Teaching apprenticeship
  </h1>

  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      Is this a teaching apprenticeship?
    </legend>

    <%= render "publish/shared/error_messages", error_keys: %i[funding_type program_type] %>

    <div class="govuk-radios govuk-!-margin-top-2" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <%= form.radio_button :funding_type,
                "apprenticeship",
                class: "govuk-radios__input" %>
        <%= form.label :funding_type,
                "Yes",
                value: "apprenticeship",
                class: "govuk-label govuk-radios__label",
                data: { qa: "course__funding_type_apprenticeship" } %>
      </div>

      <div class="govuk-radios__item">
        <%= form.radio_button :funding_type,
                "fee",
                class: "govuk-radios__input" %>
        <%= form.label :funding_type,
                "No",
                value: "fee",
                class: "govuk-label govuk-radios__label",
                data: { qa: "course__funding_type_fee" } %>
      </div>
    </div>
  </fieldset>
<% end %>
