<% content_for :page_title,
               title_with_error_prefix(
                 t("publish.providers.course_length.edit.page_title", course_name_and_code: @course.name_and_code),
                 @course_length_form.errors.any?,
               ) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
          model: @course_length_form,
          url: length_publish_provider_recruitment_cycle_course_path(@provider.provider_code,
                                                                     @course.recruitment_cycle_year,
                                                                     @course.course_code),
          data: { qa: "enrichment-form", module: "form-check-leave" },
          method: :patch,
          local: true,
        ) do |f| %>

      <% content_for :before_content do %>
        <%= govuk_back_link_to(
              back_link_path(
                param_form_key: f.object_name.to_sym,
                params:,
                provider_code: @provider.provider_code,
                recruitment_cycle_year: @course.recruitment_cycle_year,
                course_code: @course.course_code,
              ),
            ) %>
      <% end %>

      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset(
        :course_length,
        legend: nil,
        form_group: {
          id: @course_length_form.errors.key?(:course_length) ? "course_length-error" : "course-length",
        },
      ) do %>
        <legend>
          <h1 class="govuk-heading-l">
            <span class="govuk-caption-l"><%= @course.name_and_code %></span>
            <%= t("publish.providers.course_length.edit.course_length") %>
          </h1>
        </legend>
        <%= f.govuk_radio_button(:course_length, t("publish.providers.course_length.edit.one_year.value"),
            label: { text: t("publish.providers.course_length.edit.one_year.label") },
            link_errors: true) %>

        <%= f.govuk_radio_button(:course_length, t("publish.providers.course_length.edit.two_years.value"),
            label: { text: t("publish.providers.course_length.edit.two_years.label") }) %>

        <%= f.govuk_radio_button(:course_length, t("publish.providers.course_length.edit.other.value"),
            checked: @course.other_course_length?,
            label: { text: t("publish.providers.course_length.edit.other.label") }) do %>

          <%= f.govuk_text_field(:course_length_other_length,
              value: @course.other_course_length? ? @course.course_length : "",
              label: { text: t("publish.providers.course_length.edit.custom_length.label"), size: "s" },
              width: 20) %>
        <% end %>
      <% end %>

      <%= f.govuk_submit t("publish.providers.course_length.edit.update_course_length") %>

    <% end %>
  </div>
</div>
