<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="section-schools"><%= course.placements_heading %></h2>
  <div data-qa="course__about_schools">
    <div class="app-advice__body">
      <% if course.provider.provider_type == "university" && course.provider.provider_code != 'B31' %>
        <%= render partial: "publish/courses/preview/placement/hei", locals: { course: } %>
      <% elsif course.program_type == 'scitt_programme' && course.provider.provider_code != 'E65' %>
        <%= render partial: "publish/courses/preview/placement/scitt", locals: { course: } %>
      <% end %>
    </div>
    <% if course.how_school_placements_work.present? %>
      <%= markdown(course.how_school_placements_work) %>
    <% else %>
      <%= govuk_inset_text(classes: "app-inset-text--narrow-border app-inset-text--important") do %>
        <p class="govuk-body">Please add details for this section.</p>
      <% end %>
    <% end %>
  </div>
</div>
