<div class="govuk-!-margin-bottom-8">
  <h3 class="govuk-heading-l" id="section-advice">Support and advice</h3>
  <p class="govuk-body">For support and advice, you can speak to a <%= govuk_link_to "teacher training adviser", t("get_into_teaching.url_get_an_advisor") %>
  for free. They’re all experienced teachers who can help you to prepare your application, book school
    experience, and access exclusive teaching events.</p>
  <p class="govuk-body">You can also call <%= t("service_name.get_into_teaching") %> free of charge on <%= t("get_into_teaching.tel") %>, or
    <%= govuk_link_to "chat online", t("get_into_teaching.url_online_chat") %>
    <%= t("get_into_teaching.opening_times") %> (except public holidays).</p>

  <p class="govuk-body">Find out about the different
  <%= govuk_link_to("ways to train", t("get_into_teaching.url_ways_to_train")) %>
  if you do not have a degree, or are already an experienced teacher.</p>

  <h4 class="govuk-heading-m">Is there something wrong with this page?</h4>
  <p class="govuk-body">If there is something wrong with this course listing, <%= bat_contact_mail_to("contact us by email", subject: "Edit #{course.name} (#{course.provider_code}/#{course.course_code})") %>.</p>
</div>
