<div class="govuk-!-margin-bottom-8">
  <% if course.fee_uk_eu.present? %>
    <% if course.fee_international.present? %>
      <table class="govuk-table app-table--vertical-align-middle">
        <caption class="govuk-table__caption govuk-!-font-weight-regular govuk-!-margin-bottom-4">The course fees for <%= course.cycle_range %> are as follows:</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-visually-hidden govuk-table__row">
            <th scope="col" class="govuk-table__header">Student type</th>
            <th scope="col" class="govuk-table__header">Fees to pay</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell">UK students</td>
            <td class="govuk-table__cell" data-qa="course__uk_fees"><%= number_to_currency(course.fee_uk_eu) %></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell">International students</td>
            <td class="govuk-table__cell" data-qa="course__international_fees"><%= number_to_currency(course.fee_international) %></td>
          </tr>
        </tbody>
      </table>
    <% else %>
      <p class="govuk-body">The course fees for UK students in <%= @recruitment_cycle.year_range %> are <%= number_to_currency(course.fee_uk_eu) %>.</p>
    <% end %>
    <% if course.fee_details.present? %>
      <div data-qa="course__fee_details">
        <%= markdown(course.fee_details) %>
      </div>
    <% end %>
  <% else %>
    <%= govuk_inset_text(classes: "app-inset-text--narrow-border app-inset-text--important") do %>
      <p class="govuk-body">Please add details for this section.</p>
    <% end %>
  <% end %>
</div>
