<div class="govuk-form-group">
  <%= label_tag "provider_search", t("components.filter.providers.provider_search"), class: "govuk-label govuk-label--s" %>
  <%= text_field_tag "provider_search", (filters[:provider_search] if filters), spellcheck: false, class: "govuk-input", autocomplete: "off" %>
</div>
<div class="govuk-form-group">
  <%= label_tag "course_search", t("components.filter.providers.course_search"), class: "govuk-label govuk-label--s" %>
  <%= text_field_tag "course_search", (filters[:course_search] if filters), spellcheck: false, class: "govuk-input", autocomplete: "off" %>
</div>
<div class="govuk-form-group">
  <div class="govuk-checkboxes">
    <div class="govuk-checkboxes__item">
      <%= check_box_tag "accredited", nil, class: "govuk-checkboxes__input", checked: filters[:accredited] == "on" %>
      <%= label_tag "accredited", t("components.filter.providers.accredited"), class: "govuk-label govuk-checkboxes__label govuk-label--s" %>
    </div>
  </div>
</div>
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
        Provider Types
      </h1>
    </legend>
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <%= check_box_tag "provider_type[scitt]", nil, class: "govuk-checkboxes__input", checked: filters.dig(:provider_type, :scitt) %>
        <%= label_tag "provider_type[scitt]", t("components.filter.providers.scitt"), class: "govuk-label govuk-checkboxes__label govuk-label--s" %>
      </div>
      <div class="govuk-checkboxes__item">
        <%= check_box_tag "provider_type[university]", nil, class: "govuk-checkboxes__input", checked: filters.dig(:provider_type, :university) %>
        <%= label_tag "provider_type[university]", t("components.filter.providers.university"), class: "govuk-label govuk-checkboxes__label govuk-label--s" %>
      </div>
      <div class="govuk-checkboxes__item">
        <%= check_box_tag "provider_type[lead_school]", nil, class: "govuk-checkboxes__input", checked: filters.dig(:provider_type, :lead_school) %>
        <%= label_tag "provider_type[lead_school]", t("components.filter.providers.lead_school"), class: "govuk-label govuk-checkboxes__label govuk-label--s" %>
      </div>
    </div>
  </fieldset>
</div>
