<% content_for :page_title, @provider.provider_name %>
<% if @has_multiple_providers %>
  <%= content_for :before_content, render_breadcrumbs(:provider) %>
<% end %>

<h1 class="govuk-heading-l"><%= @provider.provider_name %></h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @provider.rolled_over? %>
      <%= render partial: "show_during_rollover" %>
    <% else %>
      <%= render partial: "recruitment_cycles/about_organisation", locals: { provider: @provider, year: Settings.current_cycle } %>
      <%= render partial: "recruitment_cycles/courses_info", locals: { provider: @provider, year: Settings.current_cycle } %>
      <%= render partial: "recruitment_cycles/courses_accredited_body", locals: { provider: @provider, year: Settings.current_cycle } %>
      <%= render partial: "recruitment_cycles/locations_info", locals: { provider: @provider, year: Settings.current_cycle } %>
      <%= render partial: "recruitment_cycles/allocations", locals: { provider: @provider, year: Settings.current_cycle } %>
    <% end %>
  </div>
  <%= render partial: "publish_interface/shared/aside_information_box" %>
</div>
