<% content_for :page_title, title_with_error_prefix("Who is the accredited body? – #{course.name_and_code}", @errors && @errors.any?) %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(@back_link_path) %>
<% end %>

<%= render "publish/shared/errors" %>

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Who is the accredited body?
    </h1>
  </legend>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= form_with url: continue_publish_provider_recruitment_cycle_courses_accredited_body_path(
                      @provider.provider_code,
                      @provider.recruitment_cycle_year,
                    ),
                    method: :get do |form| %>

          <%= render "publish/courses/new_fields_holder", form: form, except_keys: [:accredited_body_code] do |fields| %>
            <div class="govuk-radios" data-module="govuk-radios" data-qa="course__accredited_body">
              <% if @provider.accredited_bodies.length > 0 %>
                <%= render partial: "provider_suggestion", collection: @provider.accredited_bodies, locals: { form: fields } %>

                <div class="govuk-radios__divider">or</div>

                <div class="govuk-radios__item">
                  <%= fields.radio_button :accredited_body_code,
                    "other",
                    class: "govuk-radios__input",
                    data: { "aria-controls" => "other-container" },
                    checked: @errors && @errors[:accredited_body]&.any? %>
                  <%= fields.label :accredited_body_code,
                    "A new accredited body you’re working with",
                    for: "course_accredited_body_code_other",
                    value: false,
                    class: "govuk-label govuk-radios__label" %>
                </div>

                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="other-container">
                  <%= render "provider_search_field", form: fields %>
                </div>
              <% else %>
                <%= fields.hidden_field :accredited_body_code, value: :other %>
                <%= render "provider_search_field", form: fields %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</fieldset>
