<%= govuk_accordion(html_attributes: { class: "accordion-without-controls course-accordion" }) do |accordion| %>
  <%= accordion.with_section(heading_text: t("find.financial_support.uk_citizens.title"), html_attributes: { class: "govuk-accordion__section--orange" }) do %>
    <div data-qa="course__loan_details">
      <h3 class="govuk-heading-m"><%= t("find.financial_support.student_loans") %></h3>

      <p class="govuk-body"><%= t("find.financial_support.eligible_for_student_loan") %></p>
      <p class="govuk-body"><%= govuk_link_to(t("find.financial_support.find_out_more_student_loans"), t("find.get_into_teaching.url_maintenance_loans")) %></p>
    </div>
  <% end %>
<% end %>

<%= govuk_accordion(html_attributes: { class: "accordion-without-controls course-accordion" }) do |accordion| %>
  <%= accordion.with_section(heading_text: t("find.financial_support.non_uk_citizens.title")) do %>
    <div data-qa="course__loan_details_non_uk">
      <p class="govuk-body"><%= t("find.financial_support.non_uk_citizens.unlikely_to_get_help") %></p>
      <p class="govuk-body"><%= govuk_link_to(t("find.financial_support.non_uk_citizens.what_support"), t("find.get_into_teaching.url_non_uk_trainees")) %></p>
    </div>
  <% end %>
<% end %>
