<%= govuk_accordion(html_attributes: { class: "accordion-without-controls course-accordion" }) do |accordion| %>
  <%= accordion.with_section(heading_text: t("find.financial_support.uk_citizens.salaried_courses.title"), html_attributes: { class: "govuk-accordion__section--orange" }) do %>
    <div data-qa="course__salary_details">
      <p class="govuk-body"><%= t("find.financial_support.uk_citizens.salaried_courses.paid_salary") %></p>
      <p class="govuk-body"><%= t("find.financial_support.uk_citizens.salaried_courses.no_fees") %></p>

      <p class="govuk-body"><%= govuk_link_to(t("find.financial_support.uk_citizens.salaried_courses.pay_scale"), find_track_click_path(utm_content: "uk_citizens_salaried_national_pay_scales", url: t("find.links.national_pay_scales"))) %></p>

      <p class="govuk-body"><%= t("find.financial_support.uk_citizens.salaried_courses.competitive") %></p>
      <p class="govuk-body"><%= govuk_link_to(t("find.financial_support.uk_citizens.salaried_courses.find_out_more"), find_track_click_path(utm_content: "uk_citizens_salaried_teacher_salaries", url: t("find.get_into_teaching.url_teacher_salaries"))) %></p>
    </div>
  <% end %>
<% end %>

<%= govuk_accordion(html_attributes: { class: "accordion-without-controls course-accordion" }) do |accordion| %>
  <%= accordion.with_section(heading_text: t("find.financial_support.non_uk_citizens.salaried_courses.title")) do %>
    <div data-qa="course__salary_details_non_uk">
      <p class="govuk-body"><%= t("find.financial_support.non_uk_citizens.salaried_courses.competitive") %></p>
      <p class="govuk-body"><%= t("find.financial_support.non_uk_citizens.salaried_courses.entry_requirements") %></p>

      <p class="govuk-body"><%= govuk_link_to(t("find.financial_support.non_uk_citizens.what_support"), find_track_click_path(utm_content: "non_uk_citizens_salaried_non_uk_trainees", url: t("find.get_into_teaching.url_non_uk_trainees"))) %></p>
    </div>
  <% end %>
<% end %>
