<%= render PageTitle::View.new(title: "users.new") %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(publish_provider_users_path(provider_code_or_code(params))) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with(model: @user_form, url: publish_provider_users_path(provider_code_or_code(params)), local: true) do |f| %>
      <%= f.govuk_error_summary %>
      <span class="govuk-caption-l">Add user</span>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">Personal details</h1>
        </legend>

        <%= f.govuk_text_field :first_name, label: { text: "First name", size: "s" }, width: "two-thirds" %>
        <%= f.govuk_text_field :last_name, label: { text: "Last name", size: "s" }, width: "two-thirds" %>
        <%= f.govuk_text_field :email, label: { text: "Email address", size: "s" }, width: "full" %>

        <%= f.govuk_submit %>
      </fieldset>
    <% end %>

    <p class="govuk-body">
      <%= govuk_link_to(t("cancel"), publish_provider_users_path(provider_code_or_code(params))) %>
    </p>
  </div>
</div>
