<% if cycle_timetable.show_apply_deadline_banner? %>
  <%= govuk_notification_banner(title_text: t("important")) do |notification_banner| %>
    <% notification_banner.with_heading(text: t("apply_deadline_banner.heading", cycle_year_range:, apply_deadline:)) %>
    <p class="govuk-body"><%= t("apply_deadline_banner.text") %></p>
  <% end %>
<% elsif cycle_timetable.show_cycle_closed_banner? %>
  <%= govuk_notification_banner(title_text: t("important")) do |notification_banner| %>
    <% notification_banner.with_heading(text: "Courses are currently closed but you can get your application ready") %>
    <p class="govuk-body">Courses starting in the <%= cycle_timetable.cycle_year_range %> academic year are closed.</p>
    <p class="govuk-body">You can <%= govuk_link_to("start or continue applying", Settings.apply_base_url) %> for courses starting in the <%= cycle_timetable.next_cycle_year_range %> academic year.</p>
    <p class="govuk-body">You’ll be able to find courses from <%= cycle_timetable.find_reopens.to_fs(:govuk_date_and_time) %> and submit your applications from <%= cycle_timetable.apply_reopens.to_fs(:govuk_date_and_time) %>.</p>
  <% end %>
<% elsif cycle_timetable.show_apply_opens_soon_banner? %>
  <%= govuk_notification_banner(title_text: t("important")) do |notification_banner| %>
    <% notification_banner.with_heading(text: t("apply_opens_soon_banner.heading", apply_opens:)) %>
    <p class="govuk-body"><%= t("apply_opens_soon_banner.application_deadline_has_passed", previous_cycle_year_range:) %></p>
    <p class="govuk-body"><%= t("apply_opens_soon_banner.you_can_search_for_courses", cycle_year_range:, apply_opens:) %></p>
  <% end %>
<% end %>
