<% content_for :page_title, @recruitment_cycle.to_s %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: support_recruitment_cycles_path) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l"><%= t(".page_caption") %></span>
      <h1 class="govuk-heading-l"><%= @recruitment_cycle %></h1>

      <%= govuk_summary_list(actions: policy(@recruitment_cycle).edit?) do |summary_list| %>
        <% summary_list.with_row do |row| %>
          <% row.with_key text: RecruitmentCycle.human_attribute_name(:year) %>
          <% row.with_value text: @recruitment_cycle.year %>
          <% if policy(@recruitment_cycle).edit? %>
            <% row.with_action(
              text: t("change"),
              href: edit_support_recruitment_cycle_path(@recruitment_cycle),
              visually_hidden_text: RecruitmentCycle.human_attribute_name(:year),
              classes: ["govuk-link--no-visited-state"],
            ) %>
          <% end %>
        <% end %>

        <% summary_list.with_row do |row| %>
          <% row.with_key text: RecruitmentCycle.human_attribute_name(:application_start_date) %>
          <% row.with_value text: l(@recruitment_cycle.application_start_date, format: :long) %>
          <% if policy(@recruitment_cycle).edit? %>
            <% row.with_action(
              text: t("change"),
              href: edit_support_recruitment_cycle_path(@recruitment_cycle),
              visually_hidden_text: RecruitmentCycle.human_attribute_name(:application_start_date),
              html_attributes: { class: "govuk-link--no-visited-state" },
            ) %>
          <% end %>
        <% end %>

        <% summary_list.with_row do |row| %>
          <% row.with_key text: RecruitmentCycle.human_attribute_name(:application_end_date) %>
          <% row.with_value text: l(@recruitment_cycle.application_end_date, format: :long) %>
          <% if policy(@recruitment_cycle).edit? %>
            <% row.with_action(
              text: t("change"),
              href: edit_support_recruitment_cycle_path(@recruitment_cycle),
              visually_hidden_text: RecruitmentCycle.human_attribute_name(:application_end_date),
              classes: ["govuk-link--no-visited-state"],
            ) %>
          <% end %>
        <% end %>

        <% summary_list.with_row do |row| %>
          <% row.with_key text: RecruitmentCycle.human_attribute_name(:available_in_publish_from) %>
          <% row.with_value text: l(@recruitment_cycle.available_in_publish_from, format: :long) %>
          <% if policy(@recruitment_cycle).edit? %>
            <% row.with_action(
              text: t("change"),
              href: edit_support_recruitment_cycle_path(@recruitment_cycle),
              visually_hidden_text: RecruitmentCycle.human_attribute_name(:available_in_publish_from),
              classes: ["govuk-link--no-visited-state"],
            ) %>
          <% end %>
        <% end %>
      <% end %>

      <% if @rollover_progress.previous_target_cycle.present? %>
        <%= govuk_summary_card(classes: %w[recruitment-cycle-summary-card], title: RecruitmentCycle.human_attribute_name(:rollover_progress)) do |card| %>
          <%= card.with_summary_list(actions: false, classes: ["govuk-summary-list--no-border"]) do |summary_list| %>
            <% summary_list.with_row do |row| %>
              <% row.with_key(text: RolloverProgress.human_attribute_name(:status)) %>
              <% row.with_value(
                                       text: rollover_summary(
                                         previous_target_cycle: @rollover_progress.previous_target_cycle,
                                         total_eligible_providers_count: @rollover_progress.total_eligible_providers_count,
                                         rolled_over_providers_count: @rollover_progress.rolled_over_providers_count,
                                         rollover_percentage: @rollover_progress.rollover_percentage,
                                       ),
                                     ) %>
            <% end %>

            <% summary_list.with_row do |row| %>
              <% row.with_key(text: RolloverProgress.human_attribute_name(:remaining_to_rollover)) %>
              <% row.with_value(text: @rollover_progress.remaining_to_rollover_count) %>
            <% end %>

            <% summary_list.with_row do |row| %>
              <% row.with_key(text: RolloverProgress.human_attribute_name(:providers_without_published_courses)) %>
              <% row.with_value(text: @rollover_progress.providers_without_published_courses_count) %>
            <% end %>
          <% end %>
        <% end %>

        <%= govuk_table do |table| %>
          <%= table.with_caption(text: RolloverProgress.human_attribute_name(:providers_without_published_courses), size: "m") %>
          <%= table.with_head do |head| %>
            <%= head.with_row do |row| %>
              <%= row.with_cell(text: "Provider code") %>
              <%= row.with_cell(text: "Provider name") %>
            <% end %>
          <% end %>

          <%= table.with_body do |body| %>
            <% @rollover_progress.providers_without_published_courses.order(provider_name: :asc).each do |provider| %>
              <%= body.with_row do |row| %>
                <%= row.with_cell(text: provider.provider_code) %>
                <%= row.with_cell do %>
                  <% if @rollover_progress.target_cycle.upcoming? %>
                    <%= govuk_link_to provider.provider_name,
                      support_recruitment_cycle_provider_path(provider.recruitment_cycle_year, provider) %>
                  <% else %>
                    <%= provider.provider_name %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
