<%= render "publish/shared/error_wrapper", error_keys: [:can_sponsor_student_visa], data_qa: "course__can_sponsor_student_visa" do %>
  <h1 class="govuk-heading-l">
    <%= t("page_titles.student_visas.new") %>
  </h1>

  <% if @course.is_uni_or_scitt? && !@provider.can_sponsor_student_visa %>
    <p class="govuk-body">Learn more about <%= govuk_link_to "recruiting trainee teachers from overseas", "https://www.gov.uk/guidance/recruit-trainee-teachers-from-overseas-accredited-itt-providers" %>.</p>
  <% end %>

  <fieldset class="govuk-fieldset">
    <% if @course.is_uni_or_scitt? %>
      <% question = "Can your organisation sponsor Student visas for this course?" %>
    <% else %>
      <%= render "inset_text" if @course.accrediting_provider.present? %>
      <% question = "Is Student visa sponsorship available for this course?" %>
    <% end %>

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <%= question %>
    </legend>

    <%= render "publish/shared/error_messages", error_keys: [:can_sponsor_student_visa] %>

    <div class="govuk-radios govuk-!-margin-top-2" data-module="govuk-radios">
      <% course.edit_course_options["can_sponsor_student_visas"].each do |value| %>
        <div class="govuk-radios__item">
          <%= form.radio_button :can_sponsor_student_visa,
                                value,
                                class: "govuk-radios__input" %>
          <%= form.label :can_sponsor_student_visa,
                         t("edit_options.can_sponsor_student_visas.#{value}.label"),
                         value:,
                         class: "govuk-label govuk-radios__label" %>
        </div>
      <% end %>
    </div>
  </fieldset>
<% end %>
