<% content_for :page_title, title_with_error_prefix("#{t('page_titles.student_visas.edit')} – #{course.name_and_code}", @visa_sponsorship_form.errors.any?) %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(
        details_publish_provider_recruitment_cycle_course_path(
          course.provider_code,
          course.recruitment_cycle_year,
          course.course_code,
        ),
      ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
          model: @visa_sponsorship_form,
          url: student_visa_sponsorship_publish_provider_recruitment_cycle_course_path(
            course.provider_code,
            course.recruitment_cycle_year,
            course.course_code,
          ),
          method: :put,
          local: true,
        ) do |f| %>

      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <%= render CaptionText::View.new(text: course.name_and_code) %>
        <%= t("page_titles.student_visas.edit") %>
      </h1>

      <% if @visa_sponsorship_form.funding_type_updated? %>
        <p class="govuk-body"><%= t("visa_sponsorships.updated.#{@visa_sponsorship_form.origin_step}") %></p>
      <% end %>

      <% if @course.is_uni_or_scitt? && !@provider.can_sponsor_student_visa %>
        <p class="govuk-body">Learn more about <%= govuk_link_to "recruiting trainee teachers from overseas", "https://www.gov.uk/guidance/recruit-trainee-teachers-from-overseas-accredited-itt-providers" %>.</p>
      <% end %>

      <% if @course.is_uni_or_scitt? %>
        <% question = "Can your organisation sponsor Student visas for this course?" %>
      <% else %>
        <%= render "inset_text" if @course.accrediting_provider.present? %>
        <% question = "Is Student visa sponsorship available for this course?" %>
      <% end %>

      <%= f.govuk_radio_buttons_fieldset(:can_sponsor_student_visa, legend: { text: question, tag: "h1", size: "m" }) do %>
        <% course.edit_course_options["can_sponsor_student_visas"].each_with_index do |can_sponsor_student_visa, index| %>
          <%= f.govuk_radio_button(
                :can_sponsor_student_visa,
                can_sponsor_student_visa,
                label: { text: t("edit_options.can_sponsor_student_visas.#{can_sponsor_student_visa}.label") },
                link_errors: index.zero?,
              ) %>
        <% end %>
      <% end %>

      <%= f.govuk_submit "Update Student visas" %>
    <% end %>

    <p class="govuk-body">
      <%= govuk_link_to(t("cancel"), details_publish_provider_recruitment_cycle_course_path(@provider.provider_code, @provider.recruitment_cycle.year, @course.course_code)) %>
    </p>
  </div>
</div>
