<%= render PageTitle::View.new(title: "support.users.edit") %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "User record",
    href: support_recruitment_cycle_user_path(params[:recruitment_cycle_year], @user),
  ) %>
<% end %>

<h1 class="govuk-heading-l">Edit user details</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= form_with model: @user, url: support_recruitment_cycle_user_path(params[:recruitment_cycle_year], @user), local: true do |f| %>

        <%= f.govuk_error_summary %>

        <%= f.govuk_text_field :first_name, label: { text: "First name", size: "m" } %>
        <%= f.govuk_text_field :last_name, label: { text: "Last name", size: "m" } %>
        <%= f.govuk_text_field :email, label: { text: "Email", size: "m" } %>

        <%= f.govuk_check_boxes_fieldset :admin, legend: { text: "Admin" }, multiple: false do %>
          <% f.govuk_check_box :admin, true, false, label: { text: "This user is an admin" }, multiple: false %>
        <% end %>

        <%= f.govuk_submit t("support.update_record") %>
      <% end %>

      <p class="govuk-body">
        <%= govuk_link_to(t("cancel"), support_recruitment_cycle_user_path(params[:recruitment_cycle_year])) %>
      </p>
    </div>
  </div>
</div>
