<%= render PageTitle::View.new(title: "support.users.index") %>

<h1 class="govuk-heading-l">Users</h1>

<%= render "support/menu" %>

<div class="govuk-button-group">
  <%= link_to "Download users (CSV)", support_data_exports_path(anchor: "users"), class: "govuk-button govuk-button--secondary" %>
</div>

<%= render "users", users: @users %>
<%= render Paginator::View.new(scope: @users ) %>
