<% content_for :page_title, title_with_error_prefix("What type of course?", @errors && @errors.any?) %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(@back_link_path) %>
<% end %>

<%= render "publish/shared/errors" %>

<h1 class="govuk-heading-l">
  <%= render CaptionText.new(text: t("course.add_course")) %>
  What type of course?
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: continue_publish_provider_recruitment_cycle_courses_level_path(
                    @provider.provider_code,
                    @provider.recruitment_cycle_year
                  ),
                  method: :get do |form| %>

      <%= render "publish/courses/new_fields_holder", form:, except_keys: %i[level is_send] do |fields| %>
        <%= render "publish/shared/error_wrapper", error_keys: [:level], data_qa: "course__level" do %>
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">Subject level</h2>
            </legend>
            <%= render "publish/shared/error_messages", error_keys: [:level] %>
            <%= render "form_fields", form: fields %>
          </fieldset>
        <% end %>

        <%= render "publish/shared/error_wrapper", error_keys: [:is_send], data_qa: "course__is_send" do %>
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                <%= t("course.new.level.special_educational_needs_and_disabilities.label") %>
              </h2>
            </legend>
            <%= render "publish/shared/error_messages", error_keys: [:is_send] %>
            <%= render "publish/courses/send/form_fields", form: fields %>
          </fieldset>
        <% end %>
      <% end %>
    <% end %>

    <p class="govuk-body">
      <%= govuk_link_to(t("cancel"), publish_provider_recruitment_cycle_courses_path(@provider.provider_code, @provider.recruitment_cycle_year)) %>
    </p>
  </div>
</div>
