<tr class="govuk-table__row">
  <td class="govuk-table__cell app-saved-course__cell">
    <% if saved_course.course.is_withdrawn? %>
      <div class="app-saved-course__cell-content">
        <div>
          <strong>
            <span>
              <%= saved_course.course.provider_name %>
            </span>
          </strong>
          <span class="govuk-!-padding-left-2"><%= saved_course.course.decorate.saved_status_tag %></span><br>
          <span class="govuk-body-s"><%= saved_course.course.name_and_code %></span>
        </div>
        <%= button_to t(".delete"),
                      find_candidate_saved_course_path(saved_course),
                      method: :delete,
                      params: { location: location, order: local_assigns[:order] }.compact_blank,
                      class: "app-button-link" %>
      </div>
    <% else %>
      <%= govuk_link_to find_course_path(provider_code: saved_course.course.provider_code, course_code: saved_course.course.course_code),
                        class: "app-saved-course__cell-link" do %>
        <div class="app-saved-course__cell-content">
          <div>
            <strong>
              <span class="govuk-link">
                <%= saved_course.course.provider_name %>
              </span>
            </strong>
            <span class="govuk-!-padding-left-2"><%= saved_course.course.decorate.saved_status_tag %></span><br>
            <span class="govuk-body-s"><%= saved_course.course.name_and_code %></span>
          </div>
          <%= button_to t(".delete"),
                        find_candidate_saved_course_path(saved_course),
                        method: :delete,
                        params: { location: location, order: local_assigns[:order] }.compact_blank,
                        class: "app-button-link" %>
        </div>
      <% end %>
    <% end %>

    <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0 govuk-!-margin-top-2">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-font-size-16"><%= t(".nearest_placement_school") %></dt>
        <dd class="govuk-summary-list__value govuk-!-font-size-16">
          <% if defined?(location) && location.present? && saved_course.respond_to?(:minimum_distance_to_search_location) && saved_course.minimum_distance_to_search_location.present? %>
            <%= t(".distance_html",
                  distance: content_tag(:strong, pluralize(saved_course.minimum_distance_to_search_location.ceil, "mile")),
                  location: content_tag(:strong, sanitize(short_address.presence || location))).html_safe %>
          <% else %>
            <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0"><%= t(".placement_hint") %></span>
          <% end %>
        </dd>
      </div>
    </dl>
  </td>
</tr>
