<%= content_for :page_title, title_with_error_prefix(t(".page_title"), flash[:error].present?) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= t(".page_title") %>
    </h1>
  </div>

  <% if @saved_courses.empty? %>
    <div class="govuk-grid-column-full">
      <div class="app-card app-card--dashed">
        <h2 class="govuk-heading-m"><%= t(".no_saved_courses") %></h2>
        <p class="govuk-body">
          <%= t(".empty_state_html", link: govuk_link_to(t(".find_saved_courses"), find_root_path)) %>
        </p>
      </div>
    </div>
  <% else %>
    <div class="govuk-grid-column-full">
      <div class="app-saved-courses-search">
        <h2 class="govuk-heading-m"><%= t(".search_heading") %></h2>
        <p class="govuk-body govuk-!-font-size-19"><%= t(".search_description") %></p>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full app-saved-course-location">
            <div class="govuk-form-group app-saved-course-location-input">
              <%= form_with url: find_candidate_saved_courses_path, method: :get, local: true do |form| %>
                <div class="app-saved-courses-search__location-row" data-controller="locations-autocomplete" data-locations-autocomplete-path-value="<%= find_geolocation_suggestions_path %>">
                  <%= form.label :location, t(".location_label"), class: "govuk-label govuk-label--s govuk-!-font-weight-bold" %>
                  <%= form.text_field :location,
                      value: @location,
                      class: "govuk-input",
                      autocomplete: "off",
                      data: { locations_autocomplete_target: "input" } %>
                  <%= form.govuk_submit t(".add_location"), class: "app-saved-courses-search__button" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <% sort_options = [["newest_first", t(".sort_options.newest_first")]] %>
      <% sort_options << ["distance", t(".sort_options.distance")] if @location.present? %>
      <% sort_options << ["fee_uk_ascending", t(".sort_options.fee_uk_ascending")] %>
      <% sort_options << ["fee_intl_ascending", t(".sort_options.fee_intl_ascending")] %>

      <div class="app-saved-courses-sort--inline">
        <p class="govuk-body">
          <%= t(".sort_by") %>
          <% sort_options.each_with_index do |(order_value, label), index| %>
            <% if @order == order_value %>
              <strong><%= label %></strong>
            <% else %>
              <%= govuk_link_to label, find_candidate_saved_courses_path(location: @location, order: order_value) %>
            <% end %>
            <% unless index == sort_options.size - 1 %>
              |
            <% end %>
          <% end %>
        </p>
      </div>

      <div class="app-saved-courses-sort--list">
        <p class="govuk-body"><%= t(".sort_by") %></p>
        <ul class="govuk-list app-list--dash course-contents">
          <% sort_options.each do |order_value, label| %>
            <li>
              <% if @order == order_value %>
                <strong><%= label %></strong>
              <% else %>
                <%= govuk_link_to label, find_candidate_saved_courses_path(location: @location, order: order_value) %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>

      <% @saved_courses.each do |saved_course| %>
        <%= render SavedCourses::SummaryCardComponent.new(
          saved_course: saved_course,
          location: @location,
          short_address: @short_address,
          order: @order,
        ) %>
      <% end %>

      <%= govuk_pagination(pagy: @pagy) %>
    </div>
  <% end %>

  <div class="govuk-grid-column-full">
    <%= govuk_inset_text classes: "app-callout app-callout--blue" do %>
      <h2><%= t(".applications_heading") %></h2>
      <%= t(
        ".applications_body_html",
        link: govuk_link_to(t(".applications_link_text"), t(".applications_url")),
      ) %>
    <% end %>
  </div>
</div>
