<%= content_for :page_title, title_with_error_prefix(t(".page_title"), flash[:error].present?) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t(".page_title") %>
    </h1>
  </div>

  <% if @saved_courses.empty? %>
    <div class="govuk-grid-column-full">
      <div class="no_saved-courses-box">
        <h2 class="govuk-heading-m"><%= t(".no_saved_courses") %></h2>
        <p class="govuk-body">
          <%= t(".empty_state_html", link: govuk_link_to(t(".find_saved_courses"), find_root_path)) %>
        </p>
      </div>
    </div>
  <% else %>
    <div class="govuk-grid-column-full">
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <% @saved_courses.each do |saved_course| %>
            <%= render partial: "find/candidates/saved_courses/saved_course_row", locals: { saved_course: } %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
