<%= content_for :page_title, title_with_error_prefix(t(".page_title"), flash[:error].present?) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= t(".page_title") %>
    </h1>
  </div>

  <% if @saved_courses.empty? %>
    <div class="govuk-grid-column-full">
      <div class="app-card app-card--dashed">
        <h2 class="govuk-heading-m"><%= t(".no_saved_courses") %></h2>
        <p class="govuk-body">
          <%= t(".empty_state_html", link: govuk_link_to(t(".find_saved_courses"), find_root_path)) %>
        </p>
      </div>
    </div>
  <% else %>
    <div class="govuk-grid-column-full">
      <ul class="govuk-list">
        <% @saved_courses.each do |saved_course| %>
          <%= render SavedCourses::SummaryCardComponent.new(saved_course:) %>
        <% end %>
      </ul>

      <%= govuk_pagination(pagy: @pagy) %>
    </div>
  <% end %>

  <div class="govuk-grid-column-full">
    <%= govuk_inset_text classes: "app-callout app-callout--blue" do %>
      <h3><%= t(".applications_heading") %></h3>
      <%= t(
        ".applications_body_html",
        link: govuk_link_to(t(".applications_link_text"), t(".applications_url")),
      ) %>
    <% end %>
  </div>
</div>
