<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= I18n.t("find.subjects_page.primary_title") %>
    </h1>

    <p class="govuk-body">
      As a trainee primary teacher you’ll learn to teach all subjects across the national curriculum.
    </p>

    <p class="govuk-body">
      Some courses also enable you to develop your knowledge of a particular subject. When you're a teacher, you could
      take on a role to influence the way it's taught in your school - for example, mentoring your teacher colleagues
      to teach that subject better.
    </p>

    <%= f.govuk_radio_buttons_fieldset :subjects, legend: { text: "Which courses would you like to find?" } do %>
        <%= f.govuk_radio_button :subjects, "00", checked: params[:subjects] == ["00"], label: { text: "Primary" }, link_errors: true %>
        <%= f.govuk_radio_button :subjects, "01", checked: params[:subjects] == ["01"], label: { text: "Primary with English" } %>
        <%= f.govuk_radio_button :subjects, "02", checked: params[:subjects] == ["02"],label: { text: "Primary with geography and history" } %>
        <%= f.govuk_radio_button :subjects, "03", checked: params[:subjects] == ["03"], label: { text: "Primary with mathematics" } %>
        <%= f.govuk_radio_button :subjects, "04", checked: params[:subjects] == ["04"], label: { text: "Primary with modern languages" } %>
        <%= f.govuk_radio_button :subjects, "05", checked: params[:subjects] == ["05"], label: { text: "Primary with physical education" } %>
        <%= f.govuk_radio_button :subjects, "06", checked: params[:subjects] == ["06"], label: { text: "Primary with science" } %> 
      <% end %>

    <%= f.govuk_submit "Find courses" %>
  </div>
</div>
