<% content_for :page_title, title_with_error_prefix(t(".title"), @provider_partnership_form.errors.present?) %>

 <%= form_with(
        model: @provider_partnership_form,
        url: publish_provider_recruitment_cycle_accredited_partnership_path,
        method: :put
      ) do |f| %>

  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <% content_for :before_content do %>
    <%= govuk_back_link_to(publish_provider_recruitment_cycle_accredited_partnerships_path) %>
  <% end %>

        <%= f.govuk_text_area(
          :description,
          label: { text: t(".title"), size: "l", tag: "h1" },
          hint: -> { render "hint", hint: t(".hint") },
          caption: { text: @provider_partnership_form.accredited_provider.provider_name, size: "l" },
          max_words: 100,
          rows: 10
        ) %>

        <%= f.hidden_field :accredited_provider_id, value: @provider_partnership_form.accredited_provider_id %>

        <%= f.govuk_submit t(".update_description") %>

      <p class="govuk-body">
        <%= govuk_link_to(t("cancel"), publish_provider_recruitment_cycle_accredited_partnerships_path) %>
      </p>
    </div>
  </div>
<% end %>
