<% content_for :page_title, title_with_error_prefix(t(".title"), nil) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= t(".title") %>
    </h1>

    <%= govuk_button_link_to(t(".add"), search_publish_provider_recruitment_cycle_accredited_providers_path(
      provider_code: @provider.provider_code,
      recruitment_cycle_year: @provider.recruitment_cycle_year,
    )) %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <% if @provider.accredited_partnerships.none? %>
      <p class="govuk-body"><%= t(".no_providers", provider_name: @provider.provider_name) %>
      </p>
    <% else %>
      <% @provider.accredited_partnerships.each do |partnership| %>
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title"><%= partnership.accredited_provider.provider_name %></h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <%= govuk_link_to("Remove", delete_publish_provider_recruitment_cycle_accredited_partnership_path(accredited_provider_code: partnership.accredited_provider.provider_code), class: "app-link--destructive govuk-!-font-weight-regular") %>
                <span class="govuk-visually-hidden"> (<%= partnership.accredited_provider.name_and_code %>)</span>
              </li>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
