<%= render PageTitle.new(title: "support.providers.show") %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "All provider records",
    href: support_recruitment_cycle_providers_path
  ) %>
<% end %>

<div class="govuk-caption-l"><%= Provider.human_attribute_name(@provider.provider_type) %></div>
<h1 class="govuk-heading-l">
  <%= govuk_link_to @provider.name_and_code, publish_provider_path(@provider.provider_code), no_visited_state: true %>
</h1>

<%= render "support/providers/navigation" %>

<%= govuk_button_link_to t("components.page_titles.support.providers.users.new"), new_support_recruitment_cycle_provider_user_path(@provider.recruitment_cycle_year, @provider) %>
<%= render "provider_user_list", users: @users, provider: @provider %>
<%= govuk_pagination(pagy: @pagy) %>
