    <%= tag.footer(class: "govuk-footer", role: "contentinfo") do %>
      <div class="govuk-width-container">
        <div class="govuk-footer__meta">
          <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
            <div class="govuk-footer__meta-custom">
              <h2 class="govuk-heading-m">Get support</h2>
              <ul class="govuk-footer__meta-custom govuk-list govuk-!-font-size-16 govuk-!-margin-bottom-8">
                <li>Email: <%= bat_contact_mail_to subject: "Publish teacher training courses support", class: "govuk-footer__link" %></li>
                <li class="govuk-!-margin-bottom-4">We respond within 5 working days, or one working day for more urgent queries</li>
                <li><%= link_to "How to publish teacher training courses", guidance_path, class: "govuk-footer__link" %></li>
                <li><%= link_to "Teacher Training Courses API documentation", "https://api.publish-teacher-training-courses.service.gov.uk", class: "govuk-footer__link" %></li>
              </ul>
              
              <h2 class="govuk-visually-hidden">Support links</h2>
              <ul class="govuk-footer__inline-list govuk-!-margin-bottom-0">
                <li class="govuk-footer__inline-list-item">
                  <%= link_to "Accessibility", accessibility_path, class: "govuk-footer__link" %>
                </li>
                <li class="govuk-footer__inline-list-item">
                  <%= link_to "Cookies", cookies_path, class: "govuk-footer__link" %>
                </li>
                <li class="govuk-footer__inline-list-item">
                  <%= link_to "Privacy policy", privacy_path, class: "govuk-footer__link" %>
                </li>
                <li class="govuk-footer__inline-list-item">
                  <%= link_to "Terms and conditions", terms_path, class: "govuk-footer__link" %>
                </li>
                <li class="govuk-footer__inline-list-item">
                  <%= link_to "Service performance", performance_dashboard_path, class: "govuk-footer__link" %>
                </li>
              </ul>
            </div>
          </div>
          
          <div class="govuk-footer__meta-item">
            <%= govuk_link_to raw(%(&copy Crown copyright)), "https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/", class: "govuk-footer__link govuk-footer__copyright-logo" %>
          </div>
        </div>
      </div>
    <% end %>
