<!DOCTYPE html>
<html lang="en" class="govuk-template ">
  <head>
    <title><%= yield :page_title %> - Publish teacher training courses - GOV.UK</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= canonical_tag %>
    <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1" %>
    <%= tag :meta, property: "og:image", content: asset_pack_path("media/images/govuk-opengraph-image.png") %>
    <%= tag :meta, name: "theme-color", content: "#0b0c0c" %>
    <%= tag :meta, name: "ROBOTS", content: "NOINDEX, NOFOLLOW" %>
    <%= favicon_link_tag asset_pack_path("media/images/favicon.ico") %>
    <%= favicon_link_tag asset_pack_path("media/images/govuk-mask-icon.svg"), rel: "mask-icon", type: "image/svg", color: "#0b0c0c" %>
    <%= favicon_link_tag asset_pack_path("media/images/govuk-apple-touch-icon.png"), rel: "apple-touch-icon", type: "image/png" %>
    <%= favicon_link_tag asset_pack_path("media/images/govuk-apple-touch-icon-152x152.png"), rel: "apple-touch-icon", type: "image/png", size: "152x152" %>
    <%= favicon_link_tag asset_pack_path("media/images/govuk-apple-touch-icon-167x167.png"), rel: "apple-touch-icon", type: "image/png", size: "167x167" %>
    <%= favicon_link_tag asset_pack_path("media/images/govuk-apple-touch-icon-180x180.png"), rel: "apple-touch-icon", type: "image/png", size: "180x180" %>
    <%= stylesheet_pack_tag "application", media: "all" %>
    <%= javascript_pack_tag "application", defer: true %>
  </head>

  <body class="govuk-template__body <%= yield :body_class %>">
    <noscript>
      <iframe title="Google Tag Manager" src="https://www.googletagmanager.com/ns.html?id=GTM-PD8MFNL" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <%= govuk_skip_link %>

    <% if content_for?(:header) %>
      <%= yield :header %>
    <% else %>
      <%= render Header::View.new(
        service_name: I18n.t("service_name"),
        current_user: current_user
      ) %>
    <% end %>

    <div class="govuk-width-container">
      <div class="govuk-width-container">
        <%= render PhaseBanner::View.new %>
        <%= yield :navigation_bar %>
        <%= yield :breadcrumbs %>
        <%= yield :before_content %>
      </div>

    <% if FeatureService.enabled?(:new_publish_navigation) %>

      <% if current_user %>
        <% if (current_user.has_multiple_providers_in_current_recruitment_cycle? || current_user.admin?) && @provider && !request.path.include?('support') %>
         <%= render TitleBar::View.new(title: @provider.provider_name) %>
        <% end %>
      <% end %>
    </div>

      <% if render_navigation_bar?(@provider) && @provider.accredited_body? %>
          <%= render partial: "publish/shared/navigation_bar_with_training_partners" %>
      <% elsif render_navigation_bar?(@provider) && !@provider.accredited_body? %>
          <%= render partial: "publish/shared/navigation_bar_without_training_partners" %>
      <% end %>
    <% end %>

    <div class="govuk-width-container">
      <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-width-container">
          <%= render(FlashBanner::View.new(flash: flash)) %>

          <%= yield %>
        </div>
      </main>
    </div>
    <%= render partial: "layouts/footer" %>
    <%= yield(:before_body_close) %>
  </body>
</html>
