<!DOCTYPE html>
<html lang="en" class="govuk-template ">
  <head>
    <title><%= yield :page_title %> - Publish teacher training courses - GOV.UK</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= canonical_tag %>

    <%= tag.meta(name: "viewport", content: "width=device-width, initial-scale=1") %>
    <%= tag.meta(property: "og:image", content: image_path("govuk-opengraph-image.png")) %>
    <%= tag.meta(name: "theme-color", content: "#0b0c0c") %>
    <%= tag.meta(name: "format-detection", content: "telephone=no") %>
    <%= favicon_link_tag image_path("favicon.ico"), type: nil, sizes: "48x48" %>
    <%= favicon_link_tag image_path("favicon.svg"), type: "image/svg+xml", sizes: "any" %>
    <%= favicon_link_tag image_path("govuk-icon-mask.svg"), rel: "mask-icon", color: "#0b0c0c", type: nil %>
    <%= favicon_link_tag image_path("govuk-icon-180.png"), rel: "apple-touch-icon", type: nil %>

    <%= stylesheet_link_tag "accessible-autocomplete/dist/accessible-autocomplete.min" %>
    <%= stylesheet_link_tag "publish_application" %>
    <%= javascript_include_tag "publish/application", "data-turbo-track": "reload", defer: true %>

    <%= render("layouts/gtm", tracking_id: Settings.google_tag_manager.publish_tracking_id, consented_to_analytics_cookie_value:) %>
  </head>

  <body class="govuk-template__body <%= yield :body_class %>">
    <% if google_analytics_allowed? %>
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= Settings.google_tag_manager.publish_tracking_id %>" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <% end %>

    <%= render "layouts/add_js_enabled_class_to_body" %>

    <% unless hide_cookie_banner? %>
      <%= render("layouts/cookie_banner", service_name: t("service_name.publish"), cookies_path:) %>
    <% end %>

    <%= govuk_skip_link %>

    <% if content_for?(:header) %>
      <%= yield :header %>
    <% else %>
      <%= render Header.new(
        service_name: I18n.t("service_name.publish"),
        current_user:
      ) %>
    <% end %>

      <div class="govuk-width-container">
        <% if dont_display_phase_banner_border?(current_user) %>
          <%= render PhaseBanner.new(no_border: true) %>
        <% else %>
          <%= render PhaseBanner.new %>
        <% end %>
        <%= yield :navigation_bar %>
        <% if params[:controller].start_with?("support") %>
          <%= render SupportTitleBar.new %>
        <% end %>
        <%= yield :breadcrumbs %>
      </div>

      <div class="govuk-width-container">
        <% if current_user && @provider && !params[:controller].start_with?("support") %>
          <% if render_title_bar?(current_user: current_user, provider: @provider) && !request.path.end_with?(@provider.provider_code.to_s) %>
           <%= render TitleBar.new(title: @provider.provider_name, provider: @provider.provider_code, current_user:) %>
          <% end %>
        <% end %>
      </div>

    <%= render partial: "publish/shared/navigation_bar" %>

    <div class="govuk-width-container">
      <%= yield :before_content %>
      <main class="govuk-main-wrapper " id="main-content" role="main">
        <%= render(FlashBanner.new(flash:)) %>

        <%= yield %>
      </main>
    </div>
    <%= render partial: "layouts/footer" %>
    <%= yield(:before_body_close) %>
  </body>
</html>
