<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <title><%= yield :page_title %> - <%= t("service_name.find") %> - GOV.UK</title>
    <%= favicon_link_tag "govuk-frontend/govuk/assets/images/favicon.ico" %>
    <%= favicon_link_tag "govuk-frontend/govuk/assets/images/govuk-mask-icon.svg", rel: "mask-icon", type: "image/svg", color: "#0b0c0c" %>
    <%= favicon_link_tag "govuk-frontend/govuk/assets/images/govuk-apple-touch-icon.png", rel: "apple-touch-icon", type: "image/png" %>
    <%= favicon_link_tag "govuk-frontend/govuk/assets/images/govuk-apple-touch-icon-152x152.png", rel: "apple-touch-icon", type: "image/png", size: "152x152" %>
    <%= favicon_link_tag "govuk-frontend/govuk/assets/images/govuk-apple-touch-icon-167x167.png", rel: "apple-touch-icon", type: "image/png", size: "167x167" %>
    <%= favicon_link_tag "govuk-frontend/govuk/assets/images/govuk-apple-touch-icon-180x180.png", rel: "apple-touch-icon", type: "image/png", size: "180x180" %>
    <%= stylesheet_link_tag "find_application" %>
    <%= javascript_include_tag "find/application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="govuk-template__body">
    <%= render "layouts/add_js_enabled_class_to_body" %>

    <% unless hide_cookie_banner? %>
      <%= render("layouts/cookie_banner", service_name: t("service_name.find"), cookies_path: find_cookies_path) %>
    <% end %>

    <%= render Find::Header::View.new(
      service_name: t("service_name.find"),
    ) %>

    <div class="govuk-width-container">
      <%= render Find::PhaseBanner::View.new %>

      <%= yield :before_content %>
      <main class="govuk-main-wrapper" id="main-content" role="main">
        <% if flash[:success] %>
          <%= govuk_notification_banner(
            title_text: "Success",
            success: true,
            title_id: "success-message",
            html_attributes: { role: "alert" },
          ) do |notification_banner| %>
            <% notification_banner.heading(text: flash[:success]) %>
          <% end %>
        <% end %>

        <%= render Find::MaintenanceBannerComponent.new %>
        <%= render Find::DeadlineBannerComponent.new(flash_empty: flash.reject { |flash| flash[0] == "start_wizard" }.empty?) unless request.url.include?("/results/filter/subject") %>

        <%= yield %>
      </main>
    </div>
    <% if @render_feedback_component %>
      <%= render(
        Find::FeedbackComponent.new(
          path: request.env["PATH_INFO"],
          controller: params[:controller],
        ),
      ) %>
    <% end %>
<%= debug params %>
    <%= render "layouts/find_footer" %>
  </body>
</html>
