<%= render PageTitle::View.new(title: "support.providers.show") %>

<%= extends_layout :support do %>
  <%= content_for(:breadcrumbs) do %>
    <%= render GovukComponent::BackLinkComponent.new(
      text: "All provider records",
      href: support_providers_path,
    ) %>
  <% end %>

  <h1 class="govuk-heading-l"><%= @provider.provider_name %></h1>

  <%= render TabNavigation::View.new(items: [
    { name: "Details", url: support_provider_path(@provider) },
    { name: "Users", url: support_provider_users_path(@provider) },
    { name: "Courses", url: support_provider_courses_path(@provider) },
    { name: "Locations", url: support_provider_locations_path(@provider) },
  ]) %>

  <%= yield %>
<% end %>
