<% legend ||= false %>
<% bold_labels ||= false %>

<%= render "publish/shared/error_wrapper", error_keys: [field], data_qa: "course__#{field}" do %>
  <fieldset class="govuk-fieldset">
    <%= legend %>
    <%= render "publish/shared/error_messages", error_keys: [field] %>
    <div class="govuk-radios govuk-!-margin-top-2">
      <% @course.edit_course_options[key].each_with_index do |value| %>
        <% help = t("edit_options.#{key}.#{value}.help") %>
        <% label = t("edit_options.#{key}.#{value}.label") %>
        <div class="govuk-radios__item">
          <%= form.radio_button field,
            value,
            class: "govuk-radios__input",
            data: {
              "aria-describedby": "#{field}-#{value}-help",
            } %>
          <%= form.label field,
            label,
            value:,
            class: "govuk-label govuk-radios__label #{'govuk-!-font-weight-bold' if bold_labels}" %>
          <span id="<%= "#{field}-#{value}-help" %>" class="govuk-hint govuk-radios__hint">
            <%= help %>
          </span>
        </div>
      <% end %>
    </div>
  </fieldset>
<% end %>
